[2017-09-08 21:59] jwzimmer commented on #1521
<img width="430" alt="screen shot 2017-09-08 at 5 58 12 pm" src="https://user-images.githubusercontent.com/1320456/30232699-68e28bbe-94bf-11e7-8b34-90cc5e764e67.png">
<img width="436" alt="screen shot 2017-09-08 at 5 57 53 pm" src="https://user-images.githubusercontent.com/1320456/30232700-68ebd3f4-94bf-11e7-9c66-57662bb701f5.png">

[2017-09-08 22:02] jwzimmer commented on #1497
Should be fixed by @mewtaylor's latest changes.

[2017-09-08 22:02] #1497 closed

[2017-09-08 22:10] mewtaylor commented on #1521
fixed in https://github.com/LLK/scratch-www/commit/d18fd0064bdcf8a566a3fadc2024f82175da3502

[2017-09-08 22:10] #1521 closed

[2017-09-09 04:14] Kenny2github commented on #1520
This seems to be caused by the height of the Scratch News box - on narrower screens the box is taller and the "What's Happening?" box has the same height as it.

Possible fix would be allow more than five items to be shown in that box...?

[2017-09-09 06:22] Kenny2github commented on #1462
@thisandagain FYI it turns out that it doesn't have to be an image - any url will do the same.

(if you already found that out in the discussion in scratchr2 then 👍 )

[2017-09-09 09:15] VutonDesign commented on #1512
Same problem here 👍

[2017-09-10 00:07] towerofnix opened #1526 "'New forum post' message rows have the wrong CSS class"
They have the `.mod-studio-activity` CSS class. That makes user-styling them more difficult.

It looks to probably just something missed in copy/pasting?

The bad line: https://github.com/LLK/scratch-www/blob/develop/src/views/messages/message-rows/forum-topic-post.jsx#L19

[2017-09-10 02:56] mewtaylor commented on #1526
@towerofnix nice catch! if you want to fix it, please feel free to as well :).

[2017-09-10 03:20] DatOneLefty opened #1527 "500 Character warning message in comments stays red after posting"
after doing a comment that is 500 characters, and then submitting it, the empty comment box says 500 characters remaining in red like it is at 0 remaining instead of resetting back to gray

Screenshot:
![screen shot 2017-09-09 at 11 17 18 pm](https://user-images.githubusercontent.com/14064434/30245874-902d442e-95b5-11e7-9c30-6be1eee04f33.png)

[2017-09-10 04:07] Kenny2github commented on #1527
So you mean when you submit a comment that hits the limit, the number remains red instead of going back to gray? huh.

[2017-09-10 04:11] Kenny2github opened #1528 "Messages only clear after doing a hard refresh"
### Expected behavior
Refreshing the messages page should clear the messages counter (i.e. make the number disappear and count all messages as read)
### Actual behavior
Only doing a hard refresh (Ctrl+F5 on Win, Cmd+Shift+R on Mac) clears the counter.
### Steps to reproduce
Assuming you have a non-zero number of messages:
1. Navigate to https://scratch.mit.edu/messages
2. Refresh a few times
3. Me

[2017-09-10 08:36] Kenny2github commented on #1445
This seems to have been fixed in the latest deploy somehow I am now seeing correct text (even in edible scratch). Closing - will reopen if issue reappears

[2017-09-10 10:26] VutonDesign commented on #1528
I've noticed that a hard refresh doesn't even help sometimes, I had 2 messages just there and I had to hard refresh the page 4 times then open every individual message up in a new tab! :desktop_computer:

[2017-09-10 17:46] VutonDesign opened #1530 "Tips Page Card"
## About
I've recently noticed that the "Fashion Game" card on this tips page is slightly longer than any other card causing it and any card under it to become lower and less symmetrical.

## Fix
Remove a word from that card to keep it the same size as every card on that page.

## Priority
Not that important but it's worth taking a look at.

[2017-09-10 20:51] VutonDesign opened #1531 "New Message Inbox | Spam Bug"
Me and a few others have noticed that you can get spammed by tons of messages from one person if they were to repeat an action over and over again.  You don't even have to refresh the page.  For example, take this:
http://i.cubeupload.com/Efh6pj.jpg

I gave this user permission to spam me with those messages for testing purposes.
All you have to do is spam the "love" or "fave" button loads of time

[2017-09-10 23:29] thisandagain commented on #1527
Moved to LLK/scratchr2#4823

[2017-09-10 23:29] #1527 closed

[2017-09-10 23:33] thisandagain commented on #1511
@chrisgarrity Do you want help with this?

[2017-09-11 07:36] VutonDesign commented on #1530
I can try and fix this, I'll submit a pull request later today. :paintbrush:

[2017-09-11 13:34] chrisgarrity commented on #1511
@thisandagain I'll need to figure out what the text needs to be, but otherwise this could definitely be help-wanted.

[2017-09-11 19:27] CosmicWebServices opened #1535 "Bad gateway on projects the first time."
![screenshot 2017-09-11 at 3 25 41 pm](https://user-images.githubusercontent.com/10731781/30292850-9ae6c560-9705-11e7-95e4-a26fea954d9f.png)
Bad request the first time I load a project I have to reload to fix.

Chromebook

[2017-09-11 19:28] jwzimmer commented on #1528
I am seeing this on Production as well, but **not** on Staging.

The counter stayed at 1 after I viewed the page, and hard refresh did not clear the counter.

(Chrome 60, Mac OS El Capitan, Production)

[2017-09-11 19:30] TheGrits commented on #1535
@CosmicWebServices Not seeing this on my machine.

MacOS running Chrome

[2017-09-11 19:47] VutonDesign commented on #1535
Just checked on my Chromebook, Works Fine. I guess you could try clearing your cache but I don't imagine it would do much.

[2017-09-11 20:18] towerofnix opened #1536 "Placeholder projects should not be clickable"
[This user ran into an issue because placeholder projects are clickable:](https://scratch.mit.edu/discuss/topic/276347/)

Since placeholder projects don't have IDs, the user ends up being sent to `https://scratch.mit.edu/projects/undefined/`. It's probably best to just make placeholder projects not have links at all.

[2017-09-11 21:16] CosmicWebServices commented on #1535
Hmm odd still happening

[2017-09-11 23:08] Kenny2github commented on #1528
@jwzimmer it turns out that even a hard refresh doesn’t work - as customhacker mentioned, you have to visit a non-scratch-www site (one that actually has the ability to mark the notifications as read) to clear messages.
However, this seems to be fixed - visiting the messages page in the first place cleared the number.

[2017-09-12 12:14] mewtaylor commented on #1531
@VutonDesign this should be fixed now – definitely let me know if you still see it though! Thanks for logging this :).

[2017-09-12 12:14] #1531 closed

[2017-09-12 17:43] jwzimmer opened #1537 "Unable to search/ explore - Staging only"
Currently I don't get any results on from the search bar on Staging, regardless of what terms I search for.

Explore is also broken (no results).

To repro, try searching for e.g. "remix" on Staging. (Repro'd in Chrome & Safari + Mac.)

[2017-09-12 20:01] jwzimmer opened #1538 "Replies to a forum thread you are following not consistently showing up on Messages page"
Needs investigation! I am looking into it to see if I can get the repro steps down, then I will discuss with @mewtaylor.

This may be working as intended, I'm not totally sure yet. But I am logging it because after discussing it & trying it out with Scratchers in the forums, I did see the issue myself, and it is at least somewhat confusing behaviour.

I (as stymphalianbirb) did not get notificatio

[2017-09-12 21:00] jwzimmer opened #1539 "No activity in What's Happening? feed - Staging"
I'm not sure why, but there's no activity showing up in user abcdefky's or jwzimmer1990's What's Happening feed, even though they are following several users.

I wonder if it's related to https://github.com/LLK/scratch-www/issues/1512 (which predates the deploy of the social actions/ notifications work), as these users had just been posting on the forums?

/cc @mewtaylor

<img width="1008" alt="sc

[2017-09-12 21:03] jwzimmer commented on #1538
**Trying to repro on Staging**

Neither abcdefky nor jwzimmer1990 received a new notification about this post, although neither of them had viewed the forum page since it was made (I would not expect abcdefky to get a notification, since they made the post, but I would expect jwzimmer1990 to get a notification about it).
<img width="981" alt="screen shot 2017-09-12 at 5 01 50 pm" src="https://user

[2017-09-13 00:16] towerofnix opened #1540 ""There was new activity in (the studio)" (on Messages page) should link directly to the studio's Activity page"
A suggestion from [here](https://scratch.mit.edu/discuss/topic/276191/).

The reasoning is that when there's new activity in a studio, the user is most interested in what that activity is - which can be found out by going to the Activity tab on the studio page. That could be done automatically - just link to the activity tab (which looks to be how it was done before) - but instead, currently, the

[2017-09-13 12:11] mewtaylor commented on #1528
@Kenny2github we just put in a fix for this last night – are you still seeing caching issues?

[2017-09-13 12:15] thisandagain commented on #1528
@mewtaylor The issue appears to be fixed for me!

[2017-09-13 12:18] #1526 closed

[2017-09-13 12:22] thisandagain commented on #1535
@CosmicWebServices We can't reproduce this. Can you please provide the exact link and OS version you are using?

[2017-09-13 12:26] #1195 closed

[2017-09-13 12:46] thisandagain commented on #1537
Hmm. Something certainly seems to be wrong with staging API endpoints that involve ElasticSearch:
https://api-staging.scratch.mit.edu/explore/projects?limit=16&offset=0&language=en&mode=trending&q=*

[2017-09-13 14:07] CosmicWebServices commented on #1535
It seems to be a firewall/wi-fi problem now that I am looking more into it. Only happens at my school which has a strict firewall.

[2017-09-13 14:17] #1535 closed

[2017-09-13 14:46] jwzimmer commented on #1538
As jwzimmer1990, I have not received a notification about this new reply in a topic I'm following. I have **not** viewed the messages page since the reply was made.

<img width="1000" alt="screen shot 2017-09-13 at 10 45 50 am" src="https://user-images.githubusercontent.com/1320456/30383927-d2e3bc72-9870-11e7-8124-3f1a6dc0e85b.png">

[2017-09-13 14:59] Kenny2github commented on #1528
@mewtaylor yes, it appears to be fixed - doing a refresh worked fine! Closing.

[2017-09-13 14:59] #1528 closed

[2017-09-13 15:57] jwzimmer commented on #1538
@mewtaylor & I looked at this issue together, and repro'd it. @mewtaylor is investigating.

[2017-09-13 16:56] chrisgarrity commented on #1530
Not changing the text at this time, but the PR is all ready to go if we decide to at some point.

[2017-09-13 16:56] #1530 closed

[2017-09-13 18:09] jwzimmer opened #1543 "Wrong user icon next to user being promoted notification in What's Happening feed"
Some users have reported that the promoter's icon is showing up in the feed next to the promotee's name, screenshot provided by @thisandagain.

(I think what may have happened is that @mewtaylor & I caught a bug where the username for promoter showed up instead of promotee before deploy, but did not notice that the fix for that fixed the text only & not the icon.)

<img width="393" alt="screen sho

[2017-09-13 18:10] VutonDesign opened #1544 "The Project Draft Button"
As many of us know, there is a draft button on scratch projects!  That's great however the check box for this feature is a lot higher than the text as seen here:

![capture](https://user-images.githubusercontent.com/26391179/30393075-d0c33d82-98b6-11e7-9a28-3a56939ae746.JPG)

I would just submit a pull request to fix this but can't seem to find the code for this button.

[2017-09-13 18:12] thisandagain commented on #1544
Moved to LLK/scratchr2#4829

[2017-09-13 18:12] #1544 closed

[2017-09-13 18:23] jwzimmer opened #1545 "New messages highlighting applies to top N messages regardless of filter setting"
Unread messages on the Messages page have highlighting applied to them to distinguish them from older messages. If you have N notifications (according to the counter), then view the Messages page, the top N will be highlighted.

To repro, switch the filter from All Activity to any other category, and note that the top N will still be highlighted, even though those may not be the same unread/ new m

[2017-09-13 18:47] towerofnix commented on #1544
Just so you know, @VutonDesign - any pages of the "old style" all have their code in a private repository (LLK/scratchr2 - "Scratch, revision 2"). That's why you couldn't find the code for the draft button - the project page isn't migrated to LLK/scratch-www yet!

Bug reports for issues with scratchr2 (non-migrated) pages are still helpful! Though I imagine lower priority issues might just be dela

[2017-09-13 20:35] jwzimmer opened #1546 "Display "Load more" button on New Messages page when filter is applied and there are more messages"
When a user does not have a filter on the kind of activity being displayed, then Load More will load more messages as long as there are messages to load. If there are no messages to load, the button will not be displayed (which is good).
However, if the user applies a filter, and there are no activities of that type in the amount of total messages that have been loaded on the page, then the page w

[2017-09-13 20:41] jwzimmer commented on #1538
Current theory is that it has to do with outdated workers. @mewtaylor is working on it.

[2017-09-14 05:09] Kenny2github commented on #1543
Yes, I noticed that too! I saw the "ceebee was promoted" thing and noticed that it was Lifay's pic!

[2017-09-14 10:06] thisandagain commented on #1543
Resolved in https://github.com/LLK/scratch-www/pull/1541

[2017-09-14 10:06] #1543 closed

[2017-09-14 15:20] towerofnix opened #1547 "Should the Messages page automatically unhighlight messages?"
(TL;DR, the messages page doesn't highlight the right messages. Ideas for a solution are given.)

Currently a trouble I'm having with the migrated Messages page is that when it refreshes the message count, it *un-*highlights any of the messages that were highlighted when I first opened the page. This was a problem because I had forgotten to check my new notifications; when I went back to my Messag

[2017-09-14 19:48] thisandagain opened #1548 "Release Offline Editor for PT-BR"
### Description
We are testing out a way to package tips content with the offline editor for languages other than English. For this first test, we would like to publish an offline editor build for Brazilian Portuguese before the Scratch Conference in São Paulo on October 5th. Because of this deadline all work must be completed by September 20th in order to hit the freeze / release cycle.

### Scop

[2017-09-14 21:05] thisandagain commented on #1516
@mewtaylor Do you think this is isolated to staging?

[2017-09-14 22:26] mewtaylor commented on #1516
Yeah

[2017-09-15 00:11] towerofnix commented on #1548
It might be nice if the Download page displayed that the offline editor is "also available in other languages"? (That's certainly not a blocker, though.)

[2017-09-15 02:56] cwillisf commented on #1548
Updated with examples of each class of issue

[2017-09-15 02:58] cwillisf commented on #1548
@towerofnix I think that's a good idea once we get past this test phase -- that is, once we have >2 languages ;)

[2017-09-15 16:59] VutonDesign commented on #1544
@towerofnix Ah, That makes more sense. Thank you! 👍

[2017-09-15 17:25] VutonDesign opened #1549 "Gobo Icon Outline Glitch (Homepage)"
On the scratch homepage, The outline of the Gobo icon gets lighter when it is hovered over (bottom) as seen here:

![capture](https://user-images.githubusercontent.com/26391179/30495232-276ce376-9a43-11e7-823a-bd9ceb3a40a5.JPG)
![capture2](https://user-images.githubusercontent.com/26391179/30495235-2b3f047a-9a43-11e7-81ca-ce9abeb13aa0.JPG)

Sorry for the bad image quality btw.

[2017-09-15 19:09] mewtaylor commented on #1538
@jwzimmer I think this is fixed now (or at least the celery issue is fixed). I will leave it to you to keep open/closed though, depending on if you're still seeing problems?

[2017-09-15 19:16] mewtaylor commented on #1547
@towerofnix please don't apologize for the length of this issue – it's so thorough, I really appreciate it!

Of the solutions you proposed, I think the one I like the best is:
* When the interval is run, compare the new count to the previous count
  * If it's now 0 and was >0 before, set the count to 0 and stop highlighting unread messages
  * If it's now a different number >0 and was >0 before, m

[2017-09-15 19:33] towerofnix commented on #1547
I think this would still cause the issue cases I described? - Particularly "and stop highlighting unread messages", since, when you go back to check the Messages tab after spending +120 seconds away from it (e.g. because you were reading another message, or had to temporarily leave the computer), the messages would be unhighlighted.

[2017-09-15 19:43] mewtaylor commented on #1547
@towerofnix ah I may have misread the issues you mentioned – which issue you described would it cause? Or is this the issue you were describing with not being able to remember that a notification was read if you leave the page to look at a notification and come back to it?

[2017-09-15 21:24] #1435 closed

[2017-09-16 03:20] Kenny2github commented on #1549
I don't see the difference... but then again I'm not good with colors. Could you give a little more detail?

[2017-09-16 03:46] towerofnix commented on #1547
@mewtaylor Yeah, that's the one I was talking about. (First two paragraphs "Currently a trouble..." and "I see that I have four new notifications..." are example cases.)

[2017-09-16 08:25] VutonDesign commented on #1549
@Kenny2github When zoomed in on my browser, I noticed the black outline of Gobo looks more bold when hovered over.

[2017-09-18 16:56] VutonDesign commented on #1356
@Blaze349 It does but would look better if the color was changed slightly to match the forums, The color used on the forums is:
![capture](https://user-images.githubusercontent.com/26391179/30553857-630d9e4e-9c9a-11e7-825b-0247e5af57d9.JPG)

The above color is darker compared to the one used on the original image:
![v6ko0j](https://user-images.githubusercontent.com/26391179/30553932-a3145000-9c9a-

[2017-09-18 17:04] VutonDesign commented on #1549
Closing, Doesn't actually need fixed.

[2017-09-18 17:08] VutonDesign opened #1556 "Text on homepage cut off in Spanish."
When your language is set to Spanish, A piece of text on the homepage gets cut off making it spell "Scratc" as highlighted below:

![capture](https://user-images.githubusercontent.com/26391179/30554359-33b19374-9c9c-11e7-8e8a-767d5af663c4.JPG)

[2017-09-18 18:28] JohannaJacob opened #1557 "step by step tutorials are german in the online version, but english in the offline version"
there is a german translated version of the step by step tutorial inside the scratch editor

the strange thing is that it is only translated in the online version. the offline version still contains the english version

use the online version and switch the language to "Deutsch" --> have a look at the step by step tutorial
use the offline version and switch the language to "Deutsch" --> have a loo

[2017-09-18 21:54] WorldLanguages commented on #1556
Duplicate: #1198

[2017-09-18 21:54] thisandagain commented on #1556
Tracking in https://github.com/LLK/scratch-www/issues/1198

[2017-09-18 21:54] #1556 closed

[2017-09-18 21:55] thisandagain commented on #1557
We do not currently have a way to package languages other than english with the Offline Editor but are planning on addressing this limitation in Scratch 3.0.

[2017-09-18 21:55] #1557 closed

[2017-09-19 01:17] leoburd commented on #1548
Would it be possible to also generate a version of the offline editor for Linux? Most places in Brazil use either Windows or Linux boxes.

[2017-09-19 05:21] cwillisf commented on #1548
@leoburd: the normal build process for the offline editor generates 3 builds: one for Windows, one for Mac, and one "cross-platform" build that can be used on older Mac machines, Linux, and other systems.

The cross-platform build is missing some features, though, such as hardware-accelerated graphics effects and hardware extensions. It's also a bit of a pain to run on Linux, since you need to ins

[2017-09-19 07:32] VutonDesign commented on #1198
Good Point, I've never noticed that.  👀

[2017-09-19 08:41] Kenny2github commented on #1198
Would wrapping lines be a feasible solution?

[2017-09-19 12:31] chrisgarrity commented on #1548
PR for download links update based on a conversation that ChrisWF and I had yesterday: https://github.com/LLK/scratch-www/pull/1558

[2017-09-19 14:18] #1540 closed

[2017-09-19 16:29] thisandagain commented on #1548
PR for updating image sizes: https://github.com/LLK/scratchr2/pull/4835

[2017-09-19 16:33] leoburd commented on #1548
Hello all, just to give an update.

We finished translating and reviewing the new strings.

We have just resized the Tips Window images and submitted a pull request (see above).

We won't have time to work on the blurry animations for this release. I think that should be ok for now.

Assuming that the translations and the images are acceptable, please feel free to move forward with the build.

Let

[2017-09-19 17:22] mewtaylor commented on #1546
@carljbowman @thisandagain one other way we could handle this state is to selectively only display filters in the dropdown that are relevant to the user – i.e. if they have no forum activity, don't display that as an option in the dropdown. Any thoughts?

[2017-09-19 17:46] thisandagain commented on #1546
@mewtaylor @carljbowman I think I'd be ok to backlog this for now as it doesn't feel like a critical user pathway (I wish I had analytics to confirm / refute this though 😉 ).

[2017-09-19 21:14] #1455 closed

[2017-09-19 21:18] #1545 closed

[2017-09-20 08:13] Kenny2github opened #1560 "Anything that is a subpage of /messages returns 403 instead of 404?"
For some reason, anything under `/messages` returns 403 instead of 404 - even "asdf":
![what](https://user-images.githubusercontent.com/28599280/30633542-9b086128-9e1e-11e7-9c4b-14bec0475801.png)
I don't know if this is a bug, but if it isn't, I guess this is a question: why does this happen?

[2017-09-20 11:58] thisandagain commented on #1560
This has to do with how our routing between our "legacy" systems and the newer website (this repo) works.

[2017-09-20 15:46] jwzimmer opened #1561 "Messages page not loading on first click of navbar icon - Staging"
When I click the messages icon in the navbar to view the Messages page, I am seeing a blank page first (errors from console below). If I click the icon again, the page reloads with the Messages (Chrome 60, Staging, Mac OS El Capitan). /cc @mewtaylor

I am not seeing this issue on Production.

<img width="1280" alt="screen shot 2017-09-20 at 11 44 09 am" src="https://user-images.githubusercontent.c

[2017-09-21 14:48] chrisgarrity commented on #1254
I'm going to close this as the page has been moved, and we can track removing the old template in the original issue: https://github.com/LLK/scratchr2/issues/4119

[2017-09-21 14:48] #1254 closed

[2017-09-22 11:24] towerofnix opened #1563 "In "(user) is now following you" message rows, (user) should be a highlighted link"
Here's what my messages inbox looks like:

!["Minty-And-Fresh is now following you"](https://user-images.githubusercontent.com/9948030/30742351-13585a60-9f6f-11e7-910e-d1716b96756b.png)

Note that links to forum topics are highlighted ("Snap! Team development discussion, vol. 2" is highlighted, for example), but links to users just following you aren't ("Minty-And-Fresh" isn't highlighted). So it'

[2017-09-22 11:53] thisandagain commented on #1563
/cc @mewtaylor

[2017-09-23 03:58] asanari opened #1564 "Resolve issues with building repo using Node 6+"
Will not install or build for that matter, latest node and NPM on AWS Ubuntu 16.04

(http://prntscr.com/gols31)

[2017-09-23 12:10] thisandagain commented on #1564
Hi @hostwolf. Please try using Node 4 with the `scratch-www` repo. Sorry for the inconvenience.

[2017-09-23 16:02] hostwolf commented on #1564
Success, I will look into this and get back to you with whatever I can find out.

[2017-09-23 18:09] WorldLanguages opened #1566 "Profile picture on comments messages being not clickable"
Right now, the commenter's username is clickable, but not the profile picture:

![image](https://user-images.githubusercontent.com/17484114/30775763-9c9fc798-a070-11e7-9037-3ab3d1f24798.png)

This is a sort of inconsistency, because in profile comments the profile picture **is** clickable.

Should it be clickable or not?

[2017-09-24 01:09] Kenny2github commented on #1564
Let me quickly chime in here that this explains why testing was so difficult for my PRs - I was using the wrong Node version! I'll try to see what the problem is as well :D

[2017-09-24 03:08] TheGrits commented on #1566
@WorldLanguages I think it'd be cool if you could click the icon to navigate to the user's profile page!

[2017-09-24 09:47] VutonDesign commented on #1566
@WorldLanguages I don't know if it's meant to do that however I think it would be cool!

[2017-09-24 14:00] WorldLanguages commented on #1566
Yeah, I agree on it redirecting to the user's profile page.

[2017-09-24 14:18] VutonDesign commented on #1566
I know this isn't the suggestions forum but...
**+1** 👍

[2017-09-24 15:07] thisandagain commented on #1566
This seems reasonable to me. I'd be open to accepting a PR that makes the profile image clickable.

[2017-09-24 15:07] thisandagain commented on #1566
/cc @mewtaylor @carljbowman

[2017-09-24 19:19] VutonDesign commented on #1566
@thisandagain I'll give it a go, Can't say from sure if I'll get it to work though :rofl:

[2017-09-25 13:54] thisandagain opened #1568 "Messages - Handle user-generated text overflow & sanitization"
Diacritics such as "zalgo text" can overflow various notifications on the messages page.

![image](https://user-images.githubusercontent.com/747641/30811792-36f867a2-a1d7-11e7-8212-cb4967f98ba2.png)

[2017-09-25 14:17] Kenny2github commented on #1568
I'd say make the speech bubble set to `overflow:hidden`?

[2017-09-25 16:19] towerofnix commented on #1563
Ah, yep, sorry for forgetting!

I'm running Firefox 52.3.0 on Debian Testing.

I took a look at the new messages page on different browsers and systems (Safari on macOS and iOS), and saw some interesting results:

* On Safari (iOS/macOS), profile links are bolded, and "focus" links are bolded and blue.
* On Firefox (Debian), *NO* links are bolded. Focus links are blue (but not bolded).

It looks l

[2017-09-25 16:27] towerofnix commented on #1563
The default font (no `font-family` set) does not display `500` differently:

![No font-family set](https://user-images.githubusercontent.com/9948030/30819325-c1cdac58-a1f4-11e7-982a-feb232d1727e.png)

The font `sans-serif` *does* display `500` differently:

![font-family: sans-serif](https://user-images.githubusercontent.com/9948030/30819363-da0b72fa-a1f4-11e7-8a44-04ab3c932a5f.png)

The font `Ari

[2017-09-25 16:32] towerofnix commented on #1568
Also consider that RTL override characters used to make the messages page look weird. (This isn't a problem on the new Messages page, but it's still worth thinking about when migrating other pages which contain user-generated text.)

[2017-09-25 16:44] mewtaylor commented on #1563
@towerofnix awesome, this is super helpful :).

[2017-09-25 19:03] jwzimmer opened #1569 "Fix failing footer links automated tests"
While running the automated smoke tests for the September milestone (https://github.com/LLK/scratchr2/issues/4774#issuecomment-331968494), I noticed that the footer link automated tests are now failing*. They should be fixed, since there doesn't seem to be anything wrong with the links themselves - it looks like the tests are the problem.

(*) They did not fail previously. The test for the Tips li

[2017-09-25 20:52] chrisgarrity opened #1570 "Fix Animate a Name static links"
We need to remove all references to the obsolete animateyourname static URLs. The pt-BR NameGuide is not getting used because the obsolete name of the file is still used for English.

[2017-09-25 22:00] GreenBayRules opened #1572 "Credits - Add new ST members to credits page"
I would just make a pull request, but I don't know their names:
quacht
pandatt.

[2017-09-25 22:05] thisandagain commented on #1572
Details:
- [ ] Add two new ST members to the credits page
- [ ] [Tina Quach](https://scratch.mit.edu/users/quacht)
- [ ] [Tracy Tang](https://scratch.mit.edu/users/pandatt)

[2017-09-25 22:53] WorldLanguages commented on #1568
@Kenny2github This isn't just for the speech bubble, but for every custom text a user can choose (invite to studio called x, new activity in studio/topic x, etc)

[2017-09-25 22:54] GreenBayRules commented on #1572
okay do you want me to just make a pull request?

[2017-09-25 22:57] GreenBayRules commented on #1572
I was wrong, tracy tang was already added to the credits page. I will add tina quach, assuming he/she is a moderator.

[2017-09-25 22:58] WorldLanguages commented on #1021
@thisandagain I think this was fixed with #1553, should this be closed?

[2017-09-25 22:59] GreenBayRules commented on #1572
Here is the pull request: https://github.com/LLK/scratch-www/pull/1573

[2017-09-25 23:11] thisandagain commented on #1021
Resolved in https://github.com/LLK/scratch-www/pull/1553

[2017-09-25 23:11] #1021 closed

[2017-09-25 23:38] GreenBayRules opened #1575 "Messages Page is blank when no one is signed in"
The messages page is blank when no one is  signed in. Is that supposed to happen? Maybe there could be something saying "Sign in to view messages"?
![image](https://user-images.githubusercontent.com/11379161/30835924-f6fd1c5e-a20f-11e7-9030-4348dce89ad9.png)

[2017-09-26 00:58] thisandagain commented on #1575
Tracking in https://github.com/LLK/scratch-www/issues/1502

[2017-09-26 00:58] #1575 closed

[2017-09-26 15:11] #1572 closed

[2017-09-26 16:36] mewtaylor commented on #1537
Fixed! 'Twas but a simple aws issue.

[2017-09-26 16:36] #1537 closed

[2017-09-26 17:05] GreenBayRules commented on #1566
This should fix it: https://github.com/LLK/scratch-www/pull/1576

[2017-09-26 20:57] jwzimmer commented on #1538
@towerofnix oh no! Thanks for letting us know.

[2017-09-26 21:22] VutonDesign opened #1579 "Featured Project Enhancement"
I was thinking it may be a good idea to add a **"Learn More"** or **"Propose A Project"** link to the featured studio row so that newer users know how projects get chosen to be featured and how they can help out with that.

If this does seem like a good idea, I'm happy to work on it.

[2017-09-26 21:29] mewtaylor commented on #1579
@VutonDesign that's interesting! Which page would you picture the link going to?

[2017-09-26 21:33] VutonDesign commented on #1579
The new the "Propose projects to be featured studio" as the old thread has moved there.

[2017-09-26 21:34] GreenBayRules commented on #1579
I agree with this idea.

[2017-09-27 00:11] GreenBayRules commented on #1579
#1580 Made a pull request

[2017-09-27 02:01] mewtaylor commented on #1561
hmm I'm unable to repro this @jwzimmer – are you still seeing it? I'm wondering if there was a caching issue when I first merged some PR

[2017-09-27 02:17] Kenny2github opened #1581 "Question: What is the difference between Staging, Production, and Develop?"
I see many issues here with the "staging" label - and since these don't show up in production, what's the difference between Staging and Production?

Also, is `develop` just staging or is it a separate thing?

[2017-09-27 02:19] thisandagain commented on #1581
`staging` is the same thing as what is currently in the `develop` branch whereas `production` is what is currently reflected on the `master` branch.

[2017-09-27 02:19] #1581 closed

[2017-09-27 02:20] Kenny2github commented on #1568
Interestingly enough, according to that screenshot, the text goes *behind* notifications that came before it, but *in front* of notifications that came after it.

[2017-09-27 13:39] jwzimmer commented on #1561
I am still seeing this, unfortunately.

Here's exactly what I'm doing:
- Staging, Chrome 60.0.3112.101, Mac OS El Capitan
- Sign in as the Staging smoke test user (in shared-scratch-dev) from the homepage navbar
- Click the messages icon in the homepage navbar
- View messages page (don't do anything else)
- Open JS console

<img width="1279" alt="screen shot 2017-09-27 at 9 34 59 am" src="https://

[2017-09-27 13:40] GreenBayRules commented on #1536
I'll try this one, but I'm not sure what a "placeholder project" is @towerofnix

[2017-09-27 13:44] Kenny2github commented on #1536
@GreenBayRules "placeholder project" refers to any link to a nonexistent project, such as https://scratch.mit.edu/projects/undefined/
The thing that automatically links scratch.mit.edu urls should not link the url if it leads to a nonexistent project (or any 404 url, for that matter)

[2017-09-27 14:42] GreenBayRules commented on #1536
oh okay thanks :D

[2017-09-27 14:57] DeleteThisAcount commented on #1520
I know this may sound a little silly but does anyone know where the code is for the what's happening box?

[2017-09-27 15:09] DeleteThisAcount commented on #1563
Seems to happen with any name on the messages page.

[2017-09-27 18:05] VutonDesign commented on #1520
That's what I was wondering. 😆

[2017-09-27 18:23] TheGrits commented on #1520
My gut tells me it's in the scratchr2 repository, which isn't accessible to the public.

[2017-09-27 20:29] VutonDesign commented on #1520
@TheGrits Ah

[2017-09-27 23:29] WorldLanguages commented on #1579
I'm not against this, but I'm not sure I will like the effects of this. Many comments for few curators and probably a lot of spam.

[2017-09-28 07:38] VutonDesign commented on #1579
I see what you mean, but keep in mind that the SDS is linked on the front page and that hasn't been a problem.

[2017-09-28 07:56] Kenny2github commented on #1563
![link](http://i.cubeupload.com/fK7NuI.png)
Another screenshot taken on a Mac OS X Chrome 46 (old I know but I'm on a school pc)

[2017-09-28 16:31] WorldLanguages commented on #1579
@VutonDesign First row isn't as viewed as fourth.

[2017-09-28 16:45] GreenBayRules commented on #1579
@WorldLanguages Did you mean fourth row isn't as viewed as fourth? xD

[2017-09-28 16:51] VutonDesign commented on #1579
I still can't see it being a problem though. :thinking:

[2017-09-28 18:47] joker314 commented on #1568
That's probably just z-index @Kenny2github

[2017-09-28 21:11] joker314 commented on #1568
@WorldLanguages Then all of those fields also need `overflow: hidden;`

I guess I should note that sanitization is more complex than "no combining characters" because languages other than English do use diacritics and other combining characters that are needed.

[2017-09-28 22:34] towerofnix commented on #1520
@TheGrits More likely in scratch-api (also a private repository), since the "what's happening?" box has been migrated to use the new API (`api.scratch.mit.edu` instead of `scratch.mit.edu/site-api`).

[2017-09-30 08:51] DeleteThisAcount opened #1583 "Download page doesnt have have full stops/periods"
On the download page for the offline scratch under steps 1 and 2 there are no full stops at the end of the sentences.
![nofullstops](https://user-images.githubusercontent.com/29336855/31044311-3aee9788-a5cd-11e7-8ceb-a5af7cbdc82b.PNG)
This may or may not be in other languages. Haven't checked yet. I did make a pull request to fix this in english.

[2017-09-30 08:52] DeleteThisAcount commented on #1583
https://github.com/LLK/scratch-www/pull/1582

[2017-09-30 20:11] GreenBayRules commented on #1583
I don't think periods are needed for that area, and it looks better without periods, but thats just my opinion.

[2017-09-30 20:24] #1583 closed

[2017-10-01 04:25] GreenBayRules opened #1584 "Make Navigation Bar consistent"
![image](https://user-images.githubusercontent.com/11379161/31050489-549d6af0-a600-11e7-80bf-340a23a98073.png)
I think the other pages should match the home page style of nav bar.

Also I think that the hover background of the "Join scratch" looks weird. The other nav bars have a dark blue hover background whereas the hover background of "Join Scratch" is orange.

I think that these will make the

[2017-10-01 04:54] Kenny2github commented on #1584
The other pages have the old style because they're not migrated to this repository yet - i.e. anything with the new navbar is in this repo. Anything with the old one is in scratchr2.

[2017-10-01 05:01] DeleteThisAcount opened #1585 "Migrate 404 page?"
I think the 404 page should be migrated to this new www.

Why?

Unfortunately many people land on the 404 page. I think maybe we could change the 404 page to make it the new style.

[2017-10-01 05:08] GreenBayRules commented on #1584
Oh okay, that makes sense :D

[2017-10-01 05:08] #1584 closed

[2017-10-02 11:31] Kenny2github commented on #1126
As a person who does, in fact, read Chinese, I can assure you that the bolding is indeed inconsistent.

In some default Chinese fonts, some characters seem more bold than others - partially because of the stroke density, and partially because of the size of the character itself.
Characters like 密 (the first character in the word for "password"), with their higher stroke density (i.e. higher stroke

[2017-10-02 12:31] thisandagain commented on #1585
Because of the way we route between the old and new sides of the Scratch website any page not handled by the new site "falls through" to our legacy systems. This means that the 404 is likely to be the last thing we migrate.

[2017-10-02 12:31] #1585 closed

[2017-10-02 12:58] chrisgarrity commented on #1520
Actually the limit is in the getActivity function: https://github.com/LLK/scratch-www/blob/e8671c1727fd5af2e8ee55182cb51b03074f4c24/src/views/splash/splash.jsx#L74

[2017-10-02 13:51] #1548 closed

[2017-10-02 13:51] #1570 closed

[2017-10-02 14:34] mewtaylor commented on #1561
Fixed in https://github.com/LLK/scratch-www/commit/d272a2e4e6fad500066bed519696da494b5724e1

[2017-10-02 14:34] #1561 closed

[2017-10-02 14:48] VutonDesign commented on #1520
@chrisgarrity Perfect, If we were to change that to six I think the bottom user's profile image would be cut off slightly. If after testing it this does happen, We could make the 6 profile images a bit smaller to fit them all in.

[2017-10-03 00:50] Torotv commented on #1585
Oh, I thought that.

[2017-10-03 04:58] DeleteThisAcount commented on #1585
Oh

[2017-10-03 16:28] jwzimmer commented on #1101
I am seeing this again on both Staging & Production, Chrome 61, Win 7 VM. I don't see it in Firefox 55, Mac OS El Capitan or Chrome 61, Mac OS El Capitan.

<img width="467" alt="screen shot 2017-10-03 at 12 25 46 pm" src="https://user-images.githubusercontent.com/1320456/31136499-6ad13f9e-a836-11e7-9fb0-56f69abb4114.png">
<img width="334" alt="screen shot 2017-10-03 at 12 23 26 pm" src="https://us

[2017-10-03 18:48] gunchleoc opened #1588 "String ( it's free ) lacks translation markup"
I have searched all projects on Transifex for the string "free", but I could not find an entry for "( it's free )".

![scratch-free](https://user-images.githubusercontent.com/4095570/31142945-0d26ba0e-a87c-11e7-81ac-e54332b51787.PNG)

[2017-10-04 00:20] torotv opened #1592 "Search Issue"
When i Serach Something in the scratch search bar, it goes to google.
Is There A eason?

[2017-10-04 00:57] thisandagain commented on #1592
Do you have a userscript or other extension installed?

[2017-10-04 00:58] Torotv commented on #1592
nope

[2017-10-04 00:58] thisandagain commented on #1592
"nope" meaning it doesn't go to Google or "nope" meaning it behaves normally?

[2017-10-04 01:00] Torotv commented on #1592
Nope Meaning it doesn't still work and no extestions

On 3 October 2017 at 20:58, Andrew Sliwinski <notifications@github.com>
wrote:

--

please do not send emails back till 24 hours!
thanks and sure to ge back to you,

please use these quick links,

https://plus.google.com/u/1/+narularvarav
https://www.youtube.com/channel/UCUzWg6Ek1hp4xwAlg_WMAiA

[2017-10-04 01:00] thisandagain commented on #1592
Please provide more information:
- What browser and version are you using?
- What operating system and version are you using?
- What are you tying into the search field?
- Please provide a screenshot of what you see before and after typing into the search field

[2017-10-04 01:01] Torotv commented on #1592
I treid. my coumpter does not support SS( Screen shots).

[2017-10-04 01:01] thisandagain commented on #1592
What kind of computer (operating system and browser) are you using?

[2017-10-04 12:19] Torotv commented on #1592
chrome

[2017-10-04 12:24] thisandagain commented on #1592
@Torotv Are you on a Chromebook? What version of Chrome?

[2017-10-04 12:25] Torotv commented on #1592
no, windows 10 hp. crhme 61

[2017-10-04 12:26] thisandagain commented on #1592
@Torotv Ok. Can you please take some screenshots? Here is how you take a screenshot in Windows:
https://www.cnet.com/how-to/how-to-take-a-screenshot-in-any-version-of-windows/

[2017-10-04 12:27] thisandagain commented on #1588
@chrisgarrity Any thoughts?

[2017-10-04 12:28] Torotv commented on #1592
![jjj](https://user-images.githubusercontent.com/21000033/31175654-fffeddc2-a8dd-11e7-8d9f-1dcee3ab8f9b.png)

[2017-10-04 12:45] thisandagain commented on #1592
Ok. That's helpful. I doesn't look like it is going to Google but rather the page isn't loading properly. Can you open up the inspector and share any errors in the console?

Guide:
https://developer.chrome.com/devtools

[2017-10-04 13:09] chrisgarrity opened #1593 "Should 'oops' be capitalized?"
Issue noted from a translator:

From https://github.com/LLK/scratch-www/blob/161f50611c492b6f874bf7ab3bc7485c74a1abaa/src/views/messages/l10n.json#L29

Should the 'oops!' be capitalized?

[2017-10-04 13:45] TheGrits commented on #1593
@mewtaylor oops, maybe it should be! 😜

[2017-10-04 13:47] TheGrits commented on #1588
@chrisgarrity @thisandagain I'll tackle this one right now!

[2017-10-04 13:48] TheGrits commented on #1588
@thisandagain Is the preferred place to add such a string in the main l10n.json file or should I make a new file specifically for this component?

[2017-10-04 13:50] mewtaylor commented on #1588
@TheGrits the other strings that have the id `intro.<name>` are in `splash/l10n.json` since the intro component only appears on the splash page – I think putting it there makes sense!

[2017-10-04 13:53] TheGrits commented on #1588
@mewtaylor Cool, thanks!

[2017-10-04 15:26] VutonDesign commented on #1593
@mewtaylor I generally find that it is capitalized, So I guess that should be changed.

[2017-10-04 16:11] towerofnix commented on #1593
Relatedly to this string, there should probably also be a period at the end of it?

[2017-10-04 16:21] VutonDesign commented on #1593
@towerofnix Good catch 👍

[2017-10-04 19:58] #1566 closed

[2017-10-04 21:25] Torotv commented on #1592
![dev](https://user-images.githubusercontent.com/21000033/31200466-1048fb86-a929-11e7-98c1-b4d5187d5a35.png)

[2017-10-05 00:26] GreenBayRules commented on #1520
I don't think we should do that, because 5 is like a common number... Idk how to explain it but i think you understand what im saying. Usually multiples of 5 are used, lol I can't word this properly

[2017-10-05 00:27] GreenBayRules commented on #1536
Where is the code for making links clickable?

[2017-10-05 00:51] Torotv commented on #1592
Hi?

[2017-10-05 01:01] thisandagain commented on #1592
If you click on the "Console" tab what do you see?

[2017-10-05 01:02] Torotv commented on #1592
Nothing.

[2017-10-05 01:03] thisandagain commented on #1592
If you leave the "Console" tab open and then reload the page do you see anything?

[2017-10-05 01:07] Torotv commented on #1592
No. But STill The Same

On 4 October 2017 at 21:03, Andrew Sliwinski <notifications@github.com>
wrote:

--

please do not send emails back till 24 hours!
thanks and sure to ge back to you,

please use these quick links,

https://plus.google.com/u/1/+narularvarav
https://www.youtube.com/channel/UCUzWg6Ek1hp4xwAlg_WMAiA

[2017-10-05 01:11] thisandagain commented on #1592
Ok. Next thing to try is to open the "Network" tab and press the "XHR" filter. Once you do that reload the page again and share a screenshot. We are looking for any network requests that show up in *red*.

[2017-10-05 01:12] thisandagain commented on #1592
Two tabs to the right from "Console" you will see a button that says, "Network". Click that and then below it click the button that says "XHR".

[2017-10-05 01:13] thisandagain commented on #1592
Also, what happens when you click on the following link?
https://api.scratch.mit.edu/search/projects?limit=16&offset=0&language=en&mode=popular&q=test

[2017-10-05 01:16] Torotv commented on #1592
Api System Overide False

[2017-10-05 01:17] Torotv commented on #1592
![svae](https://user-images.githubusercontent.com/21000033/31206985-5fa9e4b8-a949-11e7-8925-cbf0c5a300c7.png)

NO  EXTESTIONS AT ALL!

[2017-10-05 01:17] thisandagain commented on #1592
Can you please share a screenshot?

- Andrew

On Wed, Oct 4, 2017 at 9:16 PM Strudy <notifications@github.com> wrote:

[2017-10-05 01:20] Torotv commented on #1592
#1520

[2017-10-05 01:20] Torotv commented on #1592
![32526211](https://user-images.githubusercontent.com/21000033/31207062-e9af0ddc-a949-11e7-8e34-3c71a23f3ed3.png)

[2017-10-05 01:24] thisandagain commented on #1592
You have a large number of Chrome Extensions loaded (you can see them all
to the right of your address bar). Can you please open an "Incognito
Window", try again, and post another screenshot?
On Wed, Oct 4, 2017 at 9:21 PM Strudy <notifications@github.com> wrote:

[2017-10-05 06:10] Kenny2github commented on #1520
I'd say make that number dynamic depending on the actual height of the box... but I don't know how to do that.

[2017-10-05 06:10] Kenny2github commented on #1536
@GreenBayRules I think it's in scratchr2, a private repository.

[2017-10-05 22:52] GreenBayRules commented on #1536
Oh okay, then I can't do this :P

[2017-10-06 12:53] Kenny2github opened #1595 ""may not" is misspelled in the Terms of Use"
In the Terms of Use, section 5.4, it says

"many not" should be "may not" here.

I'll make a pull for this if it's help-wanted.

[2017-10-06 14:09] dietbacon commented on #1442
Reopening as we've filled this position again!

[2017-10-06 14:11] towerofnix commented on #1536
It's almost certainly not. Whether the links are clickable or not (i.e. whether or not there is an `<a>` element) is decided client-side, because scratch-www pages are all rendered on the client.

[2017-10-06 14:13] towerofnix commented on #1536
The specific code for project thumbnails is here: https://github.com/LLK/scratch-www/blob/master/src/components/thumbnail/thumbnail.jsx

It looks like it wouldn't exactly be a simple one-line fix, though.

[2017-10-06 17:12] VutonDesign commented on #1442
@dietbacon I can remove it if this becomes help-wanted.

[2017-10-06 17:26] TheGrits commented on #1442
@VutonDesign It is `help-wanted`! 👍

[2017-10-06 17:28] TheGrits commented on #1595
Oh wow, I probably introduced that typo somehow. Good catch @Kenny2github!

[2017-10-06 17:37] VutonDesign opened #1596 "Add hyphens to the community moderator page."
On the community moderator job page, A sentence needs a hyphen added to it.

For example...

Should be...

----

I'd be happy to implement this if it becomes ```help-wanted```.

[2017-10-06 17:38] VutonDesign commented on #1442
Oops, I thought that was from last time.
I'll get a pull-request sent in a couple of minutes. 👍

[2017-10-06 23:48] WorldLanguages commented on #1592
@thisandagain It seems to me that this user is deleting things in purpose in the screenshots?

![image](https://user-images.githubusercontent.com/17484114/31302312-2c5520de-aad7-11e7-806b-fee5f6ee02ea.png)

In this screenshot the developer tools were open inside the `<a>` tag with class user-info, and there are two lines missing in the code. The ones for the user picture and username in the upper

[2017-10-07 00:31] torotv commented on #1592
i Didn't zEdit it.
It Loades like that!

[2017-10-07 03:15] Kenny2github commented on #1596
"webbased" definitely needs hyphenation, but I think "interest driven" can remain the way it is.

[2017-10-07 03:25] TheInitializer commented on #1592
@torotv, do you have [this](https://scratch.mit.edu/discuss/topic/274665/?page=1#post-2806646) userscript installed? It looks like it enables that behavior.

[2017-10-07 10:02] VutonDesign commented on #1596
@Kenny2github Okay

[2017-10-07 14:40] torotv commented on #1592
no

[2017-10-07 15:56] thisandagain commented on #1592
Hi @torotv, can you please post another screenshot with the page loaded in an incognito window? I'm going to close this until we hear back from you. Many thanks.

[2017-10-07 15:56] #1592 closed

[2017-10-08 01:47] GreenBayRules commented on #1595
I'll implement this if the "help-wanted" tag is put on.

[2017-10-08 01:52] thisandagain commented on #1595
Oh geeze. Good catch @Kenny2github

[2017-10-08 01:53] thisandagain commented on #1596
Agreed that "webbased" should be "web-based".

[2017-10-08 01:54] thisandagain commented on #1593
@chrisgarrity That's a good catch. Agreed that "Oops!" should be capitalized.

[2017-10-08 07:49] VutonDesign commented on #1596
@thisandagain Yeah, I'll send in a pr now that it's ```help-wanted```.

[2017-10-08 13:21] GreenBayRules commented on #1381
I'll try this

[2017-10-08 13:27] GreenBayRules commented on #1381
Ok, created a pull request above ^

[2017-10-08 13:51] GreenBayRules opened #1600 "Statistics Comma problem"
![image](https://user-images.githubusercontent.com/11379161/31317384-d424df02-abf4-11e7-8093-de5dc1c4c100.png)
On the statistics page, "Community Statistics at a Glance" has commas separating the stats, and "Website traffic last month" does not. I think it looks better without commas, but either way the statistics have to be consistent. If the help-wanted comes up, and if I can know which looks be

[2017-10-08 13:52] thisandagain commented on #1600
This page is still in our legacy system. This would be good to resolve when we migrate it to `scratch-www`.

[2017-10-08 13:52] #1600 closed

[2017-10-08 13:53] GreenBayRules commented on #1600
Oh okay

[2017-10-08 13:55] thisandagain commented on #1381
Agreed with @mewtaylor that we probably need to normalize / standardize the rules here regarding when to center and assigning a standard margin for mobile (rather than the awkward spacing we have now). Until this is decided I'm going to remove "help-wanted".

[2017-10-08 13:57] GreenBayRules opened #1601 "FAQ quotation mistake"
![image](https://user-images.githubusercontent.com/11379161/31317431-ee4f2ca6-abf5-11e7-9fb0-c31d9ca6da19.png)
The period should be outside of the quotation marks.

[2017-10-08 13:58] #1593 closed

[2017-10-08 13:58] #1595 closed

[2017-10-08 14:00] #1442 closed

[2017-10-08 14:00] #1596 closed

[2017-10-08 14:00] thisandagain commented on #1601
👍

[2017-10-08 14:01] GreenBayRules commented on #1601
I'll do this.

[2017-10-08 14:04] GreenBayRules commented on #1601
There is the PR

[2017-10-08 14:13] #1601 closed

[2017-10-08 14:17] GreenBayRules opened #1603 "Educators page: Inconsistency with center"
![image](https://user-images.githubusercontent.com/11379161/31317571-7b75e5f0-abf8-11e7-955f-7beea88d05c2.png)
The first block is aligned left, and the second is aligned center. We should make all the blocks consistent.

[2017-10-08 14:21] thisandagain commented on #1603
That is by design to help with read path / flow.

[2017-10-08 14:21] #1603 closed

[2017-10-08 14:48] GreenBayRules opened #1604 "More FAQ Grammar/Quotation issues"
![image](https://user-images.githubusercontent.com/11379161/31317824-c88f4fd0-abfc-11e7-8f0e-50e2f9d8beb9.png)
Period should be outside of quotation marks.
![image](https://user-images.githubusercontent.com/11379161/31317826-dc3efa1c-abfc-11e7-9129-cebd488e754c.png)
Should be hyphen between left and hand.
![image](https://user-images.githubusercontent.com/11379161/31317831-fdb51c3a-abfc-11e7-8b83-

[2017-10-08 14:52] thisandagain commented on #1604
- [ ] Period should be outside of quotation marks in the "How do I add a cloud variable when I'm making a project?" section
- [ ] Change "I forgot my password, how can I reset it?" to "I forgot my password. How can I reset it?"

I disagree re: "left hand" vs "left-hand". That is a stylistic preference and not incorrect.

[2017-10-08 14:52] VutonDesign commented on #1604
The first 2 seem good, But I think the third one can stay the way it is.

[2017-10-08 14:52] GreenBayRules commented on #1604
Okay I will send pr now

[2017-10-08 14:56] GreenBayRules commented on #1604
Done PR ^

[2017-10-08 15:00] #1604 closed

[2017-10-08 15:09] GreenBayRules opened #1606 "Block blends in with footer"
![image](https://user-images.githubusercontent.com/11379161/31318003-cbc3d790-abff-11e7-9ee2-4875c89f5b3e.png)
I'm not sure if this a problem, but I want to report it anyways just in case.

The last block of the Tips page blends in with the footer, I'm not sure if it was made that way on purpose, but maybe if the colors were different, then it would be easier to tell the difference between the foo

[2017-10-08 15:10] VutonDesign opened #1607 ""through Github" is not consistent."
A couple of weeks ago, I made a pr which added "through Github" to the Scratch-www section of the developer's page. I was looking at that page again and noticed something...

![capture](https://user-images.githubusercontent.com/26391179/31317997-c3a09e70-ac42-11e7-808e-5e17a0693f19.JPG)
As you can see above, the Scratch-www section does have "through Github" but the ScratchJr section does not. I t

[2017-10-08 15:12] VutonDesign commented on #1606
@GreenBayRules I think this was done on purpose, But I'll leave it to the ST to give the correct answer.

[2017-10-08 15:13] GreenBayRules commented on #1606
Yeah thats what I thought too, but maybe there should be like a horizontal line separating the  two

[2017-10-08 15:14] VutonDesign commented on #1606
@GreenBayRules Hmm, Maybe...

[2017-10-08 15:15] thisandagain commented on #1606
This is by design as the hierarchy of these items is roughly equivalent to the footer.

[2017-10-08 15:15] #1606 closed

[2017-10-08 15:16] thisandagain commented on #1607
I think the current copy is fine. I'd rather not make copy changes unless they are clearly incorrect.

[2017-10-08 15:16] #1607 closed

[2017-10-08 15:18] VutonDesign commented on #1607
Okay 👍

[2017-10-08 15:47] VutonDesign opened #1608 "Teacher Account FAQ grammar issues"
I've found some grammar issues on the teacher account FAQ page that I would be happy to work on.

Should be...

----

Should be

[2017-10-08 16:02] GreenBayRules commented on #1608
Agreed with first.

For second, shouldn't it be students', since its a plural possessive noun?

[2017-10-08 16:06] VutonDesign commented on #1608
@GreenBayRules That's a good point, I'll fix that.

[2017-10-08 22:48] Kenny2github commented on #1600
Any target date for that happening yet?

[2017-10-09 17:30] thisandagain commented on #1608
Looks good! Thanks @vutondesign

[2017-10-09 17:42] GreenBayRules commented on #1608
Made a pull request

[2017-10-09 17:49] #1608 closed

[2017-10-09 17:52] VutonDesign commented on #1608
@GreenBayRules You beat me to it! 😆

[2017-10-09 18:08] VutonDesign opened #1610 "Missing comma on the editor download page"
**After looking at the offline editor download page, I noticed a punctuation mistake...**

This sentence...
![capture](https://user-images.githubusercontent.com/26391179/31352060-3ea2e00a-ad25-11e7-97bd-cca8ed6dc327.JPG)

Should have a comma in it...
![capture - copy](https://user-images.githubusercontent.com/26391179/31352030-274e4db8-ad25-11e7-830f-2231490d4375.JPG)

----

[2017-10-10 03:05] GreenBayRules commented on #1610
I don't think this is that big of a deal, it looks better without a comma

[2017-10-10 03:41] GreenBayRules commented on #1579
Is this a possibility?

[2017-10-10 10:07] thisandagain commented on #1610
I think I'd prefer to keep this as is.

[2017-10-10 10:07] #1610 closed

[2017-10-10 16:40] GreenBayRules commented on #1538
Yeah this is happening to me also in this thread: https://scratch.mit.edu/discuss/topic/278050/

[2017-10-10 16:55] VutonDesign commented on #1538
Same here now, None of my stickies get notifications.

[2017-10-10 19:10] RedMAngo22 commented on #1356
Support!!

[2017-10-11 04:37] GreenBayRules opened #1612 "Credits: Add New ST member"
@GulpTea needs to be added to the credits (I'm not sure if this is too early to add them to credits, I mean they literally joined 4 days ago).
If this gets help-wanted, I can do this.

[2017-10-11 12:25] thisandagain commented on #1612
@dietbacon can you please confirm which new ST accounts need to be added to the moderators section of the credits page?

[2017-10-11 13:13] colbygk opened #1613 "Confirm your email modal does not close"
The modal window that pops up when clicking on the "Confirm your email" banner link does not go away when clicking the "Ok, back to Scratch" button. It does go away when clicking the "X" button.

![bug](https://user-images.githubusercontent.com/192393/31442434-742c6440-ae64-11e7-8e1a-e71c078ad2dd.gif)

[2017-10-11 13:31] thisandagain commented on #1613
Thanks for catching that @colbygk!

[2017-10-11 13:42] chrisgarrity opened #1614 "FAQ should say "Email" not "Email Settings""
The FAQ about confirming email address includes:
[code]

The actual text in the left hand side is just "Email"

Pointed out by @gunchleoc in translations

[2017-10-11 14:02] dietbacon commented on #1612
Add:

Joel Gritter (@gulptea)
Carolina Kaufman (@lkaufm)

Move to "Previous MIT Scratch Team Members" section:

Connor Hudson
Lily Kim
Tauntaun Kim
Hanako Tjia

[2017-10-11 14:09] #1568 closed

[2017-10-11 15:07] thisandagain commented on #1612
Great. Adding `help-wanted` label for implementation.

[2017-10-11 15:08] thisandagain commented on #1614
@GreenBayRules @Kenny2github In the future please comment on the issue you are going to work on before starting work and submitting a PR to avoid issues of duplicate effort.

[2017-10-11 15:09] VutonDesign commented on #1612
@GreenBayRules Will I tackle this or leave it for @GreenBayRules?

[2017-10-11 15:15] VutonDesign commented on #1612
Nice, I can work on this since @GreenBayRules is away.

[2017-10-11 16:21] GreenBayRules commented on #1614
Okay.

[2017-10-11 16:24] GreenBayRules commented on #1613
I'll try this one

[2017-10-11 19:54] towerofnix commented on #1614
Literally duplicate efforts.. they're the same diff :)

[2017-10-11 20:06] GreenBayRules commented on #1614
XD

[2017-10-11 20:08] GreenBayRules commented on #1612
Here, let me try submitting another pull request for this, maybe it will pass then.

[2017-10-11 21:07] #1614 closed

[2017-10-12 00:58] GreenBayRules opened #1618 "Feature: Show thumbnail on hover project link"
![image](https://user-images.githubusercontent.com/11379161/31474072-6ae68868-aead-11e7-9926-2cd5c879ae17.png)
Something like this, except with way better graphics xD

I think for all the project links on scratch (in comments) if you hover over the link, it should give you the thumbnail of the project. Of course for this to be done, the "Placeholder projects cannot be clickable" bug must be fixed.

[2017-10-12 07:15] VutonDesign commented on #1618
I do like the Idea of it. 😆

[2017-10-12 07:24] DeleteThisAcount opened #1619 "Remove My Stuff link from dropdown menu."
Remove the my stuff link from the acount drop down menu.
Why?
There's a link to it as an icon next to it so there's no purpose for it

[2017-10-12 12:26] #1612 closed

[2017-10-12 19:50] GreenBayRules commented on #1619
Hmm... But for new scratchers they might not know that the icon means My Stuff.

[2017-10-13 09:35] WorldLanguages commented on #1619
Why don't you ask in the Suggestions forum first? 🤔 I think most Scratchers would be confused.

[2017-10-13 12:19] #1619 closed

[2017-10-13 13:42] rschamp opened #1620 "Homepage rows should not be rendered until the data for them is loaded"
This was to be addressed in https://github.com/LLK/scratch-www/issues/161 but seems to have been missed.

Currently, before the homepage rows receive data, they display "dummy" projects which are clickable, going to a 404 page `/projects/undefined/`:
![image](https://user-images.githubusercontent.com/1512021/31548909-78d311aa-affa-11e7-8ece-296411906f22.png)

We should not render the dummy project

[2017-10-13 13:44] rschamp commented on #1536
Thanks for reporting this @towerofnix. I think a better solution would be not to render the dummy projects at all. So capturing this issue in #1620 instead.

[2017-10-13 13:44] #1536 closed

[2017-10-13 13:53] towerofnix commented on #1620
If an empty row is displayed, it might be best to have a loading spinner icon or label saying "loading projects", since otherwise someone on a very(!) slow connection wouldn't understand why the row is empty.

[2017-10-13 16:51] GreenBayRules commented on #1613
I can't find where the code for the modal is.

[2017-10-14 14:42] GreenBayRules opened #1621 "Discuss footer not aligning properly when posting"
![image](https://user-images.githubusercontent.com/11379161/31576611-1fa3b2d8-b0b3-11e7-9db2-32309bf2df9d.png)
In the discussion forums, when you go to post, the "Standard|Mobile" part becomes misaligned.

[2017-10-15 09:35] Kenny2github commented on #1621
What browser/OS are you using? This looks like a very specific problem.

[2017-10-15 10:15] VutonDesign commented on #1621
@Kenny2github It does, I'm not getting it
![capture](https://user-images.githubusercontent.com/26391179/31583846-0fc61df0-b19a-11e7-8b04-5976d69b67a5.JPG)

Windows 8.1, Chrome 61.0.3163.100 (Official Build)

[2017-10-15 15:24] GreenBayRules commented on #1621
Windows 10, Latest chrome.

[2017-10-16 02:34] Kenny2github commented on #1621
Interesting, I can now repro this on Raspbian, latest Chromium:
![2017-10-16-103412_998x217_scrot](https://user-images.githubusercontent.com/28599280/31592846-9a9fd8e4-b25d-11e7-8d0f-0107930315e0.png)
It looks like it only happens when you can close the topic.

[2017-10-16 19:03] jwzimmer opened #1622 "My Stuff - search bar"
Suggested in a workshop on 10/16/17: having a search bar in order to search your own projects/ studios in My Stuff.

We should consider this when we migrate My Stuff from scratchr2 to www, if there is re-design of the page at that time.

[2017-10-16 19:13] GreenBayRules commented on #1622
Ooh that's a nice idea. Especially for people with tons of projects.

[2017-10-16 19:22] VutonDesign commented on #1622
@GreenBayRules Like me lol

[2017-10-16 19:23] thisandagain commented on #1621
Moved to LLK/scratchr2#4859

[2017-10-16 19:23] #1621 closed

[2017-10-19 06:07] Kenny2github opened #1623 "Credits: add new ST member"
@quachtina96 (Scratch username @quacht) needs to be added to the credits.

IIRC they've been an ST member for a while but just recently got a Scratch account?

I'd be happy to implement this if it's `help-wanted`.

[2017-10-19 10:16] VutonDesign commented on #1623
@Kenny2github I think this was already fixed in #1574

[2017-10-19 12:46] mewtaylor commented on #1623
Thanks @VutonDesign and @Kenny2github – it was indeed implemented in that PR!

[2017-10-19 12:46] #1623 closed

[2017-10-19 12:53] mewtaylor commented on #1618
@VutonDesign @GreenBayRules it's an interesting idea – just FYI, I don't think we'll have the capacity to consider what this would look like for a while since it'd be a pretty significant change to the site, hence why it's in our backlog.

[2017-10-19 13:22] Kenny2github commented on #1623
Oh right, it's just that develop hasn't been merged into master. Whoops!

[2017-10-22 19:49] GreenBayRules commented on #1618
@mewtaylor Okay, but is it possible that this can become a feature later?

[2017-10-23 15:11] #1588 closed

[2017-10-24 00:31] jwzimmer commented on #1569
Fixed in https://github.com/LLK/scratch-www/pull/1624.

[2017-10-24 00:54] jwzimmer opened #1625 "Add signing out to automated tests"
Re https://github.com/LLK/scratchr2/issues/4785, add functionality to sign out a user to the authentication smoke tests (or possibly make that a separate file for the r2 half, so it doesn't clutter up all the functionality along with My Stuff?).

[2017-10-24 01:54] jwzimmer opened #1627 "Automated test for commenting"
Re https://github.com/LLK/scratchr2/issues/4785#issuecomment-338838797, create an automated smoke test that can leave a comment on Scratch.

[2017-10-24 17:09] mewtaylor opened #1628 "Update "What's Happening?" to make request to non-proxy endpoint"

[2017-10-25 01:20] GreenBayRules commented on #1613
@mewtaylor Can you show me the location of the modal code?

[2017-10-25 10:49] towerofnix commented on #1613
I did a little looking around and had some better luck finding the code this time..

First off, in `presentation.jsx`, we see that the email modal is actually an embedded iframe:

[code]

Here's the page it embeds - clearly scratchr2, not a migrated page: https://scratch.mit.edu/accounts/email_resend_standalone/

If we look at the (generated HTML) code for that page, we see the "Ok, back to Scratc

[2017-10-25 19:46] mewtaylor opened #1630 "Numbered font-weights don't work on all browsers"
We've seen this a couple of times, most recently in #1563 – on some OS's (Debian, most recently), using numbered font weights does not result in bold text being generated on the screen. We should consider how we might want to adjust our typography settings to accommodate this limitation.

[2017-10-25 19:46] mewtaylor commented on #1563
@rschamp @thisandagain I propose we close this in favor of #1630.

[2017-10-26 00:27] GreenBayRules opened #1631 "Messages showing backwards"
For example:
![image](https://user-images.githubusercontent.com/11379161/32029489-c72600a2-b9a9-11e7-9d1c-747e385333ce.png)
For some reason the "today" is appearing as "yadot" I have seen this before multiple times, but I have never reported it.

[2017-10-26 01:20] towerofnix commented on #1631
Could you post a link to the studio here?

It's possible that the studio has an RTL override inside its name. [My studio](https://scratch.mit.edu/studios/3004831/activity), which has that character in its name, also shows up with "yadot":

![Screenshot of lol rtl message row](https://user-images.githubusercontent.com/9948030/32030621-83b549b2-b9d2-11e7-95c7-a456ad3b1b27.png)

It would be weird if

[2017-10-26 01:56] lcyhjx opened #1632 "npm run build failed with 'make is not recognized' on Win10"
Hi,

I clone the latest code, and I can run 'npm install' successfully , but when I run 'npm run build' / 'npm start', it will failed with ''make' is not recognized as an internal or external command'.  My operation system is win10. Does anyone know what the issue is and how can I fix it?

[2017-10-26 03:14] Kenny2github commented on #1631
Yeah, it looks like if the studio has a RTL character of any kind (including the RTL override) the "today" in "new activity in (studio) today" is flipped around, i.e. "new activity in lol rtl today" becomes "new activity in yadot lol rtl".

[2017-10-26 03:43] GreenBayRules commented on #1631
@towerofnix Here is the studio name: https://scratch.mit.edu/studios/4043166/

[2017-10-26 04:27] lcyhjx commented on #1632
It is addressed.  Use following command to install make
npm install make -g
then it works.

The error message misdirect me. I search it,  most feedback is to install make for windows.  But that is not the solution.

[2017-10-26 12:42] #1546 closed

[2017-10-26 14:07] joker314 commented on #1631
Based on the studio activity, the title of the studio may have changed since this issue was filed.

[2017-10-26 16:55] ChampikaF opened #1633 "Scratch Conference 2018 Website Phase 1"
Theme: The Next Generation
URL: https://scratch.mit.edu/conference
Launch Date: Early December

Goal: Announce the theme, dates for the 2017 Scratch Conference, when registration opens, registration cost, and invite submissions (via Google Form) for sessions.

Design: Re-use design from previous year

Copy link (still being finalized) : https://docs.google.com/document/d/1oJGcmMnyTkp5C6d1l6lhi_ies

[2017-10-26 17:04] thisandagain commented on #1633
### Details / To Do List
- [ ] Minimally modify existing page to include some copy plus link to Google Form for submissions
- [ ] Change "Email Us" link in the footer to point to `conference@scratch.mit.edu`

[2017-10-26 19:22] chrisgarrity opened #1634 "Strings not marked for translation"
The `Projects` header on the Developers page:
https://github.com/LLK/scratch-www/blob/18f82fce3ffecd366168740ed827392eb88a66cc/src/views/developers/developers.jsx#L67

The paragraph about ScratchJr:
https://github.com/LLK/scratch-www/blob/18f82fce3ffecd366168740ed827392eb88a66cc/src/views/developers/developers.jsx#L97

[2017-10-26 22:24] GreenBayRules opened #1635 "Studio Curators Username text overflow"
![image](https://user-images.githubusercontent.com/11379161/32079874-7c8879d6-ba61-11e7-95ca-cee704c9c550.png)
You can see this on the bottom of this studio: https://scratch.mit.edu/studios/4387260/curators/

The user @BASICALLY_EVERYTHING's username is too large and is going outside of the box. I guess a solution for this could be to make it so that every username with more than x characters woul

[2017-10-26 22:26] GreenBayRules commented on #1631
@joker314 The title of the studio that was causing this was "☄ⓁⒺ ⒼⓇⓄⓊⓅ☄"

[2017-10-27 18:53] TheGrits commented on #1630
@mewtaylor I've noticed this on ChromeOS quite a while ago...

[2017-10-28 09:43] Kenny2github commented on #1634
Looks like @TheGrits is onto this :)

[2017-10-28 09:47] Kenny2github commented on #1633
That Google Drive link can't be accessed, is that deliberate?

[2017-10-28 15:21] TheGrits commented on #1633
@Kenny2github It's probably stored on the LLK drive, so it's only accessible to LLK staff by default.

[2017-10-28 17:36] towerofnix commented on #1635
Or just use the CSS <code><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow">text-overflow:</a> ellipsis;</code> property - but I don't know if it's supported on every Scratch target browsers.

[2017-10-28 20:32] GreenBayRules commented on #1635
@thisandagain what do you think?

[2017-10-28 23:48] GreenBayRules opened #1637 "Notes & Credits is going in to the remixing credits"
![image](https://user-images.githubusercontent.com/11379161/32139517-d0af2c22-bbff-11e7-8016-2842b2a4bfea.png)
There is an example: https://scratch.mit.edu/projects/181480563/

[2017-10-29 00:00] towerofnix commented on #1637
Probably related to the scroller there being a custom, JavaScript-based scrollwheel -- unlikely this will be changed in scratchr2, I imagine, but in the future they'll hopefully use a normal browser-based (`overflow-y: scroll`) scrollbar.

[2017-10-29 03:05] Kenny2github commented on #1633
yeah - I'm asking if keeping it that way was deliberate

[2017-10-29 03:51] TheGrits commented on #1633
@Kenny2github More likely than not, yes.

[2017-10-29 03:59] Kenny2github commented on #1445
Nope, Italian still shows English strings:
![image](https://user-images.githubusercontent.com/28599280/32140561-982a185c-bca0-11e7-96e5-d5ce15438f38.png)
Actually, it looks like the box to the right has the same problem.

[2017-10-30 12:25] mewtaylor commented on #1566
On Chrome 61, OSX 10.12 on staging:
* On messages page, I can click a user's avatar and it takes me to their profile
* On messages page, I can click a user's username and it takes me to their profile

Marking this as `qa-ok`

[2017-10-31 14:29] Kenny2github opened #1640 "Feature request from teachers: More control over student accounts"
From https://scratch.mit.edu/discuss/topic/251689/ by Scratch teacher MrNealon101 :

[2017-10-31 15:18] jwzimmer commented on #1640
Hi @Kenny2github, thanks for bringing this up. We are mainly tracking teacher-account-related issues & feature requests in our scratchr2 repo, so I will move this there.

[2017-10-31 15:18] #1640 closed

[2017-10-31 18:38] jwzimmer opened #1641 "IE11 - Long text without spaces causes the Messages page > speech bubble to be displaced; overflow the container"
Found while testing PR to address https://github.com/LLK/scratch-www/issues/1568. This occurs on Staging & Production in IE 11. It does not occur in Firefox or Chrome.

If you enter a long chunk of text without spaces as a comment, the speech bubble for a new comment notification on the Messages page will be slightly displaced so that it's below & touching the user icon, and so that it overflows t

[2017-10-31 21:30] chrisgarrity opened #1642 "Add Malay Language"
The high priority strings have been translated to Malay

[2017-10-31 22:17] jwzimmer opened #1643 "Filter by > Comment Activity too close to filter dropdown arrow - Messages page"
This is a fairly minor cosmetic issue, but "Comment Activity" gets cut-off (in Chrome, Mac) or squished (in Firefox, Mac) by the filter dropdown menu arrow because it is longer than the other filter names.

To repro, go to the Messages page and choose "Comment Activity" as your filter type in Firefox or Chrome. (It may happen in other browsers as well, but those are the two I tried. This is on Sta

[2017-11-01 14:35] thisandagain commented on #1635
This is in our legacy system. Will address when we port this page to 3.0.

[2017-11-01 14:35] #1635 closed

[2017-11-01 20:47] cwillisf opened #1644 "Offline editor download page: add "helper tool" issue to known issues list"
On some macOS installations, this dialog pops up when starting the offline editor:
<img alt="screen shot 2017-10-10 at 9 14 45 am" src="https://user-images.githubusercontent.com/1320456/31388286-902c2fe6-ad9b-11e7-9910-f33c5fcbb826.png">

Due to Scratch 3.0 work it looks like it'll be a while before we have time to investigate this, so I think it makes sense to mention it in the "known issues" sec

[2017-11-01 20:47] cwillisf opened #1645 "Offline editor download page: "Adobe Air" should be "Adobe AIR""
The download page capitalizes "Adobe AIR" inconsistently: in some places it's "Adobe Air" and in others it's correct. They should all say "Adobe AIR"

I also think we should update the "Note for Mac Users" as follows:
- **Old:** the latest version of Scratch 2.0 Offline requires Adobe Air 20. To upgrade to Adobe Air 20 manually, go [here](https://get.adobe.com/air/).
- **Suggested:** the latest ve

[2017-11-02 00:26] GreenBayRules commented on #1645
I'll do this one :D

[2017-11-02 00:28] GreenBayRules commented on #1645
Done #1646

[2017-11-02 00:29] GreenBayRules commented on #1644
I'll do this as well. :D

[2017-11-02 00:38] GreenBayRules commented on #1644
The above pull request should fix this and #1645

[2017-11-02 00:51] GreenBayRules commented on #1613
Well lol I couldn't do it, so I guess someone else could give it a shot.

[2017-11-02 18:53] ChampikaF opened #1649 "Edit Scratch Conf Website - Correct Info for Costa Rica Conf"
Please update the following details for the listing for Scratch Conference Costa Rica (on scratch.mit.edu/conference):

* Change the date from “November 10, 2017 - November 12, 2017” to “November 12, 2017”

* Change the text on the orange button to read “Visit Website”

* Link the button to https://scratchcostarica.com/

[2017-11-02 19:48] GreenBayRules commented on #1649
I can do this :D

[2017-11-02 23:07] Voltern commented on #1643
The Main Reason Behind This Might mean That The Server

[2017-11-02 23:09] Voltern commented on #1643
It Is Because The Source Code Is different in both browsers
Chrome
`<div class="messages-title-filter"><form novalidate="" class="form"><div class="select"><div class="form-group row"><label class="control-label col-sm-3" data-required="false" for="frc-messages.filter--527961147">Filter by</label><div class="col-sm-9"><select class="form-control" label="Filter by" name="messages.filter" id="frc-me

[2017-11-02 23:10] Voltern commented on #1637
Yeah, Probably The Sc roller There Is Being Custom.

[2017-11-03 12:01] Kenny2github opened #1651 "/forums/viewpost.php still redirects to archive.scratch.mit.edu instead of scratcharchive.asun.co"
### Expected behavior
https://scratch.mit.edu/forums/viewpost.php should redirect to https://scratcharchive.asun.co/forums/viewtopic.php
### Actual behavior
It attempts to redirect to https://archive.scratch.mit.edu/forums/viewpost.php instead - but that domain is gone, so it's a DNS error.
### Steps to reproduce
Isn't it obvious?

[2017-11-03 12:39] thisandagain commented on #1651
Moved to LLK/scratchr2#4874

[2017-11-03 12:39] #1651 closed

[2017-11-03 13:52] jwzimmer opened #1652 "Messages page unread messages not being highlighted"
This is Staging-only, the highlighting is working on Production. This issue was repro'd in Chrome, Safari, and Firefox on Mac OS El Capitan.

I expect unread messages to be highlighted blue on the Messages page, but currently no messages are being highlighted (other than Messages from the Scratch Team).

To repro, sign in to a staging user such as abcdefky or abcdefky_s1, generate a new notificati

[2017-11-03 14:08] Kenny2github commented on #1651
Yeah, I thought it'd be moved.

[2017-11-03 14:17] mewtaylor commented on #1652
Fixed in #1653

[2017-11-03 14:17] #1652 closed

[2017-11-04 04:16] RedMAngo22 opened #1655 "Pink Background Issue"
When You Remove A Background or Touch It, Sometimes The Project Goes Pink.
/cc @GreenBayRules
/cc @thisandagain

[2017-11-04 11:29] towerofnix commented on #1655
This is a bug in Scratch 2.0. You should report bugs with the player [in the scratch-flash repository](https://github.com/LLK/scratch-flash/). However, there may already be a report for this particular bug - LLK/scratch-flash#135 looks related. And you should note that [Scratch 2.0 is now in maintenance mode:](https://github.com/LLK/scratch-flash/#readme)

This is likely not a critical issue, cons

[2017-11-04 12:40] thisandagain commented on #1655
Tracking in https://github.com/LLK/scratch-flash/issues/135

[2017-11-04 12:40] #1655 closed

[2017-11-04 13:51] GreenBayRules commented on #1655
Please don't mention me, if not necessary

[2017-11-04 14:17] GreenBayRules opened #1656 "Messages number showing wrong on pages with new navbar"
This is on any page without the new navbar (You might have to click on the picture, to see the Messages number better)
![image](https://user-images.githubusercontent.com/11379161/32406104-74bca932-c12f-11e7-8781-1cbbb3016392.png)
This is on any page with the new navbar
![image](https://user-images.githubusercontent.com/11379161/32406106-86153ea6-c12f-11e7-9217-2d59db944460.png)
![image](https://us

[2017-11-04 14:19] GreenBayRules commented on #1656
Of course, this is probably only happening when a user has a high message count, so like if a user has 1 message, it still shows the same on both navbars.

[2017-11-04 14:30] GreenBayRules commented on #1656
EDIT: When i check my messages:
![image](https://user-images.githubusercontent.com/11379161/32406237-0df5548a-c132-11e7-8c15-824f3691274e.png)
has wrong one still

[2017-11-04 17:21] mewtaylor commented on #1656
@GreenBayRules – thanks for reporting this! I actually think that it's likely an issue with the message count on the legacy parts of the site. I'm going to move this issue to our legacy repo for now so we can track it there – I'll make sure to update you when we figure out what's up!

Tracking in https://github.com/LLK/scratchr2/issues/4877

[2017-11-04 17:21] #1656 closed

[2017-11-04 17:39] mewtaylor commented on #1631
Thanks y'all for investigating!

@chrisgarrity it seems like we might need to start adding overrides to our strings that have variable content in them to ensure that the ltr text stays ltr regardless of the variable content.

[2017-11-05 22:37] ntlrsk opened #1657 "Can shortcut URLs go to the specific PDFs instead of the cards overview page?"
Right now the shortcuts for each set of cards is pointing to the overview cards page instead of the specific PDFs. For example, [https://scratch.mit.edu/name/cards] is going to [https://scratch.mit.edu/cards].

Is this so that people can get the translations of the cards?
If so, is there anyway for the shortcuts to link instead to the specific cards PDF in the current language?

For example, for
[

[2017-11-06 14:18] chrisgarrity commented on #1631
@mewtaylor mixing rtl and ltr is always a challenge - definitely something to look into.

[2017-11-06 16:03] jwzimmer opened #1658 "Update test case URLs in automated tests"
Since we ported over "meta" repo content from scratchr2 to scratch-ops, the links to test cases in the individual automated test files should be changed (or removed) to reflect new locations.

For example, smoke test cases are now at https://github.com/LLK/scratch-ops/wiki/Pre-deploy-smoketesting.

[2017-11-06 17:34] christanbalch opened #1659 "Credit Page Bug?"
I noticed today that Linda's avatar on the [credits page](https://scratch.mit.edu/info/credits/) is not loading, leaving this image instead:

![image](https://user-images.githubusercontent.com/11506947/32454786-40ee749e-c2ee-11e7-84f1-fa09be1c343a.png)

It should be linking to the avatar from her profile: https://scratch.mit.edu/users/lifaythegoblin/

- - - - -
macOS Sierra Version 10.12.3
Chrome

[2017-11-06 17:37] TheGrits commented on #1659
I'll look into this.

[2017-11-06 17:38] TheGrits commented on #1659
Found the issue and the fix, I'll make a pull request right now.

[2017-11-07 21:42] #1649 closed

[2017-11-07 22:30] #1634 closed

[2017-11-07 22:31] #1644 closed

[2017-11-07 22:31] #1645 closed

[2017-11-08 11:18] Kenny2github opened #1661 "Embed projects don't work"
### Expected behavior
Embedding projects (`<iframe allowtransparency="true" width="485" height="402" src="https://scratch.mit.edu/projects/embed/178433850/?autostart=false" frameborder="0" allowfullscreen></iframe>`) should work
### Actual behavior
It says "oh no, you don't have flash":
![image](https://user-images.githubusercontent.com/28599280/32546167-1ed1a5c6-c4b9-11e7-8c95-b9754217d835.png)
#

[2017-11-08 15:52] colbygk commented on #1661
My suspicion is that this is related to Chrome and Firefox tightening their security model. I have reproduced this locally with Chrome 62.0.3202.89 (Official Build) (64-bit) on macOS 10.12.6.

When looking at the Security pane from the dev tools for Chrome, I see:

![screen shot 2017-11-08 at 10 48 52 am](https://user-images.githubusercontent.com/192393/32558328-7ad4e3ac-c472-11e7-8a68-deebc490a51

[2017-11-08 19:49] chrisgarrity opened #1664 "Switch text on hoc top banner based on logged in state"
If user is logged in, keep 'Animate a Name'

If not logged in change to 'Get Started with Coding!'

Make the whole animation link to the Animate a Name tutorial when clicked.

[2017-11-08 22:04] chrisgarrity commented on #1664
@ChampikaF @ntlrsk the changes are live on staging if you want to check them.

[2017-11-08 22:12] ntlrsk commented on #1664
The change in wording from logged out to logged in looks great to me.

[2017-11-09 17:16] me-win commented on #1633
The site copy is finalized at this doc: https://docs.google.com/a/scratchfoundation.org/document/d/1oJGcmMnyTkp5C6d1l6lhi_ies9HmsyZBjZk_mhtGTcw/edit?usp=sharing

Please keep the banner image the same.

[2017-11-09 19:01] ChampikaF commented on #1664
Looks great! Thanks!

On Wed, Nov 8, 2017 at 5:12 PM, Natalie Rusk <notifications@github.com>
wrote:

[2017-11-09 20:24] mewtaylor commented on #1659
This appeared to be a caching issue, and was fixed after I purged the endpoint.

[2017-11-09 20:24] #1659 closed

[2017-11-09 21:20] TheGrits commented on #1659
@mewtaylor I noticed that the images for the credits page are using two different url patterns. (cdn and cdn2) Should we be moving all of the urls over to cdn2?

[2017-11-11 20:44] redmangospros commented on #1642
I Can Do This.

[2017-11-11 20:45] redmangospros opened #1665 "translation Error //"
![sqsqsq](https://user-images.githubusercontent.com/21000033/32693341-518ebfea-c6f7-11e7-8dd8-a79fd3f4b0d6.png)

[2017-11-11 22:46] thisandagain commented on #1665
Can you please be more specific? Are you referring to the fact that the strings "Projects" and "Studios" are not translated?

[2017-11-12 00:47] GreenBayRules commented on #1665
That's weird, because for me, "Projects" and "Studios" are translated.
![image](https://user-images.githubusercontent.com/11379161/32694849-08aeb1aa-c700-11e7-999d-8958953cbb81.png)

[2017-11-12 15:33] redmangospros commented on #1665
Yes, Same Thing packers.

[2017-11-12 15:33] redmangospros commented on #1665
The Launge is on english, and it is showing a differnt launge.

[2017-11-13 14:02] jwzimmer opened #1666 "Timestamps for social actions/ notifications display in future - "in 59 minutes", etc."
Reported via `/discuss/topic/281773/`:

It seems like, as other Scratchers in the thread suggested, it could be that the reporting user's computer's time is set in an unexpected way, but I'm not sure we intended to ever display any timestamps in the future?

<img width="478" alt="screen shot 2017-11-13 at 8 54 40 am" src="https://user-images.githubusercontent.com/1320456/32729134-c0334cc2-c850-11e

[2017-11-13 14:03] jwzimmer commented on #1666
I think this should be in scratchr2, moved to https://github.com/LLK/scratchr2/issues/4887.

[2017-11-13 14:03] #1666 closed

[2017-11-14 16:12] colbygk opened #1668 "Update llk link on developers page"
The link on the developers page should no longer be `https://llk.media.mit.edu` and should instead be `https://www.media.mit.edu/groups/lifelong-kindergarten/overview/`

See:

[2017-11-14 16:25] chrisgarrity commented on #1664
resolved in https://github.com/LLK/scratch-www/pull/1654

[2017-11-14 16:25] #1664 closed

[2017-11-14 17:17] VutonDesign commented on #1668
I'll take this 👍

[2017-11-14 18:35] #1668 closed

[2017-11-14 20:54] colbygk commented on #1668
Thank you @VutonDesign

[2017-11-14 21:09] VutonDesign commented on #1668
No problem 😉

[2017-11-15 18:35] VutonDesign opened #1672 "ST asterisk missing on page titles"
![capture](https://user-images.githubusercontent.com/26391179/32853550-8f0cb55e-ca33-11e7-821d-81fe219dce5a.JPG)

Is this done on purpose or is it a bug?

[2017-11-15 20:42] #1569 closed

[2017-11-15 20:42] #1625 closed

[2017-11-15 22:09] chrisgarrity commented on #1633
@Kenny2github @TheGrits details are in the issue now if you're interested. If it gets done quickly we'll still release it this month

[2017-11-15 23:53] redmangospros commented on #1665
@thisandagain

[2017-11-16 01:19] GreenBayRules commented on #1665
No, I didn't have the same issue. I said that I DON'T have that issue :P

[2017-11-16 01:21] GreenBayRules commented on #1633
I can do this :D

[2017-11-16 01:23] redmangospros commented on #1665
Firefox Does Have the same issue, because it doesn't have Les Utilisateurs what means users in english.
The TRanslation is in french.

[2017-11-16 01:24] redmangospros commented on #1665
console.clear() was prevented due to 'Preserve log'

[2017-11-16 01:25] GreenBayRules commented on #1665
I feel like your just using inspect element and google translate to try and confuse us lol

[2017-11-16 01:25] redmangospros commented on #1665
no.

[2017-11-16 02:16] redmangospros commented on #1665
@thisandagain

[2017-11-16 04:37] GreenBayRules commented on #1633
#1673 Should fix it

[2017-11-16 08:05] VutonDesign commented on #1665
@redmangospros We don't actually have a user search tab meaning you must be using a browser extension or inspect element.

If the above is the case, then it's not an issue on the ST's side.

[2017-11-16 12:57] thisandagain commented on #1665
@redmangospros Can you please disable whatever browser extension or userscript you are using to have "Users" in the search bar and then try again? I cannot replicate the issue you are seeing.

[2017-11-16 12:57] #1665 closed

[2017-11-16 21:11] redmangospros commented on #1665
I Have no extestion installted!

[2017-11-16 21:26] thisandagain commented on #1672
That is on purpose.

[2017-11-16 21:26] #1672 closed

[2017-11-17 17:53] ChampikaF opened #1674 "Post Learning Resource Designer on /jobs page"
url: scratch.mit.edu/jobs

request:

Add "Learning Resource Designer, MIT Media Lab, Cambridge, MA" to list of jobs
Link: https://www.media.mit.edu/about/job-opportunities/learning-resources/

[2017-11-17 18:59] rschamp opened #1675 "Run tests on Travis for the latest node in addition to LTS"
Ensure Travis can build for the latest stable version of Node. But also ensure it will only be deployed once. For examples of how to do this see: https://github.com/LLK/scratch-vm/blob/develop/.travis.yml

[2017-11-17 19:51] GreenBayRules commented on #1674
I can do this :D

[2017-11-17 19:59] GreenBayRules commented on #1674
#1676 Done :D

[2017-11-17 20:52] thisandagain commented on #1632
You can use [cygwin](http://www.cygwin.com/) or [https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux](WSL)  to resolve issues with missing command line tools that are needed for developing `scratch-www`.

[2017-11-17 20:52] #1632 closed

[2017-11-20 14:12] #1633 closed

[2017-11-20 14:45] mewtaylor opened #1677 "Update localization guide to include info on FormattedHTMLMessage workarounds"
React-Intl has started to deprecate `FormattedHTMLMessage`, highly recommending that people switch to using `FormattedMessage`, and simply passing values into the component that contain any necessary html in them – see [here](https://github.com/yahoo/react-intl/wiki/API#formathtmlmessage).

We should update the wiki to include this in our style guide, and show workarounds for how contributors can

[2017-11-20 17:39] GreenBayRules commented on #1674
Should be closed since #1676 was merged..

[2017-11-20 17:42] GreenBayRules commented on #1238
Is this still an issue? If so I can make a pull request..

[2017-11-20 19:03] thisandagain commented on #1674
Resolved in #1676

[2017-11-20 19:03] #1674 closed

[2017-11-20 19:23] thisandagain commented on #1238
@chrisgarrity ^^

[2017-11-21 21:59] thisandagain opened #1680 "The "Scratch" logo on the `/conference` page should take you back to `/`"
Currently the "Scratch" logo in the top left corner of the `/conference` page takes you back to `/conference`. Because of this, it is difficult to navigate back to the main Scratch website without needing to manually edit the address in your browser. This may make sense when we have a larger set of resources / pages available for conference, but for now it is quite confusing / frustrating. This li

[2017-11-21 22:22] chrisgarrity commented on #1238
@GreenBayRules yes, this looks like it's still an issue.

[2017-11-22 00:48] GreenBayRules commented on #1238
Okay, I'll get t o work on it right now :D

[2017-11-22 00:49] GreenBayRules commented on #1680
I got this :D

[2017-11-22 00:52] GreenBayRules commented on #1680
PR available at #1681

[2017-11-22 00:54] GreenBayRules opened #1682 "Maybe add a colon to Conference page"
![image](https://user-images.githubusercontent.com/11379161/33104383-97d3988a-cedc-11e7-9820-ec0b5aa5d68c.png)
Might look better as:
![image](https://user-images.githubusercontent.com/11379161/33104390-a4aebc2e-cedc-11e7-98b8-0d996c9e3923.png)

[2017-11-22 01:16] thisandagain commented on #1682
I think we are ok with this as-is for now. Thanks for the suggestion!

[2017-11-22 01:16] #1682 closed

[2017-11-22 01:18] #1680 closed

[2017-11-22 01:19] GreenBayRules commented on #1238
PR: #1683 :D

[2017-11-22 01:52] redmangospros commented on #1682
+1 With This, Looks Good.

[2017-11-22 20:21] TheGrits commented on #1643
@jwzimmer What would be the preferred behaviour? Should the form width fit the longest string from the beginning or should it change the width based on the currently displayed string?

[2017-11-22 23:45] jwzimmer commented on #1643
@TheGrits I would think if there's enough real estate, then fitting the longest string would be better than having it change size, but let's see what @carljbowman thinks it should look like. Thanks!

[2017-11-25 13:41] DeleteThisAcount commented on #1381
offtopic question, @cwillisf why is the navbar orange?

[2017-11-25 14:19] VutonDesign commented on #1381
I think it’s because it’s a testing/development version they’re using.

[2017-11-26 18:41] jwzimmer opened #1685 "Element not clickable at point (x, y) - Error when running integration tests"
@rschamp reported this error when running the tests on his machine. I think it has to do with the version of some dependency (chromedriver? selenium-webdriver?).

Chromedriver seems to have a complex history with clicking (they have a [section](https://sites.google.com/a/chromium.org/chromedriver/help/clicking-issues) about it on their site, so presumably it's caused lots of confusion), and when I

[2017-11-27 14:08] chrisgarrity commented on #1381
@DeleteThisAcount eThisAcount as @VutonDesign said - our testing environment has an orange navbar so we can easily see if we're on the staging server or the live site.

[2017-11-27 14:55] mewtaylor opened #1686 "Use eslint-scratch-config and es6 syntax in www"
Update this repo to follow the es6 style guides set up in `eslint-config-scratch` and implemented in our other repos, such as `scratch-gui`.

[2017-11-27 14:57] mewtaylor opened #1687 "Migrate `require` syntax to `import` syntax"
Related to #1686, we would like to update the syntax to `import` once we have migrated over to es6 syntax elsewhere.

[2017-11-27 14:58] mewtaylor opened #1688 "Migrate `scss` files to `css` files using `css-loader`"
Related to #1686 and #1687, this will align ourselves stylistically with our other es6 repos, such as `scratch-gui`

[2017-11-27 16:07] chrisgarrity commented on #1238
@GreenBayRules description is updated to reflect how we've decided to deal with unicode quotes

[2017-11-27 16:30] chrisgarrity commented on #1677
@mewtaylor updated wiki section: https://github.com/LLK/scratch-www/wiki/Localization-Guide#removing-formattedhtmlmessage

[2017-11-27 20:15] as-com opened #1691 "Upgrade to Webpack 3"
#1684

Webpack 2 introduced native support for ES6 modules with tree shaking, and Webpack 3 introduces support for module concatenation (scope hoisting). This could help with performance on the client side.

Also, it's a whole lot faster than Webpack 1 in build times.

This should be tagged "ergonomics."

[2017-11-27 22:00] as-com opened #1694 "Upgrade to React 16"
[React 16](https://reactjs.org/blog/2017/09/26/react-v16.0.html) has a bunch of new features, improved performance (Fiber), and a smaller bundle size. We should consider upgrading; it might be as simple as bumping the dependency version.

[2017-11-28 09:36] Kenny2github opened #1695 "Migrate /research page"
The page at https://scratch.mit.edu/info/research shows the old header, indicating that it's in `scratchr2`. When (if at all) should it be migrated?

(if this becomes `help-wanted` I'll give it a shot)

If an issue for this has already been opened, I apologize - a quick search didn't show anything relevant.

[2017-11-28 12:42] thisandagain commented on #1695
Thanks! Please use the template from https://scratch.mit.edu/terms_of_use

[2017-11-28 12:42] thisandagain commented on #1695
/cc @ntlrsk

[2017-11-28 14:11] dietbacon opened #1696 "Stock answers to be added"
Some new stock answers we can use.

Project censor menu:

Title: Self harm
Body: We noticed you referenced self-injury in this project. When anything is shared regarding self-injury, we provide resources outside of Scratch that may be valuable. We do this because we don't believe that Scratch is the best place to work out self-injury related issues. If you are feeling intense emotions and need to

[2017-11-28 14:12] ntlrsk commented on #1695
Thanks for noticing this and offering @Kenny2github !
@ascii Wondering if it makes sense for me to update the page text before migrating to scratch-www
If so, I'll take off 'help wanted' for now. Otherwise will ask for help editing after migration.

[2017-11-28 14:20] thisandagain commented on #1695
@ntlrsk Either way works for me. It should be very easy to update the text after it is migrated. Otherwise if you wanted to drop the updated text into this issue that would be great too. If so, please feel free to drop the "help wanted".

[2017-11-28 14:23] thisandagain commented on #1696
Moved to LLK/scratchr2#4900

[2017-11-28 14:23] #1696 closed

[2017-11-28 16:44] GreenBayRules commented on #1238
Okay thanks, I'll submit a pr in a wihile.

[2017-11-28 16:49] GreenBayRules opened #1697 "Migrate /contact-us/page"
Pretty much the same thing as kenny's issue, except with /contact-us/ I'd love to try this if the help-wanted tag comes.

[2017-11-28 16:56] mewtaylor commented on #1697
@GreenBayRules we actually have an issue already set up for this, #308 (it's been backlogged for a while so it's hard to find). It will likely need to be done by a Scratch Team member though, since it is not a static migration (i.e. involves some work on the backend with api too).

[2017-11-28 16:56] #1697 closed

[2017-11-29 12:54] Kenny2github commented on #1695
@ntlrsk No rush, I'll wait until you (and @thisandagain) come to a decision. I'll start work once a plan of action is clear 😄

[2017-11-29 18:08] ChampikaF opened #1700 "Update Scratch About Page - Credits"
Page: https://scratch.mit.edu/about/
Section: "Support and Funding"

Request:
Update list to include Siegel Family Endowment

Current copy:
The Scratch project has received financial support from the National Science Foundation, Scratch Foundation, Google, LEGO Foundation, Intel, Cartoon Network, Lemann Foundation, and MacArthur Foundation.

New copy:
The Scratch project has received financial sup

[2017-11-29 18:18] VutonDesign commented on #1700
@ChampikaF I'll take this, but I have one question:

Should I keep this part? - ```See the <a href=\"/info/credits\">credits page</a> for more information. If you&#39;d like to support Scratch, please see the Scratch Foundation <a href=\"https://secure.donationpay.org/scratchfoundation/\">donate page</a>, or contact us at <a href=\"mailto:donate@scratch.mit.edu\">donate@scratch.mit.edu</a>.```

[2017-11-29 18:24] ChampikaF commented on #1700
@VutonDesign  Thanks! Yes please keep that part.

[2017-11-29 18:25] VutonDesign commented on #1700
@ChampikaF Thanks, Just deleted my message a few seconds before as I had read the issue wrong. 😆

[2017-11-29 20:17] me-win opened #1702 "Scratch Conference site - small edits"
Hi, we're requesting a few small changes to the Scratch Conference site (scratch.mit.edu/conference):

- Replace the header photo on the page with the one attached (cropped to show the four individuals at the top of the photo). ![_dsc4245](https://user-images.githubusercontent.com/33295461/33396975-27196358-d518-11e7-8236-1b7e73b0d914.jpg)
- Add a colon after Scratch Conference 2018 (It should rea

[2017-11-29 20:59] ntlrsk opened #1703 ""Junior Designer" link on jobs page goes to 404"
On https://scratch.mit.edu/jobs "Junior Designer" link currently results in 404.

[2017-11-29 21:05] thisandagain commented on #1703
Should be changed to "Designer" and link to:
https://www.media.mit.edu/about/job-opportunities/web-designer-scratch/

[2017-11-29 21:05] thisandagain commented on #1703
/cc @carljbowman

[2017-11-29 22:13] VutonDesign commented on #1703
I'll take this 👍

[2017-11-29 22:26] redmangospros commented on #1702
The Colon : Has Been Deind And Been Asked by @GreenBayRules  And Was Denined By @thisandagain

[2017-11-29 22:28] thisandagain commented on #1702
Thanks @me-win !

[2017-11-29 22:28] redmangospros commented on #1702
What DO you Need Help on?

[2017-11-29 22:29] VutonDesign commented on #1702
@redmangospros Fixing the things stated in the first post.

[2017-11-29 22:29] thisandagain commented on #1702
Adding `help wanted` label to this for all four items.

[2017-11-29 22:30] redmangospros commented on #1702
Where Is The Source Code For Confrence?

[2017-11-29 22:32] VutonDesign commented on #1702
The code for the 2018 conference page is at https://github.com/LLK/scratch-www/tree/develop/src/views/conference/2018/index

[2017-11-29 22:34] redmangospros commented on #1702
I Can Do The SemliColon :

[2017-11-29 22:35] redmangospros commented on #1702
Is It Right? #1705

[2017-11-29 22:47] VutonDesign commented on #1702
It’s right, however your meant to try and make all of the requested changes and not just pick one or two of the easy ones.

[2017-11-29 22:52] redmangospros commented on #1702
Well, I Did One, So anway.
Where It The COde For the img?

[2017-11-30 04:30] GreenBayRules commented on #1702
I'll go ahead and do this..

[2017-11-30 06:21] GreenBayRules commented on #1702
I can't find the location of the header image...

[2017-11-30 14:20] chrisgarrity commented on #1702
@GreenBayRules the header image is defined in the css as a background image: https://github.com/LLK/scratch-www/blob/bfff01f0246288ccad195a551d39cb4d37ed5222/src/views/conference/2018/index/index.scss#L11
You'll need to add the image to the static images for the [conference/index](https://github.com/LLK/scratch-www/tree/develop/static/images/conference/index)  probably by adding a 2018 directory.

[2017-11-30 15:12] chrisgarrity commented on #1700
Confirmed with @ChampikaF to change the copy to:
The Scratch project has received financial support from the following organizations: National Science Foundation, Scratch Foundation, Siegel Family Endowment, Google, LEGO Foundation, Intel, Cartoon Network, Lemann Foundation, MacArthur Foundation.

This makes translation easier. The string to translate can have a placeholder for the list, and the l

[2017-11-30 16:05] #1703 closed

[2017-11-30 16:55] mewtaylor commented on #1677
@chrisgarrity looks awesome thanks!

[2017-11-30 16:55] #1677 closed

[2017-12-01 14:31] carljbowman opened #1711 "Scratch 3.0 Preview FAQ Page"
## Overview
We will need a static page that has FAQ content addressing the Scratch 3.0 preview. Most likely we will use our [FAQ page template](https://scratch.mit.edu/info/faq), so there is no real design work.

## Content
https://docs.google.com/document/d/1DL9rY8tCUCYvKpfmd9xRSpwzFjuvEzW3TuxkpIHZKWU/edit?usp=sharing

## URL
`scratch.mit.edu/preview-faq`

We will use this URL as a pointer in the

[2017-12-03 05:41] GreenBayRules commented on #1702
Okay thanks chrisgarrity

[2017-12-05 01:45] nbkhope commented on #1691
Will it suffice to update the webpack config file and the package.json? If so, I would like to help out.

[2017-12-05 14:26] chrisgarrity commented on #1657
@ntlrsk yes, these are redirecting to the main cards page so people can get to translations. The problem is that these shortcuts are in the legacy system currently and are redirecting to the legacy cards page.

[2017-12-05 14:33] chrisgarrity commented on #1657
Correction: the redirect is to the new (www) cards page, but the shortcuts are defined in the legacy system.

[2017-12-06 02:41] GreenBayRules opened #1726 "Feature: Add hover effect to button"
![image](https://user-images.githubusercontent.com/11379161/33641768-c7f535fe-d9eb-11e7-9c26-18a4b8ea3b0c.png)
I think it would be a nice feature if you guys added a hover effect to the buttons in the Animate your  name popup on the front page

[2017-12-07 15:50] kchadha opened #1728 "Credits: Add New ST member"
Please add [my account](https://scratch.mit.edu/users/kittyloaf/) as a new ST member.

[2017-12-07 15:59] vutondesign commented on #1728
Is this help wanted?

[2017-12-07 16:01] vutondesign commented on #1728
Perfect, I'll get to this right now. 👍

[2017-12-07 16:07] vutondesign commented on #1728
@thisandagain @kchadha What name will I use?

[2017-12-07 17:01] kchadha commented on #1728
Karishma Chadha. Thanks!

[2017-12-07 17:14] vutondesign commented on #1728
No problem, this should be fixed in #1728.

[2017-12-07 18:02] #1728 closed

[2017-12-09 08:35] Kenny2github commented on #1695
Friendly ping! I know this is in backlog but I just want to quickly confirm whether there is an ETA on a plan of action for this. :D

[2017-12-11 20:15] vutondesign opened #1733 "Spelling mistake in issue template"
The new PR and issue templates look great, but it seems that the word "explicit" is spelt as "eplicit" in the issue template.

### Steps to Reproduce
Look at this section of the template.

### Operating System and Browser
Windows 8, Chrome 62.0.3202.94 (although that's not really necessary)

[2017-12-11 20:16] #1700 closed

[2017-12-11 20:45] #1733 closed

[2017-12-11 23:53] GreenBayRules opened #1736 "Enhancements to the pull requests templates (periods, colons, etc.)"
_Describe the problem. Please make sure you can reproduce the bug. It's also
helpful to include screenshots or animated gifs of the problem._
Current:
[code]

What I think would be better:
[code]

If this is marked help-wanted I can do it.

### Steps to Reproduce

NA

### Operating System and Browser

NA

[2017-12-12 00:30] GreenBayRules commented on #1726
@thisandagain @chrisgarrity What do you guys think?

[2017-12-12 15:27] #1702 closed

[2017-12-12 20:18] chrisgarrity commented on #1726
The popup on the front page is just for CS Ed week (also known as Hour of Code). Those featured banners will be coming down at the end of this week, so it's not worth it right now.

[2017-12-12 20:18] #1726 closed

[2017-12-12 20:27] chrisgarrity commented on #1736
@GreenBayRules I like the suggestion with a small update:
change
` Please do not submit PRs that only partially implement an issue.`
to
`Please do not submit PRs that are not associated with a Github issue, or that only partially implement an issue.`

[2017-12-12 21:21] GreenBayRules commented on #1736
Okay I'll do this :D

[2017-12-13 13:08] thisandagain commented on #1695
@Kenny2github Go ahead and migrate. We can update the text after it is moved over to this repo. Thanks! 😄

/cc @ntlrsk

[2017-12-14 14:20] #1736 closed

[2017-12-16 05:29] Kenny2github opened #1742 "Full screen blurs sprites"
### Expected behavior
Full screen should show sprites with the same sharpness (especially vector sprites like the Scratch Cat).

### Actual behavior
If you look closely, in full screen the Scratch Cat is blurred.

### Steps to Reproduce

1. Open https://llk.github.io/scratch-gui/develop (since full screen hasn't been pushed into master yet)
2. Look at the Scratch Cat
3. Go into full screen
4. Look

[2017-12-16 10:59] vutondesign commented on #1742
I'm guessing you meant to open this in scratch-gui instead of here.

Anyway, It's a duplicate of LLK/scratch-gui#1041 which is being tracked in LLK/scratch-render#24.

[2017-12-16 14:49] Kenny2github commented on #1742
WHOOP, yeah, I meant to open it in scratch-gui. Thanks for finding the dupe!

[2017-12-16 14:49] #1742 closed

[2017-12-16 15:38] vutondesign commented on #1643
Strangely enough, I've just fired up Internet Explorer 11 (Windows 8.1) and I don't seem to have the same problem...

![2](https://user-images.githubusercontent.com/26391179/34071974-230c2eaa-e277-11e7-89c4-847e4dd2954c.JPG)

[2017-12-16 15:47] GreenBayRules commented on #1643
@vutondesign Only pops up like that with comment activity:
![image](https://user-images.githubusercontent.com/11379161/34072053-6093699c-e235-11e7-8156-59ae194c5890.png)

[2017-12-16 15:48] GreenBayRules commented on #1711
Could this by any chance become help-wanted after the content has been decided?

[2017-12-16 15:50] thisandagain commented on #1711
@GreenBayRules Perhaps! We've got a lot of writing to do first, but I'll let you know once we get further on the content. 😄

[2017-12-16 15:52] vutondesign commented on #1643
Oops, misread the first message 😆

[2017-12-18 17:45] rschamp opened #1745 "Can we remove the `group` in .travis.yml yet?"
In #1743, there was trouble building because of a new Travis image. Maybe this is not needed anymore, try it out.

Blog post: https://blog.travis-ci.com/2017-12-12-new-trusty-images-q4-launch

[2017-12-18 19:59] mewtaylor commented on #1628
Implemented in #1670

[2017-12-18 19:59] #1628 closed

[2017-12-19 01:23] redmangospros commented on #1711
Let Me Know too

[2017-12-20 18:22] me-win opened #1746 "Scratch Conference Website - 2 text changes"
We need a couple of edits made to the text on the Scratch Conference website (scratch.mit.edu/conference).

1) At the end of the second paragraph ("peer-to-peer discussion and collaboration."), please add the following sentence:

"The conference is intended primarily for adults who support young people learning Scratch."

2) Below the When and Where in the top portion, please add the following sen

[2017-12-20 21:56] redmangospros commented on #1746
I got this! 👍

[2017-12-20 21:57] redmangospros commented on #1746
where is the source code?

[2017-12-20 22:08] thisandagain commented on #1746
@redmangospros https://github.com/LLK/scratch-www/tree/develop/src/views/conference/2018/index

[2017-12-20 22:19] redmangospros commented on #1746
What do i add inhttps://github.com/LLK/scratch-www/blob/develop/src/views/conference/2018/index/l10n.json to add

- "The conference is intended primarily for adults who support young people learning Scratch."
and
- "Registration opens March 1, 2018."

[2017-12-20 23:20] GreenBayRules commented on #1746
In case redmango can't do it, I'll take it ;)

[2017-12-20 23:25] redmangospros commented on #1746
Nice To Know. Can AYone answer me

[2017-12-21 00:00] thisandagain commented on #1746
@redmangospros

For the first item you want to add `The conference is intended primarily for adults who support young people learning Scratch.` to the end of this line:
https://github.com/LLK/scratch-www/blob/develop/src/views/conference/2018/index/l10n.json#L13

For the second item you will need to add a new section to the JSX file and a new corresponding section to the `l10n` file with the `Regi

[2017-12-21 00:01] redmangospros commented on #1746
yeah i know, like in some places it says, date, what name will i keep

[2017-12-21 16:11] thisandagain commented on #1687
This will make `www` inconsistent with the rest of Scratch (3.0, API, etc.). I think I would prefer to hold off on this specific change but move forward with the rest of the ES6 / Node 6+ conversion.

[2017-12-21 23:43] amazinigmech2418 opened #1747 "Idea to improve extension policy"
People have been very upset about the policy. I have some code in my fork of this that can improve the policy by blocking advertising only for dangerous extensions.

### Steps to Reproduce

The policy is always running. To test the extension, use the console to temporarily add the forked version to the site.

### Operating System and Browser

This isn't needed for this issue.

[2017-12-21 23:45] redmangospros commented on #1746
i need help with the jsx file

[2017-12-21 23:50] redmangospros commented on #1747
:D

[2017-12-22 06:03] GreenBayRules commented on #1746
I made it, but I still need to test it, I'll submit a PR soon.

[2017-12-22 16:59] GreenBayRules commented on #1747
@mewtaylor Maybe add the needs-discussion tag?

[2017-12-22 17:14] amazinigmech2418 commented on #1747
The code in my fork is now updated! It now fits all requirements by the bot named Travis!

[2017-12-22 17:27] mewtaylor commented on #1747
@amazinigmech2418 thank you for the suggestion. However, we cannot explore adding something like this to the site.

The [original announcement](https://scratch.mit.edu/discuss/topic/284272/?page=1#post-2907564) on the extension advertisement policy still applies here – the risks still outweigh the benefits. Only looking for "dangerous" extensions in advertisements still allows for advertising of n

[2017-12-22 17:27] #1747 closed

[2017-12-22 17:43] amazinigmech2418 commented on #1747
@mewtaylor This automatically updates the code so dangerous extensions can be blocked even if they were safe before. Also, new extensions could just be added via api pages that it then uses to read the data into the arrays. It could be a new moderator tool.  Changes to extensions will automatically be read by the blocker.

[2017-12-23 14:06] ChampikaF commented on #1711
@carljbowman @thisandagain regarding the url - I like the idea of it living at scratch.mit.edu/info/faq-preview but could we also have a redirect from <preview url>/faq ?

[2017-12-23 14:15] thisandagain commented on #1711
We already have a (general) FAQ so I'd prefer to not use that URL pattern
for this.
On Sat, Dec 23, 2017 at 9:06 AM ChampikaF <notifications@github.com> wrote:

[2017-12-23 14:21] ChampikaF commented on #1711
oops github didn't parse that correctly... what i was proposing was (preview-url)/faq

[2017-12-23 14:46] thisandagain commented on #1711
Oh! Of course. No problem. :-)
On Sat, Dec 23, 2017 at 9:21 AM ChampikaF <notifications@github.com> wrote:

[2017-12-24 02:03] mewtaylor commented on #1747
@amazinigmech2418 Thanks for clarifying your proposal! The idea is interesting – however, we still are not going to be exploring it as an alternative to the policy. As you alluded to, the proposal still requires manual moderation and monitoring even with this type of automation. Consequently, having the policy we do is still important because it sets expectations moving forward for the community,

[2017-12-24 03:05] amazinigmech2418 commented on #1747
Thank you for responding. I actually just came up with an even better idea! Scratch scripts! They would be like userscripts, but would be checked for malicious code by scratch. There could be many Scratch scripts to replace the safe extensions. They would also have less control over the browser too and would only be able to post API, run some JavaScript, and run Scratch extensions. They would also

[2017-12-24 03:07] redmangospros commented on #1747
Cool

[2017-12-26 19:58] amazinigmech2418 commented on #1747
@redmangospros Thank you! It will basically be code attachments to Scratch that will be able to improve website experience.

[2017-12-28 13:29] joker314 commented on #1618
As long as the images are loaded on the fly, so you only load what you need. Maybe hovering over @mentions will display the person's profile picture, and some basic information (such as About Me)?

A related suggestion I have is that in forums, an [embed of the project](https://scratch.mit.edu/discuss/post/2254593/) is provided entirely. In comments, to save space, this shouldn't happen.

[2017-12-29 18:16] kyleplo commented on #1661
Well, we won't have to worry about this in Scratch 3.0.

[2017-12-29 18:18] kyleplo commented on #1622
Yeah, I like that idea. Also, maybe you could filter by user in search:
`cats author:kyleplo` would return cat projects by @kyleplo

[2017-12-29 18:21] kyleplo commented on #1613
That button doesn't even have any event listeners!

[2017-12-29 18:26] vutondesign commented on #1622
@kyleplo So, Similar to the Github issue and PR search feature?

[2017-12-29 18:40] kyleplo opened #1750 "Feature: Use colons to filter searches"
Like Github, Scratch should use colons to filter searches. They would be:
| -        | Description                                          | Example               | Result                          | Default     |
|----------|------------------------------------------------------|-----------------------|---------------------------------|-------------|
| `author` | Who made it

[2017-12-30 15:55] trafort commented on #1750
Scratch Kinda Already has this.

[2017-12-30 15:56] trafort commented on #1745
I think that would be good. All though, I am not a @LLK member, I still Think you should change i, because of the new stylings and code of travis Ci.

[2017-12-31 12:39] kyleplo commented on #1622
@vutondesign Yes, see #1750

[2017-12-31 14:29] amazinigmech2418 commented on #1622
This would be amazing! Now I won't have to do ctrl. + f for an hour to sort through my over 600 projects!

[2017-12-31 14:37] amazinigmech2418 commented on #1613
`if (e.source != this.emailConfirmationiFrame.contentWindow) return;` should be `if (e.source != this.emailConfirmationiFrame.contentWindow) {/*some code*/}`. It never is able to read the code because there is a code error.

[2017-12-31 14:38] amazinigmech2418 commented on #1613
@colbygk Can you please check the JS console for errors?

[2017-12-31 14:40] amazinigmech2418 commented on #1661
The strange thing is that it works on the embed website, but not in the iframe. It seems like the iframe is blocking the allowing of flash.

[2018-01-03 14:22] chrisgarrity opened #1751 "Add Abkhaz to the languages menu"
For some reason Abkhaz is in the scratchr2 pages, but not on www. It's mostly translated, and I was contacted by one of the translators to ask why.

[2018-01-03 20:51] vutondesign opened #1752 "Full stop is part of the email link on the developer's page"
An answer to an FAQ on the developer's page has one of the scratch contact emails, however, the link to it seems to include the full stop instead of that being normal text.

![2](https://user-images.githubusercontent.com/26391179/34539224-954247a8-f0c7-11e7-857d-695d701f4de6.png)
![untitled](https://user-images.githubusercontent.com/26391179/34539229-97bdfc70-f0c7-11e7-8a48-f917505c365f.png)

###

[2018-01-03 21:55] rschamp opened #1753 "Junior Designer job posting should be updated"
Clicking "Junior Designer" on https://scratch.mit.edu/jobs leads to a 404 at https://www.media.mit.edu/about/job-opportunities/junior-web-designer-scratch/

It should be updated to read simply "Designer" and lead to this URL https://www.media.mit.edu/about/job-opportunities/web-designer-scratch/

/cc @thisandagain

[2018-01-03 21:55] redmangospros commented on #1753
I got this!

[2018-01-03 22:02] rschamp commented on #1753
Oops sorry about this, this is already fixed on the develop branch. We just need to deploy it to the site.

[2018-01-03 22:02] #1753 closed

[2018-01-03 22:03] amazinigmech2418 commented on #1753
OK.

[2018-01-03 22:03] redmangospros commented on #1753
Ok

[2018-01-03 22:03] redmangospros commented on #1753
ok

[2018-01-03 22:25] amazinigmech2418 opened #1755 "Idea for Scratch Scripts (will need discussion)"
It's kind of tedious to make a scratch extension have to reload every time a project loads. Also, people have made other Scratch add-ons that can't be done anymore other than through bookmarklets which are tedious to run. I have the code in my fork (replaced extensionblocker with it).

### Steps to Reproduce

It always is tedious to do those things

### Operating System and Browser

Windows 10 wit

[2018-01-03 22:26] redmangospros commented on #1755
Please explain more @amazinigmech2418

[2018-01-03 22:26] amazinigmech2418 commented on #1755
@mewtaylor @Kenny2github @thisandagain Can you please view this to see if it would work?

[2018-01-03 22:28] amazinigmech2418 commented on #1755
@redmangospros See my fork. It has the code. It is basically a mini version of browser extensions, but they are safe and only run on Scratch. It won't break the policy either since you have to upload the extension to Scratch and it has to get checked before it can be used.

[2018-01-03 22:31] redmangospros commented on #1755
:D

[2018-01-04 04:39] amazinigmech2418 opened #1756 "Idea to improve gh productivity"
You could make a bot that detects issues that are unread or have certain tags and organize issues and PRs in a way that will make it easier to find issues to respond to and will allow for faster development of Scratch! You can use the code from Mountio GHStatus.

[2018-01-04 13:32] mewtaylor commented on #1564
@asanari are you still experiencing this issue at all? I was just able to re-build on `develop` with node 8, which should have been fixed in #1671

[2018-01-04 14:12] thisandagain commented on #1756
We use a few bots plus a tool called [CodeTree](https://codetree.com) to help with organizing issues.

[2018-01-04 14:12] #1756 closed

[2018-01-04 14:14] thisandagain commented on #1755
Hi @amazinigmech2418 we would need more information to thoroughly respond to this. At the time we do not have an intention of revising our extension policy. We will reevalutate after the release of Scratch 3.0.

[2018-01-04 14:14] #1755 closed

[2018-01-04 14:15] thisandagain commented on #1752
@vutondesign Weird. Good catch! 😄

[2018-01-04 14:46] kyleplo commented on #1622
@amazinigmech2418 You have 600 projects?

[2018-01-04 16:44] Kenny2github commented on #1752
In case it's not obvious, I've taken this.

[2018-01-04 17:12] rschamp opened #1758 "How should we manage what goes into the common chunk?"
Via https://github.com/LLK/scratch-www/pull/1693

Summary for the simple heuristic based on percentage use by entry point

Pros
- Set-and-forget
- Accurate aggregation based on percentage of use across entry points

Cons
- Not explicit
- Percentage of use by entry points is not the same as percentage of requests
- More likely to change between deploys, leading to less benefit from browser caching

[2018-01-04 23:10] amazinigmech2418 commented on #1622
Yeah. over 200 are unshared.

[2018-01-04 23:11] amazinigmech2418 commented on #1752
Wow! You're very observant @vutondesign .

[2018-01-04 23:13] amazinigmech2418 commented on #1755
@thisandagain OK. My idea isn't to revise the policy, but to allow people to code things for Scratch that will always run including Scratch extensions to increase the number of possible blocks.

[2018-01-04 23:14] amazinigmech2418 commented on #1756
OK.

[2018-01-05 02:16] redmangospros commented on #1756
@amazinigmech2418
I won't say That GHstaus that WE made together, Is A Bot

[2018-01-05 03:51] amazinigmech2418 commented on #1661
@Kenny2github I think the problem is that maybe, the files needed to load shockwave don't load correctly. Can you please give me the code for embedding projects so I could help?

[2018-01-05 03:56] amazinigmech2418 commented on #1661
The meta tag blocks iframe embeds. https://github.com/LLK/scratch-www/commit/f569d02e928d50d414bc3fe55b9fa7aedb8edfdf is the commit. @Kenny2github

[2018-01-05 04:00] amazinigmech2418 commented on #27
@thisandagain @rschamp @2jour I don't see the security issue in this. Embeds have been used for a long time now and this takes away the possibility.

[2018-01-05 04:06] amazinigmech2418 commented on #1661
https://github.com/LLK/scratch-www/issues/862 says that was fixed.

[2018-01-05 04:17] amazinigmech2418 commented on #1661
`  <script src="/js/<%= htmlWebpackPlugin.options.route.name %>.intl.js"></script>
    ` may have something to do with it since the /js directory doesn't exist based on this repo.

[2018-01-05 04:18] amazinigmech2418 commented on #1661
@colbygk Why would a source have a file protocol? It may have something to do with the code I found.

[2018-01-05 04:21] amazinigmech2418 commented on #1661
Wait. Never mind. The protocol was what was used to run the iframe. It used to work on everything though.

[2018-01-05 11:04] vutondesign commented on #1752
@amazinigmech2418 I seem to just stumble across this type of bug randomly. 😆

[2018-01-05 13:45] thisandagain commented on #27
We block iframes to protect against click-jacking (which was an actual issue that we saw a proof of concept exploit for) as well as to protect ourselves against sites that were embedding Scratch projects (mainly games) in iframes and surrounding them with ads / adware.

[2018-01-05 13:45] #27 closed

[2018-01-05 21:01] amazinigmech2418 commented on #1756
We? I made all of the code. You just gave me the link to find API pages.

[2018-01-05 21:04] amazinigmech2418 commented on #27
OK @thisandagain . Also, the embed code in projects uses iframes. That needs to be fixed or otherwise, projects won't be able to load in websites with the code embedded.

[2018-01-05 21:36] redmangospros commented on #1756
@amazinigmech2418

[2018-01-05 22:03] amazinigmech2418 commented on #1711
Can I please be notified when the content is decided? I really want to help.

[2018-01-05 22:19] thisandagain commented on #1711
@amazinigmech2418 We are going to handle this ourselves. Thanks for the offer.

[2018-01-05 22:22] redmangospros opened #1760 "Scratch.30"
When Is SCratch 3.0 Beta coming out?

[2018-01-05 22:23] thisandagain commented on #1760
We are planning on releasing the "Preview Version" this month.

[2018-01-05 22:23] #1760 closed

[2018-01-05 22:28] redmangospros commented on #1760
Do you have to be a scratch user?

[2018-01-05 22:31] amazinigmech2418 commented on #1760
@redmangospros There already is a preview for 3.0 at llk.github.io/scratch-gui/, but I'm guessing for the preview version, you won't have to be a user and it will probably be a downloadable version.

[2018-01-06 03:30] amazinigmech2418 commented on #1711
You're welcome! I know you said only you and the rest of the ST are doing it, but if you ever need an easier way to update the page, I have a way to make easy API readers for the page...

[2018-01-08 15:49] thisandagain commented on #1711
@mewtaylor First draft is ready to go!
https://docs.google.com/document/d/1DL9rY8tCUCYvKpfmd9xRSpwzFjuvEzW3TuxkpIHZKWU/edit?usp=sharing

(updated original issue description)

[2018-01-08 16:03] vutondesign commented on #1711
@thisandagain Looks Great! However, there seems to be an unfinished section about ScratchX:

![untitled](https://user-images.githubusercontent.com/26391179/34679276-65563d96-f48d-11e7-83a6-fdb6e95f2957.png)

[2018-01-08 16:05] thisandagain commented on #1711
@vutondesign Whoops! Good catch. Fixed. 😄

[2018-01-08 16:29] towerofnix commented on #1711
This should be removed; the top category [no longer exists](https://github.com/LLK/scratch-gui/issues/813).

[2018-01-08 16:55] thisandagain commented on #1711
@towerofnix Another good set of catches! Also fixed! Can you tell I started this document a while ago? 😜

[2018-01-08 18:13] GreenBayRules commented on #1711
![image](https://user-images.githubusercontent.com/11379161/34685203-79cc5d54-f45c-11e7-9f10-63dd041ff448.png)
Will the Scratch 1.4 editor still be available to download?

[2018-01-08 19:27] towerofnix commented on #1711
@GreenBayRules Yes:

!["The 1.4 and 2.0 versions of the Scratch Offline Editor will continue to be available."](https://user-images.githubusercontent.com/9948030/34688400-604f0c38-f488-11e7-9bcd-58c6caf832c4.png)

[2018-01-08 19:30] thisandagain commented on #1711
@GreenBayRules Thanks for the question. I just added some clarity to those lines.

[2018-01-09 00:00] amazinigmech2418 commented on #1711
It says you can't save or share, but you can save using a downloadable JSON format.

[2018-01-09 00:05] amazinigmech2418 commented on #1711
Also, will how will someone be able to test extensions? Developers won't know if it will work if they can't test it.

[2018-01-09 18:20] mewtaylor commented on #1711
Done in #1761

[2018-01-09 18:20] #1711 closed

[2018-01-11 03:40] towerofnix commented on #1711
Small typo: "I’ve created books, online materials, starter projects based on Scratch 2.0 will I need to update them?" is missing a period (after "2.0"). Should be "..starter projects based on Scratch 2.0. Will I need to update them?"

[2018-01-11 13:33] mewtaylor commented on #1564
@asanari I'm going to close this for now since I haven't heard back from you – please feel free to re-open if you are still experiencing any trouble now that we've updated our compatibility with node 8!

[2018-01-11 13:33] #1564 closed

[2018-01-11 13:37] mewtaylor commented on #1746
Implemented in #1748

[2018-01-11 13:37] #1746 closed

[2018-01-12 05:41] Kenny2github commented on #1512
Closing as this seems to be resolved now.

[2018-01-12 05:41] #1512 closed

[2018-01-12 05:42] Kenny2github commented on #1752
@thisandagain perhaps add the "has-patch" label? ;)

[2018-01-12 16:15] chrisgarrity opened #1764 "Reduce string duplication in teacher registration"
The string `Your information will not be displayed publicly, and will be kept confidential and secure` shows up twice in the l10n file, with and without a period at the end.

This causes extra work for translators, and the possibility of inconsistency if it's translated by different people. We should probably replace the two messages `teacherRegistration.orgStepDescription` and `teacherRegistratio

[2018-01-12 21:41] me-win opened #1765 "Updates to Scratch Day site"
We need to update the Scratch Day site to go back to the 5-month phase seen here: https://day.scratch.mit.edu/home/2017/march/ (this phase removes the Moments Around the World Twitter module and replaces with the video module)

* The design of the site will remain the same as the link above, but there are text changes, which can be found here: https://docs.google.com/document/d/1kQ8NfCZaBrltUxe2Qj

[2018-01-12 21:50] redmangospros commented on #1765
I got this!

[2018-01-12 23:48] GreenBayRules commented on #1765
I can do this if it is help-wanted

[2018-01-12 23:54] redmangospros commented on #1765
I already said i got this

[2018-01-13 16:22] chrisgarrity commented on #1765
@redmangospros @GreenBayRules sorry - this is all in a private repo, so it has to be done by a ST member. @me-win I'll move this issue to the scratchday repo :)

[2018-01-13 16:24] chrisgarrity commented on #1765
Moved to LLK/scratchday#287

[2018-01-13 16:24] #1765 closed

[2018-01-13 17:05] #1752 closed

[2018-01-13 18:27] redmangospros commented on #1764
Is this help-wanted?

[2018-01-15 11:24] LiFaytheGoblin commented on #1751
@chrisgarrity Does this just need to be added to the actual menu in the footer or is there any other stuff that needs to be done?

[2018-01-15 11:29] LiFaytheGoblin commented on #1642
@chrisgarrity Basically same question as in the other issue: Does Malay only have to be added to the language menu or is there something else to do?

[2018-01-16 13:58] chrisgarrity commented on #1642
@LiFaytheGoblin it looks like this was already taken care of (Bahasa Melayu is already in the language menus). So I'm closing the issues.

[2018-01-16 13:58] #1642 closed

[2018-01-16 14:02] chrisgarrity commented on #1751
@LiFaytheGoblin it should just get added to the menu - it was already added to scratchr2, but somehow the footer on www was missed.

[2018-01-16 15:35] chrisgarrity opened #1766 "Add a test for balanced '(){}[]' in l10n files"
Translators were unable to translate a string because the string was missing a closing `)` in the l10n. Transifex checks translations for balanced parens to make sure the translator hasn't messed up a placeholder, but it doesn't check that the original source is valid. We should ensure we send valid input to Transifex.

[2018-01-17 17:23] ChampikaF opened #1769 "Update Scratch Credits Page"
Request to add SFE (Siegel Family Endowment) to the list of supporting organizations

**Current Text:**
Supporting Organizations
National Science Foundation, Scratch Foundation, Google, LEGO Foundation, Intel, Cartoon Network, Lemann Foundation, MacArthur Foundation.

**New Text:**
Supporting Organizations
National Science Foundation, Scratch Foundation, Siegel Family Endowment, Google, LEGO Found

[2018-01-17 17:27] vutondesign commented on #1769
Was this not fixed in #1714?

[2018-01-17 17:29] redmangospros commented on #1769
i can tk this

[2018-01-17 17:30] ChampikaF commented on #1769
Sorry, this is for https://scratch.mit.edu/info/credits

#1714 was for https://scratch.mit.edu/about

[2018-01-17 17:35] redmangospros commented on #1769
hi

[2018-01-17 18:53] thisandagain commented on #1769
@redmangospros Please only take this if you can implement, fully test this locally, and submit a PR that includes a screenshot. Can you confirm that you can do this?

[2018-01-17 21:01] redmangospros commented on #1769
Sure, how do i test though, i forgert

[2018-01-17 21:52] thisandagain commented on #1769
@redmangospros You will need to run the application locally using `npm start` and also run the test suite using `npm test`.

[2018-01-17 22:35] redmangospros commented on #1769
so npm start Pull rquest #

[2018-01-17 22:36] redmangospros commented on #1769
Where is the source code?

[2018-01-17 23:16] St19Galla commented on #1769
@redmangospros Hello! Here is a link to the source code for this particular issue: https://github.com/LLK/scratch-www/blob/900207da2da7e4b1371fa18ac91e28aff087a222/src/views/credits/credits.jsx#L257-L266

For the future, there are a couple tricks you can try to remember to find things by yourself :) For example, there are two things you might be looking for the code for: components, or pages (view

[2018-01-22 13:38] Kenny2github opened #1772 ""About" page is displaying escaped HTML elements in Edible Scratch language"
I think this needs no further explanation:
![image](https://user-images.githubusercontent.com/28599280/35223481-74c95a44-ffbc-11e7-885f-15d1660ff606.png)

### Steps to Reproduce

Navigate to https://scratch.mit.edu/about with interface language set to Edible Scratch.

### Operating System and Browser

Latest Chrome and Windows 10

[2018-01-22 13:42] thisandagain commented on #1772
I can't replicate this @Kenny2github. Can you post a screenshot from an incognito window with all browser extensions disabled?

[2018-01-22 13:49] thisandagain commented on #1772
@Kenny2github Hmm. What happens if you clear your cache?

[2018-01-22 13:49] Kenny2github commented on #1772
Ahhhh! It's an Edible Scratch problem! My default interface language is Edible Scratch and this doesn't happen in English.

[2018-01-22 13:51] thisandagain commented on #1772
Good detective work! Thanks @Kenny2github!

[2018-01-22 13:51] thisandagain commented on #1772
@chrisgarrity Can you look into this?

[2018-01-22 13:51] Kenny2github commented on #1772
Note: The same thing happens with Meow.

[2018-01-22 15:22] chrisgarrity commented on #1772
@Kenny2github this is due to removing `FormattedHTMLMessage` and adding placeholders in the translation string in https://github.com/LLK/scratch-www/pull/1714, and https://github.com/LLK/scratch-www/pull/1757

Meow and Edible Scratch aren't in transifex, so they have to be manually updated. Would you be interested in updating them in the scratchr2_translations repo: https://github.com/LLK/scratchr

[2018-01-22 15:23] chrisgarrity commented on #1772
Tracking in https://github.com/LLK/scratchr2_translations/issues/10

[2018-01-22 15:23] #1772 closed

[2018-01-22 19:54] chrisgarrity opened #1773 "Add 3.0 editor view (new project) to www as preview"
As a user going to `/preview/editor` should load the current Scratch 3.0 preview editor with a new empty project (only available on the Media Lab network)

- Define what scratch-gui needs to publish for scratch-www
- Pass intl and state from scratch-www
- No save or load

Depends on https://github.com/LLK/scratch-www/issues/1694

- `/preview/:id/editor` will load the current GUI with the project (

[2018-01-22 21:30] chrisgarrity opened #1774 "Project Page Redesign"
Move projects from scratchr2 to www, with new Scratch 3.0 editor

[2018-01-22 21:49] Narulacodes commented on #1774
Will this move projects that are prvite in scratchr2 to www? is what i undeerstand?

[2018-01-22 21:50] Narulacodes commented on #1766
So what's up with this is that, the Transolaters can't translate due to a string error/string code error,
What Needs To Be Fixed, as i'm guessing this is in scratchr2_translations

[2018-01-22 21:57] chrisgarrity commented on #1766
Actually this is test that needs to be on www to ensure that l10n files (what's sent to transifex) all have balanced parens. Transifex has a checks to make sure translations contain the same punctuation as the original, and that it has balanced parens. If the original doesn't have balanced parens, the two checks cancel each other, and translators can't save anything.

[2018-01-22 22:02] Narulacodes commented on #1766
How is The St Planning to fix this?

[2018-01-23 13:05] chrisgarrity commented on #1766
The test should be similar to https://github.com/LLK/scratch-www/blob/develop/test/localization/check_valid_json.js
That one checks for valid json in the imported scratchr2_translations. The new test should check for balanced parens in the `src/**/l10n.json` files.

[2018-01-23 13:28] Narulacodes commented on #1766
Thx.

[2018-01-23 20:38] colbygk opened #1776 "Project Page Endpoint"
Tracking new Project Page routing end point:
- [ ] add /preview/:id

[2018-01-23 21:22] chrisgarrity commented on #1776
At the next meeting we should clarify what the URL is expected to be. I had assumed a slightly different path for the editor: https://github.com/LLK/scratch-www/issues/1773

With this model it probably should be /preview/editor - to open the editor with a 'blank' project.

[2018-01-23 21:24] colbygk commented on #1776
I wasn't sure, the last thing that ended up in the google doc was /preview/:id I'm open to whatever.

[2018-01-24 19:37] rschamp opened #1777 "Use Redux to set and store locale"
In scratch-gui, locale state is set and stored with Redux. In order for www to work in tandem with scratch-gui, www should also do this.

[2018-01-24 19:38] rschamp commented on #1777
Dupe of #1492

[2018-01-24 19:38] #1777 closed

[2018-01-24 19:46] #1751 closed

[2018-01-24 19:54] rschamp commented on #1776
Question to resolve: how to return the correct status code for hidden project ids (unshared, nonexistent, etc.)?

[2018-01-24 19:57] rschamp commented on #1774
@Narulacodes Yes, the project page code which is currently private, will be reimplemented in this repository. This is an umbrella issue to track a huge amount of work required to do that.

[2018-01-24 21:01] Narulacodes commented on #1774
Ok. Thank U.

[2018-01-25 10:05] lmahony commented on #1764
I can pick up this one. Seems like a good starting point for a first contribution

[2018-01-25 13:26] thisandagain commented on #1764
@Narulacodes No. I think @LiFaytheGoblin is on this.

[2018-01-25 15:07] Narulacodes commented on #1764
Okay Thanks, I wanted to help.
Where Is the source code anyways?

[2018-01-25 15:30] vutondesign commented on #1764
@Narulacodes The line without the period at the end is at:
https://github.com/LLK/scratch-www/blob/ad3189c1642ecf3f3bb7269d1c716865badd6a4e/src/views/teacherregistration/l10n.json#L7

[2018-01-25 16:27] Narulacodes commented on #1764
Thanks.

[2018-01-25 16:44] LiFaytheGoblin opened #1778 "[teacher accounts][moderation] Mods should be able to change the name of a class"
If a class has a bad name, eg gives away the location of students, a mod should be able to edit it. However, this is currently not possible.

### Steps to Reproduce

If you are a mod go to a class page (well maybe chose a test class page) and try changing the title. Refresh the page - the old title is back!

### Operating System and Browser

Chrome, Win10

[2018-01-25 20:06] rschamp opened #1779 "Enable Redux tools middleware"
In scratch-gui we use a browser extension which is very helpful for Redux debugging, https://github.com/zalmoxisus/redux-devtools-extension. We should install the middleware here to be able to use it locally and on staging.

[2018-01-25 20:33] Narulacodes commented on #1745
@rschamp

[2018-01-25 22:05] Paddle2See opened #1780 "About page: broken link"
On https://scratch.mit.edu/about , find the section on Quotes

![image](https://user-images.githubusercontent.com/3766964/35414856-c00fd262-01f1-11e8-900b-82f69722c90f.png)

the highlighted link leads to the Wiki section on Translating Scratch instead of displaying quotes.  I don't know where the quotes page is, sorry.

[2018-01-25 22:06] St19Galla commented on #1780
I can take this :)

[2018-01-25 22:09] chrisgarrity commented on #1780
The correct link is `/info/quotes/`. Thanks

[2018-01-26 10:44] LiFaytheGoblin commented on #1764
Hi, so I made some changes and the npm tests are good, but when I try to test it in the browser I can't get past the first step of the teacher registration, since it can't check whether my username is still available. Does anyone know how I can test my changes in the browser?

[2018-01-26 16:23] me-win opened #1782 "Update Scratch Conference site (for February 6)"
Hi, requesting a new round of updates to scratch.mit.edu/conference. These edits must appear on **February 6, 2018.**

All text updates can be found in this document: https://docs.google.com/document/d/1oJGcmMnyTkp5C6d1l6lhi_ies9HmsyZBjZk_mhtGTcw/edit?usp=sharing)

We're working toward the template seen below:

![scratch-conference-update](https://user-images.githubusercontent.com/33295461/3528903

[2018-01-26 16:36] Narulacodes commented on #1782
I can take this!

[2018-01-26 16:48] thisandagain commented on #1782
@Narulacodes We'll handle this internally due to the strict timeline.

[2018-01-26 19:48] Narulacodes commented on #1782
I can do this before the 5th

[2018-01-27 00:05] amazinigmech2418 commented on #1778
It seems like maybe it doesn't send the change to the server or that the server doesn't process it.

[2018-01-27 05:13] apple502j commented on #1661
I'm going to use it for MediaWiki, so I can't neither change one's browser settings nor load another JS

[2018-01-27 05:15] GreenBayRules commented on #1661
@Kenny2github So here's what I have found. It doesn't work when you load it (got the same error), but when you click on "Site settings" and click "Allow Flash" then it works for me.

[2018-01-27 05:21] Kenny2github commented on #1661
@GreenBayRules this would look like a browser issue then - it doesn't show anything about the plugin being blocked, and it doesn't "ask" (which is my default). @colbygk opinions?

[2018-01-27 05:27] GreenBayRules commented on #1661
You have to click on the i button.... here let me show you a gif @Kenny2github

![kenny](https://user-images.githubusercontent.com/11379161/35468989-abcfc7be-02df-11e8-9639-f603ff14e552.gif)

[2018-01-27 18:30] amazinigmech2418 commented on #1661
Wow! That solution was way simpler than I thought...

[2018-01-27 21:36] thisandagain commented on #1778
Moved to LLK/scratchr2#4965

[2018-01-27 21:36] #1778 closed

[2018-01-27 23:44] amazinigmech2418 commented on #1778
@thisandagain Do you mean https://github.com/LLK/scratch2r/issues/4965 ?

[2018-01-27 23:46] amazinigmech2418 commented on #1778
Nevermind. That doesn't exist either. The repo you said it was moved to doesn't exist. @thisandagain

[2018-01-27 23:50] GreenBayRules commented on #1778
@amazinigmech2418 The scratchr2 repo is a repo only viewable by members of the scratch team.

[2018-01-28 13:46] Kenny2github opened #1783 "Author and time of deleted comments can still be seen"
If a comment has been deleted, the point is that no-one except the Scratch Team can see anything related to it. However, I found that it's possible to see (using Inspect Element) the user who posted the comment, as well as when it was posted.

### Steps to Reproduce

1. Go to a profile with deleted comments (e.g. [this one](https://scratch.mit.edu/users/rainbow132))
2. Load up some of the deleted

[2018-01-28 18:06] GreenBayRules commented on #1783
There used to be a time when they didn't even have the "[deleted]" part :O

I have noticed this too, and I think it should be removed as well

[2018-01-28 21:58] SheepTester commented on #1661
On Chrome, clicking on "this page" or the "get Adobe Flash player" button will make the browser prompt if you want to use Flash.

Whether or not Flash is enabled depends on the parent (so even if you have Flash enabled on Scratch, it won't run when embedded in a different domain with Flash disabled)

[2018-01-28 23:59] amazinigmech2418 commented on #1661
I made a Scratch extension that can allow Scratch web creators. I just created a website to embed one of my projects with it. Since it has a Scratch domain, the embedding works automatically.
```<!DOCTYPE html><html><head><title>Embed</title></head><body>      <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/199839521/?autostart=false" frameborder="0"

[2018-01-29 00:15] amazinigmech2418 opened #1784 "Embedded projects can't run Scratch extensions"
You should be able to run all Scratch extensions in embedded projects, but based on the console, the needed variables for extensions aren't defined.

### Steps to Reproduce

1. Go to https://scratch.mit.edu/projects/200555817/ since when you make websites with that, it makes a Scratch domain.
2. Download the extension needed.
3. Run the bookmarklet.
4. Start the project.
5. Enter
6. "text" Enter
7

[2018-01-29 00:17] amazinigmech2418 commented on #1784
@thisandagain This is a pretty major problem and could limit embedded projects majorly. If someone wanted to make a Picoboard demo in a website with Scratch embedded, the Picoboard extension wouldn't be able to load.

[2018-01-29 14:17] colbygk commented on #1661
@amazinigmech2418 An extension for chrome?

[2018-01-29 14:26] colbygk commented on #1661
@amazinigmech2418 Also, please provide the full version string of chrome that you are using.

[2018-01-29 15:33] chrisgarrity opened #1785 "Fix Tips inefficiencies"
* eslint rule (https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md) is currently disabled - the tile list should get pulled out into it's own component to fix it.
* translatedTile is getting stored many times - TTTTile should take it as a prop, then the tile can pass it to the `onGuideClick`

[2018-01-29 23:51] amazinigmech2418 commented on #1661
@colbygk It's a Scratch extension that is run with a bookmarklet. It's also on ScratchX when you use the link in the ScratchX repo for it.

[2018-01-29 23:52] amazinigmech2418 commented on #1661
@colbygk What do you mean full string? If you mean the version of Chrome, how do you get it?

[2018-01-30 00:59] colbygk commented on #1661
Type `about:` and enter for the url.

[2018-01-30 07:18] LiFaytheGoblin commented on #1764
@thisandagain ^ maybe you can help me?

[2018-01-30 13:36] chrisgarrity commented on #1764
@LiFaytheGoblin yes, it's hard to test locally unless you have a local copy of the legacy scratchr2 running. One thing you can do is 'fake' the starting step. On this line change the `0` to the step you want to check. Just make sure you don't check in the faked step number.

[2018-01-30 16:48] thisandagain commented on #1784
We won't be adding support for extensions in embed projects for Scratch 2.0. We will review this is a potential implementation feature while implementing project embeds for Scratch 3.0.

[2018-01-30 16:48] #1784 closed

[2018-01-30 17:14] chrisgarrity commented on #1782
@me-win I have a few questions.
1. Can the text in the banner be `Registration opens March 1, 2018.` including the year because we already have that text for translators.
2. Could the **When** text be 'July 26, 2018 - July 28, 2018' instead of 'July 26-28, 2018'? Again, if we use the longer form it's automatically translated, otherwise it's a new string that we have to get translated.
3. The mocku

[2018-01-30 17:35] me-win commented on #1782
1. Yes, totally fine.
2. Yes!
3. I don't think we're using the Scratch Conference logo anymore, so keeping it the Scratch logo and the word Conference is fine. (See the full site mockup here: https://scratch.mit.edu/conference/2016)
4. That line isn't showing up in my view for some reason. Please keep it. (I'll update the Google Doc).

Thank you!

[2018-01-31 00:39] amazinigmech2418 commented on #1661
So would it be 63.0.3239.132? @colbygk

[2018-01-31 12:00] kyleplo commented on #1661
@amazinigmech2418 I think this involves the different permissions the browser has.

[2018-01-31 12:24] LiFaytheGoblin commented on #1764
Thanks, @chrisgarrity, I'll try that!

[2018-01-31 13:31] LiFaytheGoblin commented on #1764
Great, I was able to test it :)

[2018-01-31 15:04] thisandagain commented on #1661
I think it's been established that this is due to the security model updates in Firefox and Chrome. Closing.

[2018-01-31 15:04] #1661 closed

[2018-01-31 16:50] chrisgarrity opened #1792 "2018 Conference Site update (March 1 - registration)"
Placeholder for March 1 update

[2018-01-31 17:29] chrisgarrity opened #1793 "Remove obsolete content"
We have multiple versions of the conference still accessible on the site. At what point should we be removing old content .

The Camp page for 2017 - will that be updated for 2018?

Having the old content around can be nice to refer to in development, but having all the content in transifex means that translators may spend time translating something that isn't really needed.

[2018-01-31 19:01] Narulacodes commented on #1792
I can take this, if this becomes help-wanted

[2018-02-01 22:25] #1764 closed

[2018-02-01 22:26] #1780 closed

[2018-02-02 15:04] colbygk commented on #1776
Based on huddle discussion, we're going to keep www in S3, turning 404's into 200's for now for missing projects.

[2018-02-02 15:59] chrisgarrity opened #1799 "Load sb2 project into 3.0 project view"
A user can load an existing sb2 project. They get a preliminary (pre-design) project view including metadata from the sb2 project (title, instructions, etc)

- [x] Title
- [x] Author:
  - [x] Avatar
  - [x] username as link to profile
- [x] share date with 'copyleft' symbol
- [x] remix credit if project is a remix
- [x] description (combination of current description and instructions fields - will

[2018-02-02 16:01] chrisgarrity opened #1800 "Update project metadata from 3.0 project view"
A user can update the metadata associated with an sb2 project on the 3.0 project view.

[2018-02-02 16:59] chrisgarrity opened #1801 "Untangle redux state for www + gui"
Review current state of redux+react modularity:
https://github.com/reactjs/react-redux/issues/278

Figure out how we're going to deal with redux state with www, gui, and paint.

[2018-02-02 17:41] chrisgarrity commented on #1782
Note: proposal submission closes on Feb 5, so these changes should get deployed on Feb 6.

[2018-02-03 14:12] LiFaytheGoblin commented on #1793
I think an archive would be nice, I really like that we can still see the old conference pages - something like scratch.mit.edu/archive/2017/camp or /conference or whatever would then have old pages. Maybe they could become untranslatable when they are not relevant anymore, or be marked as irrelevant on transifex or so... Just some thoughts...

[2018-02-05 13:41] #1782 closed

[2018-02-05 15:45] ktrvs opened #1803 "Section of the privacy policy is slightly misleading."
In the User-generated Content section of the privacy policy, a sentence says:

It could lead people to think that the 1.4 editor isn't an offline editor, and it would maybe be better if it said something along the lines of:

[2018-02-05 17:53] jwzimmer opened #1804 "3.0 Preview FAQ > browser support text has faint background color"
### Steps to Reproduce
- Go to `preview-faq` in Chrome 64.0.3282.119, Mac OS 10.13.2
- Scroll down to "Compatibility" section
- Note that Tablet & Desktop sections have faint lighter backgrounds behind the text
  - The background of the text should appear to be the same grey as the rest of the page

<img width="465" alt="screen shot 2018-02-05 at 12 45 58 pm" src="https://user-images.githubusercon

[2018-02-05 22:32] amazinigmech2418 commented on #1804
You could just remove the background and not define background-color for the elements.

[2018-02-09 16:34] #1769 closed

[2018-02-12 18:28] #1400 closed

[2018-02-13 14:01] chrisgarrity commented on #1801
After discussion, we realized that the `Intl` object was causing the pain (thanks @fsih). So trying a new approach where GUI can accept an intl prop (optional) instead of expecting the intl to be available via redux state. See https://github.com/LLK/scratch-gui/pull/1448

Closing this issue, as the remaining work will be tracked in LLK/scratch-gui#1336.

[2018-02-13 14:01] #1801 closed

[2018-02-14 12:30] LiFaytheGoblin commented on #1804
It looks like the page is in a shared google doc which has a css file. The class c11 (as it appears on the website) has a background property which shouldn't be there. Maybe you are using a google add-on or so, where you can just remove the background property?

[2018-02-14 15:32] ChampikaF commented on #1449
In the short term it would be good to redirect the current press link in the footer to the Scratch Foundation media kit.

https://www.scratchfoundation.org/media-kit/

[2018-02-14 15:33] thisandagain commented on #1449
@ChampikaF Would you mind filing that as a separate issue? I think we can get that turned around pretty quickly.

[2018-02-14 15:41] ChampikaF opened #1808 "Update Scratch Press link to point to Scratch Foundation Media Kit"
The "Press" link in the footer at scratch.mit.edu should be updated. We're creating a new Scratch Press page #1449 but in the meantime we can point to the Scratch Foundation Media Kit.

"Press" currently points to:
https://wiki.scratch.mit.edu/wiki/Scratch_Press

Instead, it should point to:
https://www.scratchfoundation.org/media-kit/

[2018-02-14 15:42] thisandagain commented on #1808
Wonderful. Thanks @ChampikaF!

[2018-02-14 16:58] chrisgarrity commented on #1792
@me-win could you call out any other copy differences that need to be updated in this release. Then reassign it to me. Thanks,

[2018-02-14 17:07] chrisgarrity opened #1810 "2018 Conference - close registration"
We will need to remove the `register now` buttons when we're no longer accepting registrations for the conference. This will probably be a hotfix. I'm putting it in the March iteration so that we're ready to hotfix when it's needed.

###Changes:
- [ ] Remove `Register Now` buttons
- [ ] Replace buttons with ???
- [ ] Other changes to FAQ?

@me-win @ChampikaF I'm assigning you to update the copy ne

[2018-02-14 21:00] Narulacodes commented on #1810
If this is help-wanted, I Would love to help out.

[2018-02-16 03:08] joker314 commented on #1776
Not sure if I should comment here or file a new issue, but for Scratch 3.0, have you considered making creation of a new empty project an opt-in process; because at the moment an external site can just flood you with a bunch of links to the `/projects/new` endpoint (which could auto-click, for example, and open in new tabs) and then you have to clear them all up in a time-consuming fashion.

This

[2018-02-16 22:09] chrisgarrity opened #1811 "2018 Conference: full conference program update"
Full build out of site with program information for each day.
Content TBD

[2018-02-16 22:12] chrisgarrity opened #1812 "2018 Conference: live stream links July 26"
Update site with links to live stream for the Conference Keynote sessions. Will need to hotfix on the morning of the Conference opening.

- [x] live stream link

[2018-02-17 01:03] Narulacodes commented on #1812
If this becomes help-wanted, in later months or now, i'll be  happy to take this.

[2018-02-17 01:03] Narulacodes commented on #1811
#1812
Same response as i said in #1812

[2018-02-17 13:47] joker314 opened #1813 "Comments which used up all their characters and cancelled still have a red warning"
_Describe the problem. Please make sure you can reproduce the bug. It's also
helpful to include screenshots or animated gifs of the problem._

When you're typing a comment (in a studio, project, or profile), a helpful counter shows how many characters you've typed, and how close you are to the limit of 500.

When this counter gets to "0", it's also red. When you press the "Cancel" button to clear

[2018-02-17 14:16] Narulacodes commented on #1813
I can repro this, and get the same promblem, but with chromeos

[2018-02-18 13:27] jwzimmer opened #1814 "Update wiki footer link in automated smoke tests"
If the existing automated test suite is going to be continue to be used, the test for the footer links needs to be updated to reflect the recent change to the English Wiki homepage (https://github.com/LLK/scratchr2/issues/4984).

Here's the line that needs to be changed: https://github.com/LLK/scratch-www/blob/develop/test/integration/smoke-testing/test_footer_links.js#L148

The URL `https://wiki.

[2018-02-18 13:38] Narulacodes commented on #1814
i can take this, if this becomes help-wanted
@jwzimmer

[2018-02-18 14:04] ktrvs commented on #1814
Is the plan still to keep the new wiki links clickable?

[2018-02-18 15:17] Kenny2github opened #1817 "Make *.scratch-wiki.info and a few scratch-*.info links clickable"
In email conversations with the Scratch Team, the wiki team were promised that links to any scratch-wiki.info domain would be clickable. I'm opening this issue here in case it hasn't been opened already in scratchr2.
Current list of wiki domains:
- https://en.scratch-wiki.info
- https://scratch-dach.info
- https://nl.scratch-wiki.info
- https://hu.scrach-wiki.info
- https://scratch-ru.info
- https

[2018-02-18 15:47] towerofnix commented on #1817
I don't think that'd be best - somebody could register a site on the domain scratch-viruses.info (or whatever), and that would be automatically clickable. But subdomains (like `*.scratch-wiki.info`) are never usable by anyone other than the owner of the higher domain (i.e. `scratch-wiki.info`), so it's fine to glob that (I think?).

[2018-02-18 15:52] ktrvs commented on #1817
@towerofnix Yep, I was just about to mention that.

[2018-02-18 16:11] Narulacodes commented on #1814
I think so, they will in some cases.

[2018-02-19 06:55] Kenny2github commented on #1817
@towerofnix then I guess make special exceptions for the three scratch-*.info domains? I'll edit the OP to reflect that.

[2018-02-19 17:14] Narulacodes commented on #1812
Ok Thanks. I would really loved to help

[2018-02-20 00:51] towerofnix commented on #711
Fixed by #1759.

[2018-02-20 00:51] #711 closed

[2018-02-20 00:52] towerofnix commented on #1563
Closing per #1630.

[2018-02-20 00:52] #1563 closed

[2018-02-20 17:44] me-win commented on #1792
@chrisgarrity I updated the copy differences in this doc: https://docs.google.com/document/d/1oJGcmMnyTkp5C6d1l6lhi_ies9HmsyZBjZk_mhtGTcw/edit?usp=sharing

I have designated the change with a comment.

[2018-02-20 18:09] me-win commented on #1792
I should have the link for the registration button by EOD Wednesday.

[2018-02-21 15:41] me-win commented on #1792
@chrisgarrity here is the link for the registration button:

http://scratch2018.eventbrite.com

It's not active yet, but it will be live on March 1.

[2018-02-21 23:30] amazinigmech2418 commented on #1813
This happens all the time...

[2018-02-22 02:31] Narulacodes commented on #1813
@amazinigmech2418  Yep, Had this 200 times, or more. LOL. anyone counting?

[2018-02-23 08:35] Paddle2See opened #1819 "Better validation on account creation fields"
The admin panel doesn't appear to moderators when we attempt to access this new account

          https://scratch.mit.edu/users/slothbutt2/

so we can't delete / block / send notifications

It appears that there is something bogus in the account information that is preventing the admin panel from appearing

[2018-02-23 08:39] tsjsw commented on #1819
Is this to the specific user?

[2018-02-23 13:16] Paddle2See commented on #1819
That user is an example of invalid age data getting into a newly created account.  It has happened before, if I recall correctly.

[2018-02-23 14:53] jwzimmer commented on #1819
Tracking in https://github.com/LLK/scratchr2/issues/4989.

[2018-02-23 14:53] #1819 closed

[2018-02-26 18:46] thisandagain commented on #1804
Fixed in the upstream doc (may take a few minutes to propagate).

[2018-02-26 18:46] #1804 closed

[2018-02-26 19:12] thisandagain commented on #1813
Moved to LLK/scratchr2#4990

[2018-02-26 19:12] #1813 closed

[2018-02-26 19:20] thisandagain commented on #1817
Tracking in https://github.com/LLK/scratchr2/issues/4984

[2018-02-26 19:20] #1817 closed

[2018-02-28 08:42] Kenny2github opened #1820 ""fatal: connection reset by peer" during npm install"
### Expected behavior
`npm install` works fine, albeit with some errors

### Actual behavior
When trying to fetch translations, the following happens:
[code]
Anything I read seems to say "change `git://` to `https://`", which is why I opened this issue - I believe changing to git ls-remote via https will be safer for stranger connections

### Steps to Reproduce

No detailed steps, but if the conne

[2018-02-28 09:05] Kenny2github commented on #1511
I know this was moved into backlog, but I'd just like to bump it anyway to see if there are any updates on this - i.e. is it help-wanted?

[2018-02-28 12:35] apple502j commented on #1803
Scratch 1.4 doesn't have an online editor, so we shouldn't call it "Scrstch 1.4 offline editor".

[2018-02-28 12:46] ktrvs commented on #1803
But it still is an offline editor, so I don't think that we would need to go into more depth than there already was.

[2018-02-28 13:45] chrisgarrity commented on #1511
@Kenny2github it's not help-wanted yet. First we need to write the content. Once we have the correct copy, it should be switched to help wanted.

[2018-02-28 16:16] me-win commented on #1792
We had to update the text about lodging at Northeastern University slightly. I've highlighted it in the Google Doc and also pasted it below.

https://docs.google.com/document/d/1oJGcmMnyTkp5C6d1l6lhi_ies9HmsyZBjZk_mhtGTcw/edit#

Thank you!

Limited lodging is available in Northeastern University dorm rooms at the following rates:

Suite
Single (shared room with shared bathroom) - $80.00/person/nig

[2018-03-01 19:56] BryceLTaylor opened #1823 "Read Me is unclear on a number of topics"
The Read Me section To Build contains no explanation of what is going on, what it's doing.  It starts by making sure you have npm installed, which is fine, but it doesn't explain the process before having you follow it.

Similarly a number of other verbs have little to no explanation about what they do or why you would do them, including To Test, To Run, To Start, and To Deploy.

[2018-03-01 20:31] christanbalch opened #1824 "Add "Real Name" reminder to Teacher Account flow"
Currently in the account creation flow for Teacher Accounts we do not tell Teachers to choose a username that does not include personally identifiable information. This is what the flow currently looks like:

![image](https://user-images.githubusercontent.com/11506947/36867853-8111827a-1d64-11e8-9d8c-aa5783c1a262.png)

We would like to add the text "**Please do not use any portion of your real nam

[2018-03-04 18:01] jwzimmer opened #1825 "Remove filled listings from `/jobs/`"
The jobs page at https://scratch.mit.edu/jobs/ includes several openings that have been closed:

- Designer
- Learning Resource Designer
- QA Engineer
- Senior Backend Engineer

The only one that should be left on the page is the Full Stack Engineer

### Steps to Reproduce

Go to https://scratch.mit.edu/jobs/ and note that there are five positions listed.

### Operating System and Browser

_Mac OS

[2018-03-05 00:33] Narulacodes commented on #1825
If this becomes help-wanted, I can take this. :D
I always want to help the scratch community

01001000 01100101 01111001 00100001 00100000 01001001 00100000 01110111 01100001 01101110 01110100 00100000 01110100 01101111 00100000 01110101 01101110 00101101 01100010 01101100 01101111 01100011 01101011 01100101 01100100 00100000 01101111 01101110 00100000 01110011 01100011 01110010 01100001 01110100

[2018-03-08 22:17] chrisgarrity opened #1828 "Clean up #view padding"
By default the root `#view` element on every page has `padding: 20px 0;` in addition to a margin that handles the height of the navigation bar. This creates a gap between the nav bar and the first element of the view.

When we added pages with a banner that should immediately follow he nav bar (e.g. educators page), they override the padding (setting it to 0). This has propagated as many new pages

[2018-03-09 19:36] me-win commented on #1811
@chrisgarrity The text changes for the full build-out can be found in this Google Doc: https://docs.google.com/document/d/1Qk7BbGClIULhxTgzQm2VQIJRFZ2I1rWq1SRohZbkSe0/edit?usp=sharing

We're still finalizing some of the information (as you can see), but we're working to get all of the information by Friday, April 6. At that time, I'll also attach any logos/photos/graphics that you need.

[2018-03-09 19:45] me-win commented on #1810
In the event they we sell out, please:

* Remove Register buttons
* Replace top Register button with the text "Scratch@MIT is sold out!" and underneath "Full event schedule coming soon"
* Remove the Registration info entirely in the bottom portion and in the top navigation
* Add the following as the first question in the FAQ portion:

**The conference is sold out. What can I do?**
Scratch@MIT is s

[2018-03-10 16:33] chrisgarrity commented on #1810
@me-win the plan is to have this ready to go at the end of the month to use when we sell out. Is there any chance that we'll sell out before the end of the month and need it sooner?

[2018-03-11 19:46] towerofnix opened #1829 "Scratch 3.0 Preview FAQ page doesn't work when Google Docs is blocked"
The Scratch 3.0 Preview FAQ page (`/preview-faq`) doesn't load its content when the Google Docs domain is blocked. This is particularly a problem in locations where Google Docs is blocked, as is the case in several countries around the world. Chinese Scratch user cyx2015s [noticed this](https://scratch.mit.edu/discuss/post/3021529/).

### Steps to Reproduce

Open the Scratch 3.0 Preview FAQ page -

[2018-03-12 14:22] me-win commented on #1810
@chrisgarrity I don't think we'll sell out sooner... we're at about 54 percent tickets sold right now. I'll keep you posted if that changes.

[2018-03-12 16:56] thisandagain commented on #1829
We'll be moving this off of Google Docs as we get closer to August, but it was important for us to have something easy to edit / manipulate as things are moving so quickly right now.

[2018-03-12 16:56] #1829 closed

[2018-03-13 05:17] JoelGritter commented on #1824
@christanbalch I can do this!

[2018-03-13 09:21] Kenny2github commented on #1820
Okay, so I fixed the issue by using [this workaround](http://stackoverflow.com/a/10729634/64949) for the `git://` protocol being blocked due to port 9418 being blocked. I would still recommend changing anything that uses the `git://` protocol to `https://`.

[2018-03-13 10:07] Kenny2github opened #1831 "Makefile:31: recipe for target 'webpack' failed"
While working on #1740, I ran into what I thought was an error of my own - when I ran `npm test` or `npm make build` it always failed at this point:
[code]
but I then tried with the full repo:
[code]

### Steps to Reproduce

On a Debian 9.3 virtual machine, attempt the following:
[code]

### Operating System and Packages

Debian 9.3 VM; `nvm` v0.33.8; `npm` v5.6.0; `node` v8.10.0; `g++` v6.3.0-18+

[2018-03-14 20:38] chrisgarrity commented on #1810
@me-win question about the text in the header. Here's a version using normal text. Is this ok, or do you want it to match the date size/format?:![Screen Shot 2018-03-14 at 4.36.14 PM.png](https://codetreeusercontent.s3.amazonaws.com/uploads/632c4ea1-0bb6-4c1c-9d24-8dd1221ef010/Screen+Shot+2018-03-14+at+4.36.14+PM.png)

[2018-03-14 20:40] me-win commented on #1810
@chrisgarrity Can you make "Scratch@MIT is sold out!" match the date size/format? The text underneath is fine with normal text.

thanks!

[2018-03-15 17:00] #1803 closed

[2018-03-16 13:12] chrisgarrity opened #1834 "Add Kazakh (kk) to the language menu"
The folks from Zerde (zerde.gov.kz) have reviewed/translated all the high priority strings, so it's time to add it to the scratchr2 and www menus as 'қазақ' (I've asked the translators to confirm that's the correct name)

[2018-03-16 20:18] #1824 closed

[2018-03-17 22:42] JoelGritter commented on #1825
Since nobody seems to be springing on this issue, I'll take care of it. I expect to make a PR in the next couple of minutes.

[2018-03-19 14:00] #1825 closed

[2018-03-21 15:21] BryceLTaylor opened #1837 "Move smoke tests to Cypress"
Make Cypress tests for all of the existing TAP/Selenium tests.

[2018-03-21 15:37] BryceLTaylor opened #1838 "Setup Travis to run Cypress smoke tests"
Make Travis run the Cypress versions of the smoke tests for www.  These tests will eventually replace the TAP/Selenium tests.

[2018-03-26 19:42] thisandagain commented on #1831
Hi @kenny2github. What happens when you run `make translations`?

[2018-03-26 19:43] thisandagain commented on #1831
Also ... any way you can provide the details from the debug log?

[2018-03-27 10:09] Kenny2github commented on #1831
Okay, after trying again in a different location, it turns out that I was previously (unintentionally) using a proxy that was obviously blocking something. Running `npm run build` finishes successfully on the same Debian 9.3 VM in a different place. Closing.

[2018-03-27 10:09] #1831 closed

[2018-03-27 21:36] BryceLTaylor opened #1840 "[Translation] Homepage Intro Sprite text gets cut off in other languages, [German], [French]"
Expected Behavior:
In German and French the buttons in the Intro at the top of the signed out homepage should have text that all appears.  In English they say Try It Out, See Examples, and Join Scratch.

Actual Behavior:
In German, the text for the third button should say "Mach Mit Bei Scratch" but it gets cut off and actually says "Mach Mit Bei Sc"
In French, the text of the second button should

[2018-03-27 22:35] JoelGritter commented on #1840
See also #1198

[2018-03-28 04:00] Kenny2github commented on #1840
Yeah, this looks like it's a duplicate of #1198

[2018-03-28 12:54] thisandagain commented on #1840
Tracking in #1198

[2018-03-28 12:55] #1840 closed

[2018-03-29 15:11] #1823 closed

[2018-03-30 07:24] apple502j opened #1842 "Giga is missing"
src/views/faq/l10n.json Line 85
Giga is missing
Originally reported at https://scratch.mit.edu/discuss/topic/296556/
### Steps to Reproduce
See FAQ page

### Operating System and Browser
Windows  7 HomePremium 64bit SP1 Firefox 59.0.2

[2018-04-02 15:54] BryceLTaylor opened #1844 "Join Studio dialog in a RTL language should move the X to the left side of the dialog"
Expected Behavior
When you set the language to a Right to Left language (i.e. Arabic) and you click Join Scratch (انضم إلى سكراتش), the header for the dialog that pops up should have the text on the right and the x icon that closes the dialog on the left.

Actual Behavior
The X appears on the right side and overlaps the text.
![Arabic_Join_www.png](https://codetreeusercontent.s3.amazonaws.com/uplo

[2018-04-02 19:37] BryceLTaylor opened #1845 "My Stuff page doesn't update language for Last Modified results"
Expected Behavior
If you set Scratch to one language, sign in, and then change the language, all text on the My Stuff page should be in the new language.

Actual Behavior
When you change the language after signing in the text describing how long it has been since a project has been modified remains in whatever language you signed in with.

![MyProjects_LanguageUpdate.png](https://codetreeuserconte

[2018-04-03 14:10] colbygk commented on #1776
Saving immediately is a pretty important aspect of the user experience with Scratch. Also, saving can only occur if a user is logged in, so anyone doing such an operation we can respond to with an user/ip ban.

[2018-04-03 17:04] #1695 closed

[2018-04-04 02:01] Kenny2github commented on #1695
@ntlrsk Just letting you know, the page has been migrated so if you want to update the text you can feel free to open another issue

[2018-04-04 09:18] Kenny2github opened #1847 "Credits page has duplicate names"
In the Acknowledgements section:

In the Previous Scratch Team Members section:

Basically, if you have ever contributed to Scratch's development your name is likely on the credits page twice by accident.

### Steps to Reproduce

Navigate to https://scratch.mit.edu/info/credits

### Operating System and Browser

Irrelevant

[2018-04-04 14:42] GreenBayRules commented on #1847
I'm not able to reproduce this.

![image](https://user-images.githubusercontent.com/11379161/38314608-78db76b0-37db-11e8-9d48-186bc3b9914e.png)
![image](https://user-images.githubusercontent.com/11379161/38314632-88f681de-37db-11e8-8033-854391bf8a82.png)
![image](https://user-images.githubusercontent.com/11379161/38314637-8d17606c-37db-11e8-95fb-e2e098f5b1db.png)
![image](https://user-images.githu

[2018-04-04 14:58] Kenny2github commented on #1847
Strange, I can:
![image](https://user-images.githubusercontent.com/28599280/38315629-710e7cc2-385b-11e8-8319-ae1046e039b0.png)
![image](https://user-images.githubusercontent.com/28599280/38315658-8042d67a-385b-11e8-895c-3079347a9736.png)
![image](https://user-images.githubusercontent.com/28599280/38315680-8c6eda34-385b-11e8-87c7-2df8cef902d3.png)
I guess I'll leave my OS and browser: Chrome 65.0.3

[2018-04-04 14:59] Kenny2github commented on #1847
OH I KNOW WHAT IT IS
Recently there was a pull that got merged to reduce translation work, putting all the names outside of l10n; but Edible Scratch (and probably Meow) never got that update. This is an Edible Scratch problem.

[2018-04-04 16:54] ktrvs commented on #1847
@Kenny2github Oh yeah, I can repro this with Edible Scratch. Good catch!

[2018-04-04 18:13] chrisgarrity commented on #1847
Closing this and tracking in the translations repo: https://github.com/LLK/scratchr2_translations/issues/13

[2018-04-04 18:13] #1847 closed

[2018-04-05 00:00] ChampikaF opened #1848 "Update Preview FAQ to reflect translation set at launch"
The [Scratch 3.0 Preview FAQ](https://scratch.mit.edu/preview-faq) states "...we plan to support the same range of world languages (with improved support for right-to-left languages)..."

We should update this to reflect the set of languages we're planning to support at launch.

It would be good to do this prior to posting the Scratch 3.0 announcement blog post since it points to the FAQ.

[2018-04-05 00:02] GreenBayRules commented on #1848
I can do this if it becomes help wanted

[2018-04-06 09:51] ktrvs opened #1850 "Privacy Policy date may need updated."
![1](https://user-images.githubusercontent.com/26391179/38415097-5441ffd2-3988-11e8-9468-c5c2851b254b.png)
Does this date need to be changed because of #1821? Or is it too small of an update?

[2018-04-09 12:15] thisandagain commented on #1850
The substance / meaning of the policy did not change in that update. We will increment the date when substantive changes have been made.

[2018-04-09 12:16] #1850 closed

[2018-04-09 17:49] ChampikaF commented on #1808
Looks like this was updated on the new system but not the old. So on pages like the homepage (scratch.mit.edu) the footer link to "press" goes to https://www.scratchfoundation.org/media-kit/ but on project pages or user profile pages like https://scratch.mit.edu/users/-BW-GamerGirl/ the "press" link in the footer still goes to https://en.scratch-wiki.info/wiki/Scratch_in_the_Press.

Can we update

[2018-04-09 18:13] me-win opened #1851 "2018 Conference: Remove Dorm Info"
Please remove the following text from the conference page at your earliest convenience/ability, as we are at capacity for available dorms:

Thank you!

[2018-04-09 18:16] thisandagain commented on #1808
@ChampikaF Can you please open a new issue on `scratchr2`?

[2018-04-09 18:16] #1808 closed

[2018-04-09 19:14] me-win commented on #1811
Adding calendar icon and logo image files for the site update.

[2018 Cal icons.zip](https://github.com/LLK/scratch-www/files/1891425/2018.Cal.icons.zip)
[2018 Conf Logos.zip](https://github.com/LLK/scratch-www/files/1891426/2018.Conf.Logos.zip)

[2018-04-09 21:11] chrisgarrity opened #1852 "Project 3.0 page - favorite/unfavorite a project"
Users should have the ability to favorite and unfavorite a project

- favorite stat shows filled star if the user has favorited the project, an outline if not
- user can favorite a project (favorite is added to the database, star is filled, and count incremented)
- user can unfavorite a project (favorite removed from the database, star is switched to outline, and number decrements)

Depends on htt

[2018-04-10 22:13] chrisgarrity opened #1854 "Localize new project page"
The new project page (preview) will need localization strings.

- [x] add `l10n.json` to the preview view (internally use `projects.<message>` for the message id
- [x] replace all static strings in preview.jsx with formatMessage etc.
- [x] add preview to the transifex config
- [x] push initial set of strings to transifex

[2018-04-10 22:20] chrisgarrity opened #1855 "New project page needs to handle bad words validation errors"
The server will check for bad words in titles or descriptions. The new project view needs to handle the error from the api and display validation errors to the user.

Depends on https://github.com/LLK/scratch-api/issues/469

[2018-04-10 22:53] GreenBayRules commented on #1848
alright I'll do this one.

What exactly should I change?

[2018-04-11 12:51] chrisgarrity commented on #1848
Strange - I thought I'd added the new text...

In any case here is the new text for the FAQ:
At the launch the editor will be able to support a wide range of world languages (with improved support for right-to-left languages). At a minimum English, Chinese (both China and Taiwan), Dutch, French, German, Italian, Japanese, Korean, Portugese (Brazil), Spanish, and Russian will be supported along wit

[2018-04-11 15:49] chrisgarrity opened #1857 "3.0 preview - report an inappropriate project: Modal component"
The 3.0 project page will need to support the report functions:
- [x] report button to open report form
- [x] select reason dropdown
- [x] description text area
- [x] description placeholder text updates based on reason selected
- [x] all text is localizable

[2018-04-16 20:39] kyleplo commented on #1774
https://thimbleprojects.org/HTTP/kyleplo/312991/

[2018-04-18 16:03] chrisgarrity opened #1858 "Handle view count for new project page"
Use green flag prop from LLK/scratch-gui#3968 to call end point in LLK/scratch-api#476

[2018-04-18 18:18] towerofnix commented on #1858
Just to clarify, what does this imply? It sounds like it means that, under the new project page, projects would be limited to having 100 views, but I don't understand why that'd be intended.

[2018-04-19 21:09] chrisgarrity commented on #1848
@greenbayrules are you working on this one. If not I'll take it as we need it before the end of the month.

[2018-04-20 06:48] LiFaytheGoblin commented on #1834
Ah, thanks!

[2018-04-20 06:49] LiFaytheGoblin commented on #1834
I also didn't notice this went into the April milestone. Will do this now.

[2018-04-20 19:39] thisandagain opened #1860 "Splash - remove recently shared projects row"
We would like to remove the recently shared projects row from the homepage. This row is intended to help newer and undiscovered Scratchers gain visibility in the community. Unfortunately our data shows that it doesn't do that very effectively, and unfortunately it can also be taken advantage of by troll to show inappropriate content.

@chrisgarrity Sorry to add yet another thing to your plate, but

[2018-04-20 22:53] towerofnix commented on #1860
I'll assume that this has actually happened enough to really make it not worth it? Probably, considering this issue is critical.

Anywho, I'm curious what the recommended way to find recent projects will be with this gone. It looks like maybe it'll be [the Recent section of the Explore page](https://scratch.mit.edu/explore/projects/all/recent).. although I think that that's a bit lacking, since it

[2018-04-23 20:37] #1860 closed

[2018-04-23 20:38] #1851 closed

[2018-04-24 14:33] #1834 closed

[2018-04-24 15:20] chrisgarrity opened #1865 "Show all description fields on the new project preview page"
We decided not to combine the Instruction, Notes & Credits fields for Scratch 3.0. So the Preview page needs to show both fields instead of just `description`.

- Show all description fields
- allow update of all description fields
- validate length requirements for all description fields

[2018-04-25 00:52] GreenBayRules opened #1866 "Error in projects view"
_Describe the problem. Please make sure you can reproduce the bug. It's also
helpful to include screenshots or animated gifs of the problem._
I don't know if this is the right place but here:

![image](https://user-images.githubusercontent.com/11379161/39220708-a8a4b00c-47e7-11e8-8116-a4367dab49da.png)
That is speakvisually's profile. Clicking view all leads to this:

![image](https://user-images.

[2018-04-25 01:11] GreenBayRules commented on #1848
Sorry forgot about this. Will do right now.

[2018-04-25 01:16] GreenBayRules commented on #1848
@chrisgarrity Actually to do this i would need access to this file: https://docs.google.com/document/d/e/2PACX-1vQZFrpOagYqEwcrBBCplIomiyguPAodIJVnCq9Sr11WDI_aa2b-JtDWak-Aiu-cwWobTXftRMF6wBbd/pub?embedded=true as that is the one that is being loaded into that page.

[2018-04-25 10:02] thisandagain commented on #1866
Moved to LLK/scratchr2#5058

[2018-04-25 10:02] #1866 closed

[2018-04-25 15:09] chrisgarrity commented on #1848
@GreenBayRules you should be fine updating the preview-faq view: https://github.com/LLK/scratch-www/tree/develop/src/views/preview-faq

The google doc was temporary until we added the page on www.

[2018-04-26 13:31] #1820 closed

[2018-04-26 18:15] chrisgarrity commented on #1848
@GreenBayRules sorry I thought we'd switched this over to a full view. I'll take care of updating the doc.

[2018-04-26 19:00] #1810 closed

[2018-04-26 19:30] chrisgarrity commented on #1848
Fixed by updating the Doc - @BryceLTaylor can you check it looks fine for you, and close if so.

[2018-05-01 19:53] #1848 closed

[2018-05-02 15:53] chrisgarrity opened #1872 "3.0 Preview - Add to Studio"
- [x] Clicking the Add to Studio Button should show a modal that displays a list of studios the user curates.
- [x] Studio names in the list of Studios are linked to the studio
- [x] Add Icon/button toggles adding the project to the studio
- [x] 'x' to close the modal

Current copy for the Add to Studio:
[code]

[2018-05-02 15:58] chrisgarrity opened #1873 "3.0 Preview - Handle unshared projects"
- [ ] show unshared project

Depends on https://github.com/LLK/scratch-api/issues/520 , https://github.com/LLK/scratch-api/issues/519

[2018-05-02 16:01] chrisgarrity opened #1874 "3.0 Preview - Handle See Inside button"
Switch from GUI player mode to editor mode.

- [ ] project state should be maintained

[2018-05-02 19:56] me-win commented on #1811
@shickey Here is the photo of Mres
![mitchelresnick_400](https://user-images.githubusercontent.com/33295461/39546136-59d0f338-4e21-11e8-9280-c892ccab66c4.jpg)

[2018-05-02 20:14] shickey commented on #1811
@me-win 👍 Perfect, thanks!

[2018-05-03 18:12] me-win commented on #1811
@shickey attaching the icons for the Scratch Store

![shopify_blue](https://user-images.githubusercontent.com/33295461/39594907-f0ae4c64-4edb-11e8-8ffe-47872fe66ff9.png)
![shopify_hover](https://user-images.githubusercontent.com/33295461/39594908-f0bf7584-4edb-11e8-8704-1db5598b2d18.png)

[2018-05-03 19:36] shickey commented on #1811
@me-win Thanks! Any chance you can send along just the white icon part (without the color background)?

[2018-05-03 20:43] chrisgarrity commented on #1811
I added these to the scratchday site recently
https://github.com/LLK/scratchday/blob/master/scratchday/scratchday/static/img/social-icon_sprite.png

I'll try to figure out where I found the icon.

--C

Chris Garrity
chrisg@media.mit.edu
Scratch Team & Clubhouse Village
Lifelong Kindergarten Group | MIT Media Lab

On Thu, May 3, 2018 at 3:36 PM, Sean Hickey <notifications@github.com>
wrote:

[2018-05-03 20:57] shickey commented on #1811
All set @chrisgarrity/@me-win on the store icon now. Thanks!

[2018-05-05 07:34] tygithubs opened #1876 "make translations error"
$ make translations
make i info Invoking translations target
'.' ▒▒▒▒▒ڲ▒▒▒▒ⲿ▒▒▒Ҳ▒▒▒ǿ▒▒▒▒еĳ▒▒▒
▒▒▒▒▒▒▒▒▒ļ▒▒▒
make × ERR  ./bin/get-localized-urls localized-urls.json
./bin/build-locales node_modules/scratchr2_translations/www/translations intl
make × ERR  Recipe exited with code %d
(node:12932) UnhandledPromiseRejectionWarning: Error: Recipe exited with code %d
    at ChildProcess.<anonymous> (C:\

[2018-05-08 00:18] tygithubs commented on #1876
win10OS  node---v8.11.1  npm---5.6.0  webpack---2.7.0  make --version 0.8.1

[2018-05-08 00:59] chrisgarrity commented on #1876
@tygithubs from the [scratch-www/README](https://github.com/LLK/scratch-www#windows):

Some users have experienced difficulties when trying to get our web client to work on Windows. One solution could be to use Cygwin. If that doesn't work, you might want to use Wubi (Windows XP, Vista, 7) or Wubiuefi (Windows 8 or higher). Wubi(uefi) is a Windows Installer for Ubuntu that allows you to have Ubunt

[2018-05-09 15:41] BryceLTaylor opened #1880 "Remove Linux download link from /downloads"
We no longer support the offline editor on Linux and the download can not be installed on supported versions of Ubuntu.  We should remove it from the downloads page.

[2018-05-09 16:03] BryceLTaylor opened #1881 "Should we continue to support the offline editor on old versions of mac (10.5 or older)"
On the /downloads page there is a version for Mac OS 10.5 & Older. 10.5 (Leopard) is 11 years old at this point and hasn't been updated since 2009.   We don't have any machines that run it.

It also seems to be related to the Linux build that we don't support either.  https://github.com/LLK/scratch-www/issues/1880

I think we should remove it.

[2018-05-09 17:19] towerofnix commented on #1880
For reference, how will Linux users be able to run Scratch 2.0 from this point on? I suspect the only way will be by building scratch-flash locally. I believe it makes sense to link to the scratch-flash repository from the downloads page for Linux users; we don't always, but often do have enough know-how to build and use something like scratch-flash, if we know it exists.

[2018-05-10 19:37] thisandagain commented on #1881
@BryceLTaylor I think we should keep this as-is for now and update when we release the offline editor for Scratch 3.0.

[2018-05-10 19:41] BryceLTaylor commented on #1881
Yeah, that sounds good.

[2018-05-13 16:17] NikolaySolodukhin commented on #1876
Hi, i am using windows 10, node 8.11.1 and  cygwin. Cygwin doesn't help  http://prntscr.com/jhc28p

[2018-05-14 14:37] tygithubs commented on #1876
I've already used the Cygwin, but "$ make  @translations" Command or error

[2018-05-14 20:32] chrisgarrity commented on #1876
Could you try using the Windows Subsystem for Linux: https://docs.microsoft.com/en-us/windows/wsl/install-win10

That is what the Scratch Team developers use.

[2018-05-14 21:18] BryceLTaylor opened #1883 "Signing in with blank username should not attempt to sign in"
Right now, if you attempt to sign in with a blank username it attempts to log in.  Eventually, if you keep trying you will hit the Captcha.  The application should deny logging in without reaching out to the API.

### Steps to Reproduce

Navigate to the home page while logged out
Click Sign In
Enter a password, but no Username
Click Sign In
Repeat
Eventually you will hit the captcha

### Operating

[2018-05-14 21:26] BryceLTaylor commented on #1883
This is basically a duplicate of this issue: https://github.com/LLK/scratchr2/issues/4762
Since that one is on Scratchr2, I'll leave them both for now.

[2018-05-15 08:08] Kenny2github opened #1884 "scratch-* Wiki links are not clickable"
In the most recent deploy, `*.scratch-wiki.info` links became clickable. However, there are three special case wikis (the oldest wikis, not including the English wiki) that are not `*.scratch-wiki.info`: `scratch-dach.info`, `scratch-ru.info`, and `scratch-indo.info`. These links should also be made clickable.

EDIT: Note that I'm not asking that all links matching `scratch-*.info` be made clickab

[2018-05-16 14:01] #1880 closed

[2018-05-21 14:07] NitroCipher opened #1889 "New default profile image for Scratch 3.0"
The default profile image is very old and outdated, reflecting the old gradient-heavy style of the older versions of scratch. What if a new logo a new profile picture was used? Something similar to the new Cosmicat?

![screenshot 2018-01-29 at 14 23 20](https://user-images.githubusercontent.com/11393734/40311670-2f98defa-5cd6-11e8-8747-627aadd3b322.png)

[2018-05-21 15:42] thisandagain commented on #1889
Thanks @nitrocipher! This is something we are looking at.

[2018-05-21 16:46] thisandagain commented on #1883
Tracking in https://github.com/LLK/scratchr2/issues/4762

[2018-05-21 16:46] #1883 closed

[2018-05-22 15:41] tsjsw commented on #1889
While I quite like the current blurple profile picture, it is nice to have a change after five years. I personally, however, don't like the image of that Scratch cat. I'd say something like cheeseeater's profile picture.

[2018-05-22 15:43] tsjsw opened #1892 "Multiple bugs here, listed in Scratch. More updates later."
https://scratch.mit.edu/discuss/topic/290843/
https://scratch.mit.edu/discuss/topic/301414/
https://scratch.mit.edu/discuss/topic/301424/
(this one can't always be reproduced)
https://scratch.mit.edu/discuss/topic/301427/
https://scratch.mit.edu/discuss/topic/302024/
https://scratch.mit.edu/discuss/topic/302027/

[2018-05-23 00:19] Kenny2github commented on #1892
Please open a separate issue for each of these bugs, with a detailed description for each, filling out the issue template.

[2018-05-23 06:27] tsjsw commented on #1892
So not just to link them?

[2018-05-23 07:44] Kenny2github commented on #1892
You can add a link to the forum topic in each of the separate issues if it provides more information, but there should be a detailed description on the issue itself.

[2018-05-23 23:45] thisandagain commented on #1892
As @kenny2github said:

[2018-05-23 23:45] #1892 closed

[2018-05-25 14:06] Kenny2github opened #1895 "/about still links to /info/research"
Just a small issue.

### Expected behavior
The Research on Scratch page was [migrated](https://github.com/LLK/scratch-www/pull/1740) recently, and the path changed from /info/research to /research. The /about page should not link to a redirect; it should link to the new path.

### Actual behavior
The /about page links to /info/research:
![image](https://user-images.githubusercontent.com/28599280/4

[2018-05-27 12:06] kyleplo commented on #1889
What about this:
https://scratch.mit.edu/projects/219072382/

[2018-05-28 12:14] apple502j opened #1897 "Move /info/quotes/ to scratch-www"
It is still in scratch-www. Should it be migrated?
### Steps to Reproduce
Open https://scratch.mit.edu/info/quotes/ and it has old header

### Operating System and Browser
Windows 8.1
Chrome 66.0.3359.181

[2018-05-28 12:14] apple502j commented on #1897
I can help if it's marked as help wanted

[2018-05-28 12:24] apple502j opened #1898 "Change Links to wiki.scratch.mit.edu"
- https://scratch.mit.edu/about/ http://wiki.scratch.mit.edu/wiki/How_to_Translate_Scratch

### Steps to Reproduce

See that page
### Operating System and Browser
Windows 8.1
Chrome 66.0.3359.181

I can help if it's marked as help wanted

[2018-05-28 17:49] kerrtrvs commented on #1898
@apple502j It does redirect anyway, but yeah, should probably be changed properly.

[2018-05-29 14:04] thisandagain opened #1899 "Create warning for users when they open the developer console"
Unfortunately, we've now seen a few instances of users creating malicious scripts and encouraging Scratch users to execute them in the developer console. Because of this we would like to create a warning that appears in the developer console. I've included some examples from other services below (as this has now unfortunately become standard practice):

### Discord
![image](https://user-images.git

[2018-05-29 14:08] colbygk commented on #1899
<img width="1127" alt="screen shot 2018-05-29 at 10 07 10 am" src="https://user-images.githubusercontent.com/192393/40664096-293f2ebc-6328-11e8-900d-78c260983f90.png">

[2018-05-29 15:18] dietbacon commented on #1899
First draft:

STOP! [in some kind of red image text]

This is part of your browser intended for developers.  If someone told you to copy or paste something here, please be aware that this could allow another person to take over your Scratch account, delete all of your projects, or do many other harmful things.  If you don't understand what exactly you are doing here, you should close this window w

[2018-05-29 15:45] chrisgarrity opened #1901 "Implement saving projects"
New project page needs:
- [ ] create project (new empty project)
- [ ] remix project existing project
- [ ] create copy of existing project

[2018-05-29 19:26] JoelGritter commented on #1899
@thisandagain I'd be interested in developing a solution for this issue if it is open to contributors. The only question I would have would be where to put it. (i.e. is within the render function of the nav-bar a good spot or not: https://github.com/LLK/scratch-www/blob/develop/src/components/navigation/www/navigation.jsx#L185 )

[2018-05-29 19:33] thisandagain commented on #1899
@JoelGritter That would be great. I think this should be in a new component that's attached to the top level application rather than something like the nav-bar which may not always be used in the future.

[2018-05-29 19:37] JoelGritter commented on #1899
@seotts @christanbalch @dietbacon
Is this what you were envisioning or is this _too_ scary?
![image](https://user-images.githubusercontent.com/13542746/40681077-1e6a624e-6356-11e8-8657-c35dbc923b9c.png)

[2018-05-29 19:51] JoelGritter commented on #1899
@thisandagain Another question: do we want this to be translated or not?

[2018-05-29 19:56] thisandagain commented on #1899
@JoelGritter Hmm! Interesting. If possible, I think it would be great to include this in translation.

/cc @chrisgarrity

[2018-05-29 19:56] thisandagain commented on #1899
@JoelGritter The red on black is a little over the top. Perhaps we could do something more like the red "Stop!" from Facebook as shown above.

[2018-05-29 19:57] thisandagain commented on #1899
@JoelGritter Also it feels like those statements should flow together as a single paragraph rather than multiple lines.

[2018-05-29 20:05] JoelGritter commented on #1899
@thisandagain Styling v2

![image](https://user-images.githubusercontent.com/13542746/40682550-09b25524-635a-11e8-80f4-79eb91a7faf8.png)

[2018-05-29 20:50] amazinigmech2418 commented on #1899
@JoelGritter The JS console could only be used for things JavaScript can be used for, excluding hacking unless it links to a PHP file or uses advanced API that is restricted because of Scratch firewalls.

[2018-05-29 21:08] #1837 closed

[2018-05-29 21:21] chrisgarrity commented on #1899
@JoelGritter I think it would be great if this was translated - I think you can just add it to the `src/l10n.json` file. That's included in every view. Probably with a key like `general.consoleWarning`. Is the stop an image or styled text? If it's text that can also be translated. You can look at the navigation for examples of localization (https://github.com/LLK/scratch-www/blob/develop/src/compo

[2018-05-29 21:46] JoelGritter commented on #1899
@chrisgarrity The stop is text, so it can be translated. 👍

[2018-05-30 03:42] dellbeat opened #1903 "npm ERR! www@1.0.0 build: `make build`"
I had clone this git to my server and want to run it.
But i have a problem when I run "npm run build" command.
Here are the tips.

make[1]: Leaving directory `/root/scratch-www'
make[1]: Entering directory `/root/scratch-www'
NODE_OPTIONS=--max_old_space_size=8000 ./node_modules/.bin/webpack --bail
make[1]: *** [webpack] Killed
make[1]: Leaving directory `/root/scratch-www'
make: *** [build] Error

[2018-05-30 11:13] apple502j commented on #1898
(To be honest, it should be translated so that foreign people don't have to read English version)

[2018-05-30 13:37] apple502j opened #1905 "Move /parents to scratch-www"
The page shows the old navigation bar, which means that it's on scratchr2.
Should it be moved?

And it should be translated, but it seems not so far.

### Steps to Reproduce
open https://scratch.mit.edu/parents/

### Operating System and Browser
Windows 8.1
Chrome 66.0.3359.181

[2018-05-30 17:51] #1773 closed

[2018-05-30 17:51] #1799 closed

[2018-05-31 10:02] apple502j opened #1909 "/about links to /help (which is moved to /tips)"
about page links to /help, but it's moved to /tips.
### Steps to Reproduce
See https://scratch.mit.edu/about/
/src/views/about/about.jsx Line 144

### Operating System and Browser
Windows 7 Home Premium 64bit SP1
Firefox 60.0.1

[2018-05-31 12:18] #1852 closed

[2018-05-31 19:35] #1865 closed

[2018-06-01 21:27] #1811 closed

[2018-06-01 21:27] #1876 closed

[2018-06-03 01:07] joker314 opened #1913 "Scratch search bar preserves URI encoded strings from the URL"
If a user searches for `cows`, then the resulting page will have the search bar filled in with `cows`, as well as the results below it. It's reminding the user what they typed in the bar, by keeping it on screen alongside the results.

When a user searches for `?`, the query string will contain the URI encoded version of that symbol, `%3F`. This is normal. The Scratch search bar is also filled in

[2018-06-03 01:12] joker314 commented on #1899
I like the proposed text, but I think more emphasis should be put on not copying and pasting content. Some people might not stop to read the small text.

![Mock-up image](https://user-images.githubusercontent.com/18113170/40882220-fd6c719c-66d2-11e8-9ff3-23dcd40d08fd.png)

Transcript:

Thoughts?

[2018-06-03 11:56] towerofnix commented on #1913
I'm pretty sure this is a duplicate of #1224 - which is a help-wanted issue, so if you want to have a go at that..! :)

The code you'd need to take a look at is probably in [`src/views/search/search.jsx`](https://github.com/LLK/scratch-www/blob/develop/src/views/search/search.jsx) - maybe in the `componentDidMount` function, since that looks like where URI-decoding is (supposed to be) happening?

[2018-06-03 12:12] joker314 commented on #1913
Thanks!

[2018-06-03 12:12] #1913 closed

[2018-06-04 14:54] #1224 closed

[2018-06-04 16:22] #1895 closed

[2018-06-04 19:57] thisandagain commented on #1905
Tracking in https://github.com/LLK/scratch-www/issues/1248. Please check for existing issues before creating a new issue.

[2018-06-04 19:57] #1905 closed

[2018-06-04 19:58] thisandagain commented on #1903
What version of Node and NPM are you using?

[2018-06-04 21:46] joker314 commented on #1898
Did the above-referenced pull request resolve this? If so, we can close this.

[2018-06-05 00:15] dellbeat commented on #1903
the version of Node is v6.14.2

[2018-06-05 00:16] dellbeat commented on #1903
the version of Node is v6.14.2 ,the version of NPM is 6.1.0

[2018-06-05 09:21] apple502j commented on #1898
Closed.

[2018-06-05 09:21] #1898 closed

[2018-06-05 12:29] thisandagain commented on #1903
Could you try using Node 8.X and NPM 6.X and giving it another try?

[2018-06-05 12:30] #1909 closed

[2018-06-05 13:16] dellbeat commented on #1903
OK, I will try it.

[2018-06-07 12:01] apple502j opened #1916 "Change splash to use 30000000 as a default value of projects"
https://github.com/LLK/scratch-www/blob/develop/src/views/splash/splash.jsx#30
We celebrated :tada: 30000000 projects some months ago, but the repo didn't.

### Steps to Reproduce
See the code - but note that it's only used when API died so you can seldom see it.

### Operating System and Browser
(Do you care it?)

Windows 7 Homepremium 64bit firefox 60.0.2