[2018-12-06 22:27] BryceLTaylor opened #2418 "On Edge, if you enter full screen from the project page the project preview disappears"
If you are looking at a project page and have not yet clicked the green flag, so the green flag overlay is visible, and then enter full screen mode, the contents of the project disappears.

### Steps to Reproduce

Sign in on staging
Navigate to a project page
Note: the green flag overlay should appear over the stage
Click the full screen button
Note: the stage becomes fullscreen but the preview of

[2018-12-07 04:12] benjiwheeler commented on #2416
For that matter, turning on the video and then turning it off keeps the camera light on -- not sure if we want that, or have the power to change it?

[2018-12-07 13:52] carljbowman opened #2421 "Educator's Page Update"
### Overview
Modify the content of the page by using preexisting components. A larger rethink and redesign of the page will come in the future after the launch of 3.0.

### Mock
[On InVision](https://projects.invisionapp.com/d/main#/console/16172669/335334873/preview)

![for educators](https://user-images.githubusercontent.com/3409578/49736282-b000d900-fc57-11e8-85bf-48a71bdb141b.png)

### Assets

[2018-12-07 14:05] carljbowman commented on #2362
Updated the assets zip and mock to include new illustrations.

[2018-12-07 14:48] thisandagain commented on #2415
This is ok for launch, but I'd like to come back and make this behavior consistent with 2.0.

[2018-12-07 14:50] thisandagain commented on #2416
@kchadha Any thoughts on this?

[2018-12-07 15:05] kchadha commented on #2416
@paulkaplan, I haven't looked at this yet, but could this be related to disabling the video when looking at the project preview image?

[2018-12-07 16:05] chrisgarrity commented on #1854
This has been done

[2018-12-07 16:05] #1854 closed

[2018-12-07 21:54] benjiwheeler commented on #1858
Closed by the combination of four PRs, referenced above

[2018-12-07 21:54] #1858 closed

[2018-12-07 22:49] chrisgarrity opened #2426 "See project page doesn't reflect language changes in the editor"
If you change language in the editor, and then view the project page it will display in the previously selected language until the page is reloaded. This is because www only changes language on a page reload.

Now that www is autosaving - it may be safe to reload the page if www detects that the current locale and the one in the cookie are different.

### Steps to Reproduce
If you start in English

[2018-12-08 05:55] apple502j commented on #2421
May I work on it?

[2018-12-08 14:05] benjiwheeler commented on #2072
There’s 2 ways I’ve found to solve this, and they both have (different) pros and cons from a UI perspective.

#1: the “client solution”: all clicks have an immediate, correct-looking response on the client side. You can click away to your heart’s content, toggling the state in a way that seems correct.
drawback: since we’re sending these clicks to the server, if you click multiple times fast, some

[2018-12-09 03:38] ntlrsk commented on #2421
Looking great! Two minor edits if possible when implementing the text: 1) In the "Connecting with Educators" section, for the first sentence make the link on "**Teaching with Scratch**" (instead of "Join the Teaching")  2) Under **News and Updates**, for the second sentence, can drop "for educators"  so it will just read: "Sign up to receive **updates and tips** from the Scratch Team."

[2018-12-09 07:36] apple502j opened #2429 "Quoted user id found on people.json"
https://github.com/LLK/scratch-www/blob/develop/src/views/credits/people.json#L9
Nobody else has quoted userId.

[2018-12-09 13:09] joker314 commented on #2429
Also, line 154
https://github.com/LLK/scratch-www/blob/9d5788cc778699548170313b3fdddb3a4ff0c081/src/views/credits/people.json#L154

[2018-12-09 13:30] kyleplo commented on #2421
Also, when do you plan on updating the "my classes" and related pages to scratch-www

[2018-12-09 18:45] towerofnix commented on #2299
(Screenshots read "Scratch on Linux is not supported", but I think this should be "Scratch Desktop is not supported on Linux", since of course Scratch 3.0 *can* run inside Firefox/Chromium, and we don't want to give the wrong idea to someone who stumbles upon that page without realizing that Scratch 3.0 also runs online.)

[2018-12-10 15:56] #2072 closed

[2018-12-10 16:36] carljbowman commented on #2385
I was planning on spending some time focused on the typography and padding for the Notes & Credits and Instructions text field... so this very well could be apart of the work.

@benjiwheeler - could you provide a bit more information about this issue. Possibly a screenshot or GIF of when the height of these fields becomes a problem.

[2018-12-10 17:03] chrisgarrity opened #2432 "Project description and notes placeholders are not translated"
on the new project page

[2018-12-10 19:18] picklesrus commented on #2421
@apple502j I think it is probably best if I keep this one. If this wasn't on the critical path for 3.0 and we weren't so close to the deadline this would have been a great one for you to work on though!  Thank you for the offer!

[2018-12-10 21:31] #2144 closed

[2018-12-10 21:31] #2167 closed

[2018-12-10 21:32] #2178 closed

[2018-12-10 21:32] #2189 closed

[2018-12-10 21:33] #2265 closed

[2018-12-10 22:05] kathymakes opened #2434 "Project Page: New Scratcher Experience"
Chatting with @benjiwheeler and @carljbowman  about this. We'd like to think more in depth about the messaging for New Scratchers (before they become Scratchers) in these scenarios:

**1) Creating your first remix**
Related to https://github.com/LLK/scratch-www/pull/2408

![image](https://user-images.githubusercontent.com/8203939/49764336-23790980-fc9d-11e8-9cb7-558d881ea5da.png)

**2) Sharing you

[2018-12-10 22:08] thisandagain commented on #2426
Labeling as "mini" just in case reloading is an option. If not, this is almost certainly not "mini".

[2018-12-10 22:15] benjiwheeler commented on #2414
Closing; tracking in https://github.com/LLK/scratch-api/issues/649

[2018-12-10 22:15] #2414 closed

[2018-12-10 22:16] kathymakes opened #2435 "Embed player view: "Project not found" enhancements"
For after launch:
It would be nice to simplify the view in embedded player when a project URL no longer has a project.

Here's an example of 2.0 embed in the wild. (Links in nav take you to a blank/error page)
![image](https://user-images.githubusercontent.com/8203939/49764956-eb72c600-fc9e-11e8-91c7-889ca993646c.png)

Right now it shows this on scratch.ly:
![image](https://user-images.githubuserc

[2018-12-10 22:20] kathymakes commented on #2388
@DeleteThisAcount Thanks for bringing that up. Yeah we were talking about how it's important to ensure authors/creators are well-represented. Unfortunately we can't consider this in full until we launch 3.0. Thanks for your thoughts & the example!

[2018-12-10 22:29] kaaaaathy opened #2436 "Embedded player view: Fullscreen"
**For post launch:**
It would be good to think about the fullscreen experience of embedded player projects.

Sounds like there would be more to figure out for implementation, and also this isn't too high priority right now.

As far as the future design goes, we could use the existing placement for the fullscreen button (top right):

<img width="997" alt="screen shot 2018-12-10 at 5 26 17 pm" src="

[2018-12-10 22:43] thisandagain commented on #2299
Good catch @towerofnix. We'll make that change.

[2018-12-10 23:08] thisandagain commented on #2435
/cc @chrisgarrity

[2018-12-10 23:08] thisandagain commented on #2436
/cc @chrisgarrity

[2018-12-11 09:35] apple502j commented on #2435
Might be related to LLK/scratch-gui#3363

[2018-12-11 14:40] benjiwheeler opened #2441 "Remix count appears to be zero"
No matter how many remixes a project has, the count appears to be zero! Whaaattt

### Steps to Reproduce

1. Remix
2. Count of remixes of original is zero
3. Whaaattt

Cousin issue in API: https://github.com/LLK/scratch-api/issues/541

Originally reported re: project https://scratch.ly/projects/130000091

[2018-12-11 15:11] #2432 closed

[2018-12-11 15:25] #2369 closed

[2018-12-11 16:04] benjiwheeler commented on #2385
These are screenshots from my Pixel 2 Android phone. It's not terrible, but the soft keyboard and the menu bar take up a lot of space, and there's very little vertical space left to scroll the page as a whole, or click away from the soft keyboard:

![screenshot_20181211-105606](https://user-images.githubusercontent.com/3431616/49812886-63d79680-fd34-11e8-902b-5576c9b5b084.png)
![screenshot_2018121

[2018-12-11 16:35] paulkaplan commented on #2127
Can't repro this anymore. closing.

[2018-12-11 16:35] #2127 closed

[2018-12-11 16:49] benjiwheeler commented on #2441
This appears to be fixed! There may be some confusion because the remix count only counts remixes that have been *shared*.

[2018-12-11 16:49] #2441 closed

[2018-12-11 18:20] kchadha opened #2442 "Username warning shows up after project is already running, not clear how to dismiss it"
Before the steps below, make sure you have a shared project that has a cloud variable and also a username block.

1. Sign out of scratch
2. Navigate to the project described above
3. Observe cloud variable modal; click green flag in stage overlay to dismiss it
4. Sign in
5. Observe username modal but no green flag overlay (it's not immediately clear how to dismiss it -- green flag).

[2018-12-11 19:43] paulkaplan opened #2444 "Remixes list links to /preview"
Going to any project on the new project page that has remixes, see that the thumbnail column of remixes all link to `/preview/:id`. seems to be related to this code: https://github.com/LLK/scratch-www/blob/develop/src/components/thumbnailcolumn/thumbnailcolumn.jsx#L13-L15

[2018-12-11 21:21] benjiwheeler opened #2446 "Should we show "(copyleft) Unshared" in copyright date field for unshared projects?"
Seems to me that this looks pretty weird:

![screen shot 2018-12-11 at 4 18 19 pm](https://user-images.githubusercontent.com/3431616/49831035-db231f80-fd60-11e8-8da2-6e4fe52c02b7.png)

[2018-12-12 10:49] Kenny2github commented on #2446
It's not about the copyleft mark itself, it's just that it seems weird to show "unshared" where a date would appear. I'd say just hide it.

[2018-12-12 13:30] thisandagain commented on #2446
Agreed. I think we should just hide this when the project is unshared.

[2018-12-12 13:42] thisandagain commented on #2227
@BryceLTaylor Can you confirm that this is still happening. The root cause is issues with the `datetime_shared` and `datetime_first_shared` fields in the DB.

[2018-12-12 13:53] thisandagain commented on #2391
@benjiwheeler Can you please provide more context here? Is this a QA issue that you'd like to have @BryceLTaylor review?

[2018-12-12 14:45] BryceLTaylor commented on #2227
This appears to be working properly at the moment.  I shared a project from the 3.0 project page on scratch.ly and as another user it was at the start of the list.  I'm closing this issue.

[2018-12-12 14:45] #2227 closed

[2018-12-12 15:02] BryceLTaylor commented on #2255
I am able to add projects to studios I own and ones I don't.  I'm not sure what the difference between those studios are.  If we see this again we can reopen this issue.

[2018-12-12 15:02] #2255 closed

[2018-12-12 15:37] BryceLTaylor commented on #2308
I can get there by manually typing /projects/0/editor but only if I'm signed out.  If I make changes and then sign in it updates the number in the url, which is correct.  This seems fine to me.

[2018-12-12 15:37] #2308 closed

[2018-12-12 16:24] #2203 closed

[2018-12-12 17:00] paulkaplan commented on #2360
Given the people who use studios very well may have lots of studios, this seems like it might be #critical. @thisandagain ?

[2018-12-12 17:16] picklesrus commented on #2421
Also, see comments about the teacher page on https://github.com/LLK/scratch-www/pull/2447

[2018-12-12 17:32] benjiwheeler commented on #2391
Added more notes to description above.

I don't really understand what the user experience should be, in this current state where we know it doesn't work but just don't want it to not work *tooo* badly :) . So I'm not sure what I'd ask @BryceLTaylor to test. It's a difficult issue to take specific action on.

[2018-12-12 18:12] benjiwheeler opened #2450 "Align remix credit and original credit when both appear"
When both a remix credit and original credit appear, they are misaligned:

![image](https://user-images.githubusercontent.com/3431616/49889400-61963a80-fe0f-11e8-8537-5614368a7b2c.png)

E.g., http://localhost:8333/projects/2000000409/

https://github.com/LLK/scratch-www/issues/2132 was related, FYI

[2018-12-12 18:14] thisandagain commented on #2391
Agreed! @BryceLTaylor do you mind working together with @benjiwheeler to audit the current behavior?

[2018-12-12 18:14] rschamp commented on #2251
Fixed!

[2018-12-12 18:14] #2251 closed

[2018-12-12 18:20] thisandagain commented on #2360
@paulkaplan Yup! I talked with @benjiwheeler about this today. We are going to try to prioritize this.

[2018-12-12 18:29] BryceLTaylor opened #2453 "login error while signed out should be less technical"
from @kathymakes:

Trying to log in while offline should probably throw a less technical-sounding error
![image3](https://user-images.githubusercontent.com/1088291/49890304-c6529480-fe11-11e8-8902-d9c477f0c2cc.png)

This was found in the editor.

### Operating system and browser
Safari on ios

[2018-12-12 18:45] rschamp commented on #2200
This is non-trivial until we have a reusable tooltip component in www :/

[2018-12-12 19:19] BryceLTaylor opened #2454 "Share button should be invisible immediately after a remix"
@kathymakes writes:
The “Share” button should be invisible right after you remix, so as to not encourage immediate sharing.

[2018-12-12 19:21] paulkaplan commented on #2258
Implemented share banners!

[2018-12-12 20:34] BryceLTaylor opened #2458 "Project page of a remixed remix has misaligned info"
If you remix a project that is already a remix, the project page for your new project will appear with the info boxes and their text misaligned.

### Steps to Reproduce

Remix a project with one user
Sign out
Sign in with another user
Navigate to the remixed project page
Remix it
Look at the project page for your new project
Note: The Instructions and Notes and Credits appear strangely positioned

[2018-12-12 20:47] BryceLTaylor opened #2461 "Remixing Geometry Dash causes console errors"
From @kchadha
Remixing BrycedTea’s geometry dash project (1300000623) causes many instances of the following error to appear in the console for different assets in the project:

XML Parsing Error: not well-formed Location: https://assets.scratch.ly/0eca150b1fd2e128904d4f9d82972edf.svg Line Number 1, Column 1:

### Operating System and Browser

Mac Firefox

[2018-12-12 20:48] BryceLTaylor opened #2462 "Remixing a project throws console errors"
@kchadha says:
Remixing a project (happens on multiple) causes the following error to appear in the console (after the share banner comes up)

www error Error: "Internal XMLHttpRequest Error" 	i https://scratch.ly/js/common.bundle.js:11:27631 	t https://scratch.ly/js/common.bundle.js:11:27071 	n https://scratch.ly/js/common.bundle.js:22:487398 common.bundle.js:22:484043
www error No visibility inf

[2018-12-12 21:12] thisandagain commented on #2458
@benjiwheeler Here is a critical item that I hope is a quick fix.

/cc @paulkaplan

[2018-12-12 21:46] kyleplo commented on #2461
Also, why can I view this file? I thought the scratch.ly server was protected.

[2018-12-12 22:03] #2411 closed

[2018-12-12 22:22] BryceLTaylor opened #2465 "Users can share projects from the trash"
@fsih writes:
Is it expected that you can edit and share a project that’s in the trash?

Actually I noticed that it now shows up in my stuff and not in Scratch, but it’s still showing the “this project is in the trash” banner and not the shared banner

### Operating System and Browser

Windows Chrome

[2018-12-12 23:18] #2330 closed

[2018-12-13 00:12] towerofnix commented on #2249
@carljbowman That's the mock and asset for the icon on the "add to studio" button, but this issue is for the "share" button (I think the one inside the project editor and on the unshared project page)?

[2018-12-13 00:34] carljbowman opened #2466 "Update "Add to Studio" icon"
### Current
There is a placeholder...

<img width="365" alt="screen shot 2018-12-12 at 7 32 35 pm" src="https://user-images.githubusercontent.com/3409578/49907570-b6a07380-fe44-11e8-88da-d37251669033.png">

### New Mock
<img width="587" alt="49902736-c9aa4800-fe32-11e8-960a-0d6975fbbc92" src="https://user-images.githubusercontent.com/3409578/49907585-c455f900-fe44-11e8-8578-b80dc167ed78.png">

###

[2018-12-13 00:39] #2444 closed

[2018-12-13 00:45] #2466 closed

[2018-12-13 01:47] #2356 closed

[2018-12-13 01:48] #2392 closed

[2018-12-13 02:31] benjiwheeler commented on #2450
Tracking in https://github.com/LLK/scratch-www/issues/2458

[2018-12-13 02:31] benjiwheeler commented on #2458
One more example:

![image](https://user-images.githubusercontent.com/3431616/49911671-46e6b480-fe55-11e8-9cb7-ea9e68d8481d.png)

E.g., http://localhost:8333/projects/2000000409/

#2132 was related, FYI

[2018-12-13 02:33] benjiwheeler commented on #2450
Thought this was the same as https://github.com/LLK/scratch-www/issues/2458, but it's not!

[2018-12-13 02:33] #2201 closed

[2018-12-13 09:27] apple502j opened #2468 "A string that does not exist appears on Transifex"
Scratch Website, splash-l10njson, featureBanner.subtitle, the message is `not used`.
Where is it defined and what does it mean?

[2018-12-13 13:40] thisandagain commented on #2465
/cc @rschamp @colbygk

[2018-12-13 14:45] #2296 closed

[2018-12-13 14:59] picklesrus commented on #2421
Things left todo before calling this fixed
- [ ] Finalize link to cards
- [ ] Finalize link to guides

[2018-12-13 15:01] chrisgarrity opened #2471 "Make project/embed view easy to cache"
The new projects `.../embed` view should be able to be cached indefinitely:
- ignore session info
- do not connect to cloud vars server

[2018-12-13 15:11] benjiwheeler commented on #2258
Reopening this because part of the problem is that there's no immediate response -- so on a slow connection, it's not clear that anything is happening until it's done.

Contrast this with the remix button spinner animation (on project page) and remixing alerts (on editor page)

[2018-12-13 16:00] benjiwheeler opened #2472 "AddToStudio modal can be weirdly tall"
When the browser window is tall (try heights around 1000px, with widths around 1000px), the add to studio modal looks unnecessarily tall!

Example with short window height (600px or so): looks fine

![screen shot 2018-12-13 at 10 54 26 am](https://user-images.githubusercontent.com/3431616/49950642-315da300-fec6-11e8-826f-9cdc8c4dad86.png)

Same page, with window height around 1000px: looks weird!

[2018-12-13 16:41] #2318 closed

[2018-12-13 16:42] #2360 closed

[2018-12-13 16:43] thisandagain commented on #2471
/cc @colbygk @rschamp

[2018-12-13 16:53] paulkaplan commented on #2354
Not going to close this because the new meta tags are in but will not be shown until we use a meta-tagless template, which i think is going to be done in the sentry change @rschamp ?

[2018-12-13 17:26] ericrosenbaum opened #2473 "Fix responsive styles for static pages, including "Ideas" page"
Many of our static pages (Ideas, About, FAQ, etc.) need css work to make them layout correctly at smaller sizes.

The modal on the Ideas page also needs attention.

E.g., the SEC page looks on a 10" iPad like:

![image](https://user-images.githubusercontent.com/3431616/104512042-9c08cd80-55bb-11eb-953d-88fd933091bf.png)

[2018-12-13 18:54] BryceLTaylor opened #2475 "Admin panel "Apply status to all remixes button" should alert success"
@christanbalch wrote:
On the Admin panel
After using the “Apply Status to all Remixes” button, the helper text at the top of the screen that says “All remixes are now being set to [mod action here]” does not appear (this is the only indication for mods that pressing this button actually worked).
Here is a screenshot of what it looks like on 2.0
![image16](https://user-images.githubusercontent.com/

[2018-12-13 18:58] BryceLTaylor opened #2476 "Symbol on "Moderation Info" section of project page is confusing"
@seotts writes:
Not sure what this symbol means. Maybe there could be a tooltip?
![image5](https://user-images.githubusercontent.com/1088291/49960826-0fbce580-fedf-11e8-934a-016552984c8b.png)

### Steps to Reproduce

Sign in as an admin
Navigate to a project page
Look below the project at the Admin Information section
Note: a confusing symbol

### Operating System and Browser

Chrome Mac

[2018-12-13 19:01] thisandagain commented on #2476
/cc @carljbowman @kathymakes

[2018-12-13 19:03] BryceLTaylor opened #2477 "Feature/De-feature button no longer gives alert to success"
@christanbalch writes:
After clicking “Feature” or “Defeature”, the helper text that used to appear to let you know it was done no longer appears.
Here is the helper text from 2.0
![image1](https://user-images.githubusercontent.com/1088291/49961025-98d41c80-fedf-11e8-9595-e2ff8e37f1d1.png)
![image2](https://user-images.githubusercontent.com/1088291/49961029-9b367680-fedf-11e8-9944-ffb56724c4b8.png

[2018-12-13 20:43] benjiwheeler commented on #2257
It looks good now! (Couldn't test Eric's original project because it appears to have been lost in the staging db purge, but i made a new one)

![image](https://user-images.githubusercontent.com/3431616/49966388-d5a71000-feed-11e8-8418-1a385825c9fe.png)

![image](https://user-images.githubusercontent.com/3431616/49966392-d770d380-feed-11e8-91a3-08b5dc9c8d4e.png)

[2018-12-13 20:43] #2257 closed

[2018-12-13 20:48] #2458 closed

[2018-12-13 20:49] rschamp commented on #2354
Correct

[2018-12-13 21:31] kyleplo opened #2481 "Converting other scratchr2 pages to scratch-www screenshots"
Hi! I wanted to share with you these screenshots I took of possible scratch-www versions of scratchr2 pages:

Discuss Home:
![discuss](https://user-images.githubusercontent.com/31634240/49968508-02f6bc80-fef4-11e8-80ca-82abc9c1dfa7.PNG)

Discuss Topic:
![discuss-topic](https://user-images.githubusercontent.com/31634240/49968510-02f6bc80-fef4-11e8-8ece-420d3117b954.PNG)

My Stuff Page:
![mystuff](h

[2018-12-14 02:53] #2362 closed

[2018-12-14 08:36] apple502j commented on #2481
Discussion forum seems impossible - They use DjangoBB (a Python program) for the forums.
Others - looks nice.

[2018-12-14 12:07] BonfireScratch opened #2483 "Update stylesheet"
Update stylesheet on projects, users and forums

[2018-12-14 12:14] #2421 closed

[2018-12-14 13:14] apple502j commented on #2483
Not here, sorry. Project pages will be updated along with the 3.0

[2018-12-14 13:21] #2481 closed

[2018-12-14 13:23] thisandagain commented on #2483
We are slowly redesigning and migrating each part of the site. This will take quite some time to fully complete, but project pages will be updated with the release of 3.0.

[2018-12-14 13:23] #2483 closed

[2018-12-14 14:43] BryceLTaylor opened #2484 "A remixed project without changes has the wrong thumbnail"
If you remix a project and then immediately, without making changes, leave the page, the project will have just the cat on a white background for the thumbnail.

### Steps to Reproduce

Sign in
Navigate to a project you don't own
See inside
Click "Remix" at the top of the page
Note: the project gets a new number and the title says "remix" in it
Click the "my stuff" folder icon in the top bar
Note:

[2018-12-14 15:26] paulkaplan opened #2485 "/tips to /ideas redirect is not working on staging"
When i hit /tips on staging, I get a 301 redirect response but it doesn't provide a location and so I just see a blank page. This is pretty confusing, given the code looks right https://github.com/LLK/scratch-www/blob/develop/src/routes.json#L393-L396

/cc @chrisgarrity @ericrosenbaum @rschamp

[2018-12-14 15:38] rschamp commented on #2485
This was due to the rewrite for the old tips view sticking around. We don't have anything that knows how to remove outdated views.  I fixed it manually.

[2018-12-14 15:38] #2485 closed

[2018-12-14 15:48] towerofnix commented on #2481
@thisandagain Did you accidentally close this? (Considering you mentioned carl and kathy but then immediately closed it!)

[2018-12-14 15:56] thisandagain commented on #2481
@towerofnix I closed it as we have a separate project tracking system for revising the design of each of these pages. I mentioned Carl and Kathy as I want to make sure we include these mockups as we are considering our redesigns.

[2018-12-14 17:58] #2299 closed

[2018-12-14 18:11] ericrosenbaum commented on #2331
resolved by https://github.com/LLK/scratch-www/pull/2443

[2018-12-14 18:11] #2331 closed

[2018-12-14 18:22] ericrosenbaum opened #2486 "Ideas page code cleanup"
In the transition from the Tips page to the Ideas page, we reused some code, components, and css styles that make reference to "tips" or to "TTT" (things to try).

We should rename the things that are currently used by the ideas page, and remove anything that is now unused.

[2018-12-14 19:13] benjiwheeler commented on #2484
@thisandagain can you help me understand why this issue is critical?

[2018-12-14 22:01] kchadha opened #2490 "Update clouddata FAQ"
The cloud data FAQ should be updated to indicate that the user gets disconnected from the cloud data server upon editing editor mode on someone else's project. The user would need to reload the project page to reconnect.

[2018-12-14 22:05] kchadha opened #2491 "Update wording in cloud data alert"
Current wording:

![image](https://user-images.githubusercontent.com/1786240/50030054-62230280-ffc2-11e8-885a-1d8ca9c2ac85.png)

Proposed new wording:

This project uses Cloud Data – a feature only available to signed in Scratchers.

[2018-12-15 11:52] kyleplo commented on #2481
@apple502j They could switch to a different forum system, like they did between 1.4 and 2.0

Also, I just found this: https://github.com/shoumma/ReForum

[2018-12-16 09:42] apple502j opened #2492 "Add a link to old micro:bit hex"
Current hex does not seem to be compatible with old micro:bits. Motion sensors won't work with it.
Old: https://downloads.scratch.mit.edu/microbit/scratch-microbit-1.0.hex.zip
New: https://downloads.scratch.mit.edu/microbit/scratch-microbit-1.1.0.hex.zip
Adding both links is the fastest way. However, we need to consider if we may confuse users.

Something like "If you got your micro;bit after Nove

[2018-12-17 02:25] #2468 closed, assigned to chrisgarrity

[2018-12-17 09:31] apple502j commented on #2492
The thing was opposite, new hex is needed...

[2018-12-17 09:31] #2492 closed

[2018-12-17 14:57] ntlrsk opened #2493 "do not show tutorial modal for signed in users"
Originally we were planning to show the "What's New in Scratch 3.0" video for logged in users. Now we have decided that the video was designed for a different purpose, so it's better not to show it in the editor.

[2018-12-17 15:17] carljbowman commented on #2319
## Overview
Overall the content will remain relatively the same. Some elements were removed and simplified. For the most part the masthead is relatively static, except for the video which will have two "states":
1. On page load, the masthead will load with an image / button to "Watch Video". At this point the video will not be loaded on the page.
2. Clicking the image or button will load and repla

[2018-12-17 15:17] carljbowman commented on #2319
@chrisgarrity - Leaving myself assigned to follow up with a final asset and some responsive mocks.

[2018-12-17 15:42] BryceLTaylor opened #2494 "See Inside button overlaps the project title on project page when in small screen"
On the project page, if you shrink the screen so it's very narrow, the See Inside button overlaps the project title field.

![image10](https://user-images.githubusercontent.com/1088291/50097432-eaceb800-01e7-11e9-816e-63f56aae5ffd.png)

### Steps to Reproduce

Navigate to a project page for a project that you own
Shrink the window horizontally
note: eventually the window will rearrange itself so t

[2018-12-17 15:44] BryceLTaylor opened #2496 "Concerns about aggregating loves/favorites on the project page"
@thisandagain writes:
We decided to only show 100+ on views, but I’m worried that aggregating the loves and favorites into “human” readable strings (e.g. 1K) may cause some serious issues with the community at launch.
![image11](https://user-images.githubusercontent.com/1088291/50097841-bc9da800-01e8-11e9-9d67-cd943933e4d3.png)

[2018-12-17 16:41] thisandagain commented on #2484
@benjiwheeler As we've seen in the past when thumbnails are not properly working in the "My Stuff" page, users can become highly disturbed and worry that their work did not properly save which results in a flood of bug reports and help desk tickets.

[2018-12-17 20:32] BryceLTaylor opened #2499 "Perhaps we should reword the remix message on the project page"
@kchadha writes
Phrasing in remix banner is a little bit awkard,
“Add a sprite, add a costume, make a change to make it your own!” maybe add “or” before “make a change”

### Steps to Reproduce

Navigate to the project page for a project you don't own
Click the Remix button at the top of the page
Note: a message appears at the top of the page that could perhaps use better wording

### Operating Sys

[2018-12-17 20:39] #2354 closed

[2018-12-17 20:50] #2484 closed

[2018-12-17 21:30] paulkaplan commented on #2254
This looks like it has been fixed? I can no longer repro. Can you @picklesrus?

[2018-12-18 05:14] Kenny2github commented on #1694
@rschamp ^ (I know this is in backlog but it's a help-wanted issue, attracting attention, yet according to Chris' comment it seems resolved)

[2018-12-18 12:16] #2493 closed

[2018-12-18 13:52] benjiwheeler commented on #2484
Confirmed that this is now working in scratch.ly

[2018-12-18 14:20] benjiwheeler opened #2503 "Add author username to Moderation Info section"
Relates to https://github.com/LLK/scratch-gui/issues/3995

We need mods/admins to be able to easily see the project author's username on the project page. Adding author username to Moderation Info section is a low-risk way to do this right away.

### Steps to Reproduce

1. be an admin
2. view a project page for a project you don't own
3. can't see the author's username currently!

[2018-12-18 14:28] benjiwheeler opened #2504 "When user can edit title on project page, still show author username alongside title input"
Users should be able to clearly see who the author of the project is on the project page -- whether the user is the author, not the author, an admin, or not an admin.

This needs design.

### Steps to Reproduce

1. be an admin and view a project page; or, be the project's author
2. can't see the username! you'd currently have to click on the avatar to find out the author's username

[2018-12-18 14:37] kathymakes commented on #2504
Potential design for our short-term, stopgap solution:
<img width="578" alt="screen shot 2018-12-18 at 9 34 05 am" src="https://user-images.githubusercontent.com/8203939/50160962-79a30980-02a8-11e9-9c34-a295ede84c33.png">

[2018-12-18 14:47] picklesrus commented on #2254
preview became projects, right? If so, then yeah. this works now!

[2018-12-18 14:47] #2254 closed

[2018-12-18 14:47] paulkaplan commented on #2496
We decided to remove the approximation in  love/favorite numbering

[2018-12-18 16:40] #2496 closed

[2018-12-18 16:45] #2503 closed

[2018-12-18 18:33] BonfireScratch opened #2507 "Show message count on editor"
Show message count on editor

[2018-12-18 19:12] carljbowman commented on #2319
@chrisgarrity - Updated the asset zip to include the final "video-image". Overall simplified the illustration to find a balance between looking interactive and not too much like just an illustration.

[2018-12-18 20:08] towerofnix commented on #2507
This is probably a duplicate of LLK/scratch-gui#3758.

[2018-12-18 21:36] benjiwheeler commented on #2339
Just want to revisit this since implementing the remix button animation and remixed banner. Do we still want to navigate the user away? If so, at what point of the current sequence of click->animate button->change url and show success banner ?

[2018-12-18 21:49] thisandagain commented on #2339
Click -> Animate Button -> Change URL -> Switch to Editor

[2018-12-19 01:40] kathymakes commented on #2339
I like Andrew's suggestion here... I think it's alright to drop the banner for the time being - the encouraging banner seems most important in the new user experience, and there are other ways we can add that in when we think about the broader messaging for new scratchers :)

[2018-12-19 02:43] benjiwheeler commented on #2504
Implemented @kathymakes's stopgap in https://github.com/LLK/scratch-www/pull/2506

[2018-12-19 11:33] tomrow commented on #2249
![share](https://user-images.githubusercontent.com/10169982/50217799-b5f66880-0381-11e9-87ed-e8c0e5c3ecd5.png)
I drew this in a couple of seconds, feel free to use it or modify it as much as you like

[2018-12-19 11:36] tomrow commented on #2249
What size does it need to be in pixels?

[2018-12-19 11:44] BonfireScratch commented on #2507
@towerofnix You are right, thanks for noticing!

[2018-12-19 13:20] benjiwheeler commented on #2129
Reproducing is tricky because of the different ways browsers manipulate history. Try:

1. Open a new tab or browser window
2. navigate to one project's page
3. *type or paste* the url of another project's page, hit enter
4. click "See inside"
5. click to open sprites library
6. hit browser back button.

You want to see editor; you actually see project page.

[2018-12-19 14:52] benjiwheeler commented on #2249
Thanks for the idea! In terms of image size, we usually use SVG files because they look good at any size. With this particular icon, I'm guessing that the design team at Scratch will create the icons we actually use, but we will definitely take this suggestion into consideration!

[2018-12-19 17:48] benjiwheeler commented on #2391
Looked into this. Seems to me the code is correctly implementing at least our "incomplete" current approach, because all creations of a new project go through the same www code that pushes history state.

I edited this issue: https://github.com/LLK/scratch-www/issues/2337 so we're tracking the question of whether or not we should reload.

[2018-12-19 17:48] #2391 closed

[2018-12-19 18:14] benjiwheeler commented on #2140
Should there be delete and report links?

[2018-12-19 18:31] benjiwheeler commented on #2253
Tried it on multiple Win devices with multiple accounts, seems fixed.

[2018-12-19 18:31] #2253 closed

[2018-12-19 20:14] #2507 closed

[2018-12-19 20:31] benjiwheeler opened #2513 "Some screen widths cause stage to mess up"
When the project page is viewed on mobile screen widths, the regular-sized stage seems to push our layout into a weird state.

### Steps to Reproduce

1. View project page on a phone (I used a Pixel 2), or use Chrome's device simulation mode and choose a phone layout
2. See weirdness!

![image](https://user-images.githubusercontent.com/3431616/50246364-2366c100-03a3-11e9-950f-d53ebc8b95ca.png)

##

[2018-12-19 20:35] #2339 closed

[2018-12-19 20:52] BryceLTaylor opened #2514 "Immediately after sharing a project project page shows "unshared" as shared date"
When you first share a project, either from the editor or a project page, the date shared is shown as "© unshared".  If you reload the page it appears with the current date.

It should update the date shared field immediately when shared.

### Steps to Reproduce

Sign in
Create a project
Share the project
It takes you to the project page
Note: the "date shared" section says "© unshared"

![screen

[2018-12-19 21:16] paulkaplan opened #2516 "Log out from project page can be caught by beforeunload prompt"
This is a problem because you can click "cancel" and the POST goes through that logs you out, but you remain on the page. From that point forward, saving and stuff may not work.

[2018-12-19 21:17] kathymakes commented on #2140
Our decision - can toggle commenting on mobile. But for now, don't include delete & report. Feels a bit weird if you can only delete comments but you can't post new comments. Very subtractive state to be in

[2018-12-19 22:10] thisandagain commented on #2516
/cc @rschamp @benjiwheeler

[2018-12-20 01:38] benjiwheeler commented on #2140
Reassigned to January 2019, following @thisandagain's reassigning of https://github.com/LLK/scratch-www/pull/2512 to January

[2018-12-20 01:39] benjiwheeler commented on #2381
Reassigning to Jan 2019, following @thisandagain's reassigning of https://github.com/LLK/scratch-www/pull/2512 to Jan 2019

[2018-12-20 13:20] #2355 closed

[2018-12-20 13:56] picklesrus opened #2521 "Get rid of use of FormattedHTMLMessage in FAQ page"
The FAQ page (info/faq) makes relatively heavy use of FormattedHtmlMessage.  We should make it use FormattedMessage instead.

[2018-12-20 14:15] Kenny2github commented on #2521
help wanted or no?

[2018-12-20 14:52] paulkaplan opened #2522 "Cannot see 3.0 extensions/block data on staging project page"
@rschamp mentioned that this is because it is using old 2.0 routes to try to retrieve 3.0 project data.

I just wanted to make sure this was tracked.

Repro:
- On staging, make a project, add an extension and a block
- Click "See project page"
- Note that there is no extension chip and moderator info contains the wrong block count (0)
- Note also, that the request for the project data is 403ing

[2018-12-20 14:57] paulkaplan commented on #2522
@rschamp can you confirm that [these lines](https://github.com/LLK/scratch-www/blob/develop/src/lib/storage.js#L15-L18) just have to be changed to be this same as [this line from GUI](https://github.com/LLK/scratch-gui/blob/develop/src/lib/storage.js#L39)

[2018-12-20 15:01] thisandagain opened #2524 "Minor edits to Credits page"
## Changes
- Change url path to `/credits`
- Add redirect from `/info/credits` to `/credits`
- Minor text change to first paragraph of the "Illustrations" section (should be evergreen):
    - > Many thanks to the following artists for their contributions to the Scratch sprite library:
- Add the following people to the "Acknowledgements" section:
    - Rachel Fenichel
    - Corey Frang
    - Z Godd

[2018-12-20 15:23] BryceLTaylor commented on #2337
I just ran through a bunch of actions using the back button from the editor.  I'm going to list the steps I took.  I put all actions in parenthesis.  The results don't seem ideal.

### File>new
Scratch.ly.
(create)
https://scratch.ly/projects/1300001448/editor
(file>new)
https://scratch.ly/projects/1300001449/editor
(<— button)
https://scratch.ly/projects/editor    No page reload no change to the

[2018-12-20 15:36] #2522 closed

[2018-12-20 16:20] #2524 closed

[2018-12-20 16:35] #2319 closed

[2018-12-20 16:39] benjiwheeler opened #2528 "Post-launch masthead responsiveness"
Follow-on to https://github.com/LLK/scratch-www/pull/2526 , which introduced the "Create stories..." masthead to be activated post-launch (around Jan 18 2019)

Seems like the masthead responsiveness is a bit off, partially because www's width breakpoints need revisiting.

approx 760 px wide: this looks good
image
![image](https://user-images.githubusercontent.com/3431616/50297808-a80d1a00-044b-11e

[2018-12-20 16:42] benjiwheeler opened #2529 "Autoplay masthead Scratch video?"
Follow-on to https://github.com/LLK/scratch-www/pull/2526, which introduced the "Create stories..." masthead to be activated post-launch (around Jan 18 2019)

Currently, the "Create stories" masthead will require two clicks to play the video:

Starting view:

![image](https://user-images.githubusercontent.com/3431616/50298029-2f5a8d80-044c-11e9-99b6-6cf827963b68.png)

After one click:

![image](ht

[2018-12-20 16:57] thisandagain commented on #2529
That would cost *a lot* of money and may incur bandwidth utilization for the user that they do not want.

[2018-12-20 16:57] #2529 closed

[2018-12-20 18:24] #2129 closed

[2018-12-20 19:30] paulkaplan opened #2532 "FAQ / 3FAQ is not available on staging"
From smoketest, /cc @picklesrus

[2018-12-20 21:41] benjiwheeler opened #2534 "Storage's handling of broken assets still makes project crash"
Storage was recently changed to make a broken asset (like an invalidly formatted svg) be gracefully replaced with a static question mark image, so the project will recover and be saveable and loadable.

But it appears this is not working.

### Steps to Reproduce

1. Download [broken.sb3](https://drive.google.com/open?id=1Jiensy23u98RoWnzcUJL_TnSIahp-t3R) (or use the .zip below, and change extensio

[2018-12-20 21:46] thisandagain commented on #2534
@kchadha This isn't a launch blocker, but if you could take a look at this tomorrow morning it would be helpful. I'm curious if you would consider this a blocker.

/cc @fsih

[2018-12-20 21:58] picklesrus commented on #2521
@Kenny2github: Sure!

[2018-12-21 00:32] MasterOfTheTiger commented on #2521
May I do this? Or is someone else already doing it?

[2018-12-21 02:11] #2534 closed

[2018-12-21 10:06] Kenny2github commented on #2521
I'm on it.

[2018-12-21 13:30] #2359 closed

[2018-12-21 21:23] rschamp opened #2539 "The Add to Studio modal makes it look like you can remove a project you don't own from studios you don't curate"
If you're looking at a project you don't own, and open the Add to Studio modal, all the studios the project is in appear checked off. You can un-check them, as if you're able to remove the project you don't own from studios you don't curate.  The only studios that should appear to be interactive are the ones you can actually take action on.

![image](https://user-images.githubusercontent.com/15120

[2018-12-21 21:44] ericrosenbaum opened #2540 "SVG optimization"
We use SVG files for illustrations in a number of places- we should do a pass through those with an optimizer to make sure they are no larger than necessary.

[2018-12-26 16:15] thisandagain opened #2541 "Add reference to National Science Foundation (NSF) on credits page"
## Problem
We would like to make sure that the NSF is given credit for it's support of Scratch throughout it's early history even though the NSF is not a "current" sponsor.

## Proposed Solution
Add a section for "Past Sponsors" that includes the NSF

/cc @kathymakes @carljbowman @ntlrsk

[2018-12-27 01:32] Kenny2github commented on #2541
help wanted or no?

[2018-12-27 14:20] thisandagain commented on #2541
@Kenny2github We'll need to discuss and come up with copy and a design first.

[2018-12-27 18:38] BryceLTaylor opened #2544 "Project page: when remix user image doesn't load, username appears twice"
If you load a project page for a project with remixes, and one of the remixers has no/a broken profile image, the username is written twice, once on top of the other.
<img width="259" alt="screen shot 2018-12-27 at 1 11 59 pm" src="https://user-images.githubusercontent.com/1088291/50490674-567d0600-09dc-11e9-8836-446bd00fda65.png">
The second appearance of the name (the blue one in the same font a

[2018-12-27 19:14] chrisgarrity opened #2545 "Document that projects using extensions automatically load the blocks in the FAQ"
Suggestions for the Scratch 3 extensions response in the FAQ:
(https://www.transifex.com/llk/scratch-website/translate/#it/faq-l10njson/161072146).

Add something to the response to let users know that when a project that uses an extension is loaded the extension blocks are automatically added to the palette.

[2018-12-27 19:15] ntlrsk commented on #2541
Here is some possible wording, drafted with @mresmres
Heading: **Initial Research Funding**
with just the National Science Foundation logo
or we could write a sentence including the grant numbers, depending on the design of the page.

[2018-12-28 16:24] paulkaplan opened #2550 "Project reports do not include the thumbnail"
The code handling project reports always creates a blank white thumbnail (source: https://github.com/LLK/scratch-www/blob/develop/src/redux/preview.js#L855-L858)

Warning: this might be a bit complex to implement since the GUI is the one who is in control of the the thumbnail stuff. I also do not fully understand when project reports include thumbnails and when they do not.

[2018-12-29 02:15] joker314 commented on #2544
The correct behaviour is to set the `alt` attribute to the empty string, because it conveys no additional information given that the username is placed beside it.

[2018-12-29 04:26] apple502j opened #2553 "Cannot access /download"
/download is not accessible now, maybe because of Scratch 3.0 editor.
https://scratch.mit.edu/download/scratch2 is still up, though.

However, footer or any pages has link to /download, which is not good.

[2018-12-29 04:37] colbygk commented on #2553
This is fixed, a bug introduced while attempting to solve an issue with third party modifications to the URL such as facebook posted links.

[2018-12-29 04:37] #2553 closed

[2019-01-01 18:46] benjiwheeler commented on #2539
I don't remember the specific conversation, but I asked if users should be able to remove their projects from a studio that someone else added them to, and was told yes. This was a question in developing the Add to Studio modal UX because we had to face the situation where a user removed their project from such a studio, then wanted to add it back, when the user doesn't have the power to add a pro

[2019-01-02 15:34] ntlrsk commented on #2271
This shortcut is not working: scratch.mit.edu/tutorials

[2019-01-02 20:53] benjiwheeler opened #2565 "Orange "Needs connection" extension chips for hardware extensions look like errors"
## Expectation:

If I'm currently connected to hardware, I'd expect to see extension chips on the project page that indicate that all is working well!

## Reality:

I see this, which makes it seem like something's wrong with the hardware extension, in contrast to the other extensions:

![image](https://user-images.githubusercontent.com/3431616/50611961-51212f00-0ea6-11e9-9ba9-022479f793c8.png)

[2019-01-02 21:16] kyleplo opened #2566 "Not enough font choices in add to studio"
![image](https://user-images.githubusercontent.com/31634240/50612873-a4e14780-0ea9-11e9-8e9b-471d97c2bfc2.png)

### Steps to Reproduce

Open the add to studio modal in a browser that doesn't support Helvetica Neue

### Operating System and Browser

Windows Chrome

[2019-01-02 21:41] chrisgarrity commented on #2271
Actually, I think this needs discussion. The link that opens the editor with the tutorials visible, `https://scratch.mit.edu/projects/editor/?tutorial=all` works for any place that we want to link to the tutorials. However, having a shortcut means that the link is more likely to be out there 'in the wild', and there is no context when you land on the tutorials page - it doesn't even say Scratch. I

[2019-01-03 02:24] wogiue opened #2571 "Email verify page has not been renewed."
_Describe the problem. Please make sure you can reproduce the bug. It's also
helpful to include screenshots or animated gifs of the problem._

### Steps to Reproduce

https://scratch.mit.edu/accounts/email_verify/~
has not been renewed.It seems like version2.0.

_Explain what someone needs to do in order to see what's described above. The
more detailed and explicit the steps are the better._

###

[2019-01-03 04:43] DeleteThisAcount opened #2572 "404 page writes URL as url"
_Describe the problem._
Instead of using URL because it is technically not a word, the 404 page uses url.

### Steps to Reproduce

Visit a page that 404s

Example: https://scratch.mit.edu/projects/1
Example: https://scratch.mit.edu/404

### Operating System and Browser

any works but I'm on Chrome Windows 10

[2019-01-03 04:44] DeleteThisAcount commented on #2565
i think this should be left in, but when you click on it, it actually trys connecting with the microbit.
currently you have to see inside and click the ! on microbit to connect

when it's connected it just turn green or blue.

[2019-01-03 12:26] #2571 closed, assigned to nobody

[2019-01-03 12:35] thisandagain commented on #2566
/cc @benjiwheeler @rschamp

[2019-01-03 14:22] joker314 commented on #2572
The human-friendly error message displayed to a Scratch user when they navigate to a 404 URL uses the term "url".

However, because URL is an abbreviation, its letters should all be capital letters. The bug being reported is the case of the letters is non-standard (lowercase not uppercase). @thisandagain

[2019-01-03 14:45] paulkaplan opened #2575 "Duplicate comments get loaded on project that are receiving lots of comments"
On a popular project, sometimes hitting "load more comments" updates the list with duplicates. I think this is because the "offset" is relative to the number of comments at load time, but in the mean-time many comments may have been added, so the request that comes back includes some that are already there. We talked about this possibility when we implemented the comment cache stuff, but it looks

[2019-01-03 15:04] DeleteThisAcount commented on #2572
@thisandagain @joker314 explains it very well

[2019-01-03 15:22] IamTregsthedev commented on #2566
I can help. Where is the FIle loacted, and what do i add?

[2019-01-03 15:58] kyleplo commented on #2566
@IamTregsthedev I already submitted a PR, sorry. The file is in src/components/modal/add-to-studio/modal.scss

[2019-01-03 17:05] rschamp opened #2579 "After deploying, Fastly config update sometimes fails"
This has happened a couple of times recently so I wanted to start collecting the errors somewhere.

From https://travis-ci.org/LLK/scratch-www/jobs/474935183
[code]

[2019-01-03 17:06] BryceLTaylor opened #2580 "Project thumbnails can get into an un-updatable state"
_Describe the problem. Please make sure you can reproduce the bug. It's also
helpful to include screenshots or animated gifs of the problem._

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described above. The
more detailed and explicit the steps are the better._

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2019-01-03 17:21] BryceLTaylor opened #2581 "If you're signed in on another tab, Signing in does nothing"
On the project page, if you're signed in on a different tab, if you try to sign in nothing will happen.

### Steps to Reproduce

Go to Scratch in 2 different tabs in the same browser.
In the first tab navigate to a project page
In the second tab sign in
Switch back to the first tab
Click "Sign in" in the nav bar
Fill out the info for an account
Click the "Sign In" button
Note: nothing happens.  Th

[2019-01-03 18:12] #1938 closed

[2019-01-03 18:16] #2566 closed

[2019-01-03 19:43] BryceLTaylor opened #2584 "Remixes section of the project page should have a "see all" link"
On the project page at the top of the remixes section there should be a "see all" link to to the /remixes view.

[2019-01-03 19:47] ericrosenbaum opened #2585 "Extension starter projects should be in a different account"
We should consider which account the starter projects for extensions should live in. Currently there are 3 starter projects for each of the three hardware extensions, and those 9 projects are in an account called [ericr-sampleprojects](https://scratch.mit.edu/users/ericr-sampleprojects/).

We should either rename this account or move the projects into a different account.

[2019-01-03 19:49] benjiwheeler opened #2586 "Long strings in instructions or notes & credits don't wrap"
Long strings in instructions or notes & credits don't wrap; they push past page boundaries.

Example: https://scratch.mit.edu/projects/268361524/

![image](https://user-images.githubusercontent.com/3431616/50658217-a3c22000-0f66-11e9-8ed5-9141565feb31.png)

### Operating System and Browser

Mac Mojave 10.14.2, current Chrome

[2019-01-03 19:51] BryceLTaylor opened #2587 "Account Nav should go above monitors in the editor"
If you have a monitor in the upper right side of your project in the editor and you open the account nav it will go behind the monitors.

It shouldn't.

### Steps to Reproduce

Open the editor
Scroll down to variables in the category menu
Check the box next to "My Variable"
Drag the monitor to the upper right side of the stage
Click on your username
Note: the menu that appears goes behind the moni

[2019-01-03 20:36] thisandagain commented on #2584
@carljbowman If I remember correctly we already had a design for this. Can you confirm?

[2019-01-03 21:03] ericrosenbaum opened #2589 "Add Sound section to credits page"
We need to add a section to the credits page for the creators of sounds and music that we use in the sound library. Some of the sounds have creative commons licenses which require attribution.

Here's the text (to be inserted following the "illustrations" section):

---

### Sounds

The Scratch sound library uses free sound resources from Adobe.com, Archive.org, FreeMusicArchive.org, FreeSound.org

[2019-01-03 21:05] thisandagain commented on #2572
@joker314 Ah! I see now. Thanks.

[2019-01-03 21:19] kyleplo opened #2590 "Comments section appears on unshared projects"
You can comment on your own unshared projects.

### Steps to Reproduce

Look at an unshared project page.

### Operating System and Browser

Windows Chrome

[2019-01-03 21:19] kosiecki17 commented on #2585
Would it be appropriate to move these to the LearningResources account?

[2019-01-03 21:20] paulkaplan opened #2591 "Only-instructions projects dont take up the whole height available"
![image](https://user-images.githubusercontent.com/654102/50662153-729c1c80-0f73-11e9-804d-17810cf9b427.png)

/cc @benjiwheeler

[2019-01-03 21:25] carljbowman opened #2592 "Remix Credit Avatars are not square"
The avatar should maintain a square ratio. Below are two examples of the issue:

Two Remix Credits
<img width="476" alt="screen shot 2019-01-03 at 4 20 29 pm" src="https://user-images.githubusercontent.com/3409578/50662315-e5a59300-0f73-11e9-9587-ba7e6ffead66.png">

One Remix Credit
<img width="486" alt="screen shot 2019-01-03 at 4 21 52 pm" src="https://user-images.githubusercontent.com/3409578/5

[2019-01-03 21:49] benjiwheeler opened #2593 "Extra 10px or so of padding below instructions/notes&credits in some circumstances"
When a project has been remixed, and there are only instructions *or* notes&credits (but not both), excess padding appears at the bottom of the text box:

![image](https://user-images.githubusercontent.com/3431616/50663327-4e423f00-0f77-11e9-9213-fbc2455f1ab5.png)

[2019-01-04 02:10] IamTregsthedev commented on #2544
@thisandagain  Where is the file, and what do i add?

[2019-01-04 02:11] IamTregsthedev commented on #2566
Oh ok

[2019-01-04 14:10] #2572 closed

[2019-01-04 14:21] carljbowman commented on #2584
Our original sketch was similar to what @benjiwheeler implemented. Just the "See All" text is a bit smaller at 12px, to help mitigate wrapping with longer languages.

![see all](https://user-images.githubusercontent.com/3409578/50692453-eb49ba00-1001-11e9-911f-c4168904b6f9.png)

[2019-01-04 15:04] carljbowman opened #2602 "Project page uses different avatar sized for every spot displayed"
### Overview
Overall on the Project page we use two container sizes for assets 48px by 48px and 32px by 32px, but are using various sized assets from the backend. Ideally we would use serve assets that are ~2x the container sizes.

Here is a quick audit:
![avatar asset size](https://user-images.githubusercontent.com/3409578/50694516-11725880-1008-11e9-90c4-e5404323c5b6.png)

[2019-01-04 15:07] carljbowman opened #2603 "Remix Credit info has awkward alignment if project title is short"
### Overview
Looks to be a flexbox issue.

<img width="470" alt="screen shot 2019-01-04 at 10 06 05 am" src="https://user-images.githubusercontent.com/3409578/50694658-7ded5780-1008-11e9-94ae-59b32778a2a9.png">

Ideally the icon and text would be left aligned with in the larger credit container.

### Expected Behavior

With short lines of text, the remix credit should look like this

![image](http

[2019-01-04 16:48] ericrosenbaum opened #2604 "Extension chip text and icons need updating"
The extension chips shown on the project page should show correct extension names and icons.

Currently they are a bit out of date:
- Video Sensing extension uses the name "Video Motion"
- Several icons are out of date: video sensing, translate, microbit, and wedo

![screen shot 2019-01-04 at 11 47 56 am](https://user-images.githubusercontent.com/567844/50699723-a0866d00-1016-11e9-8b33-0e997099c07

[2019-01-05 17:45] apple502j opened #2605 "Increase the notes max length"
https://github.com/LLK/scratch-www/blob/develop/src/views/preview/presentation.jsx#L382
https://github.com/LLK/scratch-www/blob/develop/src/views/preview/presentation.jsx#L426

They should be 5000.

Reported by EntityR: https://scratch.mit.edu/users/paddle2see/#comments-52776019

[2019-01-06 02:07] towerofnix commented on #2575
A "more proper" fix to this that I've seen on a lot of sites (especially forums ala Reddit) is to use a `?after=<last loaded comment id>` query instead of `?offset=<number>`. This way you're always guaranteed the constant number (say 20) of comments loaded; it'll never, for example, load zero comments because there was more than a full page of comments posted since you opened the page.

[2019-01-06 06:30] DeleteThisAcount commented on #2585
remember that people have already bookmarked the links. so if you unshared them, they would break a few links.

renaming the account seems to be the best solution

[2019-01-06 08:46] KevinGaoZF commented on #1903
I have the same problem. can help me?

os: win10 x64
node : v11.6.0
npm : 6.5.0-next.0

LOG INFO------------
0 info it worked if it ends with ok
1 verbose cli [ 'D:\\DevSoft\\NodeJs\\node.exe',
1 verbose cli   'D:\\DevSoft\\NodeJs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.5.0-next.0
3 info using node@v11.6.0
4 verbose run-script [ 'pr

[2019-01-07 03:18] benjiwheeler commented on #2566
@IamTregsthedev Thanks for your willingness to help! Please feel free to chime in on other issues too, we'd love your help! https://github.com/LLK/scratch-www/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2019-01-07 03:37] benjiwheeler commented on #2591
Closed https://github.com/LLK/scratch-www/issues/2593 in favor of this earlier issue. Here's the info from that:

When a project has been remixed, and there are only instructions or notes&credits (but not both), excess padding appears at the bottom of the text box:

![image](https://user-images.githubusercontent.com/3431616/50747739-8eb5ed00-1203-11e9-8439-1307ab025a49.png)

[2019-01-07 03:37] benjiwheeler commented on #2593
Tracking in #2591

[2019-01-07 03:37] #2593 closed

[2019-01-07 06:08] apple502j commented on #2605
When I translated SDS, it was over 1000 character, making it hard to do.

[2019-01-07 10:52] apple502j opened #2607 "404 for projects doesn't have title"
404 page has no title. It should have a title.

### Steps to Reproduce
Go to a project page like https://scratch.mit.edu/projects/1000000000000000000

### Operating System and Browser
any

[2019-01-07 10:58] apple502j opened #2608 "Just after remixing, parent's comments appear"
![](https://screenshotscdn.firefoxusercontent.com/images/b8336fc7-37dd-432d-bc26-77551093d2a0.png)
Just after remixing a project, parent's comments still appear!
This is like #2349 (which was fixed in #2350 ), but it looks like that PR didn't fix the GUI part.

### Steps to Reproduce
1. Remix a project via editor
2. Share
3. Check the comments

### Operating System and Browser
Windows 10, Firefox

[2019-01-07 13:00] apple502j opened #2609 "No bad wod filter in Notes/Credits"
Notes & Credits doesn't have bad word filter. Reported by [LuckyLucky7](https://scratch.mit.edu/discuss/topic/330157/)

### Steps to Reproduce
Add a swear word there: such as:
`I'll release a program written in Brainfuck!`

### Operating System and Browser
me: Windows 10/Firefox 64
LuckyLucky7: My browser / operating system: Windows NT 10.0, Chrome 71.0.3578.98, No Flash version detected

[2019-01-07 13:19] griffpatch opened #2610 "Cloudmonitor Shows Spinning Circle"
The cloudmonitor is showing no data and not loading - stalled? Also cloud projects don't appear to be working. This could just be a service outage?

[code]

### Steps to Reproduce

https://scratch.mit.edu/cloudmonitor/108566337/

### Operating System and Browser

Windows 10, Chrome

[2019-01-07 13:31] colbygk commented on #2610
Thank you for reporting. Since the release of 3.0 we've been experiencing some errors in the clouddata system that may be related to changes in how clouddata works with the frontend. These problems are leading to clouddata being unavailable at times.  We're working on it. :)

[2019-01-07 13:56] thisandagain commented on #2589
@ericrosenbaum I made some minor adjustments to the text, but this looks good.

[2019-01-07 14:57] ntlrsk opened #2611 "Change video on "About" page to Scratch! video"
Change video at the top of About page to the Scratch! video:
https://scratch.wistia.com/medias/joal01i8b1

[2019-01-07 15:04] thisandagain commented on #2541
@kathymakes Would you mind putting together a mockup with this change?

[2019-01-07 16:33] benjiwheeler opened #2614 "Loves and favorites are not creating notifications"
Loving and favoriting projects should create notifications that can be viewed on the user profile pages and in messages.

But they're not, because currently only scratchr2 creates them; api's POST and DELETE endpoints for loves and favorites don't create them yet.

We should have the project page hit different API endpoints, to proxy these requests to scratchr2 until we can update API.

[2019-01-07 16:54] benjiwheeler commented on #2157
related to z-index (adding this comment in hopes of improving search/findability of related issues)

[2019-01-07 18:09] #2605 closed

[2019-01-07 21:37] benjiwheeler commented on #2584
Resolved by https://github.com/LLK/scratch-www/pull/2596

[2019-01-07 21:37] #2584 closed

[2019-01-08 00:38] IamTregsthedev commented on #2544
No Problem. It'll be a bit hard for myself to FInd out what to fix and not, i'm not good with jsx, but i'll try. Thanks! :)

[2019-01-08 00:39] IamTregsthedev commented on #2544
@benjiwheeler  Is it possible for you to send a screenshot from the link given? It's a Scratch Team Only Site, and I want to see for myself.

[2019-01-08 00:40] IamTregsthedev commented on #2611
I'll Take this!

[2019-01-08 00:42] IamTregsthedev commented on #2607
I'll Kindly can Take this, if not a Scratch team or someone else wants too. 👍

[2019-01-08 00:42] IamTregsthedev commented on #2592
I can Fix this if Needed? :) 👍

[2019-01-08 00:43] IamTregsthedev commented on #2514
Was this fixed? It probaly was, just wondering? +1

[2019-01-08 02:33] towerofnix commented on #2611
Is there a list of projects that are featured in this video available, by the way? (Maybe a studio containing them?) Besides it seeming that one *has* to credit featured projects because of the Creative Commons license they're under, it would just be nice to check out those projects out of interest.

[2019-01-08 04:12] apple502j commented on #2607
I'm also on this 😛
Now lint passed, just I need to check if it really works

[2019-01-08 04:27] XueYuSky opened #2619 "Navigation Bar: Cannot GET /accounts/standalone-registration/"
I git clone the repo: scratch-www using:
git clone https://github.com/LLK/scratch-www.git
then run:
npm install
make translations
npm start
after that: I open chorm and type in the url: localhost:8333
I got this:
![1](https://user-images.githubusercontent.com/13450817/50810655-adbc9800-1345-11e9-85f5-e1270134c5a5.PNG)
![2](https://user-images.githubusercontent.com/13450817/50810659-b3b27900-1345-1

[2019-01-08 05:03] apple502j commented on #2611
@towerofnix Yeah... (Scratch Overview both violated BY and SA - no credits, overriding license from BY-SA to BY-NC-SA)

[2019-01-08 05:14] apple502j commented on #2589
According to CC BY, these are required:
- author name 🆗
- copyright notice 🆖
- notice to CC license 🤔 (FAQ page will do?)
- link 🆖

[2019-01-08 07:09] apple502j commented on #2614
Why is this PR still open?

[2019-01-08 10:28] liuyunzidian opened #2623 "ERROR in ./~/_@sentry_core@4.4.2@@sentry/core/dist/integrations/extraerrordata.js"
when I run "npm start"
there is an ERROR:
ERROR in ./~/_@sentry_core@4.4.2@@sentry/core/dist/integrations/extraerrordata.js
Module not found: Error: Can't resolve '../../../utils/logger' in '/home/scratch-data/scratch-www/node_modules/_@sentry_core@4.4.2@@sentry/core/dist/integrations'
 @ ./~/_@sentry_core@4.4.2@@sentry/core/dist/integrations/extraerrordata.js 6:15-47
 @ ./~/_@sentry_core@4.4.2@@s

[2019-01-08 11:39] griffpatch commented on #2610
What I am noticing is that the cloud server at times works brilliantly.
When it doesn't, this is what I see:
* Sometimes you can see cloud changes, but your changes do not appear in the log
* Sometimes you can't see other's updates, but your changes do appear in the log
* Often it looks as if writing becomes locked to a single user across all cloud vars? in that rather than all connected projects

[2019-01-08 13:16] dietbacon opened #2625 "Add Community Moderator link to jobs page"
Please add https://scratch.mit.edu/jobs/moderator back to the main jobs page at https://scratch.mit.edu/jobs with the Community Moderator position listed as 'Remote' as we're ready to bring on new moderators again.

[2019-01-08 13:51] BonfireScratch opened #2626 "Project title shows up after project has loaded"
Project title shows up after project has loaded

### Steps to Reproduce

1) Go to any scratch project
2) Watch the title of the tab change after project has loaded

### Operating System and Browser

_Windows 7 Chrome 71.0.3578.98 (32-bit)_

[2019-01-08 13:52] BonfireScratch commented on #2626
I thought that project title was being set by the Scratch API

[2019-01-08 14:10] towerofnix commented on #2619
The reason there is this error is because the page https://scratch.mit.edu/accounts/standalone-registration/ is not migrated to the modern scratch-www repository - it is still part of the closed-source scratchr2 repository. When scratch-www is deployed to https://scratch.mit.edu, it expects scratchr2 to also be running (so that that page shows up), and when running locally, it just fails to load t

[2019-01-08 14:24] ntlrsk commented on #2611
@towerofnix @apple502j Thank you for raising this - the video creators on our team are working on adding credits.

[2019-01-08 14:33] benjiwheeler opened #2628 "remixing from project page (before project has finished loading) seems to result in broken state"
hitting remix on project page before project has finished loading appears to be remixing forever. Some reports that it results in a seemingly broken state

The cause may relate to logic in the project state machine in gui, which only allows you to initiate a remix when the project is already loaded; we may need to revert https://github.com/LLK/scratch-www/pull/2515 , which preempively puts the but

[2019-01-08 14:35] benjiwheeler opened #2629 "hitting remix, then see inside quickly afterwards can make remixing alert appear forever"
observed by Mark F., who hit remix on the project page, then see inside quickly afterwards, and saw remixing alert appear forever, with no actual remix finishing.

may relate to https://github.com/LLK/scratch-www/issues/2628

[2019-01-08 14:43] benjiwheeler opened #2632 "Adding project to studio using add to studio modal does not seem to work until later"
to repro:
1. add to studio from project page
2. reload and reopen modal
3. project appears not to be in the studio.
4. browse to the studio
5. project IS in studio!
6. go back to project page and wait 5 minutes
7. now it appears to be in the studio

we seem to need to revisit our caching of studio membership; the issue is probably this: https://github.com/LLK/scratch-api/issues/685

[2019-01-08 14:45] benjiwheeler opened #2633 "no banner appears warning that project can't be shared until email is confirmed"
to repro:

1. be a new scratcher
2. create a project
3. go to project page
4. you should see banner warning that it’s not shared, and to confirm email. BUT you don't.

[2019-01-08 15:02] benjiwheeler commented on #2632
Possibly related: https://github.com/LLK/scratch-api/issues/605

[2019-01-08 15:04] MasterOfTheTiger commented on #2611
@ntlrsk what about the license for the Scratch! video?

[2019-01-08 16:48] joker314 commented on #2619
Try setting the FALLBACK environment variable. This will send all the scratchr2 pages to the actual live website. Careful, though, if you log in you will be performing live actions on the site when you e.g. comment on projects.

[code]

[2019-01-08 17:47] dietbacon opened #2634 "Costume editor in 3.0 can't handle multiple images"
There are several ways the costume editor isn't handling images in ways it did In Scratch 2.0:

* The 'Import' button is gone, so you can no longer select multiple images and have the editor merge those images into a single costume.

* You can no longer drag other costumes onto the costume you are actively editing to act as a copy/paste.

* The 'upload costume' option no longer allows you to selec

[2019-01-08 19:31] #2619 closed

[2019-01-08 19:34] thisandagain commented on #2626
This is by design as the new project page is not rendered server-side, but rather manipulated by the client at runtime.

[2019-01-08 19:34] #2626 closed

[2019-01-08 19:35] thisandagain commented on #2628
From discussion the suggestion here is to simply disable the remix button until the project has completed loading.

[2019-01-08 20:02] benjiwheeler commented on #2590
Partially addressed by https://github.com/LLK/scratch-www/pull/2612 , but needs to be disallowed on backend too

[2019-01-08 20:09] joker314 commented on #2544
Hi @IamTregsthedev -- it turns out that the links that @benjiwheeler was giving you are actually available to everybody.

They are relative URLs to the base of the repository. Here they are in their full form:
- https://github.com/LLK/scratch-www/blob/develop/src/views/preview/presentation.jsx
- https://github.com/LLK/scratch-www/blob/develop/src/views/preview/remix-list.jsx

JSX can be confusing

[2019-01-08 22:01] IamTregsthedev commented on #2607
WHYYYYY @apple502j  AGAIN!

[2019-01-08 22:01] IamTregsthedev commented on #2607
I was going to take this but okay i guess. :( 👍

[2019-01-08 22:02] IamTregsthedev commented on #2544
@joker314

I'm really sorry but I'm not good with jsx, and not sure what to do. I really want to take this Issue though. From your Post ^, I didin't get what to add and where properly.

[2019-01-08 22:03] IamTregsthedev commented on #2544
About scratch.ly link

[2019-01-08 22:47] thisandagain commented on #2623
What version of Node and NPM are you running? What operating system are you using?

[2019-01-08 23:21] IamTregsthedev commented on #2625
I'll Take this! Where is the file?

[2019-01-09 01:30] liuyunzidian commented on #2623
@thisandagain My Node is v6.11.3, NPM is 3.10.10, OS is Ubuntu 14.04.5.

[2019-01-09 03:38] KennethSweezy opened #2641 "Clicking anywhere in the player prior to project start does not start project"
While the green flag is placed in the center of the player (before the initial project start) it is required that you click the circle that the green flag is located within, this is different than the previous version of the Scratch website.

See the following GIF:
[ImgBB](https://ibb.co/JvHgbxq)

### Steps to Reproduce
1. Navigate to any project page
2. Try starting the project by clicking elsewh

[2019-01-09 04:52] benjiwheeler commented on #2614
Thanks for noticing, @apple502j! I'll close it now.

Resolved by #2615, #2616, and API's #694 & #695.

[2019-01-09 04:52] #2614 closed

[2019-01-09 05:58] liuyunzidian commented on #2623
After I use npm(I'm used cnpm) this is ok.

[2019-01-09 05:58] #2623 closed

[2019-01-09 06:35] XueYuSky commented on #2619
Thanks for your help. It works and the that page shows up. But I use my account to login, it appears nothing happended. I can't login the web.

[2019-01-09 07:39] joker314 commented on #2619
Ah yep! Take a look at the README.md file, it has a section on FALLBACK. It reads that the issue of logging in might be something that's being fixed, but also there are some security concerns.

[2019-01-09 07:54] apple502j commented on #2625
@IamTregsthedev https://github.com/LLK/scratch-www/blob/develop/src/views/jobs/jobs.jsx

[2019-01-09 07:57] apple502j commented on #2641
Duplicate of LLK/scratch-gui#4229

[2019-01-09 10:47] griffpatch commented on #2610
Cloud has been down for some time now.
You can update the cloud vars from within your project.
The updates appear in the log.
But other players updates do not get seen my the local project.

[2019-01-09 11:21] XueYuSky commented on #2619
Which README.md should I take a look at ？ The one in scratch-www or scratch-gui ?

[2019-01-09 13:02] colbygk commented on #2610
Thanks for the heads up. Normally we are quickly alerted to these issues, but for some reason they were not triggered this morning....

[2019-01-09 13:11] benjiwheeler commented on #2641
Thanks, @KennethSweezy and @apple502j

[2019-01-09 13:11] #2641 closed

[2019-01-09 15:12] chrisgarrity opened #2643 "Update FAQ mobile chrome min version"
Minimum mobile chrome version should match the desktop version. Both should be at '63+'.

[2019-01-09 16:40] benjiwheeler commented on #2590
Resolved by https://github.com/LLK/scratch-www/pull/2612 and https://github.com/LLK/scratch-api/pull/703

[2019-01-09 16:40] #2590 closed

[2019-01-09 16:43] benjiwheeler opened #2644 "Have comment form appear for mods on unshared projects"
https://github.com/LLK/scratch-www/pull/2612 hid the comment form on unshared projects.

But mods would like to be able to comment on their own unshared projects.

The backend supports this for mods; all we need to do is reenable this on the front end.

[2019-01-09 16:50] kathymakes commented on #2541
@thisandagain Just seeing this, I can definitely do that today :) Thanks.

[2019-01-09 19:44] #2607 closed

[2019-01-09 19:58] towerofnix opened #2647 "Can't click links of highlighted comment"
When a comment is highlighted, I can't click the username or avatar links to view the profile of the commenter; my mouse doesn't even turn into the pointer cursor when I hover over them. When a comment *isn't* highlighted, though, I can click those links. I know the `<a>` elements are at least properly present, because I can use keyboard navigation (tab/shift+tab) to focus and activate them - I ju

[2019-01-09 20:10] kathymakes commented on #2541
I was thinking we could have it just as text, with no logo, and link to the NSF website.
It's a more modular section this way without a logo, and still contains a link for more info.

<img width="533" alt="screen shot 2019-01-09 at 2 59 22 pm" src="https://user-images.githubusercontent.com/8203939/50925430-49bad200-1420-11e9-8dbb-b8fad9595cb2.png">

If we feel good about this direction + copy I ca

[2019-01-09 20:20] kathymakes commented on #2541
Actually, it feels better to me to put it with "Past contributors," and together with the sections that feel more past tense (and reference the NSF grant.) What do folks think of this ordering - any other suggestions?
@ntlrsk @thisandagain

<img width="733" alt="screen shot 2019-01-09 at 3 15 18 pm" src="https://user-images.githubusercontent.com/8203939/50925968-d74af180-1421-11e9-9de1-e7dcc727999

[2019-01-09 21:45] benjiwheeler commented on #2514
@IamTregsthedev No, this is not fixed yet! But it's definitely misleading!

What's tricky is that we don't actually use the shared status (as represented by the property `isShared` in `preview/project-view.jsx` and `preview/presentation.jsx`) to decide whether to show `Unshared`, we use the shared date. But we currently only get the shared date from a request for `projectInfo`, which we don't do w

[2019-01-09 22:00] benjiwheeler opened #2651 "Can’t see more than 20 replies on any comment thread"
Users can't see more than 20 replies on any comment thread.

To repro:
* add lots of replies to a comment thread, more than 20. Maybe number them in their content
* try to see them all
* YOU CAN'T

[2019-01-09 22:04] #2644 closed

[2019-01-10 02:53] KennethSweezy opened #2652 "After posting a max length comment, character count remains red"
When posting a max length comment (500 Characters), after posting, the character count remains red, creating things like [this](https://ibb.co/jfTpyTj). I have seen several other issues relating to this, namely #1813 and #1527 however this led to an unknown repository.

### Steps to Reproduce
1. Fill the max character limit of a comment
2. Then post the comment
3. Notice that the character count i

[2019-01-10 13:41] joker314 commented on #2652
Hi, those repositories are private, you're right. Even though they can't be publicly viewed, those repositories still exist and are still traking the issue for internal Scratch Team members

[2019-01-10 13:53] thisandagain commented on #2652
Tracking in https://github.com/LLK/scratchr2/issues/4990

[2019-01-10 13:54] #2652 closed

[2019-01-10 16:01] KennethSweezy commented on #2652
Thanks for the explanation!

[2019-01-10 18:59] #2628 closed

[2019-01-10 19:03] #2643 closed

[2019-01-10 22:24] benjiwheeler opened #2661 "Loading project page, then switching to editor, causes project to think it's in changed state"
First, verify that a project (not your own) does the right thing *when you load the editor directly*:
1. load the editor url of a project you don't own. wait for loading to finish.
2. hit the browser reload button.
3. you do NOT see a prompt that warns you that changes are unsaved (correct).

Now, try loading project page first:
1. load the same project's project page. wait for loading to finish.

[2019-01-11 01:39] IamTregsthedev commented on #2514
So This isn't help wanted?

[2019-01-11 01:40] IamTregsthedev commented on #2625
Where is the file? What do i add?

[2019-01-11 01:42] IamTregsthedev commented on #2544
Thanks, I Learn React, and I'll get this done soon. But, Where do i add the stuff, like i want the lines of code plz, and where to put in a easier way told. Thanks @joker314  and @benjiwheeler  for your help

[2019-01-11 02:37] benjiwheeler commented on #2514
It is help wanted. I was just explaining what needs to be considered by anyone helping!

[2019-01-11 10:34] apple502j opened #2662 "Make scratch.mit.edu Link Clickable"
![](https://screenshotscdn.firefoxusercontent.com/images/0fc90529-4f90-438b-847c-d512082e305e.png)
scratch.mit.edu domain links should be clickable (or it will detect # as hashtag)

### Steps to Reproduce
https://scratch.mit.edu/projects/213374512/
This project has scratch.mit.edu domain link in Credits.

### Operating System and Browser
Windows 7/Firefox 64

[2019-01-11 10:35] griffpatch commented on #2610
The cloud variables have been updating in the cloud log ok for the last day, but they are not being read into the scratch project... Therefore no one can see anyone else. This has been an issue for over 24 hours now.

[2019-01-11 12:37] apple502j opened #2663 "Obsoleted links tracker"
These pages contain obsoleted credits/ideas link.

- About page: Tips and Credits (Learn More About Scratch, Support and Funding, has patch #2622 )
- Footer: Credits

[2019-01-11 16:48] chrisgarrity opened #2665 "Switch www to depend on scratch-l10n instead of scratchr2_translations"
Depends on https://github.com/LLK/scratch-l10n/issues/14

We should move away from the dependency on scratchr2_translations.
scratch-l10n should validate translations on download, so www should not have to test the translations. This would reduce the www travis log to something manageable.

The scripts that build translations can `require('scratch-l10n')` to load translations.

[2019-01-11 17:19] benjiwheeler commented on #2579
Log from 1/11/19:

[code]

[2019-01-11 18:35] benjiwheeler opened #2668 "Clicking "reply" on a comment should shift focus to the form's textarea"
When I click "reply" on a comment, my instinct is to start typing right away -- that's what i'm used to from other interfaces.

But I can't start typing, until I click in the textarea to focus it.

I think we should focus the textarea as soon as it appears!

[2019-01-11 21:00] IamTregsthedev commented on #2514
Oh Okay. Thanks

[2019-01-12 18:34] WorldLanguages commented on #2668
Yes please. This has been very annoying as a Scratch user.

[2019-01-12 21:14] IamTregsthedev commented on #2668
Yes Please from me too. It's just makes you mad sometimes.

[2019-01-12 22:18] towerofnix commented on #2668
Agreed! A similar topic would be the fact that there's no indication that the reply, send, etc buttons are focused (e.g. with tab), but I guess that's a separate issue.

[2019-01-13 00:57] towerofnix opened #2669 "Pressing see inside erases comment/reply content"
Pressing see-inside erases the content of comment and reply boxes!

### Steps to Reproduce

Type text into a comment box, then click see inside to, for example, take a look at the scripts, for reference in your comment. Then exit see inside, and find that the text you were writing is missing!

### Operating System and Browser

Firefox 65.0b10, Linux (Debian).

[2019-01-13 08:36] jfo8000 commented on #2587
FYI when I changed the z-index in the inspector it resolved this problem.  Looks to be a simple case of switching 41 to 999?
[code]

[2019-01-13 14:12] DeleteThisAcount commented on #2587
where would this code be?

[2019-01-13 17:42] GreenScripter opened #2670 "Upload server refuses to upload reasonably large lists"
_When trying to save a scratch project with very large list the editor will say it is saved, but in reality the server rejects the request with 413 PayloadTooLarge. In 2.0 project code was allowed to be up to 20 MB, this project's code is 5.71 MB. The number of entries I put in the list was approximately 93,000. (Trying to code a project to read 3D printer gcode files.) While I understand the need

[2019-01-13 20:18] jfo8000 commented on #2587
Not entirely sure, I only chrome debugged the live site...  this style looks to be processed and stuffed into a style tag by some build process.

[2019-01-14 07:28] gzqaozhiqiang opened #2672 "Runtime error"

[2019-01-14 07:31] gzqaozhiqiang commented on #2672
![111](https://user-images.githubusercontent.com/19340586/51100515-69cc0600-1811-11e9-8d1b-8e773d9957ec.png)

[2019-01-14 12:01] griffpatch commented on #2610
The cloud variables have again been failing for a couple of days... Is there an official page to post this issue to because each time I post this it gets fixed for half a day or so and then appears to stop working again... Does the cloud service just need restarting every day? Would you like me to continue to report cloud data issues, or leave it to you? This doesn't feel like the right place, but

[2019-01-14 13:49] colbygk commented on #2610
I'm personally okay with seeing reports here. We're still responding to the range of issues presented once we released 3.0 and the downtime associated with clouddata has been a surprise. We'll be working on it.

[2019-01-14 16:19] thisandagain commented on #2541
Thanks @kathymakes. A big part of our reasoning for adding the NSF is that is validates our research origin story, so my leaning is towards the your second sketch:
https://user-images.githubusercontent.com/8203939/50925488-77078000-1420-11e9-8823-e202f7ee3470.png

[2019-01-14 16:19] benjiwheeler commented on #2587
@jfo8000 and @DeleteThisAcount, there's a pull request that partially resolves this, but it's not finished. Please read the comments there. You are welcome to take a look and submit a fix!

[2019-01-14 16:35] griffpatch commented on #2610
If the cloud was up again just now, then it's down already :( - I can write
to the cloud, but not read the values back

On Mon, 14 Jan 2019 at 13:49, Colby Gutierrez-Kraybill <
notifications@github.com> wrote:

[2019-01-14 20:09] benjiwheeler commented on #2539
@carljbowman @kathymakes Looks like we need design for this:

What should the Add to Studio modal look like when the studio memberships are NOT changeable by the user? Should we just disable clicking, but have them look the same? (I'll start working on that as a stopgap.) Or maybe make them a different color?

[2019-01-14 21:13] kyleplo commented on #2412
Maybe something like what the Unity WebGL Player does?
![image](https://user-images.githubusercontent.com/31634240/51141430-3e4c1a00-1817-11e9-9042-0174bf1e32c9.png)

[2019-01-14 22:30] thisandagain commented on #2670
Moved to LLK/scratch-gui#4346

[2019-01-14 22:30] #2670 closed

[2019-01-14 22:31] thisandagain commented on #2672
Please fully complete the issue template and provide sufficient information for us to be able to reproduce the issue.

[2019-01-14 22:31] #2672 closed

[2019-01-15 11:06] ElivesHuangGit opened #2678 "make × ERR $(NODE) ./dev-server/index.js"

[2019-01-15 11:33] ElivesHuangGit opened #2679 "make × ERR $(NODE) ./dev-server/index.js"
In the windows10 environment, Run with cygdrive ，when the npm start command is run, an error is reported.May I ask what is the reason.Version Information：node(v6.5.0)，npm(3.10.3)
![image](https://user-images.githubusercontent.com/36831410/51178039-6a8d9680-18fc-11e9-8d7d-e0a53affed60.png)

[2019-01-15 14:15] apple502j opened #2681 "Little Bluebridge Foundation links to the page itself on Credit Page"
On https://scratch.mit.edu/credits 's Sponsor column, LBF links to the page itself.

### Steps to Reproduce
1. Go to Credits
2. Click LBF on Sponsor

### Operating System and Browser
Windows 10/Firefox 64

tips:https://github.com/LLK/scratch-www/blob/develop/src/views/credits/credits.jsx#L65 should be fixed so that a tag won't be added without URL

[2019-01-15 14:32] griffpatch commented on #2610
It's working - yay :)

[2019-01-15 15:48] thisandagain commented on #2678
Duplicate of https://github.com/LLK/scratch-www/issues/2679

[2019-01-15 15:48] #2678 closed

[2019-01-15 15:49] thisandagain commented on #2681
Great catch!

[2019-01-15 16:23] benjiwheeler commented on #2539
Another consideration is that we might want to just not display studio buttons, if the project is in those studios but the user doesn't have permission to alter that fact.

[2019-01-15 16:49] kathymakes commented on #2681
@thisandagain I'm not sure where this might link, I don't believe that LBF has its own website. We could ask Tony Zhang's group and in the meantime leave it as an unlinked image.

[2019-01-15 16:50] thisandagain commented on #2681
Yup! No website for this one. I think I'd prefer that we simply remove the link (e.g. `<a href>`) from the image.

[2019-01-15 18:49] griffpatch commented on #2610
They're down again...

[2019-01-15 19:19] griffpatch commented on #2610
Also, when opening a cloud test project, the project starts up with the cloud vars showing with the 1st cloud var set to the correct value, but the second one is not accurate with the cloud log.

Changing cloud var 1 takes roughly 50 seconds (consistently right now) to change on another pc running the same project. The change is detected and the 2nd cloud var is changed... however, this change 'ne

[2019-01-15 21:19] benjiwheeler opened #2684 "Add to Studio modal does not show all studios user curates"
@ceebee curates many studios (approx 98), but only 30 or so show up in the add to studio modal...

see: https://scratch.mit.edu/users/ceebee/studios/

e.g. project: https://scratch.mit.edu/projects/278072605/

to repro, curate a boatload of studios, then open the add to studio modal on one of your projects!

[2019-01-15 21:21] benjiwheeler opened #2685 "When add to studio modal has many studios, the ones on bottom have fade out overlay"
When add to studio modal has many studios, the ones on bottom have fade out overlay. This makes it unclear whether or not the bottommost ones are clickable.

Reported by @ceebee, who curates approx. 98 projects.

![image](https://user-images.githubusercontent.com/3431616/51210691-6dc75900-18e1-11e9-9f01-d54f8fb8f951.png)

[2019-01-15 22:15] jakel181 commented on #2681
I don't see a website for "Little Bluebridge Foundation" at all nor does a google search or with a company database. (www.crunchbase.com).  http://www.bluebridge.foundation/ shows no affiliation with "Little Bluebridge Foundation" and a whois lookup https://whois.icann.org/en/lookup?name=www.bluebridge.foundation shows the domain is owned by Booster Enterprises and registered by godaddy. A company

[2019-01-16 03:46] ElivesHuangGit commented on #2679
Thanks

[2019-01-16 08:40] griffpatch commented on #2610
Still down (see previous message)

[2019-01-16 21:59] #2539 closed

[2019-01-16 23:24] benjiwheeler opened #2690 "Need visual clue that a studio in add to studio list can't be joined"
https://github.com/LLK/scratch-www/pull/2682 made the add to studio list only show studios whose membership status you have the power to change.

But it's still possible to have a studio listed, and click to leave it, and not be able to click to rejoin it. That's on purpose: it happens when you don't curate the studio, but your project is in it.

When that's the case, we need to visually communica

[2019-01-17 00:39] thisandagain commented on #2690
/cc @carljbowman @kathymakes

[2019-01-17 00:47] thisandagain commented on #2681
@jakel181 No. The foundation is called "Little Bluebridge Foundation" and is run by an anonymous donor. Please do not change the name.

[2019-01-17 00:51] jakel181 commented on #2681
Ok 👌 :)

[2019-01-18 13:54] #2490 closed

[2019-01-18 19:55] #2681 closed

[2019-01-21 14:19] griffpatch commented on #2610
Yeah... I haven't seen the cloud working now for a whole week... Shame.

[2019-01-22 10:40] Maxim-Mazurok opened #2700 "[recommendation] High Gunning fog index of website description"
It's more of general issue. I think that it might be a good idea to check texts used on this website against [SMOG](https://en.wikipedia.org/wiki/SMOG), [Gunning fog index](https://en.wikipedia.org/wiki/Gunning_fog_index) or any other [readability formulas](http://www.readabilityformulas.com/), because it's meant to be understandable for kids and undergrads.

For example, the description that show

[2019-01-22 13:15] towerofnix commented on #2700
(Disclaimer - I'm not part of the Scratch Team - I'm just curious about this topic.)

Of course...but then, those are the key words, aren't they? Obviously you have a lot more experience with rewriting strings than me, but - how would you suggest that particular text be written, while still conveying the same effect?

Also, I know these formulas must have been greatly scrutinized and developed to

[2019-01-22 14:30] Maxim-Mazurok commented on #2700
First of all, I'd like to say that I love idea of Scratch, recommend it to kids and parents, created an android app using advanced Scratch and in general, believe that visual programming is the future of professional software development. So, I really appreciate efforts behind creating the Scratch and would never criticize it in a bad way. All that I said, was a couple of thoughts about how those

[2019-01-22 15:54] #2589 closed

[2019-01-23 22:30] #2604 closed

[2019-01-23 22:37] benjiwheeler opened #2706 "Add to Studio modal can shift the rest of the page to the right"
The Add to Studio modal can shift the rest of the page to the right when it opens.

The effect is subtle, not sure if it happens on all browsers and for all projects or not. Saw it with https://scratch.ly/projects/1300002266/ .

![addtostudioshift](https://user-images.githubusercontent.com/3431616/51641884-76e5a500-1f35-11e9-983d-fc28837df448.gif)

### Operating System and Browser

Mac OS Mojave c

[2019-01-24 09:21] apple502j opened #2708 "FAQ refers to a section which does not exist"
[code]
But `Where did the Pen blocks go?` does not exist.
### Steps to Reproduce
See FAQ

### Operating System and Browser
any

[2019-01-24 15:56] colbygk opened #2710 "Project Title/Description/Notes updates do not handle non-200 responses"
Project title/description/notes fields updates should handle non-200 responses from the API

[2019-01-25 02:17] emmaccacca commented on #1903
same problem.
Tried some times and build successfully. But I encountered error when run 'npm start'.
![image](https://user-images.githubusercontent.com/5310448/51720892-65fa7800-208a-11e9-88d5-28ce242b3d5e.png)

operating system: Linux VM_0_12_centos 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
node: v11.6.0
npm: 6.7.0

[2019-01-25 03:14] benjiwheeler opened #2713 "Add to Studio modal does not receive information about all the project's studios"
If a project is in more than 20 studios, the Add to Studio modal will not show its membership in all of them. This appears to be because the API is defaulting to a maximum of 20 studios in its response to www's query for the studios the project is in.

To reproduce:

1. Create a Studio
2. View https://scratch.ly/projects/25532916/ on staging website (if you have access), or view a popular project

[2019-01-25 15:27] benjiwheeler opened #2715 "It can take two clicks of back button to go back"
Related to https://github.com/LLK/scratch-www/issues/2337

To repro:
1. go to my stuff
2. click on a project
3 click see inside
4. click back button
5. click back button again...

The problem:
in # 5, it does not go back!?!?

6. click back button AGAIN

...now it goes back.

[2019-01-25 18:39] rschamp commented on #925
We did it!

[2019-01-25 18:39] #925 closed

[2019-01-25 21:32] kyleplo commented on #1250
The video also needs updating.

[2019-01-26 21:15] towerofnix commented on #2390
Bump, somebody reported this as a bug on the forums here: https://scratch.mit.edu/discuss/topic/337796/

I can't scroll the projects page on Firefox (Linux) using my arrow keys, if this was thought to be Safari-specific.

[2019-01-28 14:36] colbygk opened #2721 "Firefox project page to full screen does not go to full screen at first"
When going to full screen in 64.0.2 (64-bit) Firefox macOS, the first overly is on the whole project page, without showing the real full screen of the project. See attached GIF:

![jan-28-2019 09-24-53](https://user-images.githubusercontent.com/192393/51842991-1d3bfc80-22e0-11e9-8b25-495c7910ba39.gif)

After clicking the green flag, the stage takes over the full screen.

### Steps to Reproduce

Lo

[2019-01-28 16:08] kathymakes opened #2722 "Redesigns for "Add to Studio" modal"
### Background
A month ago, this issue about the Add to Studio Modal was created: https://github.com/LLK/scratch-www/issues/2539

We want to clarify which studios you can add back, and which studios you can't. Right now, the styling looks the same even if you aren't able to re-add the studio. (Permissions depend on whether or not you curate/own the studio.)

<img width ="400" src = "https://user-i

[2019-01-29 04:43] #2625 closed

[2019-01-29 14:04] benjiwheeler opened #2725 "On mobile project page with many extensions, notes/description are too short"
On the project page, viewed with a browser width of <768, if there are a lot of extensions, the notes and description get very crunched:

![image](https://user-images.githubusercontent.com/3431616/51913532-ae74a700-23a4-11e9-989e-2db693d50bdd.png)

[2019-01-29 15:22] NitroCipher opened #2726 "Replace scratchblocks with s3blocks"
By only replacing one file, you guys can start using the Scratch 3.0 style blocks for the forums.

If you want everything to run smoothly and be updated as soon as i push an update, you can repoint [this file from you CDN](https://cdn.scratch.mit.edu/scratchr2/static/__238e692fba4864e9ff337c17d8a4033d__//djangobb_forum/scratchblocks/scratchblocks.js) to [my bundle off of github](https://s3blocks.g

[2019-01-29 15:32] NitroCipher commented on #2726
![screenshot 2019-01-29 at 09 29 15](https://user-images.githubusercontent.com/11393734/51919197-89823300-23a8-11e9-9f75-16ffe996423e.png)

I used [resource override](https://chrome.google.com/webstore/detail/resource-override/pkoacgokdfckfpndoffpifphamojphii) to locally replace the bundled js file to show that it works on [the forums.](https://scratch.mit.edu/discuss/topic/273387/?page=18)

[2019-01-29 15:51] benjiwheeler opened #2727 "Hide comment delete/report links in mobile view"
Per design from @kathymakes, delete and report links should be taken out from comments in mobile stacking view.

This is a follow-up to https://github.com/LLK/scratch-www/pull/2512

[2019-01-29 16:48] benjiwheeler opened #2729 "main view element min height creates unwanted spacing"
To repro:
1. view a project page for someone else's project that has commenting turned off, and no comments
2. observe space at the bottom:

![image](https://user-images.githubusercontent.com/3431616/51924722-92303480-23bb-11e9-9fb1-4532e8ab9729.png)

This is because the `#view` id in `main.scss` has `min-height: 768px`. Changing this to `min-height: 680px` fixes this problem.

Related: https://gi

[2019-01-29 16:51] benjiwheeler opened #2730 "hide comments section entirely when it has no content"
if the project page's comments section has no content -- i.e., when commenting is turned off (or page is viewed in mobile browser width), there are no comments, and the project does not belong to the logged in user -- then we should probably hide the comments section entirely.

Also see related: https://github.com/LLK/scratch-www/issues/2590

[2019-01-29 16:52] #2521 closed

[2019-01-30 00:35] towerofnix commented on #2727
To be clear, does this mean removing the ability to report comments on mobile devices?

[2019-01-30 04:01] benjiwheeler commented on #2727
@towerofnix Yes (well, widths < 768px... so many tablets will still give you the full experience in landscape.)

Do you think the ability to report comments on mobile should stay?

[2019-01-30 05:45] Kenny2github commented on #2726
I hate to break it to you, but you have a competitor: https://scratchblocks.github.io/#?style=scratch3&script=when%20gf%20clicked

[2019-01-30 05:53] NitroCipher commented on #2726
@Kenny2github I'm well aware of tvjr's update. Though with all the changes made to the structure of scratchblocks, it isn't quite as simple to switch to. This would work as a quick fix until the ST is ready to do more reworking

[2019-01-30 09:10] #2271 closed

[2019-01-30 10:53] apple502j commented on #2726
Forums are not handled here.

[2019-01-30 12:00] towerofnix commented on #2727
Yes, I do. Now that Scratch will be capable of playing projects on small mobile devices, there will be more users who use Scratch on phones in general. I understand that mobile devices are harder to design for because they have much less screen estate to work with, but being able to report comments is a core part of being part of the Scratch community. So, while maybe replying to comments (that is

[2019-01-30 17:03] #2587 closed

[2019-01-30 17:19] #2611 closed

[2019-01-30 17:30] towerofnix opened #2734 "Document projects used in "About" video"
Branching out from #2611: somewhere on the About Scratch page, there should be credits for the projects that were recorded and featured in the video. This is *required* because of the Creative Commons Attribution-ShareAlike license that projects are shared under, and it'd be a good nod to the Scratch community as well.

I suggest the text be in a format of something like this:

There should also b

[2019-01-30 17:31] towerofnix commented on #2734
Edit - looks like the video was updated since last I checked (or somehow I missed it before..), now it has the credits at the end! Cool.

[2019-01-30 17:31] #2734 closed

[2019-01-30 22:19] #2157 closed

[2019-01-30 23:05] griffpatch commented on #2610
Wow - Unexpectedly, the cloud servers were back up and working great for 15 mins there... and pow. They are down again. Plus cloud server log is back to showing a spinning circle. (It was a very good 15 mins though)

[2019-01-30 23:30] griffpatch commented on #2610
And it's up again!

[2019-01-31 15:13] griffpatch commented on #2610
And down right now

[2019-01-31 19:47] griffpatch commented on #2610
And it's up again :)

[2019-02-01 04:58] NitroCipher commented on #2726
I just kicked out the last couple of bugs today, so everything is perfect for release

[2019-02-01 05:00] NitroCipher commented on #2726
Hats are fixed, and extension blocks have icons

![image](https://user-images.githubusercontent.com/11393734/52103561-e568d980-25ab-11e9-9dec-70bf5bf8149d.png)

[2019-02-01 14:45] griffpatch commented on #2610
And it's down again

[2019-02-01 21:45] benjiwheeler commented on #2140
Question: should the text by the comments toggle read "Commenting on" or "Turn commenting off"? And should it be before or after the toggle?

[2019-02-01 22:21] benjiwheeler opened #2740 "make commenting on/off toggle into a slider"
Currently, the checkbox to toggle commenting on and off looks like:

![image](https://user-images.githubusercontent.com/3431616/52152650-1ea15800-2645-11e9-9937-8b96acd89c89.png)

![image](https://user-images.githubusercontent.com/3431616/52152653-206b1b80-2645-11e9-9668-5c7b0931a048.png)

This should be changed per designs from @kathymakes and @carljbowman to:

![image](https://user-images.github

[2019-02-01 23:55] NitroCipher commented on #2726
@towerofnix Normally yes, but looking at the bbcode, the user used overrides to change the shape of a reporter to a hat, and changed the category ```(when gf clicked ::hat events)```, rather than using brackets ```{when gf clicked}```

[2019-02-02 07:54] apple502j opened #2742 "Text over 500 letters can be typed into comment"
When I typed a lot of letters into comments, I saw "-264 characters left". It shouldn't let users type more than 500.

### Steps to Reproduce
Paste long sentences or type.

### Operating System and Browser
Windows 7/Firefox 65

Reports by community:
mitaku115 https://scratch.mit.edu/discuss/post/3417339/ (env unknown)

[2019-02-02 13:04] tkelley-eg opened #2743 ""Assign yourself bugs" page references non-existent "first bug" label"
The documentation references a label that does not exist - `first bug`

GitHub docs recommend using the label `good first issue`.  See https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/

Since this is designed to help GitHub users locate good first issues across the site, it might be beneficial to adopt this label?

### Steps to Reproduce

Visit https://github

[2019-02-02 13:07] tkelley-eg commented on #2743
This is my first attempt at contributing, so I wanted to pick something basic so I could test out the workflow.  I'd be happy to address this in the docs.  This would obviously require the creation of the label by someone with the proper permissions.

[2019-02-02 13:38] tkelley-eg commented on #2743
Ah, I see that the source for that page isn't in this repo....  I don't see it in any other repo or that it's accessible from the "Scratch Wiki" site.  Is there a way for folks to contribute to this content?

[2019-02-02 13:53] joker314 commented on #2742
It's a really useful feature that Twitter also has, and I believe this is by design, for it allows you to rephrase your comment without deleting what you've spent time to write.

[2019-02-02 15:42] towerofnix commented on #2743
GitHub wiki pages, like that one, are sort-of stored on a separate git repository internally, but it's only accessible to collaborators on the actual code repository (scratch-www), I believe. So the only way to contribute to it is to make suggestions, as you do in this issue.

[2019-02-03 02:05] apple502j commented on #2742
At least it should tell the user that the text is over 500 before clicking Send.

[2019-02-03 02:09] apple502j opened #2744 "Migrate Starter Projects"
https://scratch.mit.edu/starter_projects/
(Linked from Ideas)

This should be migrated to scratch-www.

Questions:
1) will it retire? (I don't think so, ST kept it when they made Ideas)
2) should new projects be added?
3) localization of project notes/description?

[2019-02-03 12:15] joker314 commented on #2742
I agree. I think negative numbers should show up in red, and the comment box itself should maybe also become red (or orange if red is too scary), and some kind of warning should maybe show up.

But it's not high priority because when you do hit "Send", it doesn't delete your comment, you can still fix it without losing your work

[2019-02-03 15:58] otsfan203 commented on #2730
Why?

[2019-02-03 20:03] benjiwheeler commented on #2730
@otsfan203 because if we show the section in that situation, it just says "Comments" and has no actual content, and that seems confusing.

[2019-02-03 20:04] otsfan203 commented on #2730
@benjiwheeler Yes, but I don't think that should happen when commenting is turned off.

[2019-02-03 20:07] otsfan203 commented on #2744
That makes sense. No, it won't retire (or at least I don't think so) because one of the starter projects has a 3.0-added sprite in it and I doubt they'd update it just to retire it.
   As for the second question, I believe I answered that in my first answer. Third, I don't know.

[2019-02-04 16:01] reginpv commented on #1903
I have the same problem

OSX
Node: 10.4.1
NPM: 6.4.1

[2019-02-04 16:17] thisandagain commented on #2700
/cc @ntlrsk @kosiecki17 @carljbowman @kathymakes

[2019-02-04 16:24] thisandagain commented on #2708
Marking this as "help wanted". Desired fix is to simply change this line to read:
`No coding blocks have been removed in Scratch 3.0, but some have changed a bit and others have moved into "Extensions".`

[2019-02-04 17:23] thisandagain commented on #2726
Moved to LLK/scratchr2#5274

[2019-02-04 17:23] #2726 closed

[2019-02-04 17:39] thisandagain commented on #2743
Thanks for reporting. I removed that page as it was out of date and misleading.

[2019-02-04 17:39] #2743 closed

[2019-02-04 17:41] thisandagain commented on #2744
Thanks @apple502j. This was on my list of items to file.  For your questions:

1. No. We would actually like to update it, so getting it over to WWW would make that easier.
2. Eventually yes, the ST has ideas for this.
3. No. Let's handle localization for project titles, notes, and descriptions as a separate matter to be discussed in the future.

[2019-02-04 19:31] #2115 closed

[2019-02-04 19:33] #2147 closed

[2019-02-04 19:36] thisandagain commented on #2205
This appears to be resolved:
![image](https://user-images.githubusercontent.com/747641/52232317-36b5e900-288a-11e9-80f3-000d5cec45b2.png)

[2019-02-04 19:36] #2205 closed

[2019-02-04 19:37] thisandagain commented on #2243
Scheduling this as part of the larger sign-up flow redesign we will be doing over the course of the next few months.

[2019-02-04 20:04] #2140 closed

[2019-02-04 20:05] #2585 closed

[2019-02-04 20:24] thisandagain commented on #2610
Thanks @griffpatch. We are still working on the stability issues with the Cloud Variables server (obviously). Sorry about the issues. @rschamp and @colbygk are on the case.

[2019-02-04 20:59] #2740 closed

[2019-02-05 13:43] kyleplo commented on #2744
I can take this

[2019-02-05 13:44] thisandagain commented on #2744
Sounds good!

/cc @chrisgarrity for any questions that come up.

[2019-02-05 13:56] carljbowman commented on #2730
Also have some concerns about this. One chunk of work that we held off on due to timing was empty sections on the homepage (e.g. comments, studios).

While there may not be content in these sections, we still want to show that they can have content. To me, these are great places to extend an inviting hand and/or give context:

_These are just sketches for sake of discussion. Language and design ar

[2019-02-05 13:57] otsfan203 commented on #2730
@carljbowman I like those.

[2019-02-05 14:01] otsfan203 commented on #2730
My suggestion would be to implement @carljbowman's suggestions, but when the project is unshared the "Comments" header and the turn off commenting option shouldn't show. When it has no content, (unless it is unshared) it should show so that users can comment.

[2019-02-05 14:15] thisandagain commented on #2742
Thanks @carljbowman. My leaning is to go with the option that does not use a tooltip for now and then add a tooltip should we continue to see issues / confusion.

[2019-02-05 14:15] carljbowman commented on #2742
@thisandagain - Sounds good. Keep it simple.

[2019-02-05 14:43] #2309 closed

[2019-02-05 16:45] benjiwheeler commented on #2726
@NitroCipher FYI, I tested this and it looks good. Ideally, you could submit pull requests to scratchblocks and stay having a single codebase.

[2019-02-05 18:19] NitroCipher commented on #2726
@benjiwheeler s3blocks was being written originally in to be merged back into scratchblocks, but I got distracted from working on it due to school work for an extended period of time. Tjvr began refactoring scratchblocks in my absence, and it now the structures barely resemble each other. Both s3blocks and scratchblocks have their advantages; Scratchblocks now has support for both 2.0 and 3.0 styl

[2019-02-05 20:27] benjiwheeler opened #2747 "Switching from editor to project page should only save if project is dirty"
Currently, every time you click "See Project Page" on a project you own, the project will save.

This happens even if the project is not "dirty".

We should only save if the project is dirty. This will avoid unwanted saves (that, for example, might create a new thumbnail, or set new variable values), and speed up navigation.

[2019-02-05 21:42] NitroCipher commented on #2726
@benjiwheeler [Any new info?](https://scratch.mit.edu/users/thisandagain/#comments-53943332)

[2019-02-06 13:00] locness3 commented on #2195
Maybe use the same loader as studio modal ?
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/37651007/52343099-7958fc00-2a17-11e9-9024-0cf0fb3f7fe5.gif)

[2019-02-06 14:31] benjiwheeler commented on #2195
I think this would be straightforward to implement, we have similar button functionality in the add to studio modal

[2019-02-06 16:44] locness3 commented on #2195
Right I actually used code from studio modal for this

[2019-02-06 16:52] greenkeeper[bot] opened #2749 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-02-06 20:38] kyleplo commented on #2528
Can be closed - release masthead is gone

[2019-02-06 22:38] towerofnix opened #2751 "If a linked comment is not in the first page of *replies*, it won't be scrolled to until the replies are manually loaded"
See the title!

### Steps to Reproduce

Open a link to a comment that is a reply that's pretty deep into a reply chain (20+ comments in, I think). This tends to happen if you're having a long discussion and you get a notification that someone replied to you.

Note that the root comment is properly loaded in the single-comment view (the "see all comments" button shows up), and the first page of rep

[2019-02-06 23:12] towerofnix commented on #2586
NUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUMNUM!!!!!

!["i stole the rainbows!!!!"'s description, which is numnumnum.. over and over again: https://scratch.mit.edu/projects/61400486/](https://user-images.githubusercontent.com/9948030/52380129-f9e12200-2a42-11e9-9cf2-9b79aa199c82.png)

[2019-02-07 11:46] towerofnix commented on #2528
@kyleplo It's still there when you're signed out.

[2019-02-07 16:41] thisandagain commented on #2751
/cc @paulkaplan @benjiwheeler @colbygk

[2019-02-07 16:45] #2749 closed

[2019-02-07 16:48] benjiwheeler commented on #2726
Thanks for the background info, @NitroCipher.

If @tvjr's version is not ready to go, I'll use yours.

[2019-02-07 17:45] colbygk commented on #2610
@griffpatch Thanks for updating this regularly. I've just deployed a fix that I am pretty confident should lead to long term stability for the backend part of cloud data. Please let me know if you notice it misbehaving.

[2019-02-07 18:21] NitroCipher commented on #2726
Alright, best of luck! [bundle here](https://s3blocks.github.io/js/bundle.js)

[2019-02-07 20:42] benjiwheeler commented on #2726
@NitroCipher, do I need to include your whole sourceMappingURL?

[2019-02-07 20:45] NitroCipher commented on #2726
I would assume so.

[2019-02-07 21:52] towerofnix commented on #2726
@NitroCipher Isn't the source mapping only used for representing the code?

Since it looks like you're already using webpack or some similar tool, you should consider making a "production" bundle which has source maps disabled and uses an uglifying/minifying tool to decrease the file weight of forum pages.

[2019-02-08 03:45] NitroCipher commented on #2726
@towerofnix Whooops, i've always used the autogenerated bundle :P

@benjiwheeler Well anyways, here is the smaller build file https://s3blocks.github.io/js/s3blocks.min.js

[2019-02-08 06:45] locness3 commented on #2504
Why not showing the sprite and scripts counter publically ? For exmaple at the right of the extension list...

[2019-02-08 10:14] griffpatch commented on #2610
Now that would be amazing...!
Will let you know,

Griffpatch

On Thu, 7 Feb 2019 at 17:45, Colby Gutierrez-Kraybill <
notifications@github.com> wrote:

[2019-02-08 22:02] me-win opened #2761 "Update Scratch Conference website"
To support the regional Scratch conferences happening this year, we'll need to switch the Scratch conference website (scratch.mit.edu/conference) to this template: https://scratch.mit.edu/conference/2017

We're still in the process of collecting content, which can be found in this [Google Doc](https://docs.google.com/document/d/1M_LJqOjAxxYFm3j-D8WbvFtWhZJgPCbZ5aNGSA2KZyc/edit?usp=sharing).

[2019-02-09 00:33] DrDingleberry opened #2762 "Unable to sign in on Firefox"
Clicking the sign in button and typing username and password does nothing, except for resetting the username and password fields.
### Steps to Reproduce
Just open up the latest version of Firefox, and attempt to sign in.
### Operating System and Browser
Windows 10 x64 1809 Firefox 65.0
_e.g. Mac OS 10.11.6 Safari 10.0_

[2019-02-09 06:20] apple502j commented on #2721
repro: Windows 7 Firefox 65

[2019-02-09 11:00] locness3 commented on #2762
Are you logged in when you type username and password, submit and then reload the page ?

[2019-02-09 17:42] DrDingleberry commented on #2762
Nope, doesn't work. I checked the console in inspect element, and no errors seem to be thrown.

[2019-02-11 20:31] kathymakes commented on #2722
### Design Updates, 2.11

Still need to do:
- "Studios I curate" might not be accurate language. Need to ask mods about this.
___
### Empty States
Updated empty state has a call-to-action, so you are not left at a deadend:
<img width = "450" src ="https://user-images.githubusercontent.com/8203939/52591098-0b467780-2e11-11e9-85e2-df2fd24718d0.png">

Empty states for one section or the other does no

[2019-02-11 20:33] #2516 closed

[2019-02-11 21:42] thisandagain commented on #2761
@benjiwheeler Can you take this on as a task for this month? We'd like to have this deployed by March 1st.

/cc @chrisgarrity

[2019-02-11 22:07] seotts opened #2768 "Mod job posting: "read and write another language" rather than "speak""
Under "Qualification" on https://scratch.mit.edu/jobs/moderator, it says, "Not required, but would be cool: Ability to speak another language." But really, we're looking for folks who can read and write languages other than English-- just speaking would not be as useful.

So, I propose we change "Not required, but would be cool: Ability to speak another language." to "Not required, but would be co

[2019-02-12 07:48] Kenny2github commented on #2768
I think that's a bug, not a suggestion - it definitely *should* say read and write rather than speak. Is this `help wanted`?

[2019-02-12 17:15] benjiwheeler opened #2769 "uploading project while signed out creates invalid URL"
### Steps to Reproduce

1. be logged out
2. go to `/projects/editor`
3. do `File->Load from your computer` with a project file
4. look at the URL... it's `projects/` which isn't valid!

### Operating System and Browser

Mac OS Mojave, current Chrome

[2019-02-13 12:04] locness3 commented on #2722
"Studios I'm added to" means the studios where the project is, but you're not curator or manager ? @kathymakes

[2019-02-13 12:08] locness3 commented on #2199
#2722

[2019-02-13 14:22] kathymakes commented on #2722
Yes! Though we might try to think of some clearer language.

[2019-02-13 15:56] locness3 commented on #2722
I didn't know the project owner could remove it from any studio.

[2019-02-13 16:04] locness3 commented on #2528
Also, why not changing the join button to `Join Scratch`?

[2019-02-13 17:42] locness3 commented on #2647
`z-index: 1`to avatar and author link could fix this. @towerofnix @thisandagain

[2019-02-13 21:19] jakel181 commented on #2768
I've done it! :) It is linked in this pull request. https://github.com/LLK/scratch-www/pull/2773 I would love to apply for it too, but I would need to wait two more years hahaha. Anyways, I hope it has been done correctly! :)

[2019-02-13 21:26] benjiwheeler commented on #2761
@thisandagain Will do.

[2019-02-14 15:37] thisandagain opened #2781 "Update Privacy Policy"
Change the "How does the Scratch Team protect my personal information?" section to read:

[code]

[2019-02-14 16:15] benjiwheeler opened #2783 "Loading project in editor causes api response of 401"
To repro:
1. be signed in, and viewing editor
2. do File->Load from computer and load an sb* file
3. view javascript console

you'll see: `Failed to load resource: the server responded with a status of 401`, from the endpoint `api.scratch.ly/projects/undefined`

[2019-02-14 16:16] jakel181 commented on #2781
Got it. :) Pull https://github.com/LLK/scratch-www/pull/2782

[2019-02-14 21:21] towerofnix commented on #2781
#2782 was merged, so this can be closed as resolved now!

[2019-02-14 21:23] #2781 closed

[2019-02-14 22:05] benjiwheeler commented on #2761
blocked pending getting access to the google doc.

[2019-02-14 23:01] me-win commented on #2761
@benjiwheeler granted you access to the Google Doc!

[2019-02-14 23:07] jakel181 commented on #2761
I would be happy to help as well. :)

[2019-02-15 12:59] #2708 closed

[2019-02-19 20:22] colbygk commented on #2610
Looking good!

[2019-02-19 20:22] #2610 closed

[2019-02-19 23:24] otsfan203 commented on #2090
I personally think it would make the most sense to support them in a similar way to 2.0 but with a few differences, since the current project page can't fit a tags section.

[2019-02-20 00:26] otsfan203 commented on #2783
Gets this too. But since the project loads properly, it seems minor

[2019-02-20 12:49] locness3 commented on #2476
Since it means "last revised" (with svg icon name in folder), maybe using something like macOS Time Machine logo, or something like this ? @thisandagain @BryceLTaylor

[2019-02-20 12:52] locness3 commented on #1969
For me, the button and modal just disappear after 769px...

[2019-02-20 12:59] locness3 commented on #2159
For the studio modal disappearing, it also does happen in Firefox

[2019-02-22 12:48] ntlrsk opened #2801 "add link to SiP to Educator Page"
Add a sentence on the educator page so that we have a link to Scratch in Practice.
This is the sentence with the link to add:
[**Scratch in Practice**](http://sip.scratch.mit.edu) shares ideas and resources from Scratch Team and educators around the world, with a new theme each month.

Add that sentence directly before the current sentence: "Educator Guides show you how to prepare and run Scratch

[2019-02-23 02:46] IamTregsthedev commented on #2761
:D

[2019-02-24 01:19] jfo8000 opened #2803 "Scratch projects do not save / restore scroll position correctly"
We teach Scratch in schools across Australia, and have been plagued by a scrolling bug in the
new scratch.  Fixing this would help us a great deal as we only have a limited amount of time to load projects in the classroom.

I have made a repro project here:
https://scratch.mit.edu/projects/288998675/

### Steps to Reproduce

1. Make a project in Scratch 3.0
2. Scroll to the right and define a stac

[2019-02-25 19:15] thisandagain commented on #2801
/cc @carljbowman @kathymakes @benjiwheeler @chrisgarrity

[2019-02-25 19:52] thisandagain commented on #2762
@DrDingleberry Can you please try this in a private window in Firefox? This may be due to a caching and/or browser extension issue and we'd like to rule that out before proceeding.

[2019-02-25 20:10] thisandagain commented on #2803
/cc @picklesrus @kchadha

[2019-02-25 22:27] DrDingleberry commented on #2762
@thisandagain I was able to log in in a private window, but I have no extensions installed, leading me to believe that this is a bug with caching, as you suggested. I guess the next step is to find out whether the issue is with Firefox or Scratch.

[2019-02-26 13:24] thisandagain commented on #2762
@DrDingleberry Unfortunately we have seen some problems with corrupted caches in Firefox recently. I recommend you clear your cache and try logging in again.

[2019-02-26 13:24] #2762 closed

[2019-02-26 15:18] dietbacon opened #2806 "Update community moderator job description"
Update text of https://scratch.mit.edu/jobs/moderator with job description fromhttps://docs.google.com/document/d/1TYus13MIF717HSUpcdzI5yio_fem26btmnGZG7WIpxI/ to more accurate reflect the typical duties of the moderator position.

File: https://github.com/LLK/scratch-www/blob/develop/src/views/jobs/moderator/moderator.jsx

[2019-02-27 16:57] NitroCipher commented on #2726
@benjiwheeler What's happening?

[2019-02-27 18:14] benjiwheeler commented on #2726
When I ran this scratchblocks file in staging, forum pages with blocks-eligible text took a long time to load fully -- 30 seconds or so. We're trying to figure out why.

[2019-02-27 18:36] NitroCipher commented on #2726
Hmm, thats odd. Are you using s3blocks.min.js or bundle.js?

[2019-02-27 19:37] benjiwheeler commented on #2726
I'm using the min.js link that you provided above. @tvjr's implementation is also making the page render very slowly; see https://github.com/scratchblocks/scratchblocks/issues/274#issuecomment-467999015

[2019-02-27 19:45] tjvr commented on #2726
Out of interest, I'm not sure what you mean by this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-27 20:30] NitroCipher commented on #2726
It is all fine now. You fixed it when you re-added rings. Everything works now afaik

[2019-02-28 21:51] jakel181 commented on #2806
@dietbacon I can take this as well, if it isn't the same as this:  https://github.com/LLK/scratch-www/pull/2807 :)

[2019-02-28 21:54] jakel181 commented on #2768
Well I think this can be closed now! :D @thisandagain https://github.com/LLK/scratch-www/pull/2807

[2019-02-28 22:38] #2768 closed

[2019-03-03 02:29] cavern1628 commented on #1903
I have same problem
OS:linux

NODE: v8.12.0
NPM:v6.4.1

gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/opt/node-v8.12.0-linux-x64/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:262:23)
gyp ERR! stack     at emitTwo (events.js:126:13)
gyp ERR! stack     at ChildProcess.emit (events.js:214:7)
gyp ERR! stack     at Proce

[2019-03-03 02:56] KevinGaoZF commented on #1903
I am having this problem on Windows 10, then I switched to Linux and then came back again, and it succeeded.

[2019-03-04 09:28] griffpatch opened #2815 ""My Stuff" Very Slow for large profiles"
Opening My Stuff on griffpatch account fails / times out. Generally, the main 'All Projects' view is ok, but as soon as you try to show 'shared' projects only, or sort by loves, etc the page never returns and a 503 timeout error is given in the browser console. This has been the case ever since Scratch 3 went live, but was not a problem in Scratch 2.

Request URL: https://scratch.mit.edu/site-api/

[2019-03-04 09:30] griffpatch commented on #2815
Note, subsequent visits (by refreshing the page) then become possible, so I assume the database will cache some of the queries... I suspect after a little time the timeouts will return?

[2019-03-04 12:51] thisandagain commented on #2815
/cc @rschamp @colbygk

[2019-03-04 14:48] rschamp commented on #2815
Interesting that this endpoint didn't have any issues before Scratch 3. I don't think we touched it.

[2019-03-04 14:58] thisandagain commented on #2806
Resolved in #2807

[2019-03-04 14:58] #2806 closed

[2019-03-04 20:40] griffpatch commented on #2815
Did the underlying database change? index structure, etc? It's like having
to count up the view, comment & love totals might be causing the database
query to take a long time?

On Mon, 4 Mar 2019 at 14:48, Ray Schamp <notifications@github.com> wrote:

[2019-03-04 20:51] BryceLTaylor opened #2818 "Some users aren't getting a project id when creating a new project"
When you're signed in and you create a new project it should give you a project ID that you can see in the URL.  Some users are reporting that they are unable to save and when they sent a screenshot it clearly shows that they are signed in and in the editor but there is no project id in the url.

![img_5116](https://user-images.githubusercontent.com/1088291/53762094-2e56cb00-3e95-11e9-8449-b0b8fa0

[2019-03-04 21:29] jakel181 commented on #2818
Maybe it has something to do with all those extensions?

[2019-03-05 11:40] #2744 closed

[2019-03-05 20:26] benjiwheeler commented on #2726
Now both of your implementations are working faster -- don't know what was causing that problem for me before. Maybe there was some kind of cacheing issue.

@tvjr, I did notice that your blocks library compose menu isn't displaying correctly. @NitroCipher's menu looks like this:

<img width="245" alt="screen shot 2019-03-05 at 3 18 10 pm" src="https://user-images.githubusercontent.com/3431616/5383

[2019-03-05 20:40] NitroCipher commented on #2726
Glad to here, any idea why the speed was weird? On the topic of the menu, can we fix the z-index of it?

[2019-03-05 20:50] benjiwheeler commented on #2726
No, I can't figure out why the speed was so slow. It loaded quickly when the normal, Scratch2-style js file was in place, but both your changed js file, @NitroCipher, and @tjvr's caused the pages to take 17-30s to fully render. The problem might have been caused by one of my Chrome extensions acting up, but how they load fine with the same extensions active, AFAIK.

[2019-03-05 21:19] towerofnix commented on #2726
For what it's relevant, if possible, I think there should be `overflow-y: scroll` on the category list now, just like for the block list (i.e. list that shows up when you hover over a category); after all there is potential for the list to get very long, as we see even in NitroCipher's properly-displayed list.

[2019-03-06 16:41] greenkeeper[bot] opened #2821 "An in-range update of scratch-parser is breaking the build 🚨"
## The dependency [scratch-parser](https://github.com/LLK/scratch-parser) was updated from `4.3.5` to `4.3.6`.

🚨 [View failing branch](https://github.com/LLK/scratch-www/compare/develop...LLK:greenkeeper%2Fscratch-parser-4.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scratch-parser is a direct dependency of this

[2019-03-06 23:20] tjvr commented on #2726
It looks different because I've updated the blocks to match Scratch 3.0. 🙂

Simply updating the list of blocks defined in the `menu.js` file should fix the problem.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-07 01:35] benjiwheeler commented on #2462
I haven't noticed this in a while. I just tried remixing on Mac Firefox several times, and never saw a console error.

Might need more testing before closing.

[2019-03-07 02:07] benjiwheeler commented on #2513
Should consider @paulkaplan's change at https://github.com/LLK/scratch-gui/pull/3945 in addressing this

[2019-03-07 22:21] ntlrsk opened #2830 "Add micro:bit cards to the /microbit page"
Add link to download micro:bit Scratch cards to the microbit extension page. Place it after Starter Projects, before Troubleshooting.

Here is the [PDF](https://www.dropbox.com/s/8ud9bei5do7fzem/microbit-scratch-cards.pdf?dl=0) (Note: PDF may get updated - Natalie and KO will confirm )

/cc @kosiecki17

[2019-03-08 15:40] benjiwheeler opened #2831 "Search url escaping does not happen, throws error if user clicks between Projects and Studios"
### Steps to Reproduce

1. search for "100% pen"
2. results look good, and URL querystring looks like `?q=100%25%20pen`
3. now click Studios
4. site throws error with "Oops", URL querystring looks like `?q=100%+pen/`

The same problem happens if you first go to `https://scratch.mit.edu/search/studios?q=100%25%20pen`, then click Projects.

[2019-03-09 06:11] Kenny2github commented on #2831
I believe it's not HTML escaping but rather URL escaping... and the specific problem is that the links to "projects" or "studios" aren't URL-escaped.

[2019-03-09 07:17] DeleteThisAcount opened #2832 "Rename the Scratchteam account"
_currently the scratch team account with all the starter projects is called Scratchteam -- notice the missing capital T._

This would add unified scratch team accounts Example ScratchCat

So it should be called ScratchTeam
### Steps to Reproduce

visit the scratch team account @Scratchteam

[2019-03-09 09:26] Kenny2github commented on #2832
...not an issue with scratch-www, should not be opened here. Contact an ST member on their profile instead.

[2019-03-09 16:24] DeleteThisAcount commented on #2832
whoops sorry

[2019-03-09 16:24] #2832 closed

[2019-03-09 16:26] DeleteThisAcount opened #2833 "_ksllxmfcai_ easter egg doesnt work on project page"
The _ksllxmfcai_ easter egg (turns into triangle eye) doesnt work on project pages

### Steps to Reproduce

Visit comment section on any project

Comment _ksllxmfcai_

Notice it doesnt turn into triangle eye

[2019-03-10 04:10] apple502j commented on #2833
It was removed.

[2019-03-11 15:19] #2821 closed

[2019-03-11 15:34] NitroCipher opened #2834 "Add scrolling to forum post signatures"
I think that it would be pretty nice to be able to use the scroll bar in a users post signature. A good number of users include info, and links to projects and other things, but these are completely hidden. It is a simple addition, and I have a pull request open in the forum repo.

[2019-03-11 15:58] #2833 closed

[2019-03-11 15:59] thisandagain commented on #2833
This was a april fools day feature that was meant to be temporary.

[2019-03-11 20:03] ntlrsk opened #2837 "link to story tutorial should open Create a Story tutorial"
This tutorial link isn't working:
https://scratch.mit.edu/projects/editor/?tutorial=story

It opens the editor, but it should also open the Tutorial Window with the Create a Story tutorial. We need this link for an upcoming ISTE blog post on Scratch resources.

(Note: We understand that the back button from any tutorial will go to the Scratch editor, but that's OK.)

![image](https://user-images.g

[2019-03-12 08:10] apple502j commented on #2834
@NitroCipher Neither s2forums nor scratch-www handles the forum. It is in a secret repo called "scratchr2".

[2019-03-12 11:44] apple502j commented on #2837
Easy fix:
Just by changing https://github.com/LLK/scratch-www/blob/3aa37d5a82f75f2fc3657b6ae73120a4df76034f/src/routes.json#L452 to
`/projects/editor/?tutorial=tell-a-story`

[2019-03-12 12:07] NitroCipher commented on #2834
I was told by @thisandagain to open an issue here.

[2019-03-12 14:05] BonfireScratch commented on #2815
I've got this issue too

[2019-03-12 16:02] colbygk commented on #2815
Nope, that view is the exact same one and we did not alter the db in areas associated with mystuff as far as I know.

[2019-03-12 18:29] DeleteThisAcount commented on #2833
no, @thisandagain currently in profile comments it actually turns into the word triangle eye, shouldnt this also work in project comments?

[2019-03-13 09:12] griffpatch commented on #2815
Well, whether it was updated or not, it went from being very quick before
Scratch 3 to timing out at each visit after Scratch 3 went live.
Whether it's to do with increased demand on the database server meaning
more cache misses or a change in indexes, etc, there is a definite and very
unpleasant delay going on.
Thanks,
Griffpatch

On Tue, 12 Mar 2019 at 16:10, Colby Gutierrez-Kraybill <
notificat

[2019-03-13 17:49] thisandagain commented on #2815
@griffpatch Agreed! We have seen some slow downs on "My Stuff" and "User Profile" Comments in particular. Neither of these systems were directly changed in the 3.0 launch, but shifts in DB load have clearly caused some issues. We are more broadly investigating DB performance issues and hope to start making some changes soon. Thanks for being patient with us.

[2019-03-13 19:56] ntlrsk commented on #2837
@apple502j thanks for highlighting that "=tell-a-story" is working - we can use that for the ISTE blog post. Eventually having the /story work will be helpful.

[2019-03-13 21:44] griffpatch commented on #2815
Man I appreciate the work you guys do - Don't get me wrong and think I'm
impatient in the slightest :) - I'm just letting you know if I see anything
strange going on *grin*. You're making huge progress with Scratch 3 under a
lot of pressure. The amount of things that are working amazingly is a
testament to all your hard work and far exceeds any of the issues in my
opinion! Scratch on as they say -

[2019-03-16 20:34] joker314 commented on #2837
@apple502j is also suggesting a fix. /story is something which is automatically redirected, but it is currently redirecting to an invalid place. Changing the linked line will fix the issue.

[2019-03-20 17:13] thisandagain opened #2849 "Update "Siegel Family Endowment" logo on credits page"
Update the "Siegel Family Endowment" logo on credits page with a new logo file (see below).

### Before
![image](https://user-images.githubusercontent.com/747641/54704619-7884b100-4b11-11e9-9b67-ab000757eac3.png)

### After
![sfe](https://user-images.githubusercontent.com/747641/54704829-e4ffb000-4b11-11e9-8da0-1be150783b59.png)

### Assets
[SFE-RIGHT-GRADIENT.svg.zip](https://github.com/LLK/scrat

[2019-03-20 18:29] IamTregsthedev commented on #2849
I'll do this, as I added Siegel into the credits page in my first PR.

Which File is this?

[2019-03-20 19:13] thisandagain commented on #2849
@IamTregsthedev I'd rather someone take this that is more familiar with our codebase. We are going to create a new label soon called "good first issue" that may be a better fit for you until you become more comfortable with the WWW code. Thanks for the offer though!

[2019-03-20 23:59] IamTregsthedev commented on #2849
I really want to do this, so if i could Please know where the file is?

[2019-03-21 00:06] benjiwheeler commented on #2849
@iamtregstgedev, as @thisandagain explained, this particular issue is not a good match for someone who isn't familiar with the code base yet.

It's great that you are eager to help! Please look out for the "good first issue" label, which will help mark items that would be a good match for you, as you get more familiar with the code in this repo!

[2019-03-21 05:04] Kenny2github opened #2853 "Text overflow in project Notes and Credits"
Text overflows with really long links:
![image](https://user-images.githubusercontent.com/28599280/54734318-aa614a80-4bd9-11e9-8151-021f4c80c017.png)

### Steps to Reproduce

1. Go to https://scratch.mit.edu/projects/10135908/
2. Observe

### Operating System and Browser

Windows 10 OS Build 17763.437, Chrome 73.0.3683.103

[2019-03-21 09:17] huangjide commented on #1903
I have the same problem.
OS:mac

NODE: v10.11.0
NPM:v6.9.0

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/10.11.0/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.9.0
3 info using node@v10.11.0
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle www@1.0.0~prebuild: www@1.0.0
6 i

[2019-03-26 09:40] cyx2015s opened #2860 "You can't reply to a comment in the "single comment view"
### Expected Behavior
After you click the send button, the comment will be sent properly

### Actual Behavior
After you click the send button, the single comment view disappears and the comment didn't send

### Steps to Reproduce
Open message and click a comment replied to you, reply to the comment in the single comment view

### Operating System and Browser
Win 8, Chrome 71
From scratch_gui 4679

[2019-03-26 14:34] BryceLTaylor opened #2861 "Unverified user posting project page comment gets unclear error"
If you have created an account and not verified it you can't post comments on project pages.  However, it does show you a text box for posting a comment.  If you enter a comment and submit it you get an error that is not clear.  "comments.isNotPermitted" and the comment box still appears.

<img width="955" alt="Screen Shot 2019-03-26 at 10 24 35 AM" src="https://user-images.githubusercontent.com/1

[2019-03-26 15:03] apple502j commented on #2861
yes, that's it... maybe someone forgot to add the message at /src/l10n.json .
I know message ID will be used if there is no json entry.

[2019-03-26 15:32] BryceLTaylor opened #2863 "Project page should prompt unverified user to verify their email address"
When an unverified user is on a project page there are actions that they can not take but currently there is no prompt to verify their account and gain access to those features.

On their own project page, this means there is no share button and on other people's projects it means they can not comment (see #2861 for a related issue).  The page in these states should give a relevant message encoura

[2019-03-26 20:16] #2801 closed

[2019-04-01 09:33] #2665 closed

[2019-04-01 18:23] #2769 closed

[2019-04-02 11:31] jinjiangz commented on #1903
I have the same problem.
OS:mac

NODE: v10.15.3
NPM:v6.4.1

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.4.1
3 info using node@v10.15.3
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info life

[2019-04-02 22:52] benjiwheeler commented on #2830
Seems simple. We could borrow the scratch cards section on the ideas page, or design something more Microbit-specific.

[2019-04-03 13:27] chrisgarrity opened #2873 "Maori is not translated on the site"
When you switch to Maori on a page in www (e.g. splash, explore) all the text shows up as the message ids.

It's just a problem for www (the gui and legacy pages show up in maori). I've confirmed that Maori strings are defined in scratch-l10n. The generated intl file has an entry for maori `mi` with the maori strings defined.

Maori has a custom locale because it wasn't available in `react-intl/lo

[2019-04-03 17:48] thisandagain commented on #2830
@ntlrsk I moved this to May due to some scheduling pressure. Is that ok with you?

[2019-04-03 21:30] #2849 closed

[2019-04-03 21:38] benjiwheeler opened #2874 "Reduce credits images sizes"
As a follow-on to https://github.com/LLK/scratch-www/pull/2852 , we should reduce the size of a few of the larger credits images; two are >50k and don't need to be.

[2019-04-04 12:41] thisandagain commented on #2873
Marking this as "critical" given the connection to our work with UNESCO and the conference coming up in May. @benjiwheeler would you be willing to pair with @chrisgarrity on this?

[2019-04-05 09:03] microbit-mark commented on #1007
@jwzimmer We're getting the occasional issue from users that can't get the scratch micro:bit extension working:

"Our devices are behind proxy servers, it appears when adding the microbit extension it may be trying to go direct via the firewall rather than via the proxy servers..  can you offer any advice or are you aware of any specific I.P address/ports than need to be whitelisted"
and
"It has b

[2019-04-07 14:44] NeOEBoy opened #2883 "Layout issue when small width in firefox or chrome"
i build the scratch-www in local, let it run in firefox, chrome, edge, and change the windows width to small, it seem edge do adapte correct, but firefox, chrome not correct.
![图片](https://user-images.githubusercontent.com/6193650/55685232-3c14da00-5986-11e9-8d43-a97667e4e90c.png)
![图片](https://user-images.githubusercontent.com/6193650/55685237-4afb8c80-5986-11e9-9a63-e716415c571a.png)

### Steps

[2019-04-08 04:24] NeOEBoy commented on #2883
i change **$small: "only screen and (max-width : #{$mobile} - 1)";** in _frameless.css to
**$small: "only screen and (max-width : #{$mobile})";** and not issue。

[2019-04-08 04:29] #2883 closed

[2019-04-08 21:42] picklesrus commented on #2471
We noticed this while the db was loaded. The requests for comments are especially expensive.

[2019-04-09 21:11] benjiwheeler commented on #2873
Yes, will prioritize it.

[2019-04-10 06:03] Kenny2github opened #2885 "Scratchr2 wiki link is outdated"
It's been a year since the [server transfer](https://en.scratch-wiki.info/wiki/Scratch_Wiki#Server_Transfer) and the link to the Wiki on profiles and forums is still the old wiki.scratch.mit.edu domain.

### Steps to Reproduce

Visit any scratchr2 page.

[2019-04-10 08:42] apple502j commented on #2885
@Kenny2github Here's scratch-www, you know. You should ask at BaG or ST's profile.

[2019-04-11 06:30] Kenny2github commented on #2885
@apple502j I tend to report issues with scratchr2 on scratch-www anyway so that the issue can be moved to the scratchr2 repository without much effort.

[2019-04-11 18:02] ericrosenbaum opened #2893 "On extension landing pages, consider localizing "things to try" block images"
On the current hardware extension landing pages (microbit, EV3, WeDo 2.0, Vernier, and soon to include more), we include a "things to try" section which shows a simple block stack. We should consider localizing these images.

![Screen Shot 2019-04-11 at 2 01 37 PM](https://user-images.githubusercontent.com/567844/55980393-61456900-5c62-11e9-801e-497e1b7e6145.png)

cc @chrisgarrity

[2019-04-11 18:16] ericrosenbaum opened #2894 "Consider localizing the name of the "Force and Acceleration" extension"
We should consider whether or not to localize the name of the "Force and Acceleration" extension.

In some cases, where the extension name is a branded product name (such as "micro:bit"), we do not localize it.

In other cases, where the extension name is a descriptive phrase (such as "text to speech") we do localize it.

Note that the localization needs to be done in several places, including the

[2019-04-15 23:32] ntlrsk opened #2897 "Add links to Scratch 2.0 cards to Scratch 2.0 download page."
_Describe the problem. Please make sure you can reproduce the bug. It's also
helpful to include screenshots or animated gifs of the problem._

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described above. The
more detailed and explicit the steps are the better._

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2019-04-16 15:12] ericrosenbaum opened #2898 "Change extension title to: "Go Direct Force & Acceleration""
i.e. Add a space between "go" and "direct"

[2019-04-17 17:11] benjiwheeler opened #2903 "Use locale info from l10n, instead of importing react-intl locale info"
In the process of investigating #2873, we realized that now that www uses `scratch-l10n`, we should remove two obsolete and unnecessary things from `www`:

1. remove www's custom locales file, and instead point to `scratch-l10n`'s and use that
2. stop www's importing the entire `react-intl` list of standard locales, which is probably adding unnecessary size, and instead just use the ones that are

[2019-04-17 19:29] #2873 closed

[2019-04-17 21:33] benjiwheeler opened #2905 "Add share/embed modal"
We should add a button to the project page where any user can click to open a modal, which provides:
* iframe html code for embedding the project
* twitter intent link for posting the project
* fb intent link for posting the project
* wechat intent link for posting the project

[2019-04-21 04:18] reflyhight opened #2920 "npm run build failed because of "make command""
npm run build

make[1]: Entering directory `F:/scratch-www-develop'
rm -rf ./build
process_begin: CreateProcess(NULL, rm -rf ./build, ...) failed.
make (e=2): 系统找不到指定的文件。
make[1]: *** [clean] 错误 2
make[1]: Leaving directory `F:/scratch-www-develop'
make: *** [build] 错误 2
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! www@1.0.0 build: `make build`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed

[2019-04-21 09:43] reflyhight commented on #1903
the same
node:v8.16.0
npm:6.4.1

[2019-04-22 09:38] apple502j commented on #2920
Use Linux (or at least cygwin) to build scratch-www.

[2019-04-23 21:31] #2898 closed

[2019-04-25 14:30] colbygk opened #2923 "splash page pulls user avatar thumbnails directly from scratch.mit.edu"
This makes it so that avatars are not loading properly in staging.

[2019-04-25 19:22] IamTregsthedev commented on #2905
Add Telegram, If you're adding facebook, .....

[2019-04-26 15:56] BryceLTaylor commented on #2326
@benjiwheeler I'm unable to reproduce this.  Were you on a particular operating system/browser?

[2019-04-26 15:58] #2326 closed

[2019-04-27 07:20] locness3 opened #2927 "When replying to a comment reply, reply box is too small on iOS"
On iOS 10.3.2, when replying to a comment reply, the reply box is too small.
![Screenshot](http://u.cubeupload.com/Locness/IMG1323.png)
### Steps to Reproduce

1. Open a project preview page
2. Find a reply to a comment or make one
3. Click "reply" on it

### Operating System and Browser

iOS Firefox (using safari engine), iOS 10.3.2 on iPhone 5

[2019-04-28 01:24] me-win commented on #2761
*** Due to unforeseen circumstances, there's a possibility that Scratch Africa will be postponed until next year. Organizers are still considering their options and will let us know ASAP.**

*** Update the URL for Scratch Conference Europe.**
Raspberry Pi folks just got back to us with an updated link for their website: scratchconferenceeurope.raspberrypi.org

*** Update the name and description f

[2019-04-29 10:46] 439bananas commented on #2831
Hey, might I bring up that \*%\* causes an error?

[2019-04-29 12:51] MasterOfTheTiger commented on #2831
That is exactly it. The "%" sign is escaped in some situations but not others.

[2019-04-29 15:18] thisandagain commented on #2761
Thanks @me-win!

Just to confirm: what action would you like to take re: the Africa conference? Couple options:
- Remove the whole section
- Replace current copy with text provided
- Add text provided to the beginning of the current copy block
- Add text provided to the bottom of the current copy block
- Anything else you would like! :-)

@benjiwheeler Do you mind if I add this to your plate for M

[2019-04-30 00:39] JuegOStrower commented on #2722
This look very good, this will definitely simplify adding projects to studios for new scratchers.
+1

[2019-05-01 06:57] Kenny2github opened #2934 "Remove or migrate news page"
The site https://scratch.mit.edu/news still exists, but has no content besides a big "Scratch news" banner. This page should be removed if it has no use, or migrated to scratch-www if its purpose should still be served.

### Steps to Reproduce

Visit https://scratch.mit.edu/news

### Operating System and Browser

Windows 10 OS Build 17763.437 Chrome 74.0.3729.131

[2019-05-01 12:43] apple502j opened #2935 "Migrate cloud monitor"
Cloud monitors should be migrated to scratch-www.

Ideas:
- new URL `/projects/<id>/cloudmonitor` for constancy
 - old URL (`/cloudmonitor/<id>/`) should redirect to it
- Clickable usernames
- Link the project
- Action names should be translated
- "See More" button

[2019-05-01 17:35] JuegOStrower opened #2936 "Add to Studio modal doesn't show all the studios"
### Expected Behavior
The Add to Studio modal should show all the studios that the Scratcher belongs to, or at least, a button to load 20 more studios (20 more of the user and 20 more of the project)..

### Actual Behavior
The Add To Studio modal shows a max of 40 studios (20 of the user and 20 of the project). The api is limited to 20 studios per request. Currently, it uses 2 request to load the

[2019-05-01 17:54] JuegOStrower opened #2937 "Studios created/curated by me on My Stuff broken"
On the "Created by me" or "Curated by me" filters on My Stuff's studios, it doesn't show anything. The space is clear, on both categories. The Load More button doesn't work on them. On "All", it shows a lot of studios (it works).

### Steps to Reproduce

Go to My Stuff.
Go to My Studios (on left).
Click All, then select one of the both categories.

### Operating System and Browser

Windows 10, Goo

[2019-05-02 12:55] colbygk opened #2942 "avatar on comment entry field is blurry"
The avatar on the comment entry field on projects is blurry/resized some way that reduces fidelity:

![Screen Shot 2019-05-02 at 8 52 38 AM](https://user-images.githubusercontent.com/192393/57076512-d92e0e80-6cb7-11e9-85c9-a737d35909f2.png)

### Steps to Reproduce

See project comments. It may depend on avatar size when it was uploaded.

### Operating System and Browser

macOS 10.13.6 Chrome 74.0.

[2019-05-02 12:57] colbygk commented on #2942
Appears to be how the avatar is initially pulled:

![Screen Shot 2019-05-02 at 8 57 08 AM](https://user-images.githubusercontent.com/192393/57076736-52c5fc80-6cb8-11e9-87f6-a0f0bcb0584d.png)

[2019-05-02 23:56] towerofnix commented on #2942
Potentially a duplicate/instance of #2602?

[2019-05-03 14:52] ericrosenbaum opened #2948 "Move shared landing page strings out of individual l10n files"
The extension landing pages currently use some strings that are redundantly stored in the individual l10n files for each page (such as "Getting Started" and "Things to Try"). We should remove these from the landing page l10n files and put them into a shared l10n file (probably https://github.com/LLK/scratch-www/blob/develop/src/l10n.json)

[2019-05-07 21:09] me-win commented on #2761
Hi, sorry for the delay!

Here's our suggestion:

- Remove the copy underneath the event title and replace it with the following copy:
 _The Scratch2019NBO conference, originally planned for Nairobi, Kenya in July 2019, has been postponed. Information about future plans will be available later this year_
- Move the whole section the bottom of the conference page.

[2019-05-08 05:19] thisandagain commented on #2761
No worries. Thanks @me-win!

@benjiwheeler any additional questions or are you good to move forward with this?

[2019-05-08 14:42] benjiwheeler commented on #2761
Here's what it looks like:

![screencapture-localhost-8333-conference-2019-2019-05-08-09_32_43](https://user-images.githubusercontent.com/3431616/57384055-e0ed2780-717d-11e9-93ec-f23f0b49a942.png)

[2019-05-08 14:42] benjiwheeler commented on #2761
Here's what it looks like:

![screencapture-localhost-8333-conference-2019-2019-05-08-09_32_43](https://user-images.githubusercontent.com/3431616/57384055-e0ed2780-717d-11e9-93ec-f23f0b49a942.png)

[2019-05-08 14:43] benjiwheeler commented on #2761
Here's what it looks like:

![screencapture-localhost-8333-conference-2019-2019-05-08-09_32_43](https://user-images.githubusercontent.com/3431616/57384179-198d0100-717e-11e9-966b-db67075ab590.png)

[2019-05-08 15:23] me-win commented on #2761
@benjiwheeler — updates look great!

Can you also please update the event description for Scratch al Sur Conferencia Chile 2019? The new description is:

**Scratch al Sur Conferencia Chile 2019 is an event aimed at teachers of all educational areas and levels, who seek to innovate in the classroom through creative learning, thus supporting public policies that are promoted through the National Pla

[2019-05-08 16:26] benjiwheeler commented on #2761
@me-win Oh, thanks for noticing -- I did change it, but I didn't update the screenshot. I'll do that now.

[2019-05-08 18:53] #2905 closed

[2019-05-08 21:21] benjiwheeler opened #2951 "Project page should have loading state (not just Scratch project itself)"
We've noticed that when API is being unresponsive, the project page loads like this:

![image](https://user-images.githubusercontent.com/3431616/57382412-e6953e00-717a-11e9-8f44-1ac7165c3d56.png)

We should design and implement a loading state for when the page is waiting for the initial API project info request to come back.

Note that we can't show the project until we get from the API whether o

[2019-05-08 21:22] benjiwheeler opened #2958 "Make smoke test to detect when www needs translations to be pushed"
When www has new string ids added, or string content changed, then after the code is merged to develop, we should push strings to transifex.

But it can be hard for developers to realize this, or know when to do it.

Maybe we should add npm scripts, as we recently did with `scratch-gui`, which automatically push strings to transifex.

The drawback would be that if we merge a string change, and the

[2019-05-08 21:29] benjiwheeler opened #2959 "www shows raw `FormattedMessage` ids, instead of the content of those strings."
Sometimes, www shows raw `FormattedMessage` ids, instead of the content of those strings.

Cause:

Until recently, www's `make translations` script would fall back on local l10n strings, if it didn't find a string id in `scratchr2-translations`. When we moved www to rely on `scratch-l10n`, one side effect was that strings must be present in `scratch-l10n`, or `make translations` will not be able t

[2019-05-09 14:31] benjiwheeler opened #2960 "Hide Copy Link button for unshared projects"
On the project page, for unshared projects, we currently show the Copy Link button.

But this is misleading -- it implies that the project can be shared (and embedded, which is even more misleading). This could lead to confusion and frustration.

We're thinking that we should take the Copy Link button out on the project page for unshared projects.

[2019-05-09 17:34] benjiwheeler opened #2962 "Reduce incorrect/unnecessary margin in subactions buttons area"
In several different states, the subactions buttons area has too much padding/margin:

![image](https://user-images.githubusercontent.com/3431616/57473981-13228600-725f-11e9-85cd-346cc2d8e505.png)

![image](https://user-images.githubusercontent.com/3431616/57473989-14ec4980-725f-11e9-82d4-35d0d9bfadab.png)

We should reduce/remove this!

[2019-05-13 15:49] benjiwheeler opened #2968 "Add tests for "make translations" command"
We should ideally have tests that check to confirm that adding a new string to a local `l10n.json` file, then running `make translations`, results in the new string being added to the `intl/*.json` files.

It would also be good to test revising a string.

[2019-05-13 20:28] #2761 closed

[2019-05-13 21:08] #2959 closed

[2019-05-14 14:57] kyleplo commented on #2815
The sort function, especially for sort by remix never really worked, even in Scratch 2. Also, we should probably just migrate My Stuff to scratch-www.

[2019-05-14 15:06] BonfireScratch commented on #2815
@kyleplo of course we should

[2019-05-14 16:23] #2960 closed

[2019-05-14 17:51] benjiwheeler opened #2970 "If you are logged in and your login gets stale, you should be able to log in again"
Scenario:

* you're logged in on multiple machines/browsers (not ideal, but does happen often in practice, especially with groups)
* each is editing a different project
* one of these sessions logs out
* (I believe) the sessions on all of them become invalid
* attempts to save on the other sessions fail, with a "could not save; download?" message
* BUT, importantly, user does not have ability to l

[2019-05-14 17:51] benjiwheeler commented on #2970
cc @chrisgarrity who noticed this at Scratch Day 2019

[2019-05-14 18:45] thisandagain commented on #2970
/cc @rschamp

[2019-05-14 21:09] benjiwheeler commented on #2830
Labeling this as 'needs discussion' pending @carljbowman clarifying plans.

[2019-05-15 10:51] MasterOfTheTiger commented on #2815
@kyleplo I am sure that is planned for the future, but there are reasons why it has not been done now.

[2019-05-15 13:37] BonfireScratch commented on #2815
@MasterOfTheTiger probably, as anyone could create a proper sort function... I guess they have something else planned to do

[2019-05-15 14:56] #2837 closed

[2019-05-15 16:31] benjiwheeler commented on #1963
Seems resolved.

[2019-05-15 16:31] #1963 closed

[2019-05-15 19:48] benjiwheeler commented on #2815
It might make sense to add a db index for the query that My Stuff uses.

Yeah, we do have plans to move My Stuff and other pages to `scratch-www`, and are hoping to get to it soon!

@kyleplo the Sort functions in My Stuff seem to work for me -- but I have way fewer projects than @griffpatch ! Are you just seeing it be slow? Or does it seem to sort, but incorrectly?

[2019-05-15 22:21] chrisgarrity commented on #2903
Ran into this again with rapa nui. At the very least we should do #1.

[2019-05-20 16:00] benjiwheeler opened #2986 "Modals close on mouseup outside modal"
If you `mouseUp` outside a modal (e.g., if you start a highlight inside a modal, and your mouse ends up past the bounds of it), the modal closes, and you may lose your work.

This is unexpected and appears to be the result of a bug in the `react-modal` library:
* https://github.com/reactjs/react-modal/issues/633
* https://github.com/reactjs/react-modal/pull/634

Behavior now:

![before](https://us

[2019-05-21 12:28] chrisgarrity opened #2990 "Remixed projects should not show comments from the original"
After remixing and sharing a project I viewed the project page and the comments from the original project were still visible. After refreshing the page the comments were gone.
![x-comments](https://user-images.githubusercontent.com/399209/58095896-ebf27f80-7ba1-11e9-8e4a-a0adda0edd59.png)

### Steps to Reproduce

1. Click the remix button on a project
2. I made changes (I don't know if that would

[2019-05-21 12:49] apple502j commented on #2990
Duplicate of #2608

[2019-05-21 12:51] apple502j opened #2991 "Copyleft mark should link to FAQ as it did in 2.0"
D-ScratchNinja, https://scratch.mit.edu/discuss/post/3552304/

Related code: https://github.com/LLK/scratch-www/blob/develop/src/views/preview/subactions.jsx#L18

[2019-05-21 12:51] chrisgarrity commented on #2990
@apple502j thanks - I didn't see that one.

[2019-05-21 12:51] #2990 closed

[2019-05-22 02:21] benjiwheeler opened #2992 "teacher-registration integration tests never actually run?"
Travis runs two sets of tests for www:
* `npm test`, which runs `make lint`, `make build` and `make tap`; and
* `npm smoke-sauce`, which runs the tests in `test/integration/smoke-testing/`.

But the tests in `test/integration/teacher-registration` never seem to be being run, unless someone runs `make integration` manually from the commandline.

Seems like either the entire `integration` test shoul

[2019-05-22 02:42] benjiwheeler opened #2993 "teacher-registration tests seem to fail"
The `teacher-registration` tests do not seems to actually run in Travis (see https://github.com/LLK/scratch-www/issues/2992 ).

No surprise, they seem to fail when run locally:
ROOT_URL=http://localhost:8333 node_modules/.bin/tap ./test/integration/teacher-registration/*.js

[2019-05-22 14:21] #2603 closed

[2019-05-22 16:35] #2831 closed

[2019-05-22 18:39] BryceLTaylor commented on #2818
I've been completely unable to reproduce this on any of our chromebooks.  I've occasionally gotten reports of people being unable to save, that I think may be this issue, but it's hard to confirm.  I am going to close this and reopen it if we get another report with more information.

[2019-05-22 18:39] #2818 closed

[2019-05-22 19:01] BryceLTaylor opened #2996 "Image on the /educators page is returning a 404 error"
All images on the /educators page should appear on the stage.

Instead the image next to the "How Educators Are Using Scratch" section is not appearing, showing a missing image icon.

![image (2)](https://user-images.githubusercontent.com/1088291/58200900-debcba00-7ca1-11e9-9c8b-0974149b04b2.png)

Checking the console, you get a 404 on this request: `https://scratch.mit.edu/educators/images/teache

[2019-05-23 01:51] benjiwheeler opened #3001 "Project title test failing in smoke test"
Smoke tests failed on a www build:

https://travis-ci.org/LLK/scratch-www/jobs/535961080

[code]

[2019-05-23 01:56] benjiwheeler opened #3002 "Footer links smoke test failing"
Smoke test failed and had to be restarted:

https://travis-ci.org/LLK/scratch-www/jobs/535922525

error log:

[code]

[2019-05-23 07:57] apple502j commented on #2996
Can't repro on Firefox 67, Windows 10
![image](https://user-images.githubusercontent.com/33279053/58235462-d173fe00-7d7b-11e9-985b-a0999dd33874.png)

[2019-05-23 12:18] #2996 closed

[2019-05-24 11:55] benjiwheeler opened #3010 "Maybe /desktop could take users to Scratch desktop download page?"
Currently, `/download` is the URL to go to to download Scratch desktop.

I feel like half the time I want to go there, I type `/desktop` instead.

Maybe `/desktop` should also point there?

[2019-05-24 21:23] towerofnix opened #3011 "Long instructions / notes and credits fields mess up layout"
The picture says it all...

![A Scratch project with a very lengthy "Notes and Credits" section. The full content of it is visible, and it messes up the page's layout -- the box pushes the entire right column up and overflows below the project view section.](https://user-images.githubusercontent.com/9948030/58357202-49abf380-7e50-11e9-982c-fd65967363e9.png)

### Steps to Reproduce

Open the page o

[2019-05-24 21:33] benjiwheeler commented on #3011
Uh oh, this might be a problem I introduced with my recent change to that part of the site. I'll work on a fix right away.

Thanks for pointing this out, @towerofnix.

[2019-05-25 08:34] apple502j commented on #3011
repro: firefox 77 on windows 10, same project

[2019-05-25 12:45] benjiwheeler commented on #3011
I repro'd it too, and made a much simplified use case using our html & css:

https://codepen.io/benjiwheeler/pen/earzje?editors=1100

Looks like the culprit may be this flexbox issue: https://stackoverflow.com/a/36247448

[2019-05-25 13:09] Kenny2github commented on #3010
Easy enough, just add this to `src/routes.json`:
[code]

[2019-05-25 14:22] benjiwheeler opened #3013 "Remix avatar overflowing remix credit on Safari"
@picklesrus reported:

This appears to happen on Safari. (The avatar width is filed at https://github.com/LLK/scratch-www/issues/2592 )

[2019-05-25 23:33] benjiwheeler commented on #2818
@BryceLTaylor @thisandagain I think it might be worth my spending some time looking at ways that the project-state reducer could get into this state.

The project-state reducer leans pretty heavily on the assumption that react will call `componentDidUpdate` at least once for every change in the component's props; there could be edge cases we're not catching, either with that assumption or with oth

[2019-05-26 14:05] towerofnix opened #3015 "Typo on FAQ page (missing period)"
There's a typo in one of the headings on the FAQ page, in the [Cloud Variables](https://scratch.mit.edu/info/faq/#clouddata) section:

There should be a period between "variables" and "What".

[2019-05-27 08:50] apple502j opened #3017 "ReCaptcha many things"
To reduce spammers, we should recaptcha many things including:

- Making accounts
- Making new topics (for New Scratchers)
- Sharing the first project (for New Scratchers)
- Becoming Scratcher

[2019-05-27 10:10] MasterOfTheTiger commented on #3017
This would cause undue difficulty to many users. Rather, if there is a problem with spambots, scratch-www should use a spambot "honeypot", which doesn't inconvenience the legitimate users. In addition, relying on Google ReCapatcha is a bad idea as those who choose not to allow Google to access other websites in their browser will not be able to use Scratch.

[2019-05-27 11:11] benjiwheeler commented on #3017
There are certainly many good reasons to use some sort of CAPTCHA, and some usability concerns as well.

@apple502j, thanks for suggesting all of those various places we could add CAPTCHA. I hadn't thought of some of them.

@masterofthetiger, can you say more about what you mean about a "honeypot"?

[2019-05-27 11:49] MasterOfTheTiger commented on #3017
@benjiwheeler
I don't know too much about the idea. Basically, instead of making a user prove themselves to be human, you set up a hidden form which the user can't see, but the spambot will fill it out, and you can tell it was a bot which filled it out and not an actual person.

You can find more info with a search engine. I found [this useful article](https://www.smartfile.com/blog/captchas-dont-

[2019-05-27 13:00] apple502j commented on #3017
@MasterOfTheTiger
1. Recaptcha 3 does not need any user actions, unlike version 2.
2. You can use [Recaptcha in China](https://developers.google.com/recaptcha/docs/faq#can-i-use-recaptcha-globally)!

[2019-05-27 21:36] NilsTheBest commented on #3011
Sorry to burst in and if this isn't the right place to point this out, but apparently this also happens on Chrome? According to this post: https://scratch.mit.edu/discuss/topic/352810/ the user appears to be on Chrome and encounter the same problem.

[2019-05-28 12:03] apple502j opened #3018 "If possible, use km instead of mile"
In some old pages, we use miles - such as dorm info of Scratch@MIT 2018. However, miles is only used in America, thus not suitable in terms of i18n.

[2019-05-28 12:08] benjiwheeler commented on #3018
Thanks for pointing this out. My sense is that we're probably not going to worry much about old pages, but we should absolutely keep this in mind for future pages and text.

[2019-05-29 15:48] #3011 closed

[2019-05-29 18:43] #3013 closed

[2019-05-29 20:25] benjiwheeler commented on #2830
Update: still waiting on further discussion from the team. Maybe this should be more explicitly put on one person's plate, or backlogged?

[2019-05-31 15:38] #2986 closed

[2019-06-04 12:10] JoelGritter opened #3026 "Flagged Comments' Author Unclickable"
https://scratch.mit.edu/projects/191450372/#comments-113209445

<img width="702" alt="Screen Shot 2019-06-04 at 08 07 02" src="https://user-images.githubusercontent.com/13542746/58877815-c1272180-869f-11e9-8273-470032d0034b.png">

So in this comment, both `GulpTea*` and my user icon do not lead to my profile.

### Steps to Reproduce

The bug seems to happen when a comment flagged by the filter is

[2019-06-04 12:18] colbygk commented on #3026
Note: when viewing the comment without linking directly to it, the avatar+username are clickable. Maybe a z-index issue with how the double highlighting is setup.

Not clickable:
https://scratch.mit.edu/projects/191450372/#comments-113209445
![ezgif-5-8e42d2695e63](https://user-images.githubusercontent.com/192393/58878284-e9635000-86a0-11e9-83fb-ec11ce9aeab0.gif)

Clickable:
https://scratch.mit.ed

[2019-06-04 13:03] towerofnix commented on #3026
Duplicate of #2647 I believe.

[2019-06-04 13:40] #3026 closed

[2019-06-04 15:06] BryceLTaylor opened #3027 "Need to address skipped footer tests"
Several tests are being skipped from this pr: https://github.com/LLK/scratch-www/pull/3025,
 in order to reduce the flakiness of the integration tests.

Some of the tests that check footer links that link to external sites will fail sometimes with no change to this repository.  I've skipped them until we decide whether we want to keep these tests at all or modify them in some other way that doesn'

[2019-06-04 15:06] BryceLTaylor opened #3028 "Need to address skipped My Stuff tests"
Several tests are being skipped from this pr: https://github.com/LLK/scratch-www/pull/3025,
 in order to reduce the flakiness of the integration tests.

A test in my-stuff that tests whether the +New studio button takes you to the new studio was failing, so I skipped it.  It needs investigation.

[2019-06-04 15:53] benjiwheeler commented on #2970
@BryceLTaylor, let's try to create a solid repro set of steps for this.

[2019-06-04 15:57] thisandagain commented on #2830
@benjiwheeler I added this to our weekly design meeting agenda. Will follow-up after discussion.

/cc @carljbowman

[2019-06-06 19:58] kchadha opened #3038 "New Flaky Test - "Find Full Screen Button""
There is currently a smoke test that is failing, introduced by #2987.

Associated build logs:
https://travis-ci.org/LLK/scratch-www/jobs/542061302

cc/ @benjiwheeler

[2019-06-10 14:25] kathymakes opened #3040 "Should the "Looks like we are having issues with our servers" modal link to new Downloads content?"
I received the octopus error while wandering around www.
<img width="1062" alt="Screen Shot 2019-06-10 at 10 21 08 AM" src="https://user-images.githubusercontent.com/8203939/59202052-be2da480-8b69-11e9-9055-683853606f39.png">

When I click download, it gives me instructions for downloading Scratch 2 editor.
Imagine we want to direct to the 3.0 offline one?
![image](https://user-images.githubuserco

[2019-06-10 16:22] sanibbi opened #3041 "Sign-in and Save"
Not sure if this is the correct forum but if I a deploy the scratch-www project locally on my sever, will the signon and save  should work? How does it save the projects when I am running it it a local server setting? should the local version be configured to use my back-end framework for it to work?

[2019-06-10 18:32] ericrosenbaum opened #3043 "Hardware extension status UX questions"
There are a few issues with the UX related to the connection status of hardware extensions. We should consider as a system the different places this status info appears:
- The "extension chip" that appears on the project page below the player
- The extension status button in the blocks menu
- The connection modal dialog

Some specific questions:
- Should the extension chip be "dynamic" (i.e. able

[2019-06-10 18:33] ericrosenbaum commented on #3043
cc @thisandagain @carljbowman

[2019-06-11 20:45] towerofnix opened #3044 "Search projects by extension"
There should be a new section on the project Search page, for searching by extensions used inside a project. The extension "tags" on the project pages themselves should be links, each leading to the corresponding search page. This would help the discoverability of projects with creative uses of similar or particular extensions.

I believe this has already been a thing in discussion before, in comm

[2019-06-12 03:27] apple502j commented on #3040
Should be moved to scratchr2

[2019-06-13 06:33] antcto opened #3047 "How to load project data in scratch-www?"
Hi, everyone, i have cloned the scratch-www to my local server. and then run the installation command:
1, npm install
2, npm run build
3, make translations
4, npm start

http://localhost:8333/ is working for me. But the preview page of project is blank page when i click the project link.

where is the project data? how to add it into?

I just only show and run the scratch project in browser withou

[2019-06-14 02:25] GarlandKey opened #3050 "Block comments randomly scattered upon entering project."
I create scratch games to aide teaching children and teens how to code. The comments I place on blocks are very important for this purpose. Since Scratch 3.0 was released, I've noticed that when you leave a project and come back to it, sometimes the comments will be randomly scattered throughout the workspace. Using the `Clean up Blocks` feature doesn't move them.

### Steps to Reproduce

Leave a

[2019-06-14 02:37] GarlandKey opened #3051 "[Feature Request] Center Costume"
There are times when you need to center costumes more accurately than just eye-balling it. _Example: Sprites with multiple costumes that rotate from the center point of the sprite._

Right now you have no choice but to use the center marker to eye-ball the location of the costume.

[2019-06-16 23:33] GarlandKey commented on #3050
I've noticed that there is a workaround. You can simply create notes on the workspace that aren't attached to a block. These don't seem to move.

[2019-06-18 20:52] benjiwheeler opened #3053 "Revise and update user join flow"
We should revise and update the user join flow!

This is a big project with many, many parts and stages.

[2019-06-20 14:41] benjiwheeler commented on #2861
Ran into this one just now. This should be a very quick fix.

[2019-06-20 19:36] benjiwheeler opened #3068 "Linking to comments should be clearer"
On a comment's UI, there's no link to a comment that a user could use to refer to it elsewhere:

![image](https://user-images.githubusercontent.com/3431616/59876201-f5bdfd00-9370-11e9-8181-06d022f55bec.png)

Also, while notifications of comments contain a link to them, it only appears in a link whose text is the name of the project, which makes it hard to realize clicking that link will take you t

[2019-06-20 19:46] MasterOfTheTiger commented on #3068
Related #2244

[2019-06-20 21:16] benjiwheeler commented on #3068
@MasterOfTheTiger Thanks, didn't see that! I'll shift the focus of this issue to not overlap so much with #2244.

[2019-06-21 07:50] Kenny2github commented on #1884
#latepost
All of the domains have been recently moved (and redirected on *all* paths):
* scratch-dach.info -> de.scratch-wiki.info
* scratch-indo.info -> id.scratch-wiki.info
* scratch-ru.info -> ru.scratch-wiki.info

No more special casing is required. This issue is resolved!

[2019-06-21 07:50] #1884 closed

[2019-06-25 21:35] benjiwheeler opened #3078 "Need test to confirm users see scratchr2 join flow"
As we work on revising the join flow, it would be helpful to have a test that confirms users still see the existing, scratchr2 version and not the version in development.

[2019-06-25 22:24] #3078 closed

[2019-06-26 15:24] benjiwheeler opened #3085 "Review disabled smoke tests and get them working reliably again"
After smoke tests were reliably failing, e.g. in the builds below, we disabled them (in https://github.com/LLK/scratch-www/pull/3084 ) in order to get back to a passing state.

We should revisit these, get them working and reenable them.

Example failing tests:
* https://travis-ci.org/LLK/scratch-www/jobs/550533404
* https://travis-ci.org/LLK/scratch-www/jobs/550533207
* https://travis-ci.org/LLK/

[2019-06-27 13:23] paulkaplan opened #3091 "Overscroll on the editor on iOS is distracting"
Dragging on non-draggable elements, or just dragging to the end of a scrollable area, causes the document-level overscroll behavior, particularly for iOS

![overscroll](https://user-images.githubusercontent.com/654102/60269788-20eaa400-98bd-11e9-84bb-453b7e05abc6.gif)

It can be very distracting, especially with so many things that are draggable on the screen, if you miss a drag target and try dra

[2019-06-27 15:58] paulkaplan opened #3093 "Missing translation for comment error `isNotPermitted`"
The API returns an error key (`isNotPermitted`) that currently does not have a corresponding translation in `l10n.json` (around line 230).

This happens when you try to comment after creating an account a moment previiously. If you hit this issue you see
<img width="705" alt="Screen Shot 2019-06-27 at 11 39 35" src="https://user-images.githubusercontent.com/654102/60281332-c4927f00-98d2-11e9-91db-

[2019-06-27 16:09] benjiwheeler commented on #3093
tracked in https://github.com/LLK/scratch-www/issues/2861

[2019-06-27 16:09] #3093 closed

[2019-06-27 17:20] fsih commented on #2861
It would probably be helpful to explain why the user is not allowed to comment and how to fix it (e.g. look for verification email)

[2019-06-30 05:23] sanibbi opened #3095 "login in localhost:8333"
what happens when I try to signin the localhost? It seems that nothing happens when I put the username/password in the loin page in the localhost.

[2019-07-01 08:09] apple502j commented on #3095
yes, it should not work. Modified version of Scratch should not affect the original one.

[2019-07-03 22:35] towerofnix opened #3100 "Show accurate timestamp when hovering over comment times"
The `title` attribute of the timestamp elements in comment elements should be the full/absolute timestamp of the comment. Presently the only way to see the absolute date-time of a comment is to use the API.

[2019-07-08 18:28] ntlrsk opened #3104 "Add "How do I update Scratch Desktop?" to Scratch Desktop page FAQ"
Since Scratch Desktop does not prompt for updates, it would be very helpful to explain that people need to manually update Scratch Desktop, and how to do that.

Perhaps wording like this:
"To update Scratch Desktop from this page, download the latest version, and install."
"To check which version you have, click the Scratch logo."

[2019-07-08 19:17] ntlrsk opened #3105 "Suggested wording to FAQ on Scratch Desktop"
The first FAQ question on the Scratch Desktop page could use some additional clarification for those who don't know what Scratch Link is and to clarify that it's for hardware extensions.

Currently it reads: "**Can I use Scratch Link to connect to extensions?** Yes. However, you will need an Internet connection to use Scratch Link."

"Can I connect to extensions with Scratch Desktop?"
"To use hard

[2019-07-08 21:34] benjiwheeler opened #3106 "modal title styles are referenced out of scope"
In most of the modals, their presentation component references the "content-label" class, even though that class exists only in a higher scope than them. This works ok, but it would be better if there were some kind of ModalTitle component instead, that managed its own styling.

[2019-07-09 16:10] benjiwheeler opened #3108 "Compiling www is slow, which makes development difficult"
Compiling www is slow (it takes about 1 minute on my machine to recompile after a trivial change), which makes development difficult.

Are there ways to speed it up? I see discussion online, though I see we already do many of the things that help (or don't do the things that slow compilation down).

[2019-07-09 23:56] #3106 closed

[2019-07-10 02:24] benjiwheeler opened #3112 "two ".modal-content" styles are used in redundant and confusing ways"
the `src/components/modal/base/modal.scss` file contains two `.modal-content` styles, which are treated differently depending on whether one is inside the other.

In addition, the pattern of using the inner `.modal-content` after the modal's title is redundant across many of the modal types' render methods, and might make sense to refactor.

Finally, the use of that inner `.modal-content` is happe

[2019-07-10 10:08] Kenny2github commented on #2934
...hello? No milestone, no labels, no comments, as far as I know nobody has seen this.

[2019-07-10 10:54] benjiwheeler opened #3114 "copy link modal layout breaks on narrow window sizes"
Related to https://github.com/LLK/scratch-www/issues/1969

At window widths < 768px, the social modal's formatting breaks:

![image](https://user-images.githubusercontent.com/3431616/60963728-90aa5700-a2df-11e9-87a0-a1a5bb99c57d.png)

[2019-07-10 10:56] #2874 closed

[2019-07-10 11:09] benjiwheeler commented on #2450
Related to #2603;
Resolved by https://github.com/LLK/scratch-www/pull/2973

[2019-07-10 11:09] #2450 closed

[2019-07-10 15:48] #3112 closed

[2019-07-10 17:51] benjiwheeler opened #3115 "Need to correctly position validation errors in join flow"
The validation errors should not look like this:

![image](https://user-images.githubusercontent.com/3431616/60992051-b9e7d900-a319-11e9-9a90-9a8bbc91c717.png)

[2019-07-10 19:43] #3115 closed

[2019-07-11 06:08] syang opened #3124 "[Question]"
I have a couple of questions regarding scratch-www project, and I'd appreciate if you can give me some hints:

- I installed the scratch-www locally, and when I click 'create' menu at my localhost:8333, I see the scratch-gui is served. Does that mean scratch-www include a copy of scratch-gui? Or is that 'create' button simply a link to the public server of scartch-gui?

- Based upon the above obse

[2019-07-11 09:47] apple502j commented on #3124
1st: The scratch-gui is the one inside node_modules - yes, private one.
2nd: Nope. The API (closed-source) is needed.
3rd: If you mean browser extensions, none are used.

[2019-07-11 15:56] benjiwheeler opened #3129 "comments need unique "key" prop"
If you view any project with comments, and look at the js console, you will see the error:

[code]

[2019-07-14 13:57] troyscl commented on #1903
I have the same problem.
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@6.10.1
3 info using node@v10.16.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle www@1.0.0~prestart: www@1.0.0
6 info lifecycle www@1.0.0~start: www@1.0.0
7 verbose lifecycle www@1.0.0~start: unsafe-perm in lifecycle true
8 verbose lifecycle www@1.0.0~start:

[2019-07-15 20:21] benjiwheeler opened #3139 "validation errors in modals get clipped"
https://github.com/LLK/scratch-www/pull/3132 introduced the `modal-inner-clear` style, which was intended to solve the problem of modal content's `margin-top` collapsing with the margin above the modal itself. To stop that from occurring, I used the hack of setting `overflow: auto`.

That stopped the margin collapse, but it introduced another problem: clipping the bounds of absolutely positioned e

[2019-07-16 01:56] benjiwheeler opened #3141 "select style only applies to descendents"
CSS file `src/components/forms/select.scss` defines a `.select` class, with a `select` element selector nested under it. However, a `select` element with a `.select` class set on it should also receive the same style.

[2019-07-16 19:29] #3139 closed

[2019-07-18 18:01] kyleplo commented on #3051
This should be on llk/scratch-paint

[2019-07-18 20:12] benjiwheeler commented on #3141
Closing because there may be a workaround. But we might want to revisit this and revise many of the forms-related css files, which are unnecessarily specific about when to apply styles, and when not to.

[2019-07-18 20:12] #3141 closed

[2019-07-19 13:24] BryceLTaylor opened #3157 "Make unit tests look for test files in sub directories"
Right now, `npm run test` will run the unit tests in the unit folder.  If we add any kind of folder structure to organize tests they won't get run.  We should make sure we change the script in package.json that runs the unit tests to look in sub directories when any are added.

[2019-07-19 18:21] BryceLTaylor opened #3158 "We should add test coverage to the jest tests"
Currently we aren't set up to be able to run coverage reports on the jest tests.  We should add that.

[2019-07-21 00:59] benjiwheeler opened #3159 "Tests failed with error "cannot find scratch-l10n""
On a PR, this build failed: https://travis-ci.org/LLK/scratch-www/builds/560788528?utm_source=github_status&utm_medium=notification

The error message was

[code]

[2019-07-22 01:44] benjiwheeler opened #3160 "Update react lifecycle methods"
There are two remaining deprecated react lifestyle methods:

* `componentWillUpdate` in src/components/modal/addtostudio/container.jsx
* `componentWillReceiveProps` in src/views/teacherwaitingroom/teacherwaitingroom.jsx

we should update those.

[2019-07-23 02:01] benjiwheeler commented on #2970
Repro steps:

1. log in to scratch in tab A
2. in A, create or edit a project that you own
3. open an additional tab, B, and go to scratch; you will appear to be logged in there, too
4. in B, log out
5. in A, make a change to the project and click Save
6. in A, you will see the alert notifying you that saving failed; but you do not have the ability to log in again

[2019-07-23 02:05] benjiwheeler commented on #2970
It seems like it might be good to refresh the session when saving fails.

However, note that one complication is that you may be editing a project that is not shared or publicly viewable. If we refresh your session and you become logged out, what happens to your unsaved changes? Do we throw up a 404 page because you no longer have permission to even see that it exists? Do you lose your unsaved wor

[2019-07-23 16:14] #2472 closed

[2019-07-23 16:14] #2685 closed

[2019-07-23 16:28] benjiwheeler commented on #3157
Resolved by https://github.com/LLK/scratch-www/pull/3162

[2019-07-23 21:38] VFDan opened #3167 "Uploading transparent PNG doesn't work"
Whenever you try to upload any PNG with transparency, it says the image is corrupt: ![Corrupt Image](https://media.discordapp.net/attachments/582714027239538688/603339964419276810/unknown.png?width=400&height=23 "Corrupt Image")

### Steps to Reproduce

Try to set your profile image to any PNG with transparency. This is the image I used: ![My Logo](https://u.cubeupload.com/VFDan/LogoSquare.png "VF

[2019-07-24 17:31] BryceLTaylor commented on #3158
After a discussion with @rschamp we decided not to add this.

[2019-07-24 17:31] #3158 closed

[2019-07-25 14:04] benjiwheeler opened #3173 "When modals are open and window is short, they turn square in weird ways"
See related issues:
* Some mobile responsive views aren't using the intended css https://github.com/LLK/scratch-www/issues/2159

With various modals open, and window short (e.g., <600px tall):

Copy link modal is clipped in a bad way:
![image](https://user-images.githubusercontent.com/3431616/61880736-6e116400-aec3-11e9-895b-611f77c74499.png)

Report project modal does not jump to top of page:
![i

[2019-07-25 14:45] benjiwheeler commented on #2936
We're tracking this in issue https://github.com/LLK/scratch-www/issues/2684 . I moved your helpful report there.

[2019-07-25 14:45] #2936 closed

[2019-07-25 15:16] BryceLTaylor opened #3174 "Position of Validation Tooltip on report modal is strange"
The report modal on the project page shows a tooltip if you deselect the text field without typing anything.  The tooltip is positioned on the right side of the modal and below it so it sticks off the right edge of the text field.  It looks a little strange, like it should be sticking all the way off the right, or be centered below the text field.
<img width="663" alt="Screen Shot 2019-07-25 at 9

[2019-07-26 15:20] BryceLTaylor opened #3177 "Link to community guidelines in report modal should open in a new tab"
If you click the community guidelines link in the "report" modal on the project page it should open the community guidelines in a new tab rather than in the one you are in.

### Steps to Reproduce

Sign in
navigate to a project page
Click the report button
Click the "Scratch Community Guidelines" link
Note: it opens in the community guidelines in the same tab rather than in a new one.

### Operati

[2019-07-26 22:29] yusuf989 commented on #2362
The about page link to the ideas page still reads "Tips Page" (under "Learn More About Scratch" section near the bottom of the page.

[2019-07-27 00:03] towerofnix commented on #2362
@yusuf989 you should [create a new issue](https://github.com/LLK/scratch-www/issues/new) for that, so it can be properly tracked and fixed as its own new issue.

[2019-07-27 22:14] VFDan commented on #3167
Just noticed, it works with some images, like ![Working Image](https://media.discordapp.net/attachments/343464479545098242/604798767086174228/Logo-Square-Alt.png?width=301&height=301 "Working Image")

[2019-07-29 14:11] benjiwheeler opened #3182 "teacher registration form has two different font weights"
go to [https://scratch.mit.edu/educators/register](https://scratch.mit.edu/educators/register):

"Create a Username" and "Password" have two different font weights!

![image](https://user-images.githubusercontent.com/3431616/62055210-26ebe180-b1e9-11e9-82ef-75a781106dfb.png)

[2019-07-29 23:36] #3129 closed

[2019-07-30 08:24] IvesSSa opened #3187 ""Make translations error""
make: *** No rule to make target 'translations'.  Stop.

#ubuntu 16

[2019-07-30 12:02] apple502j commented on #3187
You do `npm run translations`, not make.

[2019-07-30 18:12] benjiwheeler commented on #3187
actually it's now `npm run translate`

we should update the readme!

[2019-07-30 18:14] #3187 closed

[2019-08-01 04:07] Kenny2github commented on #3182
Note a few things:
a) The font weights are actually specified differently:
[code]
And the elements are different:
[code]
for the username and
[code]
for the password.
b) The difference is even more pronounced on my system, Chrome 75.0.3770.142 Windows 10 OS Version 1809 (Build 17763.615), where I don't have the site's preferred fonts:
![image](https://user-images.githubusercontent.com/28599280/622

[2019-08-01 13:39] benjiwheeler commented on #3182
@Kenny2github wrote:

Yes, feel free to create it!

[2019-08-01 13:40] benjiwheeler commented on #3182
and thanks for the research, this will help fix it! Feel free to submit fixes for these -- seems like it should be fairly straightforward, now that you've looked into it!

[2019-08-01 13:41] benjiwheeler commented on #3182
@ascii I'm taking the liberty of tagging this "help wanted" because it's a small change, and @Kenny2github added helpful context. (Please LMK if that's not the right thing to do!)

[2019-08-01 14:30] greenkeeper[bot] opened #3201 "An in-range update of eslint-plugin-cypress is breaking the build 🚨"
## The devDependency [eslint-plugin-cypress](https://github.com/cypress-io/eslint-plugin-cypress) was updated from `2.6.0` to `2.6.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-www/compare/develop...LLK:greenkeeper%2Feslint-plugin-cypress-2.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-c

[2019-08-01 14:34] towerofnix commented on #3182
@benjiwheeler I take it you meant to ping @thisandagain? :P

[2019-08-01 14:37] benjiwheeler commented on #3182
Oops, yes, wrong username for this platform! cc: @thisandagain

[2019-08-01 14:37] benjiwheeler commented on #3157
Closing this because the solution for unit tests used in #3162 isn't very generalizable -- it depends on all the files in a directory being test files, an assumption that isn't correct in other directories.

[2019-08-01 14:37] #3157 closed

[2019-08-01 17:02] benjiwheeler commented on #3159
This occurred again at https://travis-ci.org/LLK/scratch-www/builds/566265174?utm_source=github_status&utm_medium=notification

[code]

[2019-08-01 17:48] towerofnix opened #3203 "Master - Several pages, such as the homepage, do not function at all"
Several pages, including the Scratch homepage, no longer function at all, showing a blank white or blue screen as soon as the page loads. The console shows this log:

[code]

The "Stop! This is part of your browser intended for developers..." message still displays (as well as warnings about onmozfullscreenchange, etc being deprecated).

### Steps to Reproduce

Open any of these pages:

* https://

[2019-08-01 17:50] thisandagain commented on #3203
We are on it.

[2019-08-01 17:50] #3203 closed

[2019-08-01 21:18] kathymakes commented on #2830
Here's one potential design & copytext that we'd like to chat more about with @ntlrsk and @kosiecki17. We'll loop back after our design meeting on 8/15:
 <img width="714" alt="Screen Shot 2019-08-01 at 5 17 22 PM" src="https://user-images.githubusercontent.com/8203939/62328136-4b152000-b480-11e9-965f-1e01f529f1ea.png">

[2019-08-02 15:32] paulkaplan commented on #2550
@rschamp from looking at the default thumbnail data we include in the `reportProject` reducer action [src](https://github.com/LLK/scratch-www/blob/develop/src/redux/preview.js#L964-L967) it seems like maybe the problem is that we are including the `data:image` prefix in the POST instead of just the b64 encoded image. That is, we might be able to fix just by stripping `data:image/png;base64,` from

[2019-08-03 04:13] Kenny2github opened #3213 "Asterisks don't show up on teacher account creation"
### Expected Behavior
Next to the "Create a Username" and "Password" buttons, there should be an asterisk denoting that those fields are required.

### Actual Behavior
No such asterisks appear:
![image](https://user-images.githubusercontent.com/28599280/62264870-da262780-b3ef-11e9-8eae-dc3eceb0e3df.png)

### Cause
These two fields don't show asterisks for two separate reasons. For the username fie

[2019-08-03 04:16] Kenny2github opened #3214 "Description paragraph in teacher registration is missing a space"
### Behavior
![image](https://user-images.githubusercontent.com/28599280/62264932-16598800-b3f0-11e9-87df-3e37366758f2.png)

### Cause
There's literally no space here in the HTML:
[code]

### Operating System and Browser
Chrome 75.0.3770.142 Windows 10 OS Version 1809 (Build 17763.615)

[2019-08-03 04:17] Kenny2github commented on #3182
Issues I asked whether to open separate issues for are now separate issues, #3213 and #3214.

[2019-08-05 19:42] benjiwheeler opened #3215 "Make pushing strings to transifex easier"
Currently, if someone wants to push strings from current l10n files up to Transifex, they must have the `tx` commandline program installed. But this is inconvenient.

@chrisgarrity writes:

[2019-08-05 19:46] chrisgarrity commented on #3215
Actually I was just looking and https://github.com/LLK/scratch-l10n/blob/master/scripts/tx-push-src.js has the basis of what's needed. But it's designed for just one file,

i.e. `tx-push-src scratch-website general-l10njson ./src/l10n.json`

We need something that does it for all the l10n files.

[2019-08-06 19:18] thisandagain commented on #2830
@kathymakes Looks great! Let's move forward. My only nitpick would be to remove the duplicate trail of "S"s in the illustration, but I'm happy to defer to your judgement. Let's move forward with implementation.

/cc @benjiwheeler

[2019-08-07 15:29] ntlrsk opened #3221 "Privacy Policy needs updated address for Scratch Foundation"
The Privacy Policy mentions the Code to Learn foundation and gives a Bethesda MD address:

Scratch Foundation
ATTN: Privacy Policy
7315 Wisconsin Ave.
4th Floor West
Bethesda, MD 20814

This should be updated with the updated Scratch Foundation address on Boston.

[2019-08-07 15:32] ntlrsk opened #3222 "FAQ page would be helpful to include link to Scratch Privacy Policy"
The FAQ page states:
"We encourage you to read the Scratch Privacy Policy for more information."
There is not currently a link to that page.

Would be good to link the words "Scratch Privacy Policy" to:
https://scratch.mit.edu/privacy_policy

[2019-08-08 18:06] kathymakes commented on #2830
### Illustrated section
<img width="1317" alt="Screen Shot 2019-08-08 at 2 06 40 PM" src="https://user-images.githubusercontent.com/8203939/62726663-c416f900-b9e5-11e9-9f50-8bd07f0917c8.png">

### In context

![microbit Cards Design](https://user-images.githubusercontent.com/8203939/62726611-a5b0fd80-b9e5-11e9-9bde-116eace503c1.png)

[2019-08-10 19:36] ntlrsk opened #3238 "Wording on Scratch download page is confusing for Scratch 2"
On the Scratch download page, the link for Scratch 2 says: "Scratch 2.0 Desktop" - this is confusing because everywhere else "Scratch Desktop" is the name of Scratch 3.0.

The link should just say "Scratch 2" or "Scratch 2 Offline Editor" since the software itself just says Scratch 2 (see below).

![image](https://user-images.githubusercontent.com/4721032/62826099-f1011280-bb83-11e9-86be-eb08687a7

[2019-08-11 01:36] towerofnix commented on #3238
Is there any reason for 1.4's link to say "Scratch 1.4 Desktop" either? There's never been an (official) online release of the 1.4 editor, so if 2.0's link is changed to just "Scratch 2.0", it'd only be consistent to change the 1.4 link the same way.

[2019-08-13 13:49] ntlrsk commented on #3238
I agree that 1.4 also should not be named Desktop to avoid confusion.

[2019-08-13 17:39] #2550 closed

[2019-08-13 17:39] thisandagain commented on #2550
Resolved in #3211

[2019-08-13 18:08] paulkaplan commented on #2550
For future generations, this bug was the focus of **The Bug Report Episode 2: Thumbnail Holy Grail**

[2019-08-15 13:38] paulkaplan commented on #2608
I also experienced this, it seems like it could be happening inconsistently, maybe some kind of race condition?

[2019-08-15 13:39] paulkaplan commented on #2608
Looks like this happens when you remix from the editor, but not when you remix from the project page.

[2019-08-15 15:49] benjiwheeler opened #3259 "Automated smoke tests seem to have errors 100% of the time"
Both a "failing" smoke test like https://travis-ci.org/LLK/scratch-www/jobs/572335534 and a "passing" smoke test like https://travis-ci.org/LLK/scratch-www/jobs/569470014 have the same several errors at the end:

[code]

What's going on?

[2019-08-15 17:38] benjiwheeler commented on #2608
Added this to the September bug triage doc, FWIW

[2019-08-16 11:43] GarlandKey commented on #3051
https://github.com/LLK/scratch-paint/issues/456

Closing.

[2019-08-16 11:43] #3051 closed

[2019-08-16 18:35] benjiwheeler opened #3264 "Add troubleshooting ideas to microbit page"
I suggest we add to the troubleshooting section on the microbit landing page:

* Check that you have Scratch Link installed and running on your computer
    * (not just that it's compatible!)
* Check that your computer has Bluetooth turned on

both of these have bitten me multiple times!

[2019-08-16 20:56] ericrosenbaum commented on #3264
Our original thinking was that these two issues are specifically covered by the error modal that should appear if you have either of these problems, and so it would be redundant to cover that in the troubleshooting section as well:

<img width="489" alt="Screen Shot 2019-08-16 at 4 54 41 PM" src="https://user-images.githubusercontent.com/567844/63197727-931e7000-c046-11e9-8adf-45019f2b20fd.png">

[2019-08-18 04:06] Kenny2github commented on #2934
cc @thisandagain? Would at least like to have this acknowledged.

[2019-08-18 12:18] thisandagain commented on #2934
This page is in our legacy codebase and will need to be removed there.

[2019-08-19 15:12] ChampikaF opened #3270 "Update Scratch Conference Website"
The Scratch Africa conference organizers have confirmed their details so we need to update the site to reflect that.

**Currently the site reads:**

Scratch2019NBO
The Scratch2019NBO conference, originally planned for Nairobi, Kenya in July 2019, has been postponed. Information about future plans will be available later this year.

**It should be updated to remove the above text and add the follow