[2016-12-13 16:43] mewtaylor commented on #1108
One thing to keep in mind is that the spacing right now is designed to be equal between all options, which means more spacing is required on account of the input field needing to be there (pending fix of the new line thing)

[2016-12-13 17:04] carljbowman commented on #1108
Once the radio button and the text input at vertically aligned, the addtional space is to be expected.

As @mewtaylor described, because the input is taller than the label (e.g. 'Masculino') text size and we use a fixed amount of marge on these elements the space between here will be slightly larger.

[2016-12-13 17:09] jwzimmer commented on #974
https://github.com/LLK/scratch-www/issues/1107 could help us figure out this kind of case!

[2016-12-13 17:18] jwzimmer opened #1109 "Homepage rows not loading - blank thumbnail, title "Project", etc."
Chrome 54 + Mac, IE 11 + Win 7 VM, **Staging**

Error console:

console.(anonymous function)
XMLHttpRequest cannot load https://googleads.g.doubleclick.net/pagead/id. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.youtube-nocookie.com' is therefore not allowed access.

<img width="1265" alt="screen shot 2016-12-13 at 12 16 53 pm" src="https://clou

[2016-12-13 18:55] mewtaylor commented on #1101
fixed in https://github.com/LLK/scratch-www/pull/1111

[2016-12-13 18:56] mewtaylor commented on #1108
Closing this as expected, since the alignment for the input is fixed in https://github.com/LLK/scratch-www/pull/1111, thanks!

[2016-12-13 18:56] #1108 closed

[2016-12-15 16:10] mewtaylor opened #1112 "teacher registration required field string sometimes missing"
<img width="676" alt="screen shot 2016-12-15 at 11 09 37 am" src="https://cloud.githubusercontent.com/assets/1815772/21231659/11ef13ca-c2b7-11e6-9d17-8fd0166b1ecd.png">

[2016-12-15 17:24] ntlrsk opened #1113 "Minor wording edits to Things to Try page"
To help address questions about real names with Animate Your Name, I suggest the following wording changes to TTT page:

**Animate a Name**
Animate the letters of your username, initials, or favorite word.

![image](https://cloud.githubusercontent.com/assets/4721032/21234581/43c69f6c-c2c1-11e6-9f74-0010de9b4978.png)

[2016-12-15 17:25] ntlrsk commented on #1113
@jwzimmer This is to address https://github.com/LLK/scratchr2/issues/4399

[2016-12-15 17:27] jwzimmer commented on #1113
Great, thanks @ntlrsk. Do we want to change it just on the TTT page or were you thinking also in the tips window?

[2016-12-15 17:56] ntlrsk commented on #1113
I'll review the Tips window and edit that text. Thanks!

[2016-12-15 19:27] kaschm opened #1114 "Redirect old cards page to new cards page"
https://scratch.mit.edu/help/cards/

should redirect to:

https://scratch.mit.edu/info/cards

[2016-12-15 20:28] mewtaylor commented on #1107
@rschamp can this be closed from #1110?

[2016-12-15 20:36] rschamp commented on #1107
Oh yup, thanks.

[2016-12-15 20:36] #1107 closed

[2016-12-15 20:59] mewtaylor commented on #1112
Fixed in #1115

[2016-12-15 20:59] #1112 closed

[2016-12-15 21:27] jwzimmer opened #1117 "Script7002: XMLHttpRequest: Network Error 0x80070005, Access is denied when logging in from homepage"
Production, IE 11 on Win 7 VM

On log in from the homepage, there is an error saying "access is denied" in the console. There doesn't seem to be any functional impact.

To repro: Go to the homepage & log in on IE 11 + Win 7.

<img width="1015" alt="screen shot 2016-12-15 at 4 23 46 pm" src="https://cloud.githubusercontent.com/assets/1320456/21242558/ec3ed56c-c2e2-11e6-8ec9-1a1cf243ed25.png">

[2016-12-16 14:34] mewtaylor commented on #1109
Fixed in https://github.com/LLK/scratchr2/pull/4409

[2016-12-16 14:34] #1109 closed

[2016-12-16 14:34] mewtaylor commented on #1109
also in https://github.com/LLK/scratchr2/commit/bf41bb46b14f0ca9c9d7bb0144c7ba2eefbe88e4

[2016-12-16 15:43] rschamp opened #1118 "Fashion microworlds video does not exist"
When I click to play the video on https://scratch.mit.edu/microworlds/fashion/, I see this:
![image](https://cloud.githubusercontent.com/assets/1512021/21268347/5ea46a10-c37c-11e6-870e-c69d37a697ef.png)

Chrome 54.0.2840.98
macOS 10.12.1

[2016-12-16 16:23] rschamp opened #1120 "After joining, clicking outside the modal does not reload the session"
After signing up for a new account, the final step registers the account and logs you in as the new user. Clicking "OK Let's Go!" will close the window and refresh the session showing you your new signed-in state. However if you close the window by clicking outside, you see the logged out state, even though you're logged in.  We should refresh the logged in state as soon as we're logged in (or whe

[2016-12-17 01:21] jwzimmer opened #1123 "Inconsistent wrapping for validation message for Teacher/ Student Registration > Gender > Other input field"
Teacher/ Student Registration > Gender > Other input field validation wraps differently than the other validations, which fit all the test ("This field is required") into one line.

Staging, Mac OS El Capitan, Chrome 55

On Production, the validation is one line instead of two.

**Staging**

<img width="637" alt="screen shot 2016-12-16 at 8 14 54 pm" src="https://cloud.githubusercontent.com/assets

[2016-12-17 01:56] jwzimmer opened #1124 "No error in UI (just console) for 429/ exceeding account creation rate limit"
Blocker for https://github.com/LLK/scratch-www/pull/1110.

Staging, Mac OS El Capitan, Chrome 55

(@rschamp, please let me know if I was testing this in the wrong place or if it wasn't ready to be tested quite yet, etc. Thanks.)

**TL;DR** I get "stuck" on the last step of teacher registration if I exceed daily account creation rate limit.

I should see an error page rather than getting stuck on t

[2016-12-17 02:05] jwzimmer commented on #966
### Testing

**Chrome 55, Mac OS El Capitan, Staging**
* [ ] The validations should look as expected during student and teacher registration in English
  * Noticed https://github.com/LLK/scratch-www/issues/1123, otherwise they look normal
* [ ] The "This field is required" validations should be consistently translated in Portuguese
* [ ] The "This field is required" validations should be translata

[2016-12-17 02:27] jwzimmer opened #1125 "Uncaught ReferenceError: formatMessage is not defined - Teacher Registration, Portuguese, Brazilian Portuguese"
Potential blocker for https://github.com/LLK/scratch-www/pull/1099, if it was caused by that PR?

Staging, Chrome 55, Mac OS El Capitan

The error shows up in the console on the first step of Teacher Registration if you set the language to Portuguese.

<img width="1277" alt="screen shot 2016-12-16 at 9 23 24 pm" src="https://cloud.githubusercontent.com/assets/1320456/21283729/fbfe4c32-c3d5-11e6-91

[2016-12-17 02:31] jwzimmer commented on #1123
Also occurs with the Other input field in the Type of Organization field:
<img width="595" alt="screen shot 2016-12-16 at 9 29 19 pm" src="https://cloud.githubusercontent.com/assets/1320456/21283779/f1e0ed9e-c3d6-11e6-9850-5b3fb40fdeee.png">

[2016-12-17 02:45] jwzimmer commented on #1125
Occurs with Brazilian Portuguese as well, Staging, Firefox 50.0.2, Mac OS El Capitan:
<img width="1181" alt="screen shot 2016-12-16 at 9 45 10 pm" src="https://cloud.githubusercontent.com/assets/1320456/21283847/03774e16-c3d9-11e6-8c34-66735e965d14.png">

[2016-12-17 02:59] jwzimmer opened #1126 "Inconsistent bolding in Chinese - Teacher Registration"
Staging, Firefox 50.0.2, Mac OS El Capitan

**TL;DR** I think in some places the Chinese characters are bolded, sometimes they aren't - I'm not sure if that is how they should look?

If you choose Chinese (the second to last option in the language dropdown menu on the homepage), then go to Teacher Registration, it looks like the bolding may be inconsistent. I'm not totally sure if that is true - i

[2016-12-17 03:07] jwzimmer commented on #1126
I'm really not sure if I'm able to tell whether the Chinese chars are bolded or not... Here's the username step in Chinese on Production in Chrome 55:
<img width="352" alt="screen shot 2016-12-16 at 10 03 02 pm" src="https://cloud.githubusercontent.com/assets/1320456/21283960/9023fc72-c3db-11e6-93f3-a1b6bbdee8f0.png">

And on Firefox 50.0.2 on Production:
<img width="338" alt="screen shot 2016-12-

[2016-12-18 16:32] jwzimmer commented on #1021
I ran into this when going from the Explore page to Discuss; I changed the language in Explore, but when I went to Discuss, it was in the language I had previously been using.

[2016-12-19 13:29] mewtaylor commented on #1125
Fixed in #1127

[2016-12-19 13:29] #1125 closed

[2016-12-19 18:49] rschamp commented on #1124
FIxed in #1128

[2016-12-19 20:35] jwzimmer commented on #1124
I am still seeing this?
Chrome 55, Mac OS El Capitan, Staging.

- I used my tool to create 101 accounts
- I registered for a teacher account
- I got stuck on the last step (email)

<img width="657" alt="screen shot 2016-12-19 at 3 33 39 pm" src="https://cloud.githubusercontent.com/assets/1320456/21328203/c691b840-c600-11e6-96a9-5fc878736170.png">

[2016-12-19 21:57] jwzimmer commented on #1124
Staging, Chrome 55, Mac OS El Capitan

Currently I'm getting stuck on the last step:
<img width="630" alt="screen shot 2016-12-19 at 4 54 45 pm" src="https://cloud.githubusercontent.com/assets/1320456/21330588/29e42b70-c60c-11e6-9a63-b9895f8898f0.png">

[2016-12-19 22:12] kaschm opened #1130 "Update "Download Flash" link on FAQ"
This is happening on production.

On the General FAQ (scratch.mit.edu/info/faq), we don't point users to the correct link to download Adobe Flash:

**What are the system requirements for Scratch?**
To run Scratch 2, you need to be using (1) a Mac, Linux, or Windows computer; (2) a version of **Adobe Flash Player** released on or after June 15, 2016;

The link should go here: https://get.adobe.com/

[2016-12-19 22:18] jwzimmer commented on #1124
I am now seeing an error page which includes the error number (429):
<img width="713" alt="screen shot 2016-12-19 at 5 17 55 pm" src="https://cloud.githubusercontent.com/assets/1320456/21331167/1b41734a-c60f-11e6-89dc-8b0697673b6a.png">

[2016-12-19 22:20] jwzimmer commented on #1124
Since I am now seeing an error page, QA-OKing the case this is a blocker for.

[2016-12-19 22:20] #1124 closed

[2016-12-20 18:46] thisandagain commented on #1130
Assigning to @mewtaylor for PR review from contributor. :-)

[2016-12-21 15:58] TheGrits commented on #941
@chrisgarrity I'm willing to localize the page(s) once it's confirmed that it(they) should be.

[2016-12-21 17:13] #1118 closed

[2016-12-21 17:23] chrisgarrity commented on #941
@TheGrits Thanks, I'll make sure it gets a prio and remove the needs-discussion if we do decide to translate it.

[2016-12-21 19:00] kaschm opened #1136 "Archive 2016 Conference Site"
to scratch.mit.edu/conference/2016

[2017-01-03 13:25] johnroper100 commented on #1063
Any progress?

[2017-01-03 14:33] mewtaylor commented on #1063
@johnroper100 we're just getting back from a holiday period now, thanks for your patience!

I'm noticing in the debug log the following line:
`make[1]: execvp: ./bin/build-locales: Permission denied`

It seems as if there might be some permissions error with the `build-locales` file? Perhaps it's not set as an executable file?

[2017-01-03 14:42] mewtaylor commented on #1114
@kaschm thoughts on simply removing the old endpoint instead?

[2017-01-03 14:53] kaschm commented on #1114
@ntlrsk do you think that many people have this link out there in the world? if so, we can redirect. otherwise, we can remove the endpoint.

[2017-01-03 15:05] johnroper100 commented on #1063
This is on windows

On Tue, Jan 3, 2017 at 9:33 AM, Matthew Taylor <notifications@github.com>
wrote:

--
John Roper
Freelance Developer and Simulation Artist
Boston, MA USA
http://jmroper.com/

[2017-01-03 15:24] mewtaylor commented on #1063
@johnroper100 yes I'm aware – I was just wondering if, though the file is listed as an `executable` in Github, if somehow it got cloned as a read/write only file, or if the user the script is running the build as does not have permission to execute the file perhaps?

[2017-01-03 16:04] johnroper100 commented on #1063
No idea. Either way, I get this error whenever I run `npm install` anywhere on my machine:

[code]

[2017-01-03 16:19] ntlrsk commented on #1114
The old link is what Google is pointing to as its first entry for a long time now (apparently), and I think educators may have bookmarked it, so I think it's best to redirect and would put this at high priority because the Scratch Coding Cards are receiving publicity. Does that make sense?

Or, if we just deleted the page, how long does it take Google to correct?

![image](https://cloud.githubuser

[2017-01-03 16:20] kaschm commented on #1114
Thanks @ntlrsk - let's redirect the page instead of removing the endpoint. High Google rankings may also indicate that there are a lot of pages linking to that URL elsewhere on the web. Thanks.

[2017-01-03 16:21] ntlrsk commented on #1114
OK, thanks! It would be great to get this out in this release, because now when people search for the new cards and click the first link, they won't find them.

[2017-01-03 16:22] mewtaylor commented on #1114
@ntlrsk @kaschm just fyi search would likely take no more than 2 weeks to update.

[2017-01-03 18:04] mewtaylor opened #1140 "Create "For Translators" endpoint"
This should be similar to the "For Developers" page, and help people interested in getting started translating the site. the current translation endpoint will then redirect to this page.

Needs content currently.

/cc @chrisgarrity

[2017-01-04 01:20] thisandagain commented on #1082
This should be resolved when the banner is moved into the global navigation.

[2017-01-04 01:32] johnroper100 opened #1141 "NPM Very outdated packages"
When I run `npm install` I get this list of *very* outdated packages, and some warn you that not upgrading will not work at all:

[code]

I am on nodejs version 7.3.0

[2017-01-04 20:16] chrisgarrity opened #1142 "Update build-locales for transifex"
Document how to pull translations in README
Rewrite build locales to use transifex json files instead of po, with default to english
add pull translations to travis step
remove scratchr2_translations as a dependency.

[2017-01-09 01:47] Shartti opened #1144 "npm run build error"
when i run `npm run build` there are some errors:

[code]

[2017-01-09 15:14] rschamp commented on #1144
Have you run `npm install`? The issue seems to be that webpack isn't installed.

[2017-01-09 15:28] Shartti commented on #1144
sorry after I install the webpack, I got this when i run ` npm run build`

[code]

[2017-01-09 19:01] sleggss commented on #1086
Mock of the mock:

[Scratch Conf Wireframe 02.pdf](https://github.com/LLK/scratch-www/files/694399/Scratch.Conf.Wireframe.02.pdf)

[2017-01-10 16:39] jwzimmer opened #1145 "The cat-b image on the homepage is using the wrong URL"
Currently it is using https://cdn.scratch.mit.edu/scratchr2/static/images/cat-b.png, but it should be located in scratch-www. Currently it 404s.

The cat-b image is the one when you hover over the Scratch Cat on the homepage when you are logged out:
<img width="213" alt="screen shot 2017-01-10 at 11 00 25 am" src="https://cloud.githubusercontent.com/assets/1320456/21815035/4e2f8348-d729-11e6-8ed2-

[2017-01-10 17:57] TheGrits commented on #1145
Can reproduce on Chrome with ChromeOS.

[2017-01-11 09:36] Paddle2See opened #1146 "Add "South Sudan" to dropdown list of Locations"
As pointed out in this forum topic

https://scratch.mit.edu/discuss/topic/233158/

South Sudan is a UN recognized country and it should be in our list of locations.

[2017-01-11 11:07] rizal72 commented on #1141
Same for me... :(
OSX El Capitan - node 7.4.0 - npm 4.0.5

I'll try later on a OSX Sierra installation.

[2017-01-11 11:53] TheGrits commented on #1146
Looks like the [package](https://www.npmjs.com/package/iso-3166-2) that we [import](https://github.com/LLK/scratch-www/blob/develop/src/lib/country-data.js#L2) is up-to-date: [(South Sudan country code)](https://github.com/olahol/iso-3166-2.js/blob/master/codes.csv#L208) and [(South Sudan states/codes)](https://github.com/olahol/iso-3166-2.js/blob/master/data.csv#L3967-L3976)

Therefore, I'm not e

[2017-01-11 14:04] rizal72 commented on #1144
Same for me... :(
OSX El Capitan - node 7.4.0 - npm 4.0.5

issuing `npm install`

installation freezes on `npm WARN deprecated node-uuid@1.4.7: use uuid module instead
`, and it never completes.

Update:
It finally installed, when I left it hanging there for half an hour.
**However the run build failed later**

[code]

Debug file in attackment.
[npm-debug.log.zip](https://github.com/LLK/scratch-ww

[2017-01-11 14:16] rschamp commented on #1141
These warnings are emitted as our dependencies install their own dependencies.  They should not have an effect on the working of the repo.  As we upgrade our dependencies, these warnings will be resolved.

If you would like to help with the project, please use Node 4, which is the environment we build with. A useful tool for managing node versions is [`nvm`](https://github.com/creationix/nvm).

[2017-01-11 14:31] mewtaylor commented on #1146
@TheGrits the countries list we have is actually maintained in our old repo still (scratchr2), while that package is the one we use for teacher registration. @Paddle2See I can migrate this over to scratchr2 if that would be okay with you.

[2017-01-11 14:39] TheGrits commented on #1146
@mewtaylor Oh, that makes sense. Thanks for pointing of that gotcha!

[2017-01-11 14:49] rschamp commented on #1144
Please use Node 4 to build scratch-www.  The project is not set up to build under all Node versions. I see errors similar to the errors here when using Node 6 and 7.  A good tool for managing Node versions is [`nvm`](https://github.com/creationix/nvm).

If you continue to have problems when building under Node 4, please let us know.  Closing this with the understanding that the problem was due to

[2017-01-11 14:49] #1144 closed

[2017-01-11 14:58] Paddle2See commented on #1146
@mewtaylor that would be great.  I just pick repo names at random and throw issues into them.  I know you'll sort it all out somehow ;)

[2017-01-11 15:00] mewtaylor commented on #1146
Moved to https://github.com/LLK/scratchr2/issues/4441

[2017-01-11 15:00] #1146 closed

[2017-01-11 15:01] rizal72 commented on #1144
Ok thanks, but perhaps you should specify it on the Readme.md, where is written _"Make sure you have node (v4.2 or higher)",_ as for me v.7 is higher than 4.2 ;)
Cheers

[2017-01-11 15:30] rschamp commented on #1144
Ah, thanks for pointing that out.

[2017-01-11 16:38] jwzimmer opened #1147 "Unpleasant grammar in email address validation message: "You must provide valid email address""
Production & Staging, Chrome 55, Mac OS El Capitan

**TL;DR** Error message has awkward grammar during registration.

**====**
Fix: Something like "You must provide a valid email address". /cc @kaschm

Repro:
- Click Join Scratch on the homepage
- Go to the email step
- Enter an email address like "aaa@aaa .com"
- Click in the 2nd email address field
- Note error message

<img width="1025" alt="sc

[2017-01-11 16:45] TheGrits commented on #1147
@mewtaylor So if I'm thinking straight, this is in the scratchr2 repository too right?

[2017-01-11 18:55] kaschm commented on #1147
+1 on @jwzimmer's suggested text, 'You must provide a valid email address'

[2017-01-11 19:00] mewtaylor commented on #1147
@TheGrits you are correct! @jwzimmer I can move this over to scratchr2 if you'd like me to! Unless it's also in the teacher registration?

[2017-01-11 19:05] jwzimmer commented on #1147
I can move it in codetree. I don't think it happens in teacher/ student registration. 👍 @TheGrits & @mewtaylor

[2017-01-11 19:07] jwzimmer commented on #1147
Moved to LLK/scratchr2#4443

[2017-01-11 19:07] #1147 closed

[2017-01-11 22:35] TheGrits commented on #1045
Looks like this is caused by the iframe calling a URL outside of the scratch domain. See this for more info: http://stackoverflow.com/a/15708290/

[2017-01-12 04:28] chetanpm commented on #1141
node 4 you say!..

I have:
Chetans-MacBook-Pro:~ chetanpm$ node -v
v6.9.1
Chetans-MacBook-Pro:~ chetanpm$ npm -v
3.10.8

Is the current environment on which scratch is being built, above my installed version or below it?

[2017-01-12 11:25] liam4 commented on #1141
Below :)

I've used the same version to build this, I believe, a while ago, so it *should* work fine with just an `npm install` and (insert build here).

[2017-01-12 11:26] johnroper100 commented on #1141
I get these errors on node 7.4.0

On Thu, Jan 12, 2017 at 6:25 AM, Liam <notifications@github.com> wrote:

--
John Roper
Freelance Developer and Simulation Artist
Boston, MA USA
http://jmroper.com/

[2017-01-12 16:34] chrisgarrity commented on #1102
@rschamp @mewtaylor I think we decided that there should not be duplicate strings in the same l10n.json file - agree?

[2017-01-13 05:03] chetanpm commented on #1141
The problem I have is, these are not just warnings, the build is not completing at all. Must the user downgrade 3 releases prior version of node to be able to get scratch running?

[2017-01-13 11:02] johnroper100 commented on #1141
I can't because I have other projects that use the newer version.

[2017-01-13 14:36] rschamp commented on #1141
Yes, we build the site under Node 4 and it is currently untested with other versions.  Using more than one version of Node is very easy if you use the `nvm` tool I mentioned above.

[2017-01-13 14:57] johnroper100 commented on #1141
Why do you build with such an outdated version?

[2017-01-13 18:02] rschamp commented on #1141
What would we get from building with a newer version?

[Node 4 is a LTS version, supported for 2.5 years](https://github.com/nodejs/LTS), so we don't have to spend our time upgrading to new versions of Node, which come out every 6 months.  As you can see from the contributors list here, we are a small team and have many projects in the works so have to be careful to budget our time between new fea

[2017-01-17 12:14] kuilab commented on #914
well, when would u do this ?
and wich version ? 2.x or 3 ?

[2017-01-17 20:57] TheGrits commented on #1145
Strange, now trying to access the cat-b image brings up an IP appeal page: https://cdn.scratch.mit.edu/ip_ban_appeal/206.176.100.14/

Looking at the IP in an IP finder, the IP belongs to a machine owned by Rapid City Public Schools. (South Dakota)

[2017-01-17 21:27] jwzimmer commented on #1145
Hi @TheGrits, I believe that is due to caching. We have another case where we need to switch which server the image is loaded from (so it will come from a static file server) because it should always return the same content. Once that's fixed I don't think you should encounter this again. Thanks. : )

[2017-01-18 01:30] rschamp commented on #914
If I had to guess, the project page will be migrated over as part of the roll-out of Scratch 3.0.

[2017-01-18 03:55] TheGrits commented on #1145
@jwzimmer fyi the IP was completely unrelated. I live in Canada, not South Dakota. 👍

[2017-01-19 15:42] #1130 closed

[2017-01-19 17:33] colbygk opened #1152 "HTTP/2 roll out requires lower case headers"
https://tools.ietf.org/html/rfc7540#section-8.1.2

Before we move to HTTP/2 in Fastly, we need to ensure we will not run afoul of:

    8.1.2
       Just as in HTTP/1.x, header field names are strings of ASCII
       characters that are compared in a case-insensitive fashion.  However,
       header field names MUST be converted to lowercase prior to their
       encoding in HTTP/2.  A request or

[2017-01-19 17:38] cwillisf commented on #1152
This will definitely require modifications in the editor: most of the header field names the editor uses are mixed-case. For example:
[code]
At first glance it looks like there are only a handful of these, and at least it's an easy change :)

[2017-01-19 20:21] #1114 closed

[2017-01-20 12:48] #1097 closed

[2017-01-20 12:53] mewtaylor commented on #1102
Fixed in https://github.com/LLK/scratch-www/pull/1150

[2017-01-20 12:53] #1102 closed

[2017-01-20 22:30] thisandagain opened #1153 "Typing "%" into search causes a fatal exception"
Operating System: `Mac OS 10.12.2`
Browser: `Chrome 52.0.2743.116 (64-bit)`

### To Reproduce
- Go to any page on Scratch
- Enter "100% pen" (or anything with a "%") into the search field
- Hit return

### Expected
- See search results

### Actual
- Fatal exception

### Reference
[code]

[2017-01-21 00:06] liam4 commented on #1153
Actually it'd seem that just typing "%" causes the crash. (I'm sure you guys noticed that, though.)

[2017-01-21 03:32] TheGrits commented on #1153
I guess this is Scratch's version of the blue screen of death!

Can confirm using Chrome 55.0.2883.105 (64-bit) on ChromeOS.

[2017-01-22 00:19] WorldLanguages commented on #1153
Same on Windows 10 - Chrome 55.0.2883.87

I think Scratch interprets the % as a symbol to go before a symbol code (like %20) and Scratch can't get the symbol "%20[...]" because the correct symbol would be "20[...]

[2017-01-22 00:21] WorldLanguages commented on #1153
It gets fixed if we use %25 instead of % in the URL.

[](https://scratch.mit.edu/search/projects?q=100%25%20pen)

[2017-01-22 21:13] thisandagain commented on #1153
In general it appears that we are no longer encoding / decoding uri components properly. Looking quickly at the code, my guess is this was introduced by this PR: https://github.com/LLK/scratch-www/commit/cbd983baf8ea720928c62707bb68676d3b30eef3

@mewtaylor any thoughts?

[2017-01-23 04:14] kaschm opened #1154 "Add jobs link to Developers Page"
The developers page should probably point to our job openings.

Above the 'Donate' Section, add a new section called 'Join Us', text below:

**Join Us** [same font / size as the 'Donate' header]

We're a diverse group of educators, designers, and engineers, who work together in a playful, creative environment full of LEGO bricks, craft materials, and maker tools. We strongly value diversity, colla

[2017-01-26 19:25] CosmicWebServices opened #1156 "Add wiki button to navigation button."
The wiki page is a great resource but there is not easy enough access to the wiki page. Simply adding a button on the navigation bar leading to the wiki page could fix this problem

[2017-01-26 21:08] rschamp commented on #1156
Hi @CosmicWebServices, thanks for the suggestion. We are not planning to put any more items into the top navigation bar at this time, as we already have trouble with the current number of items there, especially on mobile.

[2017-01-26 21:08] #1156 closed

[2017-01-27 15:40] mewtaylor opened #1157 "Redirect `/search/` to `/search/projects/`"
Currently, trying to go to `/search/` gives a 403 response, but we should redirect to the project search, similar to what we do for the `/explore` page

[2017-01-27 21:00] jwzimmer opened #1158 "Sub-optimal wrapping for the email subscription label text in IE 11, Win 7 VM"
**TL;DR:** Wrapping doesn't look good in IE 11, Win 7 VM

Found while testing https://github.com/LLK/scratchr2/pull/4448.

IE 11, Win 7 VM
Repro: If you look at the wrapping around the subscription check box in teacher registration, it doesn't look great.

Currently this is Staging-only, but since it's not a blocking issue, it will be in Production as well, soon.

<img width="302" alt="screen shot

[2017-01-30 22:50] jwzimmer opened #1159 "There's no 2017 in the teacher registration dropdown menu for birth year"
**TL;DR:** We have 2017 as an option for scratchers signing up from the homepage, but not for teachers. We should be consistent.

If you look at the dropdown from the homepage versus from `/educators/register`, the year 2017 is not included in the latter:
<img width="393" alt="screen shot 2017-01-30 at 4 52 22 pm" src="https://cloud.githubusercontent.com/assets/1320456/22445246/88bb9aec-e714-11e6-

[2017-01-31 16:08] #1159 closed

[2017-01-31 17:32] azatakmyradov opened #1161 "npm install doesn't work"
# NPM INSTALL DOESN'T WORK
When I run run `npm install` it returns error. I will put the log file in comments. Firstly I got no error when I was in node 7.4.0 but it stuck in node-uuid dependency. Then I searched and it says, I must use node 4 for this and I installed node@4.0.0. But it doesn't work either. It gives me the error. The log I will put in comments. Then I searched and it says I must c

[2017-01-31 17:32] azatakmyradov commented on #1161
0 info it worked if it ends with ok
1 verbose cli [ '/Users/akmyradov/.nvm/versions/node/v4.0.0/bin/node',
1 verbose cli   '/Users/akmyradov/.nvm/versions/node/v4.0.0/bin/npm',
1 verbose cli   'install' ]
2 info using npm@2.14.2
3 info using node@v4.0.0
4 verbose readDependencies loading dependencies from /Users/akmyradov/Sites/scratch/package.json
5 verbose install where, deps [ '/Users/akmyradov

[2017-01-31 17:54] mewtaylor commented on #1161
@kirkins are you getting the same error as @azatakmyradov above, i.e. the:

[code]
error?

[2017-01-31 17:55] kirkins commented on #1161
@mewtaylor is it true that node version 4 needs to be used and 7 won't work? I seem to be getting different errors based on which node I use.

[2017-01-31 17:55] mewtaylor commented on #1161
@azatakmyradov – would you mind if I truncated the console log you have above? I'm having a hard time scrollin down to new messages with the lengthy output, and I think I can see where the relevant error message is.

[2017-01-31 17:56] azatakmyradov commented on #1161
@mewtaylor Okay

[2017-01-31 17:58] kirkins commented on #1161
I get this with node v 4.0.0

[code]

[2017-01-31 18:01] azatakmyradov commented on #1161
@mewtaylor Do you know how to solve it?

[2017-01-31 18:01] rschamp commented on #1161
@kirkins Your error message says you are out of disk space.

@azatakmyradov Your error message is that you can't connect to github.com. Are you having network issues, or is github blocked where you're installing from?

[2017-01-31 18:02] rschamp commented on #1161
@kirkins Please open a new issue for your problem, since it is separate from @azatakmyradov's.

[2017-01-31 18:05] azatakmyradov commented on #1161
@rschamp I have vpn connection)

[2017-01-31 18:08] azatakmyradov commented on #1161
@rschamp Is it really because of connection? Because I can install Laravel npm dependencies :)

[2017-01-31 19:03] rschamp commented on #1161
Laravel may not have a github dependency like we do. The error message you posted stated that it can't connect to github when attempting to install this dependency: https://github.com/LLK/scratch-www/blob/624bdde84c067e7e77f0ce0823997806e1c7a286/package.json#L85

[2017-01-31 19:14] kirkins opened #1162 "Issue with fresh install"
Using node v 4.0.0:

I cloned this project locally. Ran `npm install`, followed by `npm run build`.

Some parts of the site work like home page and about. Other parts like create don't work at all, it just returns:

[2017-01-31 19:33] kirkins commented on #1162
Ok I don't know why I thought I should be using node v 4.0.0 misread someone else's post. It seems that I need 4.2.0 or higher.

[2017-01-31 19:40] kirkins commented on #1162
I uninstall and re-installed with node v 4.2.0.

I'm still having the same issue

[2017-01-31 21:24] rschamp commented on #1162
Not all pages on Scratch are migrated to this repository. The editor and project pages are still hosted by our legacy infrastructure. If you are able to view the homepage, then your install is working correctly.

[2017-01-31 21:24] #1162 closed

[2017-01-31 21:32] kirkins commented on #1162
@rschamp thanks, so If I install a second repo I can get it working?

[2017-01-31 21:37] rschamp commented on #1162
Unfortunately that other repository (scratchr2) is not public.

[2017-02-01 14:03] #1063 closed

[2017-02-01 15:06] TheGrits commented on #1157
I'm willing to take this one sometime later today.

[2017-02-01 15:43] thisandagain commented on #1157
@TheGrits Great! Go for it.

[2017-02-01 15:44] #1154 closed

[2017-02-01 17:52] jwzimmer opened #1165 "Should we change the defaults for birth month and year? - Teacher Registration"
If teachers are often registering for teacher accounts with the birth year 2017, do we want to take steps to prevent them from doing so?

Currently teacher registration defaults to a birth month and year of January 2017.

It seems like having the year default to "year" and month default to "month" (like the fields do during regular New Scratcher registration) might make people more likely to choos

[2017-02-02 07:10] ToonTalk commented on #813
Why restrict iframes to SAMEORIGIN? I'm getting

Refused to display 'https://scratch.mit.edu/projects/143083246/' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'.

from https://sites.google.com/site/modelling4allproject/misc/sandpit/scratch-embed

by trying embed a Scratch project in a Google Site.

[2017-02-02 13:14] thisandagain commented on #813
@ToonTalk We do not support running Scratch in iframes due to security. If you would like to embed a Scratch project, you can do so using the "embed" link:
`//scratch.mit.edu/projects/embed/143083246/?autostart=false`

[2017-02-02 16:31] TheGrits commented on #1145
@mewtaylor @jwzimmer Image no longer 404s, the issue can be closed!

[2017-02-02 16:42] #1145 closed

[2017-02-02 19:14] jwzimmer commented on #1007
List of questions / info that might be helpful: https://docs.google.com/document/d/1ZT6O5MhdqbeR-hNyxaDTsFFY3VElH6pYjq50G2_AO0w/edit?disco=AAAAA65Z1W4

[2017-02-02 19:35] jwzimmer opened #1167 "Automated test for checking the Splash page"
- Expand https://github.com/LLK/scratch-www/pull/1139 once landed to cover the Splash page
- Details to be added : )

[2017-02-02 19:50] kaschm opened #1168 "Provide way for Parents to sign up for Activities Email list"
From parents page. Also blocked on migration of this page to www.

Needs design!

[2017-02-02 19:50] kaschm opened #1169 "Provide way for Educators to sign up for Teacher Email list"
From Educator's page

Needs design

[2017-02-02 20:25] kaschm commented on #990
Moved to LLK/scratch-ops#235

[2017-02-02 20:25] #990 closed

[2017-02-02 20:25] kaschm commented on #815
Moved to LLK/scratch-wiki#1

[2017-02-03 01:11] ToonTalk commented on #813
But the embed link is an iframe.

![image](https://cloud.githubusercontent.com/assets/2138696/22575460/8b26985c-e9f0-11e6-9804-30104d0c441e.png)

When I click on Embed at https://scratch.mit.edu/projects/143294979/

[2017-02-03 02:50] mewtaylor commented on #813
@ToonTalk yes the embed link is an iframe. As @thisandagain mentioned, we have designated a specific url type – the "embed" link – to be available in the way you're describing. The `src` link in the `iframe` example you share above seems to be using that embed link too (see how it says `/projects/embed/<id>` rather than `/projects/<id>`).

[2017-02-03 04:16] ToonTalk commented on #813
Thanks. All is clear now and working.

I wonder if the Share page needs to be enhanced to make this clearer to those embedding by using a site like Google Sites that asks for the URL to embed as an iframe.

Out of curiousity is there somewhere that explains what the security issue is that this addresses? Snap! for example doesn't seem to restrict the use of project URLs in embeddings.

[2017-02-03 04:23] TheGrits commented on #813
@ToonTalk If I may chip in here, Same-origin policies are actually a web standard for security, preventing malicious XSS or injected script attacks. MDN has documentation on Same-origin policy here: https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy Wikipedia also has an example of why Same-origin policies are important here: https://en.wikipedia.org/wiki/Same-origin_policy#S

[2017-02-03 04:36] TheGrits commented on #941
@chrisgarrity Any updates?

[2017-02-03 04:50] ToonTalk commented on #813
Thanks but this isn't a general CORS issue. See

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

which only refers to the danger of [clickjacking](https://en.wikipedia.org/wiki/Clickjacking). I don't see how clickjacking is a danger when Scratch projects are embedded in an iframe.

[2017-02-03 18:21] chrisgarrity commented on #941
@TheGrits Things kind of got put on hold over the holidays - I've added it to the list of topics to get discussed in the next couple of weeks.

[2017-02-03 19:28] TheGrits commented on #941
@chrisgarrity Don't worry about it. :) Thanks

[2017-02-03 23:56] kaschm opened #1170 "Add two new activities to the /go page"
Adding Story and Fashion to the activities on scratch.mit.edu/go

As a reminder, we'll need the following for each Activity:

Story

- [ ] Final title
- [ ] Final description
- [ ] Image
- [ ] Banner image
- [ ] Link to Tutorial
- [ ] Link to Guide
- [ ] Link to Cards

Fashion

- [ ] Final title
- [ ] Final description
- [ ] Image
- [ ] Banner image
- [ ] Link to Tutorial
- [ ] Link to Guide
- [ ]

[2017-02-06 14:51] #1009 closed

[2017-02-06 20:06] jwzimmer opened #1171 "Footer > For Developers link should be `/developers/` (currently missing the ultimate slash)"
**TL;DR:** In the footer, the general pattern is to end all the links with a slash, but currently the link For Developers is just `/developers`.

No effect on functionality, but I don't think there's a reason we couldn't be consistent here (and end all the links with `/`).

Found this with a WIP automated test for the footer links on the homepage!

**Repro:**
- Click on the "For Developers" link i

[2017-02-06 22:22] liam4 opened #1173 "Typo in Email Account Settings"
The text "Send me Scratch Updates & Newsletters:" shouldn't have a colon after it, since the checkbox is on the left:

![Typo](https://cloud.githubusercontent.com/assets/9948030/22668952/fd24feb2-ec98-11e6-92ae-45685f25233c.png)

You can find that option on [this page](https://scratch.mit.edu/accounts/email_change/). It looks like the issue's there regardless of language..

[2017-02-06 22:27] jwzimmer commented on #1173
Hi @liam4, thank you for logging this issue, but since we are already tracking this bug in another (private) repository, I'm going to close this one. We appreciate your help finding issues! : )

[2017-02-06 22:27] #1173 closed

[2017-02-08 13:37] #1157 closed

[2017-02-08 19:17] jwzimmer commented on #1167
**Questions/ to do**

- Running on multiple browsers
- What about varying the size of the browser window? e.g. `browser.manage().window().setSize(1280, 720)`
- Benefit to running on proxy?

[2017-02-09 13:59] thisandagain commented on #1171
@jwzimmer Would you want to take a shot at resolving this and submitting a PR?

[2017-02-09 14:09] TheGrits commented on #1171
@thisandagain FYI I have already have made a PR at #1172

[2017-02-09 14:49] thisandagain commented on #1171
Whoops! You are too fast for me @TheGrits ! 😄

[2017-02-09 16:06] chrisgarrity opened #1174 "Remove Dari (fa_AF) from the language menu"
This may have been a left over from Scratch 1.4. It was never set up in pootle, so there are no active translators. Also, fa_AF is listed as Persian (Afghanistan), not Dari which has its own code prs.

Remove it from the menus. We can add it back if it's requested, and there are people who translate to it.

[2017-02-10 03:16] lifeinchords commented on #1086
Design mockup, with 2 of the 6 events.

![Conf 2017, Sm - Alt 3.png](https://codetreeusercontent.s3.amazonaws.com/uploads/7dca7eea-4194-404f-a22a-501feb4c02db/Conf+2017%2C+Sm+-+Alt+3.png)

[2017-02-10 15:28] thisandagain commented on #1170
@chrisgarrity Do you think you will have time to get to this during the current iteration? If not, we should push this to March.

[2017-02-10 19:28] kaschm commented on #1086
Question for @lifeinchords - I'm guessing that the 'Learn More' buttons are the websites, where applicable, and otherwise are mailto: links? Is that right?

[2017-02-10 20:34] chrisgarrity commented on #1170
@thisandagain  Do we have the content? - it doesn't take much if we have the content, just updating the json files in https://github.com/chrisgarrity/scratch-www/tree/develop/src/views/thingstotry

[2017-02-10 20:51] thisandagain commented on #1170
@chrisgarrity It looks like we are still missing quite a bit of content which makes it unlikely that we'll be able to finish this during the current iteration. Moving to March.

[2017-02-10 21:25] lifeinchords commented on #1086
Yes! My bad - I didn't annotate the designs.

[2017-02-10 23:58] thisandagain commented on #1140
As per discussion we will handle this by updating the wiki. Moving this to backlog.

[2017-02-11 20:12] ntlrsk commented on #1170
@sotts and Shruti and will have the content ready.  We plan to add them before the freeze and I can add the links earlier. Can we move back to this release?

[2017-02-11 20:15] ntlrsk commented on #1170
Oh, @carljbowman wondering if you had already made the main image for Story and Fashion for TTT page, or do those need to wait for March?

[2017-02-11 20:28] thisandagain commented on #1170
@ntlrsk Ok. Moving back to our freeze on Wednesday. When can we expect the content to be ready?

[2017-02-11 20:54] ntlrsk commented on #1170
@carljbowman Oh thanks! I found the banner images you had made:
https://scratch.mit.edu/images/ttt/create-a-story-banner.jpg
https://scratch.mit.edu/images/ttt/fashion-game-banner.jpg

[2017-02-11 22:20] ntlrsk commented on #1170
@chrisgarrity
FOR STORY:
Final Title: Create a Story
Final description: Choose characters, add conversation, and bring your story to life.
Image: https://scratch.mit.edu/images/ttt/create-a-story-banner.jpg
Link to tutorial: https://scratch.mit.edu/projects/editor/?tip_bar=story
Link to guide: https://scratch.mit.edu/pdfs/guides/StoryGuide.pdf
Link to cards: https://scratch.mit.edu/pdfs/cards/Stor

[2017-02-13 13:37] chrisgarrity commented on #1170
@ntlrsk Can you confirm the order and placement of these new activities. Based on original TTT issue, I'm assuming they come between **hide** and **pong**, fashion first, then story.

[2017-02-13 13:43] chrisgarrity commented on #1170
@ntlrsk I just realized that we need two images for each activity, image and banner. Image is what appears on the /go page, banner is in the modal popup. Image dimensions are 750x450

[2017-02-13 13:52] carljbowman commented on #1170
@chrisgarrity - We preemptively added all the image assets.

#### For Fashion
Tile image: https://scratch.mit.edu/images/ttt/fashion-game.jpg
Banner image: https://scratch.mit.edu/images/ttt/fashion-game-banner.jpg

#### For Story
Tile image: https://scratch.mit.edu/images/ttt/create-a-story.jpg
Banner image: https://scratch.mit.edu/images/ttt/create-a-story-banner.jpg

[2017-02-13 13:53] chrisgarrity commented on #1170
@ntlrsk Ignore last comment - I realized the images are in the ttt directory - just not listed in the earlier comment above. Thanks!

[2017-02-13 14:22] chrisgarrity commented on #1170
@thisandagain I just added a PR for this and assigned @ntlrsk  and @mewtaylor for reviews, feel free to reassign.

[2017-02-13 14:30] thisandagain commented on #1170
Thanks @chrisgarrity !

[2017-02-13 14:54] kaschm commented on #1086
Edit from ST, @mewtaylor  - update title to be 'Scratch Conferences' (plural) rather than 'Scratch Conference' (singular).

Thanks!

[2017-02-13 18:11] ntlrsk opened #1177 "Change (update) shortcut URL for story and fashion tutorials"
We are adding the new tutorials, so would like the URL shortcuts to the tutorials updated:

scratch.mit.edu/story --> https://scratch.mit.edu/projects/editor/?tip_bar=story
scratch.mit.edu/fashion --> https://scratch.mit.edu/projects/editor/?tip_bar=fashion
scratch.mit.edu/dressup --> https://scratch.mit.edu/projects/editor/?tip_bar=fashion

[2017-02-13 19:19] jwzimmer commented on #1007
### Canned responses on Freshdesk

I added 20 canned responses on Freshdesk under the folder name "Tech Support FAQ".

<img width="250" alt="screen shot 2017-02-13 at 12 56 42 pm" src="https://cloud.githubusercontent.com/assets/1320456/22895856/e8d57a4c-f1eb-11e6-9ea3-2109c61ba980.png">

I marked the questions that are now canned responses in freshdesk off with an **x** in the Troubleshooting - Ca

[2017-02-13 22:17] TheGrits commented on #1177
@thisandagain I'll try tackling this one!

[2017-02-13 22:29] thisandagain commented on #1177
Great! Thanks @TheGrits !

[2017-02-14 15:09] mewtaylor opened #1178 "Say "one day" instead of "24 hours" when talking about teacher registration wait period?"
A translator in Transifex brought up that it would be easier for them to localize "one day" than "24 hours" when referring to the translation for:
* https://github.com/LLK/scratch-www/blob/9255185716b34e4c9d721322ad08437ed3fa4415/src/l10n.json#L134
* https://github.com/LLK/scratch-www/blob/9e1c985ae5e753aad1c7ca4c3536c7642a5d0aa8/src/views/teachers/faq/l10n.json#L7.

What do folks think of the dif

[2017-02-14 15:31] thisandagain commented on #1178
That certainly makes sense to me. 👍

[2017-02-14 18:34] TheGrits commented on #1178
@thisandagain 😀 I like it when the `help wanted` tag shows up. I'll try to tackle this one right now.

[2017-02-14 19:20] kaschm commented on #1178
fine with me too 👍

[2017-02-14 19:55] kaschm commented on #1007
@jwzimmer additional email addresses we use to send email to scratchers / the community:

translate@scratch.mit.edu
scratch-translators@scratch.mit.edu
scratchday@scratch.mit.edu

your call whether to include them in the whitelist?

[2017-02-14 20:15] jwzimmer opened #1182 "Invalid URL's yield 403 instead of 404 - microworlds"
**TL;DR:** If you make up a microworlds URL, the response is 403 instead of 404, and I'm not sure why.

**Repro:**
- Go to https://scratch.mit.edu/microworlds/hiphop (valid)
- Go to https://scratch.mit.edu/microworlds/hip-hop (403)
- Go to https://scratch.mit.edu/microworlds/dance (403)

<img width="1028" alt="screen shot 2017-02-14 at 3 13 52 pm" src="https://cloud.githubusercontent.com/assets/13

[2017-02-14 20:36] TheGrits commented on #1182
@jwzimmer It doesn't look like there is a generic redirect in place for invalid URLs. Do you know what URL they should redirect to?

[2017-02-14 20:37] jwzimmer commented on #1182
@TheGrits I am not sure; I think @morantsur will probably fix this, though. Thank you! : )

[2017-02-14 20:55] TheGrits commented on #1182
@jwzimmer Yep, no problem. :)

[2017-02-14 21:46] jwzimmer commented on #1007
To do:
- Add canned response for size limits
- Add canned response for deleted projects?

[2017-02-14 22:04] mewtaylor commented on #1171
@jwzimmer @TheGrits @thisandagain closing this as expected

[2017-02-14 22:04] #1171 closed

[2017-02-14 22:13] jwzimmer opened #1183 "Footer links for www pages should not end in `/`"
**TL;DR:** footer links for scratchr2 pages should end in `/`, but footer links for www pages should not.

Pretty much all the footer links for www pages need to be changed (remove the `/` at the end) other than `/developers`.
`https://day.scratch.mit.edu` does not need to be changed. External links (ScratchEd, ScratchFoundation, etc.) don't need to be changed.

<img width="281" alt="screen shot 2

[2017-02-15 00:42] #1153 closed

[2017-02-15 15:10] kaschm commented on #1007
the content changes LGTM except for this line:

We do not send email to this address except when someone requests to have the account password reset.

That is not accurate considering the new mailing address changes. Here's a possible re-write:

We do not send email to this address except when someone requests to have the account password reset, or if they have opted into receiving updates from th

[2017-02-15 15:51] ntlrsk commented on #1113
@seotts Since you are making changes to the Tips menu files, when you get a chance, can you change the name of the tutorial "Animate Your Name" to "Animate a Name" in the tips_config.py file and the home.html menu?

[2017-02-15 19:29] #959 closed

[2017-02-15 19:33] #1178 closed

[2017-02-15 19:36] jwzimmer commented on #1007
@thisandagain, @SpeakkVisually how do the proposed content changes look to you guys? (I updated them with @kaschm's suggestion.)

[2017-02-16 04:22] #1170 closed

[2017-02-16 12:56] mewtaylor commented on #1086
Implemented in #1184

[2017-02-16 12:56] #1086 closed

[2017-02-16 12:57] mewtaylor commented on #1136
Implemented in #1184

[2017-02-16 12:57] #1136 closed

[2017-02-16 17:56] #1161 closed

[2017-02-16 19:58] jwzimmer opened #1187 "Update FAQ & CG re sharing private info, questions frequently asked on freshdesk"
**TL;DR:** We wondered what info to provide specifically to sys admins/ schools re setting up Scratch in #1007. That sort of grew into what info can we provide for general Tech FAQ-like topics from freshdesk. I added a lot of canned responses to freshdesk to address those topics. W.r.t. information security/ safety, we might want to clarify our existing FAQ & CG (as well as having the longer, more

[2017-02-16 19:59] jwzimmer commented on #1007
The info specifically for sys admins/ schools I added as canned responses in freshdesk, so I'm closing this issue. For the question about clarifying what we say in the CG/ FAQ w.r.t sharing personal info on Scratch, I opened https://github.com/LLK/scratch-www/issues/1187.

[2017-02-16 19:59] #1007 closed

[2017-02-16 21:01] jwzimmer opened #1188 "Scratch Conference - Browser tab should say "Scratch Conferences" rather than "Scratch - Imagine, Program, Share""
Minor, non-blocking issue for https://github.com/LLK/scratch-www/pull/1184.

The `/2015` conference page tab says "Scratch Conference", but 2016 and 2017 (the current page) both say "Scratch - Imagine, Program, Share". Ideally, the tab would say "Scratch Conferences" to match the header.
<img width="575" alt="screen shot 2017-02-16 at 4 00 08 pm" src="https://cloud.githubusercontent.com/assets/132

[2017-02-16 21:43] jwzimmer opened #1189 "Search bar not working - Staging"
**TL;DR:** The API request is not getting the search query term.

Found while smoke-testing (https://github.com/LLK/scratchr2/issues/4457).

**Repro:**
- Go to staging
- Search for "duck"
- Search for "duck cat"
- Note the results are the same for either query, and don't seem relevant

[2017-02-17 14:22] WorldLanguages opened #1191 "Japanese characters on title changes location of the project author"
![image](https://cloud.githubusercontent.com/assets/17484114/23068276/cda5bdf4-f501-11e6-9fbd-27a3a715e48a.png)

This is probably not very important but, for some reason (probably the chinese characters), the part of the page saying the user who created the first project is located a bit below than the other users

I'm not sure if this is a bug but I will just leave this here.

[2017-02-17 15:14] chrisgarrity commented on #1191
@WorldLanguages Thanks for pointing this out. It's definitely due to the Japanese characters in the title - they're increasing the height of the line by 4 pixels. It's probably not a high priority, but we could fix it by setting the line height css to something like 1.2em instead of letting it default.

[2017-02-17 17:49] colbygk commented on #1182
This appears to be an issue with S3 permissions handling:
[code]

And

[code]

[2017-02-18 16:39] thisandagain commented on #1189
I think this is a blocker. The XHR request that is being sent for a search term "foo bar" is (note the lack of `q` query string parameter):
https://api-staging.scratch.mit.edu/search/projects?limit=16&offset=0&language=en&mode=popular

[2017-02-21 13:49] chrisgarrity commented on #1142
Mostly taken care of in https://github.com/LLK/scratch-www/pull/1186. Left Scratchr2_translations in case we need to re-import any languages. We should take out the dependency once we're sure we won't need to re-import anything.

[2017-02-21 13:49] #1142 closed

[2017-02-21 14:27] chrisgarrity opened #1194 "Take Scratch Day out of general l10n"
Scratch Day is a proper name for the event and should not be translated (like Scratch).

[2017-02-21 15:24] rschamp opened #1195 "Teacher registration gender options not accessible from keyboard"
A user should be able to use tab to focus each of the gender radio buttons and select them from their keyboard. Currently these radio buttons are skipped while tabbing.

[2017-02-21 15:29] rschamp opened #1196 "Teacher registration Organization step "Other" option overlaps missing message string"
I believe there should be no label at all on the last option for Organization type, but instead there's a string being overlapped by a text field. (Chrome 56 macOS 10.12.3)

![image](https://cloud.githubusercontent.com/assets/1512021/23171391/59fd32b6-f820-11e6-9b04-f3d3cb1f790e.png)

[2017-02-21 15:57] thisandagain opened #1197 "Language option not properly persisting"
Operating System: `Mac OS 10.12.3`
Browser: `Chrome Version 56.0.2924.87 (64-bit)`

### To Reproduce
- Open `scratch.ly` in the new private browsing session
- Set language to Russian `Русский`
- Navigate to `/explore`
- Navigate to `/discuss`
- Navigate to `/search`

### Expected
- Selected language is properly shown / persisted across each page view

### Actual
- Language switches back and forth

[2017-02-21 15:59] thisandagain commented on #1197
Dupe on #1021

[2017-02-21 15:59] #1197 closed

[2017-02-21 21:33] ericrosenbaum opened #1198 "Text is clipped on homepage buttons in some languages"
The text on the button that says "join scratch" appears cut off, in german:

<img width="605" alt="screen shot 2017-02-21 at 4 26 55 pm" src="https://cloud.githubusercontent.com/assets/567844/23185966/4cb7c8d6-f853-11e6-83b1-737041697b46.png">

and catalan:

<img width="619" alt="screen shot 2017-02-21 at 4 27 50 pm" src="https://cloud.githubusercontent.com/assets/567844/23185949/405c2974-f853-11e

[2017-02-21 22:01] mewtaylor commented on #1196
This doesn't appear to be a new issue – do we still think it's blocking for release? If so, happy to keep the milestone the same. If not, maybe we should move it to March?

[2017-02-22 00:01] rschamp commented on #1196
I don't think this should be a blocker necessarily, but I don't see this on production, do you? Which language do you have it set to?

[2017-02-22 03:25] WorldLanguages commented on #1198
Maybe the font should become smaller if the text is long )?

[2017-02-22 13:19] TheGrits commented on #1198
Also happening in French, as reported in #295

[2017-02-22 13:20] thisandagain commented on #295
Tracking in https://github.com/LLK/scratch-www/issues/1198

[2017-02-22 13:20] #295 closed

[2017-02-22 15:05] jwzimmer commented on #1021
I noticed this on Staging with Farsi, going from the Download Offline Editor page to the Scratch Terms of Use (the language switched back to English on the ToU page).

[2017-02-22 15:20] jwzimmer opened #1199 "Terms of Use, Search & Privacy Policy pages language setting immediately resets to English"
**TL;DR:** Change the language on the Terms of Use or Privacy Policy page to Farsi. Note that the page refreshes immediately and the language is reset to English.

This isn't Farsi-specific. If you choose Chinese or German the same behaviour exists. (I think probably it will happen for any language besides English.)

Re Terms of Use: On Production, if you choose Farsi, the footer is translated. (W

[2017-02-22 15:36] jwzimmer commented on #101
The search bar in the navbar is cut off on the remix tree page in Catalan, but since we're eventually migrating out of scratchr2, I figured it didn't make sense to create a new issue for that, and instead am just noting it here. (It looks better on Explore, which is a www page.)

[2017-02-22 15:48] jwzimmer opened #1201 "Credits page > Supporting Organizations > credits.supportersServicesHeader needs to be translatable"
The `/info/credits/` page has a header that needs to be a translatable string: "credits.supportersServicesHeader". (Any language.)

<img width="778" alt="screen shot 2017-02-22 at 10 44 58 am" src="https://cloud.githubusercontent.com/assets/1320456/23219200/74016854-f8ec-11e6-8a92-f0479ab3799c.png">

[2017-02-22 15:51] jwzimmer opened #1202 "Developers page > Learning Principles > developers.ProjectsTitle missing string"
The `/developers` page has a title that needs to be a translatable string: "developers.ProjectsTitle ". (Any language.)

<img width="677" alt="screen shot 2017-02-22 at 10 49 55 am" src="https://cloud.githubusercontent.com/assets/1320456/23219290/afdc3386-f8ec-11e6-9834-68db19366edf.png">

[2017-02-22 15:53] TheGrits commented on #1202
@jwzimmer Whoops, I know what's causing that, and it was a typo made by me.

It's also on production FYI.

[2017-02-22 15:57] TheGrits commented on #1201
@jwzimmer This is another one you can blame on me, another typo. Making a patch right now.

[2017-02-22 16:02] #1202 closed

[2017-02-22 16:03] #1201 closed

[2017-02-22 16:25] jwzimmer commented on #1199
I noticed that if you search for a term with the language set to Cymraeg/ Welsh, the results are set to English. If you try to change the language from the Search page to Welsh, then it resets to English immediately.

[2017-02-22 17:05] jwzimmer commented on #101
I noticed in German that the navbar > search bar is pretty squashed even on www pages (here's the homepage):
<img width="1167" alt="screen shot 2017-02-22 at 11 59 28 am" src="https://cloud.githubusercontent.com/assets/1320456/23222867/3a9938ac-f8f7-11e6-8a5e-8f7386c2360f.png">

[2017-02-22 20:04] jwzimmer opened #1206 "Mobile issues - Scratch Conference site"
The site looks pretty much the same across iPhone 6s/ Chrome, iPhone 6s Safari, and Android/ Chrome. These are the relatively minor issues I found.

1) In the mock-up, the Scratch | Conference element is centered in the navbar on mobile devices. On Staging, the element is left-aligned. Chrome, iPhone 6s version 10.2.1 and Chrome, Android version 6.0.1.

2) In the mock-up, the text for "Learn more.

[2017-02-22 20:05] #455 closed

[2017-02-22 20:11] mewtaylor commented on #1206
Issues 1-4 are a consequence of existing styling for the nav bar from previously, or from existing typography declarations for the conference site. @lifeinchords any preference between maintaining existing type/nav settings versus changing for 2017?

[2017-02-22 20:17] jwzimmer opened #1207 "Tablet issues - Scratch Conference site - extra spacing in footer"
1) I don't know if the Scratch | Conferences element in the navbar is supposed to be centered or left-aligned? (@lifeinchords)
Currently on Staging it is left-aligned.

2) The footer has odd spacing, two blank lines above Scratch Day (iPad version 9.3.5, Safari).

![bc9b4b9d-fe31-463f-88d5-25e8e6234c05](https://cloud.githubusercontent.com/assets/1320456/23230453/0530291c-f912-11e6-99cd-fd9afb38ed6

[2017-02-22 20:25] jwzimmer opened #1208 "Tiny icons - IE + Windows - Scratch Conference site"
These icons are super tiny in IE 11, Win 7 VM & IE 11.0.9600.16384, Win 8.1 VM:
<img width="924" alt="screen shot 2017-02-22 at 11 43 07 am" src="https://cloud.githubusercontent.com/assets/1320456/23221896/43fe3ad0-f8f4-11e6-8515-abc20ca39cd0.png">

The icons look normal on Mac, iPhone, Android phone.

[2017-02-22 20:41] jwzimmer opened #1209 "Way too much space between event descriptions, icons - Edge, Win 10 VM - Scratch Conference site"
There is a lot of extra space in between all the attributes of the event descriptions (location, language, etc.) and the icons, causing the events to be very long and full of white space. Edge, Win 10 VM on QA Machine, Staging, Scratch Conference site.

![b6d5c534-980c-44ae-84fa-4585d2982028](https://cloud.githubusercontent.com/assets/1320456/23231280/3aa77e6c-f915-11e6-89e7-e45eeec99eb1.JPG)
![f4

[2017-02-22 20:46] jwzimmer opened #1210 "Large bold font - Edge, Chrome on Windows - Scratch Conference site"
The large title font we use looks very large & bold in Edge & Chrome (on Windows, not on Mac). I don't know if we can avoid this?

I think we have discussed this before, but I could not find the case, so to be on the safe side, I filed this one.

Mock:
<img width="671" alt="screen shot 2017-02-22 at 3 45 23 pm" src="https://cloud.githubusercontent.com/assets/1320456/23231479/fcf21784-f915-11e6-89c

[2017-02-22 20:49] thisandagain commented on #1210
🐴

[2017-02-22 21:07] mewtaylor commented on #1208
@lifeinchords I was looking at this: https://gist.github.com/larrybotha/7881691. does that seem plausible?

[2017-02-22 21:08] Tymewalk commented on #1198
@WorldLanguages Or alternatively, wrap around.

[2017-02-22 21:26] mewtaylor commented on #1209
Unable to repro in sauce on Windows 10, Edge 14 – is it possible this is caching some styling for the old index page causing the issue? I.e. does it continue if you hard refresh @jwzimmer ?

[2017-02-22 21:35] jwzimmer opened #1211 "Title for Scratch Conferences site should be smaller"
The font size on Staging for the Conferences title looks larger in practice than it did in the mock. It doesn't seem to matter much which browser/ OS you're looking at (although Edge has a uniquely bold font, https://github.com/LLK/scratch-www/issues/1210). @carljbowman & @lifeinchords have a plan for fixing this and #1210.

Chrome 56, Mac OS El Capitan
<img width="955" alt="screen shot 2017-02-22

[2017-02-22 21:50] lifeinchords commented on #1209
I just tried on a virtual machine: Windows 10, Edge 38, and it renders ok across breakpoints.

[2017-02-22 21:52] jwzimmer commented on #1209
Clearing the cache got rid of the extra space! So it was just an old version of the site. Thanks @mewtaylor.

[2017-02-22 21:52] #1209 closed

[2017-02-22 21:55] lifeinchords commented on #1208
👍

[2017-02-22 22:00] lifeinchords commented on #1211
@mewtaylor and I worked out the sizing together at one point, which is why it's a bit different than the static designs. Looking at this again, I'm wondering if we can bump the `h1` down to 4rem. I know it's not ideal in terms of reusability, but maybe we can make an exception here?

[2017-02-22 22:00] jwzimmer opened #1213 "Title of Shanghai Scratch Conference not correct - Scratch Conference Site"
The title for the Conference taking place in Shanghai should be "Scratch Conference: China*Love" (all on one line).

Staging, Chrome, Mac OS El Capitan
<img width="893" alt="screen shot 2017-02-22 at 4 59 29 pm" src="https://cloud.githubusercontent.com/assets/1320456/23234542/65e1bc2c-f920-11e6-8d0c-b82e732faa69.png">

[2017-02-22 22:02] lifeinchords commented on #1207
1. I think @mewtaylor and I agreed to leave header as is
2. This one's a bit weird, @mewtaylor any idea what's causing this?

[2017-02-22 22:11] mewtaylor commented on #1213
This is changed in the code... so I'm not clear exactly why it isn't on staging. seems to me the intl.js file is not updated correctly? @chrisgarrity any ideas?

[2017-02-22 22:12] jwzimmer opened #1214 "Lowercase the "f" in "Family" - Scratch Conference Site"
To be consistent with Saskia's copy and the other events listed on the site, the "F" in "Family" should be lower-case in the Scratch2017BDX event.

<img width="846" alt="screen shot 2017-02-22 at 5 11 30 pm" src="https://cloud.githubusercontent.com/assets/1320456/23235034/066bdc1c-f922-11e6-9bfa-925b8b87cd2f.png">

[2017-02-22 22:15] mewtaylor commented on #1211
@lifeinchords it's a question of moving forward – do we want to update this for all conference type, or just for 2017?

[2017-02-22 22:16] lifeinchords commented on #1210
I tested changing to `font-weight: bold` on the Edge 38 VM I'm testing on, vs the number values, like `300`  and the text looks much better.
<img width="1221" alt="screen shot 2017-02-22 at 5 10 40 pm" src="https://cloud.githubusercontent.com/assets/716168/23234986/e01788e0-f921-11e6-8c6a-937bad82eb21.png">

Not sure why this is, I think it's either related to missing typeface variations, or how t

[2017-02-22 22:20] jwzimmer commented on #1199
@thisandagain said this is the same as https://github.com/LLK/scratch-www/issues/1021, so closing in favor of https://github.com/LLK/scratch-www/issues/1021.

[2017-02-22 22:20] jwzimmer commented on #1021
Make sure the repro steps/ test case described in https://github.com/LLK/scratch-www/issues/1199 is fixed when this issue is closed. 👍

[2017-02-22 22:24] lifeinchords commented on #1206
I think 1-4 are ok to leave as is. One thing on these, for #1, maybe a bit of margin or padding to push the logo away for the screen edge.

5 + 6 are minor
5 probably a bit better to do, 6 feels more nice to have.
I'll give fixing them up a shot.

[2017-02-22 22:32] rschamp commented on #1189
Fixed in #1193

[2017-02-22 22:32] #1189 closed

[2017-02-22 22:38] jwzimmer commented on #1199
Reopening for now just in case this is not the same as #1021.

[2017-02-23 05:45] mewtaylor commented on #1207
@lifeinchords 2 is because the footer items are using flex row to be in columns, and the third column is overflowing. This is likely due to a mismatch between the tablet's width and our tablet breakpoint.

[2017-02-23 06:03] mewtaylor commented on #1206
@lifeinchords I have a solve for 5, which adds a negative margin to the top of the image. We could do that – the other option would be, I think to export a version of the svg that doesn't have transparent space around it. Thoughts?

[2017-02-23 13:26] mewtaylor commented on #1213
This is fixed – the string needed to be updated in Transifex inorder to show up correctly. Good to know for the future @chrisgarrity – I actually kind of like that we need to do that.

[2017-02-23 13:26] #1213 closed

[2017-02-23 14:05] lifeinchords commented on #1206
hey @mewtaylor, whichever is easiest. I just sent updated icons offline

[2017-02-23 14:10] jwzimmer commented on #1213
Just confirming what @mewtaylor already said, the title is fixed on Staging now 👍 :

<img width="845" alt="screen shot 2017-02-23 at 9 10 22 am" src="https://cloud.githubusercontent.com/assets/1320456/23262204/ee6f6c1a-f9a7-11e6-91bc-10ab080cb69d.png">

[2017-02-23 15:30] #1174 closed

[2017-02-23 15:49] thisandagain opened #1218 "Add "Community Moderator" to jobs page"
We're hiring a new moderator - and would like to revive the Scratch "Community Moderator" job description as soon as possible.

### To Do
- [ ] Create new page with job description (`/jobs/moderator`)
- [ ] Update `/jobs` page with new link
- [ ] Remove "Senior Back-end Engineer" from `/jobs` page

### Reference
https://gist.github.com/thisandagain/f30219508c049e7666cdd89fbc1fdd87

---
Moved from

[2017-02-23 16:04] TheGrits commented on #1218
@thisandagain 😁 I'll take a swing at this one.

[2017-02-23 16:10] thisandagain commented on #1218
@TheGrits That would be great! Just let me know if you have any questions. 😄

[2017-02-23 16:12] TheGrits commented on #1218
@thisandagain The positions currently on the jobs page do not have pages like you requested for the moderator page. Would you like pages made for them as well? (Senior Back-End Engineer and Trust & Safety Manager)

[2017-02-23 16:17] TheGrits commented on #1218
@thisandagain Also, should anything on the moderator page be localized? (I'm assuming not)

[2017-02-23 16:33] thisandagain commented on #1218
No. We use the MIT Media Lab's job pages for those positions.

No. Job descriptions should not be localized.

[2017-02-23 16:33] TheGrits commented on #1218
@thisandagain Thanks, I should have a PR ready within an hour or so.

[2017-02-23 16:37] thisandagain commented on #1218
@TheGrits Amazing! One other thing I just noticed is we can remove the "Senior Back-end Engineer" position.

[2017-02-23 16:38] TheGrits commented on #1218
@thisandagain Yep, no problem.

[2017-02-23 16:44] TheGrits commented on #1218
@thisandagain About the Twitter links, are they supposed to be Tweet buttons or just links?

[2017-02-23 17:06] thisandagain commented on #1218
@TheGrits I think we can drop the sharing links. Thanks for checking though!

[2017-02-23 18:38] jwzimmer commented on #946
Also reported by a user in freshdesk no. 72506:

Metadata:
- Operating System: Windows NT 10.0
- Browser: Microsoft Internet Explorer 11.0
- Flash Version: Flash 24.0 (release 0)

[2017-02-23 19:11] TheGrits commented on #946
@jwzimmer Can't reproduce using Lastpass (my password manager) on Chrome running on ChromeOS.

[2017-02-23 19:43] mewtaylor commented on #1211
Fixed in https://github.com/LLK/scratch-www/issues/1216

[2017-02-23 19:43] #1211 closed

[2017-02-23 19:44] mewtaylor commented on #1206
5 on the list is fixed in https://github.com/LLK/scratch-www/issues/1216, as is 6. And 1-4 are being kept. Should we close @jwzimmer @lifeinchords ?

[2017-02-23 19:54] rschamp opened #1222 "One more instance of "24 hours" regarding teacher registration"
The wait for approval card on the final step of registration still mentions 24 hours:
![image](https://cloud.githubusercontent.com/assets/1512021/23276328/e39f5fc2-f9d7-11e6-9cee-9f6d582d5085.png)

[2017-02-23 20:24] #1222 closed

[2017-02-23 20:26] lifeinchords commented on #1206
Sounds good to me

[2017-02-23 20:30] thisandagain commented on #946
@jwzimmer Can we ask them what password manager they are using?

[2017-02-23 20:33] WorldLanguages opened #1224 "Special characters not properly decoded by search"
To reproduce:

Search anything starting with "/".

Instead of getting the search results, the most popular projects are shown.

[2017-02-23 20:45] thisandagain commented on #1224
I believe that this will be resolved when #1193 is deployed (expected later today).

[2017-02-24 14:54] jwzimmer opened #1227 "URL decode special chars in navbar search bar"
**TL;DR:** If you search for "scratch 1.4" in the navbar's search field, when the results are returned you see "scratch%201.4" in that search field. In the search page itself you see "scratch 1.4" as expected.

Similar to https://github.com/LLK/scratch-www/issues/708 except that was for the text being returned on the search page, and this is about the text being shown in the search field.

<img wi

[2017-02-24 14:56] jwzimmer commented on #1227
Whoops, nevermind, already fixed on staging. : )

[2017-02-24 14:56] #1227 closed

[2017-02-24 15:17] jwzimmer opened #1228 "How should we handle studio thumbnails with no user-set thumbnail?"
**TL;DR:** We pull the first project’s thumbnail if no studio thumbnail is provided. @mewtaylor said "there’s no thumbnail associated with the studio data. [...] if we don’t get a studio thumbnail, we fall back to the first project, but don’t add that thumbnail to the studio in our data." As a result, if your search results contain studios that never had a manually-set thumbnail, currently you wil

[2017-02-24 17:05] #1196 closed

[2017-02-24 18:36] lifeinchords opened #1230 "English -> Sardu: Homepage not displaying translated strings"
Started on home. Switched to Sardu via dropdown. Got:

![img_0051](https://cloud.githubusercontent.com/assets/716168/23315678/3fe4c426-fa95-11e6-9886-b8a89410bd55.JPG)

Selecting a project from carousel took me to Project page, which seems to display the translated strings in footer?

![img_0052](https://cloud.githubusercontent.com/assets/716168/23315787/b72afa5a-fa95-11e6-8a32-a6471cccb462.JPG)

[2017-02-24 18:40] #1214 closed

[2017-02-24 18:55] chrisgarrity commented on #1230
thanks @lifeinchords. @mewtaylor sc.json files are in scratchr2_translations. Maybe there's an error that prevents the splash intl file from getting built? especially as the menu/footer are ok on other pages.

[2017-02-24 19:12] mewtaylor commented on #1230
@chrisgarrity I think this is a pre-existing issue, and a consequence of sardu not being in the intl-messageformat package for `react-intl`. I'll try and add it to custom locales

[2017-02-24 20:13] rschamp commented on #1228
I like the idea of just uploading the project thumbnail as the studio thumbnail. One tricky thing will be knowing whether to actually upload the project thumbnail or not, since ideally we shouldn't check S3 to find out.  We could start using the thumbnail field for this purpose though:
 * On Studio creation, set the thumbnail field to blank
 * On manual thumbnail upload, set the thumbnail field to

[2017-02-25 12:52] WorldLanguages commented on #1224
Solved. Now there are no results, but I guess that it's hard to find titles starting with a symbol.

[2017-02-25 18:24] rschamp commented on #1224
It looks like this is still a problem, but maybe slightly different now that we are doing URI encoding/decoding. Somewhere along the line `/` characters in the search string are transformed to `%2f` which isn't being decoded properly by `decodeURIComponent`.

[2017-02-26 04:13] vvjin opened #1231 "failed to run "npm run build" , please help"
const { existsSync: exists } = fs;
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Function.Module.runMain (module.js:441:10)
    at startup (node.js:134:18)
    at node.

[2017-02-27 16:57] jwzimmer commented on #946
Response from freshdesk no. 72506:

/cc @thisandagain

[2017-02-28 14:01] mewtaylor commented on #1231
@vvjin Do you mind posting what version of Node you're using too? Thanks!

[2017-02-28 14:04] mewtaylor opened #1232 "Make footer flexbox be `space-between` rather than `space-around`?"
Just noticed this while looking at an `InformationPage` locally. Currently, we use `justify-content: space-around` for displaying the footer link lists. Since this centers the columns, we end up with this:
<img width="984" alt="screen shot 2017-02-28 at 8 57 52 am" src="https://cloud.githubusercontent.com/assets/1815772/23408070/bc996fba-fd94-11e6-801c-70d212e56ca5.png">

If we were to move to usi

[2017-02-28 14:38] #1218 closed

[2017-02-28 16:14] lifeinchords commented on #1232
I dig it! The left column in the footer lines up nicely with the content above it.

[2017-03-02 13:21] thisandagain commented on #1177
Moved to LLK/scratchr2#4530

[2017-03-02 13:21] #1177 closed

[2017-03-02 15:42] sleggss opened #1234 "Scratch Conference: Update date and link for China Conference"
Update date: May 20, 2017 - May 21, 2017
Update conference link: http://scratchconference2017.sxl.cn/

Change "Contact Organizer" button to "Visit Website" and link to the url above.

[2017-03-05 15:15] vvjin commented on #1231
E:\Users\vjin>node -v
v6.9.4
sorry for late reply, I was trying to figure out the problem.

[2017-03-06 15:11] #1183 closed

[2017-03-06 16:10] #1234 closed

[2017-03-06 16:10] mewtaylor commented on #1234
OMG it's issue number 1234!!!!!!!!

[2017-03-06 22:10] chrisgarrity opened #1238 "Quotes in l10n.json files should all be escaped"
faq/l10n.json file has some strings where the quotes are not escaped.
For example,
`"faq.confirmedAccountTitle":"What is a “confirmed” Scratch account?",`
should be
`"faq.confirmedAccountTitle":"What is a \“confirmed\” Scratch account?",`

It doesn't turn out to be an issue until the translation has the quoted word at the beginning of the translation as in Korean:
`"faq.confirmedAccountTitle":""인증

[2017-03-07 14:50] chrisgarrity commented on #1199
I think this is related to the Transifex transition and happens when there's a problem with importing the json translations.
I just found an issue with unescaped quotes in l10n files (https://github.com/LLK/scratch-www/issues/1238) This caused the building the faq intl file to fail when it reached Korean. If you go to the FAQ page and select a language before Korean on the list - e.g. German, it s

[2017-03-07 15:14] #1232 closed

[2017-03-07 15:28] #1206 closed

[2017-03-07 16:53] mewtaylor commented on #1231
@vvjin thanks! I'm wondering if this is related to https://github.com/nodejs/node/issues/7294 at all? It looks like it should've been fixed for `v6.4` though...

I wonder if downgrading to LTS v4.x might be worth trying to see if that works, perhaps. Also, did you find anything else in your investigation by any chance?

[2017-03-08 15:19] chrisgarrity commented on #1230
fixed in https://github.com/LLK/scratch-www/pull/1236

[2017-03-08 15:19] #1230 closed

[2017-03-08 22:00] sleggss opened #1239 "Scratch Conference - update Costa Rica dates"
Update to https://scratch.mit.edu/conference

Under Costa Rica, change date to:
November 10, 2017 - November 12, 2017

[2017-03-13 18:58] thisandagain opened #1242 "Update credits page"
- [ ] Scratch Team
    - [ ] Resort list to be alphabetical by last name
    - [ ] Add "Eric Rosenbaum" (`ericr`)
    - [ ] Add "Paul Kaplan" (`sgcc_`)
    - [ ] Move "Sayamindu Dasgupta" to "Previous Members" section
    - [ ] Move "Ricarose Roque" to "Previous Members" section
    - [ ] Move "Tim Mickel" to "Previous Members" section
    - [ ] Move "Connor Hudson" to "Scratch Moderators" section

[2017-03-13 19:51] TheGrits commented on #1242
w00t! I'll tackle this one!

[2017-03-15 15:35] jwzimmer opened #1246 "Wrapping/ alignment of text around email list checkbox - Teacher Account Registration"
Minor cosmetic issue with the wrapping of the text around the checkbox to opt-in to email subscriptions.

From testing https://github.com/LLK/scratchr2/issues/4092.

IE 11, Win 7 VM

<img width="282" alt="screen shot 2017-03-15 at 11 32 15 am" src="https://cloud.githubusercontent.com/assets/1320456/23956509/3405e10c-0973-11e7-92c0-132d97c8bca0.png">

[2017-03-15 15:45] jwzimmer opened #1247 "Validation for password field required despite password field not being empty - Teacher Registration"
The validation warning for the password field being required came up after I had filled out the password field.

I think this was just a timing issue where the validation was triggered before the input to the field registered, but I figured I'd make a case for it just in case that heralds anything of ill moment

<img width="575" alt="screen shot 2017-03-15 at 9 49 51 am" src="https://cloud.githubu

[2017-03-16 14:42] thisandagain opened #1248 "Migrate Parents Page"

[2017-03-16 14:48] kaschm opened #1249 "Update Homepage for May"
Content TBD

@SpeakkVisually @christanbalch

[2017-03-16 14:48] thisandagain opened #1250 "Update About Page"
- [ ] Outline
- [ ] Wireframes
- [ ] Visual comp / spec
- [ ] Copywriting
- [ ] Implementation

[2017-03-16 15:13] thisandagain commented on #1250
After looking at the schedule it seems we have way too much going on in March / April. Moving this to the backlog.

[2017-03-16 15:19] seotts opened #1251 "Add link to No Starch Scratch Coding Cards on Cards page"
Add language to the Cards page to link to the No Starch Scratch Coding Cards.

@ntlrsk, could you draft the text for that? Thanks!

[2017-03-16 15:49] thisandagain commented on #1251
@seotts @ntlrsk Please feel free to put this in whatever milestone you would like it to go out in. Putting in `backlog` for now.

[2017-03-16 15:57] #1242 closed

[2017-03-17 15:25] rschamp opened #1252 "Add sort scheme dropdown to search results page"
On the explore page, there is a dropdown for the sorting scheme ("Trending", "Popular", "Recent"). This component should be added to the search results page, defaulting to "Popular".  Changing the choice should change the sort order of the results.

The same design on the Explore page should be used for the dropdown, except that the tags should not appear in the row.

[2017-03-20 15:03] TheGrits commented on #1194
I'll take this one.

[2017-03-20 15:09] TheGrits commented on #1191
@chrisgarrity Would the solution you mentioned be the preferred solution?

[2017-03-20 17:16] chrisgarrity commented on #1191
@TheGrits Yes, that's probably the preferred solution - setting a height, but keeping it relative to the text size not absolute pixels.

[2017-03-22 12:31] #1199 closed

[2017-03-22 12:32] #1239 closed

[2017-03-22 12:41] #1194 closed

[2017-03-31 12:58] chrisgarrity opened #1254 "Migrate - Download Scratch 2 Offline Editor"
https://scratch.mit.edu/scratch2download/

- [x] Migrate to template used for /educators (or alternately /developers)
- [x] Make sure all parts of the page are translatable
- [ ] ~delete old template in scratchr2~

[2017-03-31 15:52] jwzimmer opened #1256 "Extra space at bottom of banner - cosmetic"
**TL;DR:** There is some extra space at the bottom of the banner when you manually resize the browser window to a medium size, or when you use the iPad view of the Chrome device emulator.

To repro, use the Chrome device emulator set to iPad, or drag the screen to resize it. At small and large views, the extra space is not visible.

[2017-03-31 18:03] TheGrits commented on #1254
@chrisgarrity I know how to make a new page with the template and make the page translatable, but I can't delete the old template.

[2017-03-31 21:03] chrisgarrity commented on #1254
@TheGrits That would be great - the last item is mostly to make sure we don't forget to do the scratchr2 cleanup when we merge.

[2017-04-06 13:30] #1256 closed

[2017-04-07 19:14] thisandagain opened #1261 ""Tips" Page"
### Update "Things to Try" Page
- [x] Change path to `/tips`
- [x] Redirect `/go` to `/tips`
- [x] Add section above tips content that links to the [Getting Starting](http://vimeo.com/llk/start-scratch) video
- [x] Add section below tips content that links to both download and purchase the [Scratch Coding Cards](https://www.amazon.com/Scratch-Coding-Cards-Creative-Activities/dp/1593277741)
- [x] A

[2017-04-07 19:17] thisandagain opened #1262 "Update Navigation"
### Changes
- [x] Update primary navigation options:
    - [x] Create (no change)
    - [x] Explore (no change)
    - [x] Tips (see #1261 )
    - [x] About (move to be "last" primary item)

### Reference
![image](https://cloud.githubusercontent.com/assets/747641/24815966/100fd642-1ba5-11e7-80f5-88eb3c83a23a.png)

/cc @ntlrsk @carljbowman @rschamp @SpeakkVisually @christanbalch

[2017-04-10 14:39] TheGrits opened #1265 "Community Moderator Page 404ing"
The link to https://scratch.mit.edu/jobs/moderator from https://scratch.mit.edu/jobs is 404ing currently. No obvious problems with the routing...

[2017-04-10 14:44] TheGrits commented on #1265
Routing reference: https://github.com/LLK/scratch-www/blob/develop/src/routes.json#L183-L189

[2017-04-10 14:45] mewtaylor commented on #1265
@TheGrits nice catch, thanks so much for that! I'm looking into it now

[2017-04-10 14:51] TheGrits commented on #1265
@mewtaylor 👍 Quickly QA'ed the rest of the changes, doesn't look like there are any more obvious issues.

[2017-04-10 14:52] mewtaylor commented on #1265
Awesome, thanks so much @TheGrits for looking into that! @jwzimmer and I really appreciate it :).

[2017-04-10 15:46] TheGrits commented on #1265
@mewtaylor I've done some more thorough digging around with the .jsx file itself, the issue is still not presenting itself. Perhaps there is a problem with the page host?

[2017-04-13 22:45] rschamp commented on #1251
Tracking as a part of #1261

[2017-04-13 22:45] #1251 closed

[2017-04-13 22:46] rschamp commented on #1231
Closing because of age. @vvjin Please reopen if you need more help!

[2017-04-13 22:46] #1231 closed

[2017-04-13 22:48] rschamp commented on #1228
Moved to LLK/scratch-search#31

[2017-04-13 22:48] #1228 closed

[2017-04-13 22:49] #1210 closed

[2017-04-13 22:50] #1207 closed

[2017-04-13 22:52] #1187 closed

[2017-04-13 22:54] #1140 closed

[2017-04-13 22:56] #1117 closed

[2017-04-13 22:58] #1098 closed

[2017-04-13 22:59] #1088 closed

[2017-04-13 22:59] #1087 closed

[2017-04-13 23:00] #1084 closed

[2017-04-13 23:00] #1054 closed

[2017-04-13 23:01] #1049 closed

[2017-04-13 23:04] rschamp commented on #1038
Tracking in #1261

[2017-04-13 23:04] #1038 closed

[2017-04-13 23:04] #1036 closed

[2017-04-13 23:05] rschamp commented on #1034
Moved to LLK/scratchr2#4581

[2017-04-13 23:05] #1034 closed

[2017-04-13 23:06] #1033 closed

[2017-04-13 23:08] #1029 closed

[2017-04-13 23:10] rschamp commented on #1014
Moved to LLK/scratch-api#242

[2017-04-13 23:10] #1014 closed

[2017-04-13 23:13] rschamp commented on #1011
We should override the default font-size.

[2017-04-13 23:15] #974 closed

[2017-04-13 23:16] rschamp commented on #941
We've decided not to translate the privacy policy.

[2017-04-13 23:16] #941 closed

[2017-04-13 23:18] #927 closed

[2017-04-13 23:19] #917 closed

[2017-04-13 23:20] #916 closed

[2017-04-13 23:23] #889 closed

[2017-04-13 23:26] #878 closed

[2017-04-13 23:28] rschamp commented on #875
@carljbowman said "no".

[2017-04-13 23:30] rschamp commented on #861
We've removed the default props from our components.

![bitmoji](https://render.bitstrips.com/v2/cpanel/10218508-102286145_1-s1-v1.png?transparent=1&palette=1&width=246)

[2017-04-13 23:30] #861 closed

[2017-04-13 23:31] rschamp commented on #848
@jwzimmer I'm not sure what you mean here, can you add an example?

[2017-04-13 23:32] #774 closed

[2017-04-13 23:32] #758 closed

[2017-04-13 23:33] #742 closed

[2017-04-13 23:33] jwzimmer commented on #1224
On Staging & Production, other chars are also not being properly decoded:
<img width="1109" alt="screen shot 2017-04-13 at 7 26 13 pm" src="https://cloud.githubusercontent.com/assets/1320456/25028106/040e96be-2080-11e7-923f-e6ef2b3ccf3b.png">

[2017-04-13 23:34] rschamp commented on #728
@TheGrits All yours! ;)

[2017-04-13 23:37] #597 closed

[2017-04-13 23:38] rschamp commented on #592
We should investigate what implications this has for SEO.

[2017-04-13 23:39] #585 closed

[2017-04-13 23:39] #580 closed

[2017-04-13 23:40] #579 closed

[2017-04-13 23:40] #578 closed

[2017-04-13 23:41] rschamp commented on #569
Tracking in https://github.com/LLK/scratch-ops/issues/244

[2017-04-13 23:41] #569 closed

[2017-04-13 23:41] rschamp commented on #564
We should also enable Greenkeeper.

[2017-04-13 23:44] jwzimmer commented on #544
Moved to LLK/scratchr2#4582

[2017-04-13 23:44] #544 closed

[2017-04-13 23:45] #532 closed

[2017-04-13 23:45] #467 closed

[2017-04-13 23:46] #400 closed

[2017-04-13 23:47] #337 closed

[2017-04-13 23:47] #331 closed

[2017-04-13 23:48] #236 closed

[2017-04-13 23:49] rschamp commented on #613
Tracking in #187

[2017-04-13 23:49] #613 closed

[2017-04-13 23:51] #127 closed

[2017-04-13 23:51] rschamp commented on #101
Tracking in #1262

[2017-04-13 23:51] #101 closed

[2017-04-13 23:52] #32 closed

[2017-04-14 10:44] TheGrits commented on #875
@rschamp Wait, so we want to remove the search bar on the search page itself or on the nav-bar?

[2017-04-14 10:55] TheGrits commented on #1248
@rschamp I'll take a swing at this one some time soon.

[2017-04-14 12:16] carljbowman commented on #875
@TheGrits - @rschamp took some liberty with the paraphrasing.

Let's go ahead and remove the search bar lower on the page itself, but keep the search bar on the nav-bar. We are going to do some work next month to open the nav-bar up.

Thanks for the help!

[2017-04-14 14:07] TheGrits commented on #875
@carljbowman Sounds like a plan. Thanks!

[2017-04-14 18:20] #1265 closed

[2017-04-14 20:40] St19Galla commented on #308
I can take this one off of @technoboy10 's hands if he would like!

Any particular page template you want me to go off of?

[2017-04-14 20:41] thisandagain commented on #308
@St19Galla Thanks! I think we should hold off on this one until we have a plan for how to handle the form in our new API.

[2017-04-18 15:44] jwzimmer opened #1274 "Automated test for checking statistics page"
**TL;DR:** To replace the manual `/statistics` smoke-test.

Now that https://github.com/LLK/scratch-www/pull/1185 is mostly done, I can work on replacing another manual smoke-test from https://github.com/LLK/scratchr2/wiki/Smoke-Testing-Test-Cases.

This can be done in parallel with https://github.com/LLK/scratch-www/issues/925, which I will work on with @rschamp.

[2017-04-18 15:45] jwzimmer commented on #925
**Questions/ to do**

- Running on multiple browsers
- What about varying the size of the browser window? e.g. `browser.manage().window().setSize(1280, 720)`
- Benefit to running on proxy?

[2017-04-18 16:02] jwzimmer commented on #925
Decide on dependency arrangement (re https://github.com/LLK/scratch-www/pull/1185#issuecomment-294882644):
@rschamp said: > I think we might want to do something so that there's a separate package.json for the smoke tests, and then it can be installed from there

[2017-04-19 20:38] chrisgarrity opened #1276 "Add Swedish versions of Scratch Cards (original)"
A translator sent in translated cards for Swedish (https://mitscratch.freshdesk.com/helpdesk/tickets/73350)
We should add them to the site and make them available when the user has their language set to Swedish.

---
Moved from LLK/scratchr2#4533
/cc @chrisgarrity @seotts

[2017-04-19 20:40] #728 closed

[2017-04-19 20:40] #1276 closed

[2017-04-19 21:14] #1167 closed

[2017-04-20 17:44] mewtaylor opened #1277 "Create lint-er for strings retrieved from Transifex"
While we are able to add custom rules to Transifex for validating strings, however they do not explicitly lint ICU-formatted strings. So, we do need to set up a custom lint-er to validate that all translated strings that we receive from Transifex will not break our React Components.

[2017-04-20 20:41] jwzimmer opened #1278 "teacherRegistration.validationAge is displayed & validation was triggered for a student"
**TL;DR:** On the Month field of the teacher/ student registration demographics step, teacherRegistration.validationAge is displayed rather than the intended validation message. This validation was also triggered for a student, which I don't think it should have been.

It also seems to want me to change the month after I have triggered the warning once, even if I have changed the year to be >> 13

[2017-04-20 20:43] mewtaylor commented on #1278
I just need to update in Transifex is all – will do now

[2017-04-21 15:08] St19Galla commented on #1250
Is the end goal of the About page to have the same design template as the Developers or Educators page? If so, I can help re-format the page using those templates if it helps you all time-wise :)

[2017-04-21 20:06] chrisgarrity opened #1280 "Use less US-centric names in teacher registration"
High school and middle school are both very US-centric names for schools, and don't necessarily have an equivalent in other countries. Both are considered 'secondary school' in many places. We may want to consider changing the text to make it easier to localized.

[2017-04-22 04:05] TheGrits commented on #1280
@chrisgarrity I can confirm that this is the case here in Canada. High school and secondary school are interchangeable terms here, but university/college is usually called postsecondary education.

[2017-04-22 12:50] liam4 opened #1281 "Cloud data notice in editor links to /help/faq instead of /info/faq"
(This might already be tracked somewhere..)

When you create a new cloud variable for the first time in a project using the Scratch 2.0 editor, a notice appears:

![Cloud data notice screenshot](https://cloud.githubusercontent.com/assets/9948030/25304589/b604fd10-2740-11e7-8c67-335e9874096b.png)

However, the "cloud data FAQ" link is broken; it links to https://scratch.mit.edu/help/faq/#clouddata,

[2017-04-22 13:35] thisandagain commented on #1281
Tracking in https://github.com/LLK/scratch-flash/issues/1281

[2017-04-22 13:35] #1281 closed

[2017-04-24 14:08] thisandagain commented on #592
Without `hreflang` tags and unique URLs for each page by language, doing this will harm our search relevance:

https://support.google.com/webmasters/answer/189077?hl=en
https://help.localizejs.com/docs/search-engine-optimization-seo

[2017-04-24 14:08] #592 closed

[2017-04-24 14:15] chrisgarrity opened #1282 "FAQ: question about privacy is US-centric"
The question/answer about privacy `Is Scratch 2.0 (online version) compliant with local and federal data privacy laws?` is specific to the US, but doesn't say that. So it's difficult to localize - should it be translated as is? Should the translator add "United States" to the string? Should translators just ignore it?

Or do we need to update the question so it makes sense for both US and non-US s

[2017-04-24 14:29] chrisgarrity opened #1283 "Capitalization of strings"
Strings should probably be capitalized (reported by translators):
* 'you have been invited to join the class:' - registration.classroomInviteExistingStudentStepDescription
* 'select country' - registration.selectCountry

Most other strings in the general l10n.json are capitalized.

[2017-04-24 14:58] jwzimmer opened #1284 ""Username exists" error page on last step of student registration via sign-up link"
**TL;DR:** One report from a teacher that several of their students, seemingly randomly, hit an error page ("username exists") at the end of registration. However, the account is created afterwards.

**==== >^..^< ====**

@rschamp & I have been trying to figure out what could be going on with this user, but haven't been able to repro the issue or come up with an obvious theory. We have only gotten

[2017-04-24 20:51] mewtaylor commented on #1278
Closed in #1279

[2017-04-24 20:51] #1278 closed

[2017-04-24 21:17] lifeinchords opened #1286 "Confirming Teacher Registration redirects to home, but logged out"
Registered for a teacher account on staging, on:
Sierra: 10.12.4 (16E195)
Chrome: Version 58.0.3029.81 (64-bit)

---

Clicked Orange button in confirmation email, which brought me here:
![screen shot 2017-04-24 at 4 40 56 pm](https://cloud.githubusercontent.com/assets/716168/25358898/14562606-2911-11e7-95e1-ec52da7c832c.png)

-------
Clicking on Ok, Let's Go button, brought me back to staging home

[2017-04-25 19:50] jwzimmer opened #1288 "Teacher age validation doesn't get dismissed if you change the month"
**TL;DR:** If you set the age to less than 13, and click Next, the age validation is triggered, but if you then change the month date so that you are now over 13 years old, the validation doesn't get dismissed. If you change the year, it does.

From testing https://github.com/LLK/scratch-www/pull/1269.

<img width="470" alt="screen shot 2017-04-25 at 3 50 34 pm" src="https://cloud.githubuserconten

[2017-04-25 20:28] jwzimmer commented on #1288
This is actually fine - it's unavoidable due to the tool we're using for the validations. They have to be associated with a given field and can't take into account value changes in other fields. This should be fine because the use case is pretty narrow for people who will run into this.

[2017-04-25 20:28] #1288 closed

[2017-04-26 14:47] mewtaylor opened #1289 "Update React and React-dom to 15.5"
https://github.com/facebook/react/releases/tag/v15.5.0

[2017-04-27 03:07] TheGrits opened #1292 "Profile Dropdown isn't Mobile Friendly"
![scratch mit edu- iphone 6 plus](https://cloud.githubusercontent.com/assets/12952370/25466225/0fe9f47e-2ad5-11e7-8e31-13bd8ec675bc.png)

Of course I forgot to test the dropdown on mobile. Sorry!

I'll try to figure out a patch ASAP

Related PR: #1270

[2017-04-27 12:12] mewtaylor commented on #1292
No apology necessary @TheGrits ! I missed it too – thanks for the quick PR to address the issue though :)

[2017-04-27 14:09] rschamp commented on #1289
@mewtaylor Would you want to close this in preference to #564 and set up Greenkeeper?

[2017-04-27 14:10] rschamp commented on #1286
If we see this again, we should try to repro again, otherwise close this after a while.

[2017-04-27 14:11] mewtaylor commented on #1289
Whoops forgot that was open, thanks :)

[2017-04-27 14:11] #1289 closed

[2017-04-27 14:15] rschamp commented on #1284
If we hear this behavior from another person, we should re-open.

[2017-04-27 14:15] #1284 closed

[2017-04-27 14:19] rschamp commented on #1283
These are probably expected, @chrisgarrity please confirm.

[2017-04-27 14:20] rschamp commented on #1282
@kaschm What do you think?

[2017-04-27 14:25] rschamp commented on #1280
Maybe we should set these to child age ranges rather than terms for the schooling?

[2017-04-28 12:48] chrisgarrity opened #1294 "Use non-localized URL for Firefox"
Suggestion from translators:

in faq.requirementsBody, replace the Firefox link: `http://www.mozilla.org/en-US/firefox/new/` with a generic one `http://www.mozilla.org/firefox/new/` so the browser will pick the version based on the browser's locale.

Currently translators have to override the en-US link which is potentially error-prone, and creates warnings in transifex that the URL doesn't match.

[2017-04-28 13:28] chrisgarrity commented on #1283
Confirmed that these are expected to be lowercase, will add notes to the strings in Transifex.

[2017-04-28 13:36] #1283 closed

[2017-04-28 16:52] thisandagain commented on #1249
Tracking in https://github.com/LLK/scratchr2/milestone/92

[2017-04-28 16:52] #1249 closed

[2017-05-01 15:17] colbygk opened #1296 "Please add DD Liu to credits page"
Please add DD Liu to the "Scratch is designed and developed by the Lifelong Kindergarten Group at MIT Media Lab:" section,

User image: https://cdn.scratch.mit.edu/get_image/user/527836_170x170.png

[2017-05-01 15:23] TheGrits commented on #1296
@colbygk I'll take this one.

[2017-05-01 19:17] kaschm commented on #1282
Really good point. Let's add something to the question, so that if translated it still makes sense. We can handle the larger question of non-US privacy law later.

Here's the suggested change to the text:

Is Scratch 2.0 (online version) compliant with **United States** local and federal data privacy laws?

Scratch cares deeply about the privacy of students and of all individuals who use our platf

[2017-05-01 20:15] St19Galla commented on #1282
@rschamp I can take this one if so ^^ :)

[2017-05-02 13:57] rschamp commented on #1282
@kaschm Sounds good to me!
@St19Galla Go for it!

[2017-05-02 15:26] CatsAreFluffy opened #1298 "You can't search in the forums"
Self explanatory.

[2017-05-02 15:33] thisandagain commented on #1294
Good catch! Thanks @chrisgarrity

[2017-05-02 15:57] mewtaylor commented on #1298
Thanks for logging this @CatsAreFluffy! We're also tracking this feature in another repository at the moment. @thisandagain if this issue is helpful for additional tracking, I'm happy to keep it open, but we also have the search one too if we want to close this.

[2017-05-02 17:35] TheGrits commented on #1294
I'll take this one!

[2017-05-02 17:40] TheGrits commented on #1294
@chrisgarrity In the same localization string there are links with similar en-us parts in the link. Should these be removed as well? (See Edge and Internet Explorer links for examples)

[2017-05-02 18:06] chrisgarrity commented on #1294
@TheGrits Good catch! Yes, they should be taken out of the Microsoft links as well. If you could double check that the links without the locale redirect you that would be great.

[2017-05-02 22:15] #1282 closed

[2017-05-03 04:21] CatsAreFluffy commented on #1298
Which repository?

[2017-05-03 12:30] TheGrits commented on #1298
@CatsAreFluffy I'm pretty sure that would be in the private scratch-r2 (or 2r?) repository.

[2017-05-03 12:32] thisandagain opened #1303 "Some translations broken in "meow""
### Repro
- Navigate to splash page
- Change language to "meow"

### Reference
![image](https://cloud.githubusercontent.com/assets/747641/25660574/e11074b0-2fda-11e7-8693-36c5e5f1b37c.png)

@mewtaylor @chrisgarrity @rschamp Any thoughts?

[2017-05-03 13:42] TheGrits opened #1304 "What's Happening not Localizing"
French:
![scratch mit edu-french](https://cloud.githubusercontent.com/assets/12952370/25663036/9d9a90ee-2fe4-11e7-932a-3c735953940e.png)
Spanish:
![scratch mit edu-spanish](https://cloud.githubusercontent.com/assets/12952370/25663070/b7a98058-2fe4-11e7-9249-f9185366501b.png)

Looks like the phrases such as "shared the project" and "became a curator of" aren't being localized.

[2017-05-03 13:46] jwzimmer commented on #1303
They are also broken in Edible Scratch.

<img width="553" alt="screen shot 2017-05-03 at 9 45 56 am" src="https://cloud.githubusercontent.com/assets/1320456/25663329/5bfa5718-2fe5-11e7-87e9-80637a6dec7b.png">

[2017-05-03 15:48] #1296 closed

[2017-05-03 18:33] #1294 closed

[2017-05-03 18:37] #875 closed

[2017-05-04 14:08] thisandagain commented on #1304
Moved to LLK/scratch-api#249

[2017-05-04 14:08] #1304 closed

[2017-05-07 23:15] CatsAreFluffy commented on #1298
umm k

On Wed, May 3, 2017 at 5:30 AM, The_Grits <notifications@github.com> wrote:

[2017-05-08 19:54] #1292 closed

[2017-05-09 06:45] raycraft opened #1306 "[error]npm run build -g"
[vagrant@vagrant-centos65 scratch-www-develop]$ npm run build -g

make[1]: Entering directory `/home/wwwroot/default/scratch-www-develop'
rm -rf ./build
rm: cannot remove `./build': Permission denied
make[1]: *** [clean] Error 1
make[1]: Leaving directory `/home/wwwroot/default/scratch-www-develop'
make: *** [build] Error 2

npm ERR! Linux 2.6.32-431.3.1.el6.x86_64
npm ERR! argv "/usr/local/src/no

[2017-05-09 11:29] #1306 closed

[2017-05-09 13:46] jwzimmer commented on #925
Next steps:
- Work with @colbygk to set up post, so that saucelabs/ browserstack can use a tunnel so it can hit Staging from the media lab
- Env variable (for Travis) for running smoketests or not on Staging and figure out how often we want to run them (at night, at end / beginning of a freeze?)
- Document process for running tests

[2017-05-10 20:11] ntlrsk opened #1308 "Make translated cards for each language into a single PDF"
The revised "Things to Try" page will have a link to download all the cards as a single PDF. This means we need to make the existing translated cards into a single PDF (one PDF for each language).

This should not include the old cards (i.e., the "Starter Cards"). However, the old cards should still stay on the server for now (because we aren't getting rid of the Cards page yet).

[2017-05-16 18:41] jwzimmer opened #1313 "Automated test for checking that no pages in www are missing string IDs"
Should test whether any page in www has any languages which are missing string IDs
- check every language against the list of english IDs for that page
- test should fail if the length of the list of languages missing any IDs is not 0

Should prevent issues like https://github.com/LLK/scratch-www/issues/1303 from recurring.

Should be run with tap.

Note that at the moment, the test does fail, bec

[2017-05-16 20:08] #1303 closed

[2017-05-16 20:35] carljbowman commented on #1261
cc/ @ntlrsk

# Designs
## 12 Column
**[Image with no grid](https://cloud.githubusercontent.com/assets/3409578/26125518/664a8614-3a50-11e7-943c-fd423028c3bd.png)**

<img  src="https://cloud.githubusercontent.com/assets/3409578/26124673/4f6ec6ba-3a4d-11e7-8dc8-fbbedaccf2dd.png" width="1280" />

## 8 Column
**[Image with no grid](https://cloud.githubusercontent.com/assets/3409578/26125544/80f1883c-3a

[2017-05-16 20:36] carljbowman commented on #1261
@thisandagain - Assigning you to reassign

[2017-05-17 20:01] ntlrsk commented on #1261
@carljbowman or @ascii Should I make a separate issue about (1) making the entire collection of card PDFs to point to and (2) updating the Educator page to say "Tips" rather than "Things to Try"?

[2017-05-17 20:06] ntlrsk commented on #1261
I remember now I already created an issue for that: https://github.com/LLK/scratch-www/issues/1308

[2017-05-17 20:32] jwzimmer commented on #1313
I thought we might want the option of having this be multiple tests - I'm not sure which is better, 1 test per page in the intl folder, or just 1 test that no pages are missing strings. On the one hand, we don't really care if it's 1 or 2 pages that are missing strings, we have to fix it either way, but on the other, it might be more consistent with how our other tests work to have it be separate

[2017-05-18 14:50] carljbowman commented on #1261
@TheGrits - Would this be something you would be interested in implementing?

[2017-05-18 15:30] St19Galla commented on #1261
@TheGrits if you are too busy I can also help :)

[2017-05-18 16:53] LiFaytheGoblin opened #1315 "Local version of scratch-www won't run"
Hi!

I'm trying to follow the instructions in the readme to get scratch-www running on my local computer, but unfortunately it won't work.

My system:
Node Version: 4.2.0 (downgrading fixed other issues I had before)
Npm Version: 4.6.1
Python Version: 2.7.13 (again, downgrading fixed other issues I had before)
Windows 10
For make in windows I use the mingw32-make.

**Using the normal command line

[2017-05-18 18:14] jwzimmer commented on #1313
This now works as separate tests (per intl file) or as 1 test - I'm not sure which style is better.

Output as multiple tests looks like:
<img width="596" alt="screen shot 2017-05-18 at 2 10 58 pm" src="https://cloud.githubusercontent.com/assets/1320456/26217023/fe1ac93e-3bd3-11e7-8915-64b23a975995.png">

To make it run as multiple tests, I changed the tap test to:
<img width="639" alt="screen sho

[2017-05-21 15:09] towerofnix opened #1318 "User menu too thin"
At a full-width (greatest number of columns) page, the item "Account Settings" is split across multiple lines:

!["Profile \n My Stuff \n Account \n settings \n Sign out"](https://cloud.githubusercontent.com/assets/9948030/26285040/f7e7c5fc-3e1d-11e7-8868-118dbc84c77d.png)

Relatedly, at a min-width (least number of columns) page, the dropdown is too small to clearly present *any* of its items:

!

[2017-05-22 03:48] TheGrits commented on #1318
Fixed in #1293

[2017-05-22 17:21] jwzimmer commented on #925
* Generated ssh keys and put them in password manager (shared folder)

[2017-05-22 20:26] TheGrits commented on #1261
@carljbowman I'd love to, this sounds like a great project!

@St19Galla Thanks for the offer, but I think I can take this one. 👍

[2017-05-22 20:37] chrisgarrity commented on #1261
@TheGrits I worked on the original /go page, so feel free to @ ping me with questions.

[2017-05-22 20:41] mewtaylor commented on #1252
@St19Galla if you have any interest in this one, it'd be very helpful! Feel free to let me know if you are :).

[2017-05-22 20:44] TheGrits commented on #1261
@chrisgarrity Thanks, will do if any questions do arise!

[2017-05-22 21:10] TheGrits commented on #1248
Just need to test locally before making a PR for this one!

[2017-05-22 21:12] St19Galla commented on #1252
@mewtaylor I can certainly give it a try! :)

[2017-05-23 17:16] jwzimmer opened #1320 "Automated smoke-test for Explore page"
Test case from https://github.com/LLK/scratchr2/wiki/Smoke-Testing-Test-Cases:
* Explore (scratch-www)
   * The Explore page should return reasonable results & look reasonable

To explore alternative tools to just using TAP + selenium like we have for the first few smoke tests, this test should use jest or enzyme (or something like that) to try it out.

[2017-05-23 23:20] sleggss opened #1322 "Scratch Conference page: update Brazil dates"
Change "September 28, 2017 - September 30, 2017" to "October 5, 2017 - October 7, 2017".

[2017-05-23 23:39] TheGrits commented on #1322
@mewtaylor I can make these changes quick if that'd help you!

[2017-05-24 12:37] mewtaylor commented on #1322
@TheGrits no worries I got it – thanks though :)

[2017-05-24 12:43] #1322 closed

[2017-05-24 13:02] leoburd commented on #1322
Thanks for taking care of this!

When is the updated page going online?

.L

On 5/24/17 8:43 AM, Matthew Taylor wrote:

[2017-05-24 13:06] mewtaylor commented on #1322
@leoburd We will be doing a deploy next week, so this will go out then :).

[2017-05-24 17:11] #1313 closed

[2017-05-24 17:12] #1013 closed

[2017-05-24 17:33] jwzimmer commented on #925
I removed the private key env variable I had added to travis b/c I think it broke travis' ability to build. I'll figure out which characters I should have escaped or whatever and re-instate it later. Sorry. : (

[2017-05-26 19:25] chrisgarrity opened #1325 "Allow default language other than English"
Currently if a language does not have a translation for a particular language we fall back to English. This happens at build-time, so the English strings are built into the language when there are missing strings. For some languages it might be better to fall back to another language. For example, the fallback from Fruilian might be Italian rather than English.

Questions:

- In many of these case

[2017-05-26 19:29] chrisgarrity opened #1326 "Consolidate www resources in an s3 bucket for translators"
Just focus on creating better ways to share the www resources, and store translations of resources from volunteers.

- [x] create new repo to manage sources and translations of resources (scratch-resources)
- [x] sync resources with new s3 bucket, make the sources in the bucket browsable by translators
- [x] update www to use new s3 hosted resources

[2017-05-26 20:21] paulabonta opened #1327 "Categories Layout: hardcoded 2 categories per row"
Toolbox.js hard-codes the two categories per row layout. Make it so a CSS file can override the categories panel layout to 1 column.

[2017-05-26 20:33] paulabonta opened #1328 "Field textinput does not resize properly"
A textinput does not resize properly when used just as a "field" (as opposed to being use as an "input"). When the field gets the focus, the editable field resizes the size of the block, rather than the size of field you are editing.

[2017-05-28 01:44] djsrv opened #1330 "Character encoding not declared for humans.txt"
This is a minor issue, but the character encoding isn't declared as UTF-8 for https://scratch.mit.edu/humans.txt, causing the em dashes to be rendered as `â€”`.

Not very human-friendly. :)

[2017-05-30 18:14] mewtaylor commented on #1252
@St19Galla currently the search page just sorts results by the mode `popular` (see [here](https://github.com/LLK/scratch-www/blob/develop/src/views/search/search.jsx#L68)), whereas there is a dropdown in explore. What we'd be looking for is to add the dropdown like [on explore](https://github.com/LLK/scratch-www/blob/develop/src/views/explore/explore.jsx#L158-L167).

The results on both pages are

[2017-05-30 19:01] LiFaytheGoblin opened #1331 "[Credits Page] Add Mark Ferrell"
Mark Ferrell (dietbacon) should be added to the Credits Page.

[2017-05-31 18:46] mewtaylor opened #1332 "Migrate to npm scripts from Makefile"
Using a Makefile to handle test running/builds/translation building is hard, as it relies on certain Unix-specific commands and conventions that do not work on Windows well. If we move to using npm scripts, it can become OS-independent.

[2017-05-31 19:18] chrisgarrity commented on #1261
@TheGrits this would be good to get into the June release (freeze for testing on June 21). If you're going to have time to do it that's great. But if you're busy and won't have time, just let us know.

[2017-05-31 20:04] jwzimmer opened #1333 "Explore results when "studio" is selected are returning projects"
**TL;DR:** When you are on the Explore page and use the "studio" category at the top of the page, currently projects are returned even though you would expect to see studios. (Staging)

@mewtaylor is already working on fixing this, thanks @mewtaylor! 👍

[2017-05-31 20:06] jwzimmer commented on #1333
Wrong repo, moved to https://github.com/LLK/scratch-api/issues/254

[2017-05-31 20:06] #1333 closed

[2017-05-31 20:59] jwzimmer opened #1334 "Some parts of FAQ are translated into Traditional Chinese on Production but not Staging"
**TL;DR:** Two paragraphs of the FAQ have Traditional Chinese translations available on Production, but not on Staging. I don't know of any reason to expect this. Possibly caused by #1305 (if the English string is being used despite an available localized string).

If this is a bug/ there's no reason this actually is the intended behaviour, then this is probably a blocker, as we really don't want

[2017-05-31 21:19] chrisgarrity commented on #1334
It's not a blocker - we changed the text on the FAQ for those two sections in this build, so translators need to update the translations. I checked in Transifex and the last FAQ question was updated 3 days ago, but it was too recent to get included when we built the release. So those strings didn't have translations and correctly have English as the default.

[2017-05-31 21:25] jwzimmer commented on #1334
Awesome, thanks @chrisgarrity! 👍

[2017-05-31 21:25] #1334 closed

[2017-05-31 22:01] jwzimmer opened #1335 "Briefly, the FAQ page was reverting to previously-set language"
**TL;DR:** Somehow I got into a state where the FAQ page on Staging or Production had started reverting to the last language I had set it to, rather than letting me change it.

I was changing it without issue earlier today. I think this must somehow be user error (= me) but I don't see how yet - I am not in an incognito window, haven't disabled cookies, etc. After navigating to the homepage, whose

[2017-05-31 23:31] TheGrits commented on #1261
@chrisgarrity I won't be able to get it done for June 21, sorry. (I currently have an internship and was going to do this over the course of the next couple weekends.) Sorry about that!

[2017-06-01 12:59] chrisgarrity commented on #1261
@TheGrits No worries, usually things with help-wanted aren't on a time schedule, but then we decided this one would be good to get done soon, so it's on us. We appreciate all your help!

[2017-06-01 14:07] rschamp commented on #1330
Moved to LLK/scratchr2#4661

[2017-06-01 14:07] #1330 closed

[2017-06-01 14:09] rschamp commented on #1328
Moved to LLK/scratch-blocks#913

[2017-06-01 14:09] #1328 closed

[2017-06-01 14:09] rschamp commented on #1327
Moved to LLK/scratch-blocks#914

[2017-06-01 14:09] #1327 closed

[2017-06-02 08:54] LiFaytheGoblin opened #1337 "[Page Titles] routes.json without effect on title (browser tab)"
The routes.json (in src) appears to be supposed to set the title of a page like About or Conference. Unfortunately, it doesn't have any effect, the title will be "Scratch - Imagine, Program, Share" no matter what.

This bug appears in:
- Windows + Firefox
- Windows + Chrome
- Ubuntu + Firefox

Here is what it looks like:
![routesjsonbug](https://cloud.githubusercontent.com/assets/5471273/26718534/

[2017-06-02 16:41] jwzimmer commented on #1335
I just ran in to this again, on Staging.
![out](https://cloud.githubusercontent.com/assets/1320456/26735631/b7d3401e-4790-11e7-9598-2d6667b3a150.gif)

Does this correspond to when something is happening with the site, like a deploy/ rollback?

[2017-06-02 16:52] jwzimmer commented on #1335
I was asking @mewtaylor & @colbygk a couple questions about this -
Matt was redeploying to Staging on scratch-api at about the time I saw this bug the 2nd time.
Colby said this could be caused by breaking the set-up between fastly and backend, and that part of the deploy does involve updating scratch-www rules in fastly.
However, scratch-api wouldn't seem to involve that, so the timing could be a

[2017-06-02 19:09] jwzimmer commented on #1335
Currently on Staging I'm seeing Explore > Projects > All I'm seeing "All" in Brazilian Portuguese but the other sections (Games, Art) in English. When I try to choose English under "all", the page stays in Brazilian Portuguese.

[2017-06-02 20:15] jwzimmer opened #1341 "Studio thumbnail missing - 500 Internal Server Error - on Production"
This URL for a studio thumbnail is not loading on Production; it's yielding 500: https://cdn2.scratch.mit.edu/get_image/gallery/421139_170x100.png

<img width="1280" alt="screen shot 2017-06-02 at 3 58 30 pm" src="https://cloud.githubusercontent.com/assets/1320456/26743061/6039f2f8-47ae-11e7-969d-64eb646c2edf.png">
<img width="1280" alt="screen shot 2017-06-02 at 4 13 16 pm" src="https://cloud.git

[2017-06-02 20:17] jwzimmer commented on #1341
Moved to scratchr2 --> https://github.com/LLK/scratchr2/issues/4667

[2017-06-02 20:17] #1341 closed

[2017-06-06 19:20] jwzimmer commented on #1335
Ran into this again on Production. I tried restarting Chrome to see if that would fix the issue; it did not, but the issue seemed to fix itself a few minutes later.

![out](https://user-images.githubusercontent.com/1320456/26847601-a5ef3c48-4acb-11e7-877f-9ab4608e9493.gif)

[2017-06-06 19:35] jwzimmer commented on #1335
**Next time I run into this bug, TODO:**
- [ ] Check values of the 2 Scratch language cookies
- [ ] Preserve log & check network tab when trying to change language
- [ ] Check other www pages
- [ ] Check scratchr2 pages

From looking at the cookies now (the bug is NOT currently happening), the values are:
<img width="986" alt="screen shot 2017-06-06 at 3 34 16 pm" src="https://user-images.githubus

[2017-06-06 20:25] jwzimmer commented on #1335
Here are the cookie values and what language the page is in:

Set 1
<img width="782" alt="screen shot 2017-06-06 at 4 21 03 pm" src="https://user-images.githubusercontent.com/1320456/26850040-2d85dd76-4ad4-11e7-8339-68874f6e33f3.png">
<img width="973" alt="screen shot 2017-06-06 at 4 20 56 pm" src="https://user-images.githubusercontent.com/1320456/26850041-2d8b8cd0-4ad4-11e7-8b52-92be1ab2f48e.png"

[2017-06-07 15:17] rschamp opened #1342 "Clone Fastly active version not most recent on deploy"
This will avoid unexpected results if there's a more recent inactive version with changes.

[2017-06-08 14:07] rschamp opened #1343 "Changes to Credit Page"
Proposed changes to the [credit page](https://scratch.mit.edu/info/credits/):
- remove Christina Huang from the moderators section of the credits page
- add Christina Huang to the "Previous MIT Scratch Team Members" list on the credits page

---
Moved from LLK/scratchr2#4671
/cc @christanbalch

[2017-06-08 23:57] TheGrits commented on #1343
@rschamp I'll cover this one.

[2017-06-09 16:58] rschamp commented on #1343
Thanks @TheGrits!

[2017-06-10 15:41] LiFaytheGoblin commented on #1337
@rschamp What does the has-patch label mean? I thought it means this issue can be solved with an existing pull request. But since I am assigned to this issue and I don't know about a fix, maybe I am wrong?

[2017-06-10 16:02] rschamp commented on #1337
@LiFaytheGoblin You're right, sorry about that. I misread the title of the PR that refers to this issue.

[2017-06-10 16:05] TheGrits commented on #1343
You can add `has-patch` to this one though! 😉

[2017-06-12 13:22] #1343 closed

[2017-06-13 20:22] #1331 closed

[2017-06-13 21:06] mewtaylor commented on #1254
@chrisgarrity marked the first two as done with #1258.

[2017-06-14 05:36] CarlosDopCol opened #1349 "Scratch and Arduino"
I do not know if this is where I ask this. Will there be a native connection to Arduino such as MBot?

This would greatly simplify and enhance students' ability to learn.

A greeting
Carlos

[2017-06-14 13:38] TheGrits commented on #1349
Hi Carlos!

I think this repository might be a better place to post this issue: https://github.com/LLK/scratch-flash/issues

Greetings from Canada!
- The_Grits

[2017-06-15 14:05] thisandagain commented on #1349
Hi @CarlosDopCol we are working on adding official support for Arduino to Scratch 3.0. In the meantime you can use our ScratchX extension here:
http://scratchx.org/

[2017-06-15 14:05] #1349 closed

[2017-06-15 21:30] thisandagain opened #1350 "Download - Improve read path / restore icons"
The new downloads page removes the "1,2,3" icons used in the existing page. While they probably need a visual update those icons (plus the subtle "gray" background) serve an important role in focusing the eye on the "Adobe AIR | Scratch Offline Editor | Support Materials" row and providing a clear call to action:

![image](https://user-images.githubusercontent.com/747641/27202563-1ef7b0c2-51f0-11e

[2017-06-15 21:30] thisandagain commented on #1350
/cc @carljbowman

[2017-06-15 21:33] thisandagain opened #1351 "Download - Properly link to Offline Editor URLs"
Currently the "Scratch Offline Editor" links are all pointing to Adobe AIR. They should point to the proper location which includes a version that is dynamically defined here:

https://scratch.mit.edu/scratchr2/static/sa/version.xml

This also includes the following text in the "Updates" section:
![image](https://user-images.githubusercontent.com/747641/27202756-d0248b04-51f0-11e7-936b-885dcfae75f

[2017-06-15 21:37] thisandagain opened #1352 "Download - Change path to /download"
- [ ] Change route to `/download`
- [ ] Redirect `/scratch2download` to `/download`

[2017-06-16 21:47] rschamp opened #1355 "Has node-dir been fixed for copy-webpack-plugin?"
See #1354, can this override be removed yet?

[2017-06-18 11:00] Blaze349 opened #1356 "New Scratcher Avatar Change"
Feature request: https://scratch.mit.edu/discuss/topic/20110/

Benefits of changing the avatar:

* Fits with the general aesthetic of the website
* Looks modern
* Scales nicely

[2017-06-19 09:26] LiFaytheGoblin commented on #1188
@jwzimmer

One question: It seems like the conference websites all have different titles:
2014: Scratch@MIT | Scratch Conference 2014
2015: Scratch Conference
2016 & 2017: Scratch - Scratch Conference (after the sheme applied everywhere else (like Scratch - About, Scratch - Educators, etc). (https://github.com/LLK/scratch-www/pull/1340)

Should this be changed so all pages have the same type of ti

[2017-06-19 14:45] #1188 closed

[2017-06-19 14:47] jwzimmer commented on #1188
@LiFaytheGoblin I think the only title that needs to be changed is 2017 - I think it should say "Scratch Conferences" iirc. (Scratch - Scratch Conferences may be ok, too - I'm not sure.) /cc @carljbowman

[2017-06-19 14:47] mewtaylor commented on #1337
Fixed in #1340

[2017-06-19 14:47] #1337 closed

[2017-06-20 13:29] #1351 closed

[2017-06-20 13:29] #1352 closed

[2017-06-20 19:09] mewtaylor commented on #1315
@LiFaytheGoblin handled this in https://github.com/LLK/scratch-www/pull/1329, thanks!

[2017-06-20 19:09] #1315 closed

[2017-06-21 14:10] mewtaylor opened #1361 "Migrate notifications page to www"

[2017-06-21 16:48] #1274 closed

[2017-06-21 21:30] chrisgarrity commented on #1308
Fixed with https://github.com/LLK/scratch-resources/pull/5

[2017-06-21 21:30] #1308 closed

[2017-06-21 21:31] chrisgarrity commented on #1326
https://github.com/LLK/scratch-resources/ is a thing.

[2017-06-21 21:31] #1326 closed

[2017-06-22 12:49] chrisgarrity commented on #1261
Not closing this one yet because it needs the navigation update in scratchr2

[2017-06-22 13:40] #1262 closed

[2017-06-22 13:50] chrisgarrity opened #1362 "Check for obsolete strings/files resulting from new /tips page"
PRs:
* https://github.com/LLK/scratch-www/pull/1357
* https://github.com/LLK/scratch-www/pull/1285
* https://github.com/LLK/scratch-www/pull/1367 (footer.help)

* Are there translation keys that are no longer needed (e.g., general.discuss, general.help)
* Do we want to change l10n-static.json files to just list the keys? The values are never used. Would require an update in build-locale script
* A

[2017-06-22 21:08] SpeakkVisually opened #1364 "Replace "Help Page" in footer with "Tips Page""
We should replace the "Help Page" with "Tips Page" link

![image](https://user-images.githubusercontent.com/5166432/27456021-6bdf02dc-576d-11e7-886b-ec466a9f4065.png)

[2017-06-22 21:09] chrisgarrity commented on #1261
Tracking the last item in https://github.com/LLK/scratchr2/issues/4695

Closing this one.

[2017-06-22 21:09] #1261 closed

[2017-06-27 13:47] jwzimmer opened #1371 "Update automated tests for /tips in navbar and /tips, /download, /store in footer"
Now that we have made changes to the links in the navbar & footer, update the automated tests to include the new links.

[2017-06-27 14:46] colbygk opened #1372 "Microworld preview image missing/404 in Safari"
OS: macOS Sierra 10.12.5
Browser: Safari Version 10.1.1 (12603.2.4)

The preview image under "Get Inspired" fails to load:

![screen shot 2017-06-27 at 10 45 13 am](https://user-images.githubusercontent.com/192393/27593705-d0dc4d3c-5b25-11e7-98a1-908e7721f926.png)

Loads under Chrome.

[2017-06-27 15:50] jwzimmer opened #1373 ""Online tutorial" link doesn't work, missing root URL - Tips page"
Currently, when you click the link shown in the screenshot below (near the top of the Tips page), it goes to the URL `https://projects/editor/?tip_bar=getStarted`, which doesn't load. It seems to be missing the root URL for the host, like scratch.mit.edu or staging.

<img width="613" alt="screen shot 2017-06-27 at 11 41 56 am" src="https://user-images.githubusercontent.com/1320456/27596541-d1ade7a

[2017-06-27 16:36] jwzimmer opened #1374 ""Buy cards" button does not reposition below "PDF" button - mobile devices, Tips page"
Galaxy S5, Device Emulator, Win 7 VM, Chrome Version 59.0.3071.115 (Official Build) (32-bit)
and
my iPhone 6s, Chrome

The button to buy the cards on Amazon does not reposition below the PDF button, so it is off screen for small devices:
<img width="291" alt="screen shot 2017-06-27 at 12 30 49 pm" src="https://user-images.githubusercontent.com/1320456/27598841-c0841be0-5b34-11e7-891c-5d0dc8edec18.

[2017-06-27 17:40] jwzimmer opened #1375 "New page for support & compatibility info"
Currently we display support/ compatibility/ requirements mostly as a paragraph on our FAQ page: https://scratch.mit.edu/info/faq. We should make a new page (/requirements?) that has this info in visual form, and includes other relevant info.

Ideally we would get this done before back-to-school, if possible.

- Convey the info in this chart in visual form: https://github.com/LLK/scratch-ops/wiki/

[2017-06-27 17:56] jwzimmer opened #1376 "Missing/ default studio thumbnails on Staging"
**TL;DR:** Some studios with non-default thumbnails are showing up as having the default thumbnail in the Explore results page.

Staging, Firefox & Chrome on Mac OS El Capitan.

The studios seem to all be ST studios, at least at first glance?

I don't think these are missing due to https://github.com/LLK/scratch-search/issues/31 since they do appear on Production?

**Expected thumbnail**
<img widt

[2017-06-27 18:13] jwzimmer commented on #1376
This seems to have to do with our having pointed Staging search/ explore to production?

[2017-06-27 18:19] mewtaylor commented on #1376
This is likely due to the fact that we're pointing our current search/explore infrastructure at production data – it's using `get_image`, which means that if the image was added after February of 2017 (when we changed our thumbnail storage system), it will fallback to the default image since it's also not going to be in our staging storage system.

Once we switch to pointing staging back at stagin

[2017-06-27 18:19] #1376 closed

[2017-06-27 18:29] jwzimmer commented on #1376
Thanks @mewtaylor!

[2017-06-27 19:21] jwzimmer opened #1378 ""Dowloading" typo - Tips page"
The top of the Tips page has a little typo, it should be "downloading" but it's "dowloading":
<img width="461" alt="screen shot 2017-06-27 at 3 19 36 pm" src="https://user-images.githubusercontent.com/1320456/27605918-21feabb2-5b4c-11e7-8129-b7ea01557bae.png">

/cc @chrisgarrity

[2017-06-27 19:28] jwzimmer opened #1379 "Odd spacing in footer - extra space in middle, no padding on sides - Mobile"
Slightly odd-looking footer; no words are cut off, but the columns are all the way to the left & right, with blank space in the middle.

My iPhone 6s, Chrome, Staging, new Tips page

![0849f480-4640-403c-aeeb-153e24554465](https://user-images.githubusercontent.com/1320456/27606187-47539034-5b4d-11e7-9257-cd1928720a5f.PNG)

[2017-06-27 20:49] cwillisf opened #1381 "Offline editor download page: top paragraph not centered"
When the download page is displayed in a wide window, the paragraph at the top of the page ("You can install the Scratch 2.0 editor....") is aligned left and wrapped to an unnecessarily narrow column width.

Note that this problem existed on the old page, but IMO stands out more on the new version of the page.

Screenshot:
![image](https://user-images.githubusercontent.com/7019101/27609210-04c9c48

[2017-06-27 21:13] jwzimmer opened #1382 ""Note for Mac users" component's text should be center-aligned"
The text starting with "Note for Mac users" on the /download page should be center-aligned, as on the /wedo page: https://scratch.mit.edu/wedo.

Staging, Mac OS El Capitan, Chrome.

Not a blocker. 👍

Wedo page:
<img width="1054" alt="screen shot 2017-06-27 at 5 12 12 pm" src="https://user-images.githubusercontent.com/1320456/27610326-dfbe7f9c-5b5b-11e7-8e07-981ff7d487d1.png">

Download page:
<img

[2017-06-28 01:05] #1350 closed

[2017-06-28 12:41] chrisgarrity commented on #1374
Fixed in https://github.com/LLK/scratch-www/pull/1380

[2017-06-28 12:41] chrisgarrity commented on #1373
Fixed in https://github.com/LLK/scratch-www/pull/1377

[2017-06-28 12:43] chrisgarrity commented on #1378
Fixed in https://github.com/LLK/scratch-www/pull/1377

[2017-06-28 12:46] #1378 closed

[2017-06-28 12:46] #1373 closed

[2017-06-28 12:47] #1374 closed

[2017-06-28 14:20] jwzimmer commented on #1052
I'm seeing this on the new Tips page on **Fruit Salad iPad, Version 7.1.2, Safari**.

![img_7820](https://user-images.githubusercontent.com/1320456/27641935-5643b97c-5beb-11e7-8fb9-f6a78512b2e3.JPG)

[2017-06-28 15:04] jwzimmer opened #1384 "Mis-aligned components at small widths in IE11, Win 8.1 VM - Tips Page"
At small widths, the desktop version of the new Tips page has mis-placed components in IE 11, Win 8.1 VM (qa machine), Staging. The text that should be above the tutorial tiles is next to them, and the components after the tiles are not aligned with the tiles.

![img_7824](https://user-images.githubusercontent.com/1320456/27644342-449c0e76-5bf1-11e7-969e-6d05b5c1d974.JPG)
![img_7825](https://user-

[2017-06-28 17:24] jwzimmer opened #1385 "Automated smoke-test for My Stuff & Signing In"
- Test My Stuff
  - Page structure
  - Project link
  - See Inside button
  - Add to studio button
- Test signing in in scratchr2
- Test signing in in scratch-www

[2017-06-28 18:55] jwzimmer opened #1386 "`/help?` should redirect to `/tips`"
Generally we redirect `/name?` to `/name`. Since `/help` now redirects to `/tips`, `/help?` should also go to `/tips`. Currently `/help?` loads a blank page on Staging, but the user should end up on the Tips Page.

From https://github.com/LLK/scratch-www/pull/1357#issuecomment-311389191. (Not a blocker.)

[2017-06-28 18:58] jwzimmer opened #1387 "`/info` should redirect to `/tips`"
`/info` should redirect to `/tips`, since `/help` now redirects to `/tips`, and `/info` currently redirects to `/help`, loading the old Help template, which we will soon be removing.

From testing https://github.com/LLK/scratch-www/pull/1357#issuecomment-311389191.

[2017-06-28 19:00] jwzimmer opened #1388 "Change text on FAQ from "help page" to "tips page""
On the FAQ page, we refer to it as the "help" page, so we should call it the "tips" page now. Since we're replacing the Help page with the Tips page. Note the link redirects to the Tips page.

**FAQ page where we refer to "help"**
<img width="590" alt="screen shot 2017-06-28 at 12 41 58 pm" src="https://user-images.githubusercontent.com/1320456/27649299-549d78ce-5bff-11e7-9be6-9c5a272670d9.png">

[2017-06-28 20:46] TheGrits commented on #1388
@rschamp I'll tackle this one!

[2017-06-29 13:37] chrisgarrity commented on #1387
Fixed in https://github.com/LLK/scratch-www/pull/1390

[2017-06-29 13:37] #1387 closed

[2017-06-29 13:49] TheGrits commented on #1381
@cwillisf

This was purposefully done to match the design of other newly migrated pages, such as the [Educators](https://scratch.mit.edu/educators/) and [Developers](https://scratch.mit.edu/developers) pages.

Another option could be to implement the plainer design used by the info pages, such as the [FAQ page](https://scratch.mit.edu/info/faq).

[2017-06-29 13:58] mewtaylor commented on #1388
Fixed in #1389

[2017-06-29 13:58] #1388 closed

[2017-06-29 13:59] TheGrits commented on #1382
I'll fix this one right now!

[2017-06-29 14:08] TheGrits commented on #1382
@mewtaylor If I'm reading the code correctly, you moved the blue box in question up into the title banner thus making this issue out of date?

[2017-06-29 14:09] rschamp commented on #1386
This will be fixed after we migrate the rest of /info to www.

[2017-06-29 14:09] #1386 closed

[2017-06-29 14:10] TheGrits commented on #1364
@mewtaylor This issue should be closed, right? (Just checking in case Github missed the "fixes" keyword in the PR)

[2017-06-29 14:18] jwzimmer commented on #1381
The Educators & Download pages seem to behave differently at smaller widths, and there seems to be padding to the left of the Scratch logo in the navbar that isn't present to the left of the text at the top of the Download page.

<img width="590" alt="screen shot 2017-06-29 at 10 17 35 am" src="https://user-images.githubusercontent.com/1320456/27692302-5a1e4c0a-5cb4-11e7-870a-0deb3a1fc12a.png">
<i

[2017-06-29 14:26] jwzimmer commented on #1372
Is this the same as https://github.com/LLK/scratch-www/issues/998?

[2017-06-29 14:26] TheGrits commented on #1381
@jwzimmer Thank you, I understand the issue much more clearly now!

I don't have time to fix it at present, but may try to fix it at a later point.

Hey @St19Galla maybe you would be interested in tackling this `help-wanted` issue?

[2017-06-29 14:27] rschamp commented on #1372
Tracking in #998

[2017-06-29 14:27] #1372 closed

[2017-06-29 14:31] #1364 closed

[2017-06-29 14:32] mewtaylor commented on #1382
@TheGrits it's actually the other way around – I moved the second paragraph from the title banner down into the blue box, which is left-aligned (in desktop only). It was in this PR: https://github.com/LLK/scratch-www/pull/1365, for reference.

[2017-06-29 14:40] mewtaylor commented on #1381
@jwzimmer I feel like I'm seeing that padding misalignment on both pages, including Download – it looks like the logo is not being spaced out all the way to the edge of the box in all cases on that size of a screen.

As for the text on the download page taking up 100% – @carljbowman I think in our typography/global stylings we have text take up 100% on mobile. Should we consider standardizing a ma

[2017-06-29 14:41] mewtaylor commented on #1364
@TheGrits yerp! Thanks!

[2017-06-29 15:41] jwzimmer commented on #1375
Since we're reorganizing the mobile devices imminently, it would be good to cross reference the updated device spreadsheet with our support/ compatibility matrices & our usage stats to see what devices we need (and maybe even if we can get rid of any...?)

[2017-06-29 17:24] jwzimmer commented on #1375
Make sure we update other pages that reference support requirements: FAQ, offline editor.

[2017-06-29 19:44] liam4 commented on #1375
Out of curiosity's sake, what's the "scratch-ops" repository? I'd have to guess it has something to do with this topic (you know, system support and compatibility, and such) but that's not entirely clear.

[2017-06-29 19:48] colbygk commented on #1375
The `scratch-ops`repo  is short for `scratch-operations` and is focused on the general issues related to making sure the backend systems are working, updates and planned changes.  It is not about what operating systems are supported and what software is considered compatible on the front-end.

[2017-06-29 19:51] jwzimmer commented on #1375
@liam4 scratch-ops is the repo where we track things that have to do with keeping the site up & running as smoothly as we can. I put some things about compatibility/ support there since I didn't think they really made sense in the other repos (it's sort of a "meta" question whereas e.g. scratch-flash has to do with the editor & scratch-www has to do with the website pages, and support/ compatibili

[2017-07-05 08:17] OOOOOldZhu opened #1393 "i think this repository need to suport chinese launguage and other launguage . thx"
i think this repository need to suport chinese launguage and other launguage . thx

[2017-07-05 15:44] chrisgarrity opened #1396 "Tips subtitle is missing closing </a> tag"

[2017-07-05 15:58] jwzimmer opened #1397 "Update translations info on /credits page"
**TL;DR:** At https://scratch.mit.edu/info/credits, we list Pootle under "Scratch would not be possible without free and open source software, including:" and don't mention Transifex. We should at least remove Pootle, and possibly add Transifex somewhere on the page, if appropriate (Transifex is not free).

/cc @kaschm, @chrisgarrity, @mewtaylor

<img width="969" alt="screen shot 2017-07-05 at 11

[2017-07-05 18:58] liam4 opened #1399 "Misplaced periods in text content of Download page?"
This whole paragraph has a couple of things to note. First:

The period before "(released" doesn't look right here. Arguably it could be from the number before it, literally written 14., but we don't call Scratch 2 "Scratch 2.".

I'm thinking it just shouldn't be there at all? That would also make the lowercase R in "released" look correct:

Also, another quick thing:

The period is inside of the

[2017-07-05 19:51] mewtaylor commented on #1399
Thanks @liam4 for catching this! And if you feel like attempting to fix this, lemme know!

[2017-07-06 00:37] TheGrits commented on #1397
I'm willing to make the changes when this gets the go-ahead!

[2017-07-06 10:55] carlflor opened #1400 "Load More Button Behavior in Search Page"
Some search scenarios might be better have the `Load More` button hidden.

**1. No results were found**

<img width="967" alt="screen shot 2017-07-06 at 6 45 33 pm" src="https://user-images.githubusercontent.com/4861092/27907920-1a66c6aa-627c-11e7-8b5f-fb9a8069770a.png">

Would it be better if there's a copy that says no match was found (or something similar) instead of still showing 'load more'?

[2017-07-06 14:09] carljbowman commented on #1397
Add 'Transifex' to organizations that donate their services.
Remove 'Pootle'

[2017-07-06 14:12] carljbowman commented on #1393
The Scratch website supports Mandarin Chinese. You can change your language at the bottom of each page.

[2017-07-06 14:12] #1393 closed

[2017-07-06 15:29] mewtaylor commented on #1400
@carlflor thanks for logging this! We may not have time to get to it immediately ourselves, so definitely feel free to create a PR if you have the time and would like to. I'm happy to answer any questions you have along the way if you decide to do so!

[2017-07-07 01:58] carlflor commented on #1400
okay, this is something I could take on :)

[2017-07-07 12:28] mewtaylor commented on #1400
Awesome thanks so much!

[2017-07-07 22:55] thisandagain opened #1404 "Jobs - Add "Junior Designer" position to jobs page"
- Title: "Junior Designer"
- Link: https://www.media.mit.edu/about/job-opportunities/junior-web-designer-scratch/

[2017-07-07 23:32] TheGrits commented on #1404
I'll tackle this one!

[2017-07-07 23:37] TheGrits commented on #1404
@thisandagain On the position page the title is 'Junior **Web** Developer', can you confirm that it should be 'Junior Developer' on Scratch's page? (Should be confirmed before #1405 is merged)

[2017-07-07 23:41] TheGrits commented on #1399
@liam4 are you planning on tackling this one or may I?

[2017-07-07 23:42] thisandagain commented on #1404
@TheGrits Thanks! The title should be "Junior Designer" not "Junior Web Designer" or "Junior Developer".

[2017-07-07 23:43] #1404 closed

[2017-07-07 23:45] #1397 closed

[2017-07-08 00:10] TheGrits commented on #1404
lol whoops I even made a mistake in my clarification!

[2017-07-10 19:20] liam4 commented on #1399
Ah, you can take this, @TheGrits; I was having my own problems with getting this building properly when I took a look at it last week, and my main computer isn't working properly right now! Thanks.

[2017-07-11 02:22] christan1029 commented on #1396
Looks like this has been fixed?

[2017-07-11 05:31] Jonathan50 opened #1408 "[FAQ] Scratch 2.0 works on Firefox/GNU/Linux"
Here on this page: https://scratch.mit.edu/info/faq, the website says

This is incorrect, because Scratch 2.0 works fine on Firefox for Linux. :/

I am using Google Chrome on Mac, but presumably the same thing is always said on every browser.
The page is here https://scratch.mit.edu/info/faq

You do have to install Flash, but you'd have to install Flash when using Firefox for Windows or Mac anyway

[2017-07-11 13:19] jwzimmer commented on #1408
Hi @Jonathan50, thanks for pointing this out. On our FAQ, we're not trying to list every browser/ OS that Scratch can work on - we're listing those which our team is most likely to commit resources to supporting. So, if a bug is reported that involves the requirements we list on the FAQ, we're more likely to decide to fix that bug than if a bug is reported on any other system. That being said, we

[2017-07-11 13:19] #1408 closed

[2017-07-11 13:22] #1396 closed

[2017-07-12 17:16] ntlrsk opened #1410 "Change link for "Purchase Printed Cards" on Tips page"
Please change the link for the button "Purchase Printed Cards" on the new (awesome!) Tips page.

The new link will be this link on the Scratch store:
https://scratch-foundation.myshopify.com/collections/all-products/products/scratch-coding-cards-creative-coding-activities-for-kids

![image](https://user-images.githubusercontent.com/4721032/28130187-185046b6-6704-11e7-95dc-2dc6b46f449d.png)

[2017-07-13 13:48] #1399 closed

[2017-07-13 14:38] #1382 closed

[2017-07-14 00:57] ntlrsk opened #1417 "Shortcuts to Cards and Guides PDFs no longer working"
These shortcuts to the PDFs are now giving a 403 error. We link to them on the Scratch Educator Guides and some other places:
scratch.mit.edu/name/cards
scratch.mit.edu/name/guide

(Same for fly, pong, etc.) Can these shortcuts be updated to work with the new PDF serving system? This is important for the CIS STEAM camp in late July (and for anyone else using the Educator guides).

![image](https:/

[2017-07-14 03:55] TheGrits commented on #1417
Related to #1182

[2017-07-14 15:16] ntlrsk commented on #1417
I talked with @chrisgarrity and we're wondering how to open the PDF in the correct language. For now they could call go to the main Cards page scratch.mit.edu/info/cards (and then they can see which set they want).

[2017-07-16 07:56] christan1029 commented on #1280
How about keeping the terms of the schooling, but also including the age ranges in parentheses?

Something like this-

![image](https://user-images.githubusercontent.com/29719007/28245693-c0691c82-69da-11e7-8241-056d49622e79.png)

[2017-07-17 13:33] chrisgarrity commented on #1417
@mewtaylor I'm assuming that there's no way for the redirect to detect the locale and redirect to a localized PDF. It would have to know which files have been localized etc. Going to the cards page would work for the cards, but not guides.

@ntlrsk the current redirect doesn't figure out language, so perhaps we should just redirect to the english pdfs. It would be consistent with what it does now,

[2017-07-17 18:30] ntlrsk commented on #1417
I think it would be good for the cards to redirect to the cards page so they can choose them in their language. For the guides it could go to English since for now we don't have them translated.

[2017-07-17 18:34] chrisgarrity commented on #1417
Moved to LLK/scratchr2#4723

[2017-07-17 18:34] #1417 closed

[2017-07-17 18:58] mewtaylor opened #1419 "Design url shortcut generation system for resources"
As we move over to www, we'll need to figure out a way to handle generation of shortcut urls, especially to resources such as guides and cards. Additionally, it would be great to have a shortcut generation system that will allow for localization as well.

[2017-07-17 19:20] jwzimmer commented on #1375
### Drafts for page options (WIP)

1. Simplest version of [page](https://docs.google.com/a/media.mit.edu/document/d/1ASpp9J6iJjwWOHyJFyZEAggE38ewgcDJSxyKLsyjifw/edit?usp=sharing), just includes chart for what OS & versions Scratch 2.0 Online supports.

[2017-07-18 12:51] chrisgarrity commented on #1362
Fixed in https://github.com/LLK/scratch-www/pull/1418

[2017-07-18 13:18] #1362 closed

[2017-07-18 20:40] jwzimmer opened #1420 "Refactor smoke-testing helper functions to separate location"
Currently they're included multiple places. We should only have them in one place and then call them repeatedly. : )

[2017-07-19 13:27] jwzimmer commented on #1375
### Team Feedback

I asked the team for feedback, especially re the extension charts on [page A](https://docs.google.com/a/media.mit.edu/document/d/17YCc_8NVCCxsByfl3hewMNFOmvtEBV7EUjcJjtKQAKc/edit?usp=sharing), [page B](https://docs.google.com/a/media.mit.edu/document/d/1LBRMCTTo3e4wtYx0elyi3fO8R9Bh0CZm4iPI6FJHG0g/edit?usp=sharing), and [page C](https://docs.google.com/a/media.mit.edu/document/d/

[2017-07-19 16:58] #1371 closed

[2017-07-19 16:58] #1385 closed

[2017-07-19 17:52] jwzimmer commented on #1375
### Organizing browser under OS in extensions chart
- Version of the [page (A)](https://docs.google.com/a/media.mit.edu/document/d/1_QTLpwM2TdoMn-VYS2VNVwn3OQLRzg46J6xi0oobj30/edit?usp=sharing) including as many OS's as possible with the browser-under-OS chart (if I include all the OS's and all the browsers, the chart gets very large)
  - Including all the OS's in the offline & online charts
- Ver

[2017-07-19 19:15] jwzimmer commented on #1375
### Feedback from team, part 2

- @christanbalch prefers page (B) from previous comment
  - Excluding unsupported OS's and browsers felt more readable

[2017-07-20 11:40] #1410 closed

[2017-07-20 21:02] jwzimmer opened #1425 ""Particpate" typo on Scratch Camp"
Re https://github.com/LLK/scratch-www/pull/1409

The page says "How to Particpate:" instead of "How to Participate:"

/cc @St19Galla

[2017-07-21 15:59] jwzimmer opened #1428 "Automated tests - flesh out my stuff & signing in tests"
### My Stuff
Add tests for:
- A signed in user should be able to add a new project from My Stuff
  - Add a new studio
- A signed out user should not see someone else's My Stuff
- A signed in user should not be able to access another user's My Stuff? (not sure if this one makes sense)

### Signing in
Add tests for:
- Wrong username should not sign you in
- Wrong password should not sign you in
- Us

[2017-07-21 16:01] jwzimmer opened #1429 "Automated test for Galleries/ Studios"
### Galleries/ Studios
Add tests for:
- A user should be able to create a new studio
- Projects should be able to be added to the studio (if permissions are present)

[2017-07-21 23:20] liam4 commented on #1428
Isn't this true for signed in users?

I'd imagine a signed out user would not be able to see *any* My Stuff page.

[2017-07-22 19:45] thisandagain opened #1431 "Localization - Document list of words to not be translated"
Having clarity around which words should not be translated came up during a translation discussion at the Scratch Conference in Bordeaux. Currently we have a great deal of inconsistency across languages / locales (e.g. some translate the word "Scratch" others keep "Scratch" but translate the word "Day" in "Scratch Day", etc). Here are some of the questions / suggestions that came out of the sessio

[2017-07-23 01:25] liam4 commented on #1431
It might also be worth discussing "New Scratcher".

[2017-07-24 13:41] mewtaylor commented on #1361
Concepts for the page from @carljbowman (thanksssssss :) )
![messages concept stuff](https://user-images.githubusercontent.com/1815772/28526035-3b50a648-7054-11e7-896e-57233ff1880b.png)
![messages concept stuff cols](https://user-images.githubusercontent.com/1815772/28526037-3d92d994-7054-11e7-958f-6d221082c419.png)
![messages concept mobile](https://user-images.githubusercontent.com/1815772/28526

[2017-07-24 13:42] jwzimmer commented on #1428
@liam4 Yes, you're right (if you're signed out, any My Stuff page is someone else's My Stuff page). 👍

[2017-07-24 14:27] TheGrits commented on #1361
WHOAAA NOW

[2017-07-24 18:20] St19Galla commented on #1361
This is crazy amazing!!!! :D

[2017-07-25 02:02] St19Galla commented on #1361
This is crazy amazing!!!! :D

One thing I would suggest is to change the name of the `Alerts` section. The term 'alert' in the Scratch Community generally has the negative connotation of the Moderator alerts, but judging by the looks of this, other things can classify as alerts as well. Perhaps it should be changed to
`Messages from the Scratch Team` ?

[2017-07-25 13:27] carljbowman commented on #1361
@St19Galla - Ooo. That's a great idea. 'Alerts' does feel negative, we def should consider changing the language here.

[2017-07-25 13:59] chrisgarrity commented on #1431
Currently we tell people never to translate Scratch or ScratchJr. Historically, some languages (that don't use latin characters) translated Scratch, but I think we should probably revisit whether that was the correct choice. @ntlrsk I think you know the story behind translating Scratch in China.

For Scratch Day in 2016 we told people that Scratch must not be translated, but it would be ok to tran

[2017-07-25 14:22] mewtaylor commented on #1361
FWIW I do like `Messages from the Scratch Team`! @christanbalch @seotts @dietbacon looping y'all in for comment from the community perspective, thoughts?

[2017-07-25 14:27] seotts commented on #1361
@mewtaylor I like "Messages from the Scratch Team" a lot. In addition to sounding less harsh than "Alerts," it clarifies that it is coming from the ST instead of another Scratcher, which is a misinterpretation I often see.

[2017-07-25 14:31] christanbalch commented on #1361
Agreed with @seotts. I'll bring it up in Community Meeting today in case others have opinions as well and get back to you.

[2017-07-25 15:01] dietbacon commented on #1361
I like it too!  The only concern about it I have is how well a text string that long would work for mobile devices.

[2017-07-25 15:07] carljbowman commented on #1361
@dietbacon - We shouldn't be too concerned with the length of strings. We will come up with a design to fit the language that the team feels best describes these messages.

[2017-07-25 15:33] jwzimmer commented on #1375
### Updated to include extensions + offline editor info

[Version including more OS's](https://docs.google.com/document/d/157W0KRBabtY4JIe5yH0qfbd_G7OP25An5KHDWHrqg-I/edit)
[
Version including minimum OS's](https://docs.google.com/document/d/1eEP0-gkghQqfRKtF-fWYnTLAKZT_PGcIYbjXWLiWv6s/edit)

[2017-07-25 19:38] christanbalch commented on #1361
Got the 'all clear' from the other folks on the Community Team 👍

[2017-07-25 19:42] christanbalch opened #1432 "Addition to Credits Page"
Add "JT Galla" to the [credits page](https://scratch.mit.edu/info/credits) under the "Acknowledgements" section.

[2017-07-25 19:56] LiFaytheGoblin commented on #1431
@liam4 : "New" can be a very different word in another language, and in German for example, the translation "Neuer Scratcher" is very common. One wouldn't say "New Scratcher"...

Also suggestion:
Scratch Wiki

[2017-07-25 20:15] LiFaytheGoblin opened #1433 "Credits Page: Link to Gunicorn not working"
At the very bottom, when clicking on "Gunicorn" the link is broken. This appears in different languages (tested in English and German). I use Firefox but I really don't think this is a browser issue...

[2017-07-25 20:25] LiFaytheGoblin opened #1435 "Credits Page: Reduce work for translators"
On the credits page, I see huge parts of the text that doesn't need to be translated: Many, many names! However, it still needs to be "translated" via transifex for any changes to be visible!
So - isn't it possible to store all the names (as far as possible) seperately and to just translate the normal text?
Updates would be visible more quickly, and it saves translators redundant copy-pasting!

[2017-07-25 22:00] thisandagain commented on #1361
Thanks folks. After talking about this in the community meeting I think we agreed that the following changes would make sense:

- [ ] Change the language from "Alerts" to "Messages from the Scratch Team"
- [ ] Change the icon from the "yield" icon to something more friendly / playful

Other than that I think we are all excited about these new design changes! 😄

[2017-07-26 00:37] TheGrits commented on #1433
Nope, this is definitely a bug. I can fix this one in two minutes flat.

[2017-07-26 15:37] jwzimmer opened #1437 "Text not bold on Windows 7 VM - Download page"
`/download` page, Staging, Chrome

On Chrome + Mac, the text below includes two bolded sections, "Note for Mac Users:" and "here". However, in Chrome + Windows 7 VM, the text is not bolded.

The text should be:

<img width="1132" alt="screen shot 2017-07-26 at 11 22 52 am" src="https://user-images.githubusercontent.com/1320456/28629853-9557e7de-71f6-11e7-8454-fc157582d352.png">

[2017-07-26 16:02] TheGrits commented on #1437
@jwzimmer Appears to have been already in production:
![screenshot 2017-07-26 at 12 02 38](https://user-images.githubusercontent.com/12952370/28631180-5a9196fa-71fa-11e7-96b7-e64ee5737f38.png)

[2017-07-26 16:41] jwzimmer commented on #1437
@TheGrits Yeah, that is not surprising, thanks for checking. : ) This is not a high priority, just a little thing I noticed it might be nice to fix when there's time. 👍

[2017-07-26 18:30] TheGrits commented on #1437
That's strange, both the .jsx and the l10n.json files look perfectly fine:
- https://github.com/LLK/scratch-www/blob/develop/src/views/download/download.jsx#L91
- https://github.com/LLK/scratch-www/blob/develop/src/views/download/l10n.json#L4

[2017-07-26 18:46] thisandagain opened #1438 "Edits to the Community Guidelines"
Currently the [Community Guidelines](https://scratch.mit.edu/community_guidelines/) state: "Scratch welcomes people of all ages, races, ethnicities, religions, sexual orientations, and gender identities."

We would like this to be changed to "Scratch welcomes people of all ages, races, ethnicities, religions, abilities, sexual orientations, and gender identities."

---
Moved from LLK/scratchr2#473

[2017-07-26 18:47] TheGrits commented on #1438
@thisandagain I can take this one!

[2017-07-27 14:36] chrisgarrity opened #1442 "Remove Community Moderator Job listing"
https://scratch.mit.edu/jobs/moderator needs to come down as the position has been filled.

---
Moved from LLK/scratchr2#4729
/cc @dietbacon

[2017-07-27 14:40] #1425 closed

[2017-07-27 15:29] St19Galla commented on #1442
I can take this!

[2017-07-28 00:14] ntlrsk opened #1444 "Update Educator page to reflect new Tips page"
It would be good to update the Educator page to refer to the Tips page.

1) Changing wording from "Things to Try" --> "Tips".
2) Changing link from https://scratch.mit.edu/go -->  https://scratch.mit.edu/tips
3) Changing icon if possible: It would also be helpful to have a different icon for that page
@carljbowman could a simplified version of the awesome cards icon from the Tips page work?

Here

[2017-07-28 05:10] Kenny2github opened #1445 "What's Happening? box on homepage does not obey language selection"
### Expected behavior
The language in the "What's Happening?" box should match my selection (Edible Scratch)
### Actual behavior
Things like like "was promoted to manager of" or "shared the project" are in Chinese because of location setting, and don't obey my language selection:
![image](https://user-images.githubusercontent.com/28599280/28703245-5e79557c-7395-11e7-8e59-b3dc0b43ee1b.png)

Before

[2017-07-28 05:16] Kenny2github commented on #978
Will this ever be fixed?

[2017-07-28 12:29] chrisgarrity commented on #978
@Kenny2github the Hour of Code versions of these activities have been replaced by the ones on the  Tips page (https://scratch.mit.edu/tips). If you go to that page with your language set to zh_TW, you'll see the traditional Chinese versions of the activity cards. I guess we just forgot to close this issue.

[2017-07-28 12:29] #978 closed

[2017-07-28 13:42] TheGrits commented on #1445
Caching issue maybe?

[2017-07-28 13:44] Kenny2github commented on #1445
@TheGrits nope - I've cleared my cache trying to fix this several times in the past.

[2017-07-28 13:48] TheGrits commented on #1445
@Kenny2github Thanks, that's relevant information to know when trying to repo.

[2017-07-28 13:49] Kenny2github commented on #1445
@TheGrits np - changing the OP

[2017-07-28 16:38] mewtaylor commented on #1445
Thanks @Kenny2github – we'll try to repro and see what we can find!

[2017-07-28 18:04] jwzimmer commented on #1445
When I set my language to Italian (which I think is 100% translated), the strings are still in English:
<img width="1280" alt="screen shot 2017-07-28 at 1 23 00 pm" src="https://user-images.githubusercontent.com/1320456/28730316-ae04da14-739d-11e7-98f6-24bd2b3456b1.png">

[2017-07-28 19:35] #1438 closed

[2017-07-31 15:15] carljbowman commented on #1444
@St19Galla - Thanks for making those changes. Here is a new illustration: [cards.svg.zip](https://github.com/LLK/scratch-www/files/1187977/cards.svg.zip)

_Mock does not reflect the text changes, only the illustration_
![quick-mock](https://user-images.githubusercontent.com/3409578/28784435-6bf561c0-75e1-11e7-9b41-6de0107bbb40.png)

[2017-07-31 19:15] #1432 closed

[2017-07-31 19:33] ChampikaF opened #1449 "Create a new page for "Press""
Currently footer link to "Press" points to the Wiki:

https://wiki.scratch.mit.edu/wiki/Scratch_Press

We need to create

http://scratch.mit.edu/press

Content will come from https://www.scratchfoundation.org/media/ and the wiki above

[2017-08-01 18:59] chrisgarrity commented on #1435
We agree! As much as possible we should replace lists of names that contain 'and' with just a comma separated list of names that doesn't need to be translated. We'll need to reword some of the text to accommodate that.

Suggested re-wording....

**Previous Scratch Team Members**

Many important contributions have been made by previous Scratch Team members, including John Maloney (who led software

[2017-08-01 19:16] chrisgarrity opened #1450 "Scratch Team updates for Credits page"
Comings and goings:

- [ ] Move Kasia Chmielinski and Saskia Leggett to previous team members
- [ ] Add Champika Fernando to current Scratch Team members and remove from previous
- [ ] Remove Di Liu from previous team member (already in current Scratch Team)

Note: Do not deploy before Aug 7.

[2017-08-02 00:40] TheGrits commented on #1450
I can take this one, do you want me to make the PR on August 7 or should I add a note on the PR to not merge till August 7th?

[2017-08-02 12:31] #1433 closed

[2017-08-02 12:42] carljbowman commented on #1444
@chrisgarrity - I am going assign you this issue as you are reviewing the associated PR.

[2017-08-02 14:17] mewtaylor opened #1452 "Update react-intl to latest version"

[2017-08-03 22:07] chrisgarrity opened #1453 "Find a better way to recognize volunteer translators"
Currently on the credits page we link to a list of translators on the Scratch wiki. It has to be manually edited, and has not been updated in some time. Keeping it current is a problem.

It would be nice to have a way to automatically pull translators from Transifex. Transifex doesn't have view that we can link to on their site. It would be possible to use their API to generate our own. We should

[2017-08-04 15:05] Kenny2github commented on #1445
@mewtaylor I think this doesn’t need any more repros?

[2017-08-04 17:46] chrisgarrity opened #1454 "'has invited you to join the class:' is not translatable in some languages"
registration.classroomInviteNewStudentStepDescription (in general) is a sentence fragment. In languages where the subject doesn't come before the text, this becomes very difficult to translate.

Now that the www strings have been split from the legacy .po file, we could add a placeholder to the string:
`'{teacherId}<br/> has invited you to join the class'`

But if `{teacherId}` ends up in the midd

[2017-08-08 19:24] chrisgarrity commented on #1454
Here are some suggestions from translators for a couple of the languages that would put the verb first:

From  kscanne

From GunChleoc

The full discussion is in the comments on [the string in Transifex](https://www.transifex.com/llk/scratch-website/translate/#gd/general-l10njson/102347925).

[2017-08-08 23:00] WorldLanguages opened #1455 "Language change in Explore not applied to all pages"
**Steps to reproduce:**

I'll consider you're using English as your Scratch language.

1. Go to the Explore page
2. Scroll into the footer and change the language to any other (French, for example)

**Result:**
All pages except Explore will be in English. Explore will be in French.

[2017-08-09 09:31] gunchleoc commented on #1454
Mockup for another design idea:

<img width="537" alt="scratch invitation" src="https://user-images.githubusercontent.com/4095570/29114969-c85fd5cc-7ced-11e7-8c78-3b625f753fbf.png">

[2017-08-09 12:08] thisandagain commented on #1455
@mewtaylor do you mind taking a look at this?

/cc @chrisgarrity @rschamp

[2017-08-09 12:28] #1444 closed

[2017-08-09 12:36] #1450 closed

[2017-08-09 14:34] mewtaylor commented on #1455
Hmm this one's odd – somehow, even though the footer mechanism is the same, the language cookie, when set on explore, is only getting applied to the explore url, and not to the general default path `/`. But there's nothing I can see just yet to suggest why that's happening...

[2017-08-10 11:51] Kenny2github opened #1456 "Comments can’t handle unsupported characters"
It seems like unsupported characters like emoji aren’t handled well:
![bug](http://i.cubeupload.com/BQYUUD.jpg)
My take on the logic here is:
1. It checks if it’s an empty comment
2. It removes unsupported characters
3. It realizes that it’s empty now and freaks out and also does weird stuff

Originally reported in https://scratch.mit.edu/discuss/post/2771368/ (deathly hallows is my alt)

[2017-08-10 12:10] thisandagain commented on #1456
We'll handle this during the redesign of comments next year.

[2017-08-10 14:11] thisandagain commented on #1454
How about leaving the design as is and simply changing the string to, "Your teacher has invited you to join a class".

[2017-08-10 14:50] gunchleoc commented on #1454
This might work for this particular string, but we have tons of those on the activity stream that need flexible position for both subject and object. "**X** likes your **Y**" comes to mind here, which is "Is toigh le **X** a' **Y** agad" in my language.

[2017-08-10 17:00] ntlrsk opened #1457 "on Tips page Getting Started PDF link is not linking to translated file"
Leo noticed that the link from https://scratch.mit.edu/tips to the Getting Started PDFs is pointing to the English version of the files.

For example for Portuguese Brazilian PDF is in the folder   pdfs->help->pt-br, the link from https://scratch.mit.edu/tips is to the English directory. Same for French.

[2017-08-10 17:01] thisandagain commented on #1457
@chrisgarrity would you have a moment to look at this bug? If not, please move to the next iteration.

[2017-08-10 20:46] jwzimmer opened #1459 "Refactor older smoke tests to match style of newer smoke tests"
Refactor:
- test_footer_links.js
- test_navbar_links.js
- test_project_rows.js

Should match:
- test_signing_in_and_my_stuff.js
- test_signing_in_homepage.js

The tests should not have minimal nested `then`'s and should make use of the helper functions in helpers/selenium-helpers.js.

In documentation for the automated tests, we should note that selenium's promise manager will be deprecated and sh

[2017-08-10 20:59] chrisgarrity commented on #1457
@ntlrsk All of the guides need to be moved to the resources repo.

[2017-08-10 21:39] WorldLanguages opened #1460 "'scratchlanguage' cookie domain set to 'scratch.mit.edu' only"
The `scratchlanguage `cookie domain is `scratch.mit.edu` and not `.scratch.mit.edu` (with a dot).

Because of that, Scratch subdomains like `api.scratch.mit.edu` use the language based in user's location, and not the one chosen by the user in the footer.

For example, the What's Happening box gets the information from the API, so it's displayed in a different language:
![image](https://user-images

[2017-08-11 00:47] thisandagain commented on #1460
The API receives the language as a query parameter rather than reading a user's cookie (this is to help with caching). For example, see how `/explore` is rendered via:
[code]

Issues with the "What's Happening" box are tangential to how the cookie is stored and shared across domains.

[2017-08-11 00:47] #1460 closed

[2017-08-11 20:13] #1420 closed

[2017-08-12 01:12] xmagicbox opened #1461 ""Cannot GET /projects/editor/?tip_bar=home" How to Fix? thx"
i git clone it,and install,start on google cloud, all port had opened on google cloud,it work on homepage,but click create,it's show me "Cannot GET /projects/editor/?tip_bar=home",who can tell me why and how to fix it, thanks very much!

[2017-08-12 12:09] thisandagain commented on #1461
The project page and editor have not yet been ported over to the `scratch-www` repo. We will do this next year.

[2017-08-12 12:09] #1461 closed

[2017-08-12 12:25] xmagicbox commented on #1461
does the early versions ported over the editor to the scratch-www？ths

[2017-08-12 12:37] thisandagain commented on #1461
Hi @xmagicbox unfortunately I'm not sure I understand your question. Could you clarify?

[2017-08-12 13:15] xmagicbox commented on #1461
does the early version of scratch-www ported over the editor？

[2017-08-12 22:05] TheGrits commented on #1461
@xmagicbox No, the editor hasn't been previously ported over.

[2017-08-14 15:11] #1457 closed

[2017-08-14 22:31] Kenny2github opened #1462 "Clicking a linked image in a preview makes the preview navigate to the url instead of the browser"
Originally reported in: https://scratch.mit.edu/discuss/topic/273051/
### Expected behavior
Clicking a linked image in a post preview should make the browser go to the url
### Actual behavior
Clicking a linked image in a post preview makes the *preview* go to the url - it loads up the full webpage inside the preview box.
### Steps to reproduce
1. Go to the new post box
2. Use `[url=(an url, any ur

[2017-08-14 22:45] Kenny2github commented on #1016
Yeah, the robots.txt file seems to not be in this repo - it’s probably in the backend one. I’d help if I could, but...

[2017-08-15 14:43] jwzimmer commented on #1429
This should be in a separate file from the signing in/ my stuff tests.

[2017-08-15 14:46] jwzimmer opened #1463 "Automated tests for signing out (old, new navbar) and permissions"
I started to add the following tests as part of https://github.com/LLK/scratch-www/issues/1428, but I decided it might make more sense to separate out that functionality into new files.

[code]

[2017-08-15 14:50] jwzimmer commented on #1428
I added new tests to the test suite but not exactly the set of tests described initially. I decided organizing the tests differently might make more sense.

I added:
- Trying to sign in with no username using scratchr2 navbar
- Trying to sign in with no password using scratchr2 navbar
- Trying to sign in with the wrong username using scratchr2 navbar
- Trying to sign in with the wrong password usi

[2017-08-16 11:55] christanbalch opened #1465 "Add Mod To Credits Page"
We would like to add the following to the [Credits](https://scratch.mit.edu/info/credits/) page under the section that reads "The team of Scratch moderators manages, supports, and improves the Scratch online community":

Ellen Daoust - username [sunnyday4abluejay](https://scratch.mit.edu/users/sunnyday4abluejay/)

[2017-08-16 12:25] thisandagain commented on #1462
Moved to LLK/scratchr2#4763

[2017-08-16 12:25] #1462 closed

[2017-08-16 17:36] St19Galla commented on #1465
I can take this :)

[2017-08-16 17:48] chrisgarrity commented on #1457
Resources is updated (http://resources.scratch.mit.edu/localized-urls.json). Next time www is deployed it should get updated links. @ntlrsk is this worth a hotfix?

[2017-08-17 03:17] youngonlyforyou opened #1467 "how i can change the all the block 's language to other language ? Team should give many plan"
how i can change the all the block 's language to other language ? Team should give many plan

[2017-08-17 03:34] St19Galla commented on #1467
Hello @youngonlyforyou :) If you are asking how to change the language on the text of the Scratch Blocks, you click the little Globe icon in the top left corner of the editor, then select your language :) It looks like this:

<img width="100" alt="screen shot 2017-08-16 at 11 34 54 pm" src="https://user-images.githubusercontent.com/16446551/29394906-76a6af50-82db-11e7-8430-6ff6a54ba9d3.png">

[2017-08-17 06:31] #1467 closed

[2017-08-17 06:33] thisandagain commented on #1467
Could you please clarify your question?

[2017-08-17 19:16] jwzimmer opened #1468 "Changes to selenium helper functions to allow multiple files to run using different driver instances"
@paulkaplan noted that we might want to check out these changes made to the selenium helper functions in GUI in order to allow multiple files to run using different driver instances: https://github.com/LLK/scratch-gui/pull/625/files#diff-4de26c3d281fa6417a817c58793204ee. Thanks @paulkaplan!

[2017-08-21 07:00] Kenny2github opened #1469 "Migrate For Parents page to www"
Looking at the header of https://scratch.mit.edu/parents, I see that the For Parents page is still in scratchr2.
So I’m suggesting migrating it to this repo.
If it’s already being worked on, I guess I’m opening this issue to track the migration.
If there’s already an issue for it, that I didn’t see when searching, then oops 😬

[2017-08-21 12:18] thisandagain commented on #1469
Tracking in https://github.com/LLK/scratch-www/issues/1248

[2017-08-21 12:18] #1469 closed

[2017-08-21 12:20] #1465 closed

[2017-08-21 12:49] thisandagain opened #1470 "Firefox - Text overflow on credits page"
The contributor lists don't fit on the cretis page, because line breaks are being blocked.

![scratch-credits-string-overflow](https://user-images.githubusercontent.com/4095570/29519732-56b577c8-8676-11e7-9df2-01b1c50d8980.PNG)

My browser / operating system: Windows 7, Firefox 55.0, Flash 26.0 (release 0)

Posting this here so I won't have to bother with image hosting for the screenshot ;)

---
M

[2017-08-21 14:34] TheGrits commented on #1470
I'll take a shot at this one!

[2017-08-21 14:37] thisandagain commented on #1470
Thanks @TheGrits !

[2017-08-21 16:21] jwzimmer opened #1471 "Change text on About page; link text shouldn't be "Help""
Currently the link to the Tips page describes it as the "Scratch Help Page", which is outdated by the new Tips page:
<img width="388" alt="screen shot 2017-08-21 at 12 19 02 pm" src="https://user-images.githubusercontent.com/1320456/29528758-25b42058-866b-11e7-8ea6-50a61f4e4cf5.png">

[2017-08-21 17:08] Petroochio commented on #1195
It appears that those inputs aren't skipped, it is just that they aren't showing any style when focused. I can take a crack at this real quick.

[2017-08-21 17:12] TheGrits commented on #1471
What is the preferred text for the link? "Scratch Tips Page"?

[2017-08-21 17:14] jwzimmer commented on #1471
I think possibly just "Tips Page" (and maybe Scratch Credits --> Credits), I don't know why the "Scratch" part is there. @carljbowman?

[2017-08-21 18:51] Petroochio commented on #1195
@rschamp @thisandagain is this an issue across all radio buttons that should be fixed globally, or is it only an issue in the teacher registration?

[2017-08-21 19:02] thisandagain commented on #1195
@Petroochio This particular issue is specific to the Teacher Registration flow.

[2017-08-21 19:28] jwzimmer opened #1472 "Typo on FAQ page "For more more questions about Teacher Accounts...""
Remove the extra "more" in "For more more questions about Teacher Accounts, see the Teacher Account FAQ" at the bottom of the FAQ page (https://scratch.mit.edu/info/faq).

[2017-08-21 19:30] jwzimmer opened #1473 "Change which word is linked to for the Scratch 2.0 Offline Editor - currently "website""
I think we might want to change which word is linked to for the Scratch 2.0 Offline Editor on the FAQ (https://scratch.mit.edu/info/faq). Currently it's "website" which I think is a little unexpected for the 2.0 Offline Editor downloads page.

The part that says "download Scratch 2" might make more sense to be the linked text.

<img width="617" alt="screen shot 2017-08-21 at 2 37 03 pm" src="https

[2017-08-21 19:46] jwzimmer opened #1474 "Is the link for the Scratch Device Manager app store supposed to still be for the "preview"?"
Should the link for the Mac OSX SDM download on the /wedo page still be for a page titled "Preview"? /cc @cwillisf

Link is currently: https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1084869222&mt=12

<img width="1092" alt="screen shot 2017-08-21 at 3 45 33 pm" src="https://user-images.githubusercontent.com/1320456/29535427-cb63c6c2-8687-11e7-80a5-dd7e8083593c.png">

<img width=

[2017-08-21 20:08] St19Galla commented on #1472
I can take this :)

[2017-08-21 20:09] thisandagain commented on #1473
Major +1 on moving that link to the words "download Scratch 2.0" (add the ".0").

[2017-08-21 20:10] thisandagain commented on #1473
Clarifying scope of work:
- [ ] Update text to read "Scratch 2.0" rather than "Scratch 2"
- [ ] Move link from the word "website" to "download Scratch 2.0"

[2017-08-21 20:14] St19Galla commented on #1473
I can take this as well :)

[2017-08-21 20:14] thisandagain commented on #1472
Thanks @St19Galla !

[2017-08-21 20:20] jwzimmer opened #1476 "Add ".0" to title of Offline Editor /download page"
For consistency, change the title of https://scratch.mit.edu/download so it says "Scratch 2.0" instead of "Scratch 2", as discussed with @thisandagain.

/cc @carljbowman

[2017-08-21 20:20] thisandagain commented on #1473
@St19Galla Julia ( @jwzimmer ) just pointed out that we should update the page headline as well to be consistent.

[2017-08-21 20:22] thisandagain commented on #1476
Tracking as part of #1473

[2017-08-21 20:22] #1476 closed

[2017-08-21 22:55] #1472 closed

[2017-08-21 22:56] #1473 closed

[2017-08-22 11:22] chrisgarrity commented on #1454
@gunchleoc we're in the middle of a pretty complete overhaul of the notifications system. We should be starting to have "{scratcher} loved your project {name}" strings soon. Probably starting with the activity feed, and then rolling out from there. Most of the educator registration flows are unique so this one will be handled separately.

[2017-08-22 12:00] gunchleoc commented on #1454
That's excellent news, thanks! :)

[2017-08-22 14:09] dietbacon opened #1479 "Add Community Moderator Job listing"
Please add https://scratch.mit.edu/jobs/moderator back to the main jobs page at https://scratch.mit.edu/jobs with the Community Moderator position listed as 'Remote' as we're ready to bring on some new moderators again.

[2017-08-22 14:49] thisandagain commented on #1479
- [ ] Add "Community Moderator (Remote)" to `/jobs` page with link to `https://scratch.mit.edu/jobs/moderator`

[2017-08-22 20:58] #1428 closed

[2017-08-22 23:07] TheGrits commented on #1479
@thisandagain I can quickly do this one right now.

[2017-08-22 23:08] thisandagain commented on #1479
That would be wonderful. Thanks @TheGrits ! 😄

[2017-08-22 23:09] TheGrits commented on #1479
@thisandagain My pleasure!

[2017-08-22 23:15] TheGrits commented on #1471
@thisandagain Issue should've been closed, right?

[2017-08-22 23:19] TheGrits commented on #1470
I tried adding `<div>`s around the words+comma combos to make sure that they don't get separated... but then they all float to the right. 🤔

I'm currently working a day job for the summer, so I may not fix this in a prompt manner. If someone else wants to take a shot at this one, go for it!

[2017-08-22 23:24] thisandagain commented on #1470
@TheGrits No problem! Thanks for giving it a shot.

[2017-08-22 23:24] thisandagain commented on #1471
Whoops! Yep.

[2017-08-22 23:24] #1471 closed

[2017-08-22 23:25] thisandagain commented on #1479
Woot! Thanks @TheGrits

[2017-08-23 00:01] Kenny2github commented on #1479
Another mod?! Wow!

[2017-08-23 00:26] TheGrits commented on #1479
@Kenny2github
psst plural

[2017-08-23 01:31] chrisgarrity opened #1481 "WeDo should be camel case"
https://github.com/LLK/scratch-www/blob/6309c306675c69b1b42b67c3b68a39dd720dfa58/src/views/wedo2/l10n.json#L13

The English source strings for the WeDo setup (1.0 and 2.0) should be WeDo instead of wedo.

[2017-08-23 02:28] Kenny2github commented on #1479
@TheGrits 😮

[2017-08-23 02:50] Kenny2github commented on #1481
I got this

[2017-08-23 17:37] thisandagain commented on #1474
This is the correct link. Unfortunately Apple's language is confusing. The "Preview" thing is an Apple convention for the website that provides a deep link into the Apple App Store.

Another example:
https://itunes.apple.com/us/app/civilization-vi/id1123795278?mt=12

[2017-08-23 17:38] #1474 closed

[2017-08-23 20:37] Petroochio commented on #1470
I think I've got it. There is a global style
[code]
This appears to be causing the issue. I can disable it with `.credits p a { white-space: normal; }`

[2017-08-24 09:07] gunchleoc commented on #1470
Shouldn't the white-space: normal be a property of p rather than a?

I think a cleaner fix would be to have a special no-wrap style for places where no wrapping is allowed, wrapping is what one would expect normally, after all. I don't know the code base though.

[2017-08-24 15:09] Petroochio commented on #1470
@gunchleoc I think I agree with you, but I wasn't sure where changing a global style like that would cause issues in a project this large. To me it would seem less common to want no-wrap, but I was afraid of regression issues.

[2017-08-24 15:19] gunchleoc commented on #1470
Since that global style is asking for more trouble down the line, maybe possible regressions right now before even more pages are converted to the new format would be the lesser of 2 evils?

Of course, I'm not a coder on this project, so we'd best leave that decision to somebody who knows the project well.

[2017-08-25 01:05] TheGrits commented on #1481
@thisandagain This one should be closed too.

[2017-08-25 09:06] #1481 closed

[2017-08-25 16:47] jwzimmer opened #1484 "DeprecationWarning for os.tmpDir - automated tests"
I'm not sure if this warning really matters, but it should be looked into and resolved if possible.

<img width="695" alt="screen shot 2017-08-25 at 12 03 37 pm" src="https://user-images.githubusercontent.com/1320456/29723625-59a3e6c0-8993-11e7-9920-6f586c510253.png">

[2017-08-25 17:53] chrisgarrity opened #1485 "Change the name of zh-tw in languages menu"
Reported by a user in the forums, and confirmed by looking at [CLDR data](http://www.unicode.org/cldr/charts/latest/summary/zh.html).

Traditional Chinese (language) written in traditional Chinese should be '繁體中文'

[2017-08-26 05:22] Kenny2github commented on #1485
I got this too :)

[2017-08-29 16:24] colbygk opened #1488 "Scratch Team update for credits page"
New team member:

 - [ ] Tracy Tang
    Please use: https://cdn.scratch.mit.edu/get_image/user/18417774_170x170.png

[2017-08-29 21:09] TheGrits commented on #1488
@colbygk I can take this one.

[2017-08-29 21:10] TheGrits commented on #1488
@colbygk Is this ST member a moderator or not?

[2017-08-29 21:12] colbygk commented on #1488
Thank you @TheGrits, this ST member is not a moderator.

[2017-08-30 02:41] #1488 closed

[2017-08-31 19:20] mewtaylor opened #1492 "Put localization messages into redux"

[2017-08-31 19:20] mewtaylor commented on #1492
Assigned to next milestone for triage purposes

[2017-09-01 14:33] jwzimmer opened #1494 "Off-center number in "Messages from the Scratch Team" page subheader"
The number in the orange circle next to the Messages page subheader "Messages from the Scratch Team" is off-center from the edges of the circle (I think!). No impact on functionality.

Chrome 60, Mac OS El Capitan, Staging
<img width="357" alt="screen shot 2017-09-01 at 10 31 00 am" src="https://user-images.githubusercontent.com/1320456/29974437-d6c9f67c-8f00-11e7-9056-1b76faa35234.png">

[2017-09-01 14:35] jwzimmer commented on #1494
It looks like the X marks in the individual alerts might be off-center, too?

<img width="113" alt="screen shot 2017-09-01 at 10 34 49 am" src="https://user-images.githubusercontent.com/1320456/29974552-41ce4112-8f01-11e7-929c-d8430c42bbc2.png">

[2017-09-01 15:00] jwzimmer opened #1495 "Messages page > Sort By dropdown menu off-set from its field"
The Sort By dropdown menu is off-set from its field on the Messages page (upper right hand side of the page). When you click it, the menu appears to be shifted to the left.

Chrome 60, Mac OS El Capitan, Staging
<img width="224" alt="screen shot 2017-09-01 at 10 58 36 am" src="https://user-images.githubusercontent.com/1320456/29975499-96d2342c-8f04-11e7-9a96-da1201464fec.png">

[2017-09-01 15:15] #1494 closed

[2017-09-01 15:22] mewtaylor commented on #1361
This is completed in #1487

[2017-09-01 15:22] #1361 closed

[2017-09-01 17:11] jwzimmer opened #1497 "Messages counters display incorrect number of messages; alerts not consistently dismissed"
**TL;DR:** There are a couple things going on here contributing to the effect of the counters being unreliable & the alert dismissal being unreliable: (1) Dismissing an alert doesn't always permanently dismiss it; (2) The Messages value should never be less than 0, but somehow it currently can be; (3) The counter in the navbar is wrong if either counter from the body of the Messages page is wrong.

[2017-09-01 18:17] mewtaylor commented on #1497
@jwzimmer this is due to the behavior of navigating away from the messages page, and immediately back to it within the span of 2 minutes – these api endpoints are all cached for 2 minutes. If you were to come back after 2 minutes, it would display correctly. These messages are indeed dismissed, but the list of messages will not get updated until after the cache expires.

I don't think it's a good

[2017-09-03 22:48] thisandagain commented on #1497
/cc @rschamp

[2017-09-05 13:25] mewtaylor commented on #1495
Just some additional info – this does not appear in Firefox.

[2017-09-05 13:52] mewtaylor commented on #1497
tracking in https://github.com/LLK/scratch-api/pull/325

[2017-09-05 13:57] #1454 closed

[2017-09-05 13:58] #1485 closed

[2017-09-05 14:15] #1470 closed

[2017-09-05 14:29] mewtaylor opened #1499 "Create an "empty" state for the messages page"
Right now, if a user has no messages, the messages page is blank. We should figure out a message to display for users who enter the messages page in this state.

The state itself will be an edge case, since users receive a notification when they join Scratch. The only scenario in which this could happen is if a users signs in after a year, and has not received any messages in that year, but is vie

[2017-09-05 14:56] #958 closed

[2017-09-05 14:56] #692 closed

[2017-09-05 14:58] thisandagain commented on #1499
@mewtaylor Good catch. I'm ok to backlog this for now, but this feels like an opportunity to encourage users to be social and engage with other users.

/cc @carljbowman

[2017-09-05 15:04] mewtaylor commented on #1497
Fixed in https://github.com/LLK/scratch-api/pull/325

[2017-09-05 16:08] jwzimmer opened #1500 "www pages not loading on IE 11, Win 7 VM - Staging only"
The homepage, /about, and /messages are not loading for me in IE 11 on my Win 7 VM (Staging). The editor & My Stuff load. On Production, everything seems to load as usual. Staging loads as usual in Chrome on my Win 7 VM.

The error in the console is "Object doesn't support property or method `assign`".

<img width="744" alt="screen shot 2017-09-05 at 12 04 34 pm" src="https://user-images.githubuse

[2017-09-05 16:28] mewtaylor commented on #1500
Fixed in https://github.com/LLK/scratch-www/commit/5772eed8f7b13aeb5c23146a6ffb3e141cbab46d, thanks @jwzimmer !

[2017-09-05 16:28] #1500 closed

[2017-09-05 17:35] jwzimmer opened #1501 "Signing out from /messages doesn't trigger page redirect"
If you sign out (using the navbar) while you are on the /messages page, the page doesn't automatically take you to the homepage or show you 403 or anything; it continues to show you that user's messages page content. That content should not be accessible to anyone besides the relevant authenticated user.

The navbar also doesn't always have the correct state; sometimes it stays in the "default" st

[2017-09-05 17:42] mewtaylor commented on #1501
@carljbowman @jwzimmer @rschamp @thisandagain we had originally decided to not redirect to the homepage on log out in www, but that was before we had a page that was for only logged in users (messages). I'd propose we go back to what legacy does for now, and redirect to the splash page on logout, no matter where on the site you are.

[2017-09-05 18:02] carljbowman commented on #1501
@jwzimmer - Good catch. This seems like rather odd behavior.

I agree with @mewtaylor on the redirect. Redirecting on a logout while on a static page (e.g. About) feels a bit inconvenient, but displaying 'logged in' pages with no content feels like it sets up weird expectations around logged in and logged out state.

At this point I feel we should generalize and redirect to the splash on all log o

[2017-09-05 18:11] mewtaylor opened #1502 "Add UX state to display on pages that require auth for logged-out users"
If a user is logged out, but visits a page that requires authentication, we should have a state to show them – whether a prompt to log in, or a 404 component, or something.

/cc @carljbowman @thisandagain @rschamp

[2017-09-05 18:26] jwzimmer opened #1504 "Time stamp for comment on profile page not correct - Staging"
I noticed that the time stamps for several comments were incorrect on a user's profile page on Staging.

IE 11 & Chrome, Win 7 VM, Staging
- As jwzimmer1990
- I posted two new comments on 4thing's profile and then deleted one of them
- The timestamp for the comments was wrong (it said "8 minutes ago" immediately after posting, then refreshing the page)
  - Real time, it was 1:40 pm; in my VM, it s

[2017-09-05 18:31] thisandagain commented on #1502
A prompt to log in (similar to what we do in `scratchr2`) makes the most sense to me. E.g.:
https://scratch.mit.edu/accounts/login/?next=/messages/

[2017-09-05 18:32] thisandagain commented on #1502
I think it would be ok to not treat this as a launch blocker, but perhaps we could prioritize this for resolution before EOY?

[2017-09-05 18:33] thisandagain commented on #1501
+1 on redirecting to splash page on logout for all instances. Thanks for catching this!

[2017-09-05 18:35] mewtaylor commented on #1501
Fixed in #1503

[2017-09-05 18:35] #1501 closed

[2017-09-05 18:36] mewtaylor commented on #1502
+1 to not being a launch blocker since there's no link to this page on the site, unless logged in already.

[2017-09-05 18:44] jwzimmer commented on #1504
Moved to https://github.com/LLK/scratchr2/issues/4786.

[2017-09-05 18:44] #1504 closed

[2017-09-05 19:14] chrisgarrity commented on #1431
Added a section to the How to Translate Scratch wiki page on what not to translate:
https://wiki.scratch.mit.edu/wiki/How_to_Translate_Scratch#What_not_to_translate

[2017-09-05 19:14] chrisgarrity commented on #1431
@thisandagain is there someone we should be sending the wiki link to?

[2017-09-05 19:15] #1431 closed

[2017-09-05 19:20] thisandagain commented on #1431
@chrisgarrity The French, Dutch, and Catalan translators were particularly interested in this. Perhaps we can add it to the Transifex discussion pages for each?

[2017-09-05 21:08] chrisgarrity commented on #1497
The first time I went to the messages page the number was wrong (7 not 3):
![screen shot 2017-09-05 at 4 34 16 pm](https://user-images.githubusercontent.com/399209/30082444-d53491c2-9258-11e7-8718-9c3e1b31a17c.png)

But the next time it was correct:
![screen shot 2017-09-05 at 4 38 58 pm](https://user-images.githubusercontent.com/399209/30082461-e5589da0-9258-11e7-9da4-d3e968ad7772.png)

By the wa

[2017-09-05 21:12] jwzimmer opened #1505 "Uncaught TypeError: Cannot read property 'success' of undefined - Staging"
On the new messages page, Chrome 60, Mac OS El Capitan.

No obvious impact on functionality.

<img width="498" alt="screen shot 2017-09-05 at 5 11 14 pm" src="https://user-images.githubusercontent.com/1320456/30083674-6c6d7fdc-925d-11e7-99ce-1e18952d7a5e.png">

Repro:
- Sign in as jwzimmer1990
- Open console
- Refresh messages page

[2017-09-05 21:31] chrisgarrity opened #1506 "Activity feed for teacher doesn't load"
Admin notifications are visible, but none of the activity by students (adding projects, commenting, liking etc) are there. The spinny loading icon never goes away. I didn't make a gif, but imaging the loading icon spinning and you get the idea.
<img width="760" alt="screen shot 2017-09-05 at 5 27 42 pm" src="https://user-images.githubusercontent.com/399209/30084297-d38bc424-925f-11e7-9d97-3f5e556f

[2017-09-05 21:31] jwzimmer opened #1507 "When there are 0 unread messages, do not display counter"
In the old system, when there are no messages, there is no counter displayed. On the new Messages page, the "Messages" counter displays "0" when there are no unread messages. We should change this to match the old behaviour, as it seems a bit friendlier. Not a blocker. (Discussed with @carljbowman & @mewtaylor.)

Currently this is on Staging. (But since it's not blocking, it may be on Production s

[2017-09-05 21:33] chrisgarrity commented on #1506
Console error: Failed to load resource: the server responded with a status of 500 (INTERNAL SERVER ERROR)
getting https://scratch.ly/site-api/classrooms/activity/189/all/

[2017-09-05 21:37] jwzimmer opened #1508 "Unicode chars not displaying properly - new /messages page"
Unicode characters in comments display as ???!!!! (etc.) in the new messages page.

To **repro**, comment `спасибо` on something and then check the notification on the messages page.

(Staging, Chrome 60, Mac OS El Capitan)

<img width="359" alt="screen shot 2017-09-05 at 5 35 33 pm" src="https://user-images.githubusercontent.com/1320456/30084517-bfeec208-9260-11e7-9e46-53a787581230.png">
<img wid

[2017-09-05 21:38] ntlrsk opened #1509 "change link to NameGuide.pdf on Tips page pop-up"
The link to the Educator Guide for Animate a Name (in the pop-up menu) should go to NameGuide.pdf (instead of the older file AnimateYourNameGuide.pdf).

![image](https://user-images.githubusercontent.com/4721032/30084582-f7253fcc-9260-11e7-9b6f-9c82c6677f38.png)

[2017-09-05 21:38] thisandagain commented on #1506
@jwzimmer does this happen on production?

[2017-09-05 21:54] jwzimmer commented on #1506
I repro'd this issue on Staging, did not see it on Production.

Activity feeds load for teachertest123's classes on Production:
<img width="732" alt="screen shot 2017-09-05 at 5 48 29 pm" src="https://user-images.githubusercontent.com/1320456/30084971-9888fd94-9262-11e7-934e-87773d8d72d7.png">
<img width="622" alt="screen shot 2017-09-05 at 5 53 53 pm" src="https://user-images.githubusercontent.co

[2017-09-05 21:55] jwzimmer commented on #1506
Moved to LLK/scratchr2#4789

[2017-09-05 21:55] #1506 closed

[2017-09-06 13:33] mewtaylor commented on #1508
This is an issue that's specific to how we were storing data on staging (I confirmed this by seeing that the migration had data with the correct charsets in it). I fixed the issue with our staging database, so any new comments with unicode chars should work fine (it's still broken for old tries though). This does not have any effect on production, where unicode chars will show up correctly.

[2017-09-06 13:33] #1508 closed

[2017-09-06 14:05] mewtaylor commented on #1507
Fixed in #1510

[2017-09-06 14:05] #1507 closed

[2017-09-06 14:05] mewtaylor commented on #1505
Fixed in #1510

[2017-09-06 14:05] #1505 closed

[2017-09-06 14:43] jwzimmer commented on #1375
Outcome from Product Meeting discussion:
- 2 separate pages
- Use minimal OS charts on extensions page
- Include the same OS's for each chart on 2.0 page
- Next steps are to triage for design & development (removed myself from assignment)

[2017-09-06 14:50] TheGrits commented on #1484
@jwzimmer @thisandagain I'll tackle this one this morning!

[2017-09-06 14:57] TheGrits commented on #1484
Taking a quick look at the errors and the files involved it looks like it's caused by at least one of the dependencies of the JS files: `chromedriver`, `tap`, and `selenium-webdriver`.

[2017-09-06 18:02] jwzimmer commented on #1497
Currently I am seeing this with the account `abcdekfy` on Staging (Safari, Mac OS El Capitan).

<img width="1043" alt="screen shot 2017-09-06 at 2 00 23 pm" src="https://user-images.githubusercontent.com/1320456/30127083-fd0e3a96-930b-11e7-89a2-b9582525233b.png">
<img width="987" alt="screen shot 2017-09-06 at 2 00 06 pm" src="https://user-images.githubusercontent.com/1320456/30127084-fd11ed12-930

[2017-09-06 18:25] jwzimmer commented on #1502
Just an example of how you might run into this scenario as a user: if you are signed in on one computer (e.g. home) and on the messages page, then sign in on another (e.g. school), when you get home and refresh the messages page, you'll currently see a "blank" Messages page, that has the template & titles but no content.

[2017-09-06 19:15] mewtaylor commented on #1497
@jwzimmer that most recent version of this issue should be solved in https://github.com/LLK/scratchr2/commit/e3da4b1a589271a05a723a093555b8e4c3b2a9de. As for the student account issue that was being seen by @chrisgarrity, I still have not repro'd yet

[2017-09-06 21:36] chrisgarrity opened #1511 "Add 'For Translators' page"
We should have a page for translators based on the https://scratch.mit.edu/developers template.

Content will mostly come from https://wiki.scratch.mit.edu/wiki/How_to_Translate_Scratch

[2017-09-06 22:42] St19Galla commented on #1511
I can take this if it's a help-wanted issue :)

[2017-09-06 23:30] Kenny2github commented on #1511
Will this page be added into the footer or @St19Galla will you take care of that too?

[2017-09-07 00:20] St19Galla commented on #1511
@Kenny2github Yes, that would probably be apart of the PR should they need help :)

[2017-09-07 02:23] Kenny2github opened #1512 "Posting on the forums blanks "What I've been doing" section on user's profile"
I saw this issue reported in a profile comment somewhere and tried to repro it - and succeeded.
### Expected behavior
Posting in the forums does nothing to the "What I've been doing" section on your profile
### Actual behavior
Posting in the forums blanks said section
### Steps to reproduce
1. Do something that shows up in that section. There will be activity there;
2. Post in the forums.
3. Check

[2017-09-07 17:18] jwzimmer opened #1515 "Add papergrapher to Credits page"
@fsih & @carljbowman what should the link be?

The link should be added to the list "Scratch would not be possible without free and open source software, including:", in alphabetical order.

[2017-09-07 18:09] jwzimmer opened #1516 "Projects Loved by Scratchers I'm Following missing thumbnails - Staging only"
These projects do have thumbnails elsewhere.

<img width="1280" alt="screen shot 2017-09-07 at 2 06 38 pm" src="https://user-images.githubusercontent.com/1320456/30178131-e96d0bbe-93d5-11e7-8607-ddbc130b9a2c.png">

[2017-09-07 18:57] jwzimmer commented on #1497
The invite to become a Scratcher doesn't seem to be incrementing the messages counter in the navbar:

<img width="1075" alt="screen shot 2017-09-07 at 2 56 38 pm" src="https://user-images.githubusercontent.com/1320456/30180138-debacb96-93dc-11e7-933b-abf6d37d6149.png">

[2017-09-07 19:00] fsih opened #1517 "Credit paperjs and papergrapher in open sources section"
Paper.js: http://paperjs.org
papergrapher: https://github.com/w00dn/papergrapher

[2017-09-07 19:00] fsih commented on #1517
Closing as dupe of https://github.com/LLK/scratch-www/issues/1515

[2017-09-07 19:00] #1517 closed

[2017-09-07 19:01] fsih commented on #1515
Paper.js: http://paperjs.org
papergrapher: https://github.com/w00dn/papergrapher

[2017-09-07 19:21] jwzimmer opened #1518 "Scratcher invite doesn't appear to be dismissed until you refresh the page"
@mewtaylor & I have been looking at this. If a user gets an invite to be a Scratcher, then tries to dismiss that alert on the new messages page, it doesn't appear to be dismissed. Nothing seems to happen. However, if you refresh the page, the alert does disappear. Initially there was also an error in the console, which @mewtaylor already fixed, due to:

[2017-09-07 19:59] #1509 closed

[2017-09-07 20:42] jwzimmer commented on #1497
Scratchr2 navbar said 0, but scratch-www navbar says 2 (for arglebargle):
<img width="999" alt="screen shot 2017-09-07 at 4 40 55 pm" src="https://user-images.githubusercontent.com/1320456/30184254-7c6a5600-93eb-11e7-93e9-d963e28b1a58.png">
<img width="1010" alt="screen shot 2017-09-07 at 4 40 50 pm" src="https://user-images.githubusercontent.com/1320456/30184256-7c6cbe54-93eb-11e7-9ef0-6385681703

[2017-09-07 20:45] jwzimmer opened #1519 "New messages page displaying 0 counter"
We had changed it so that the 0 counter wouldn't be visible in the Messages page if there were 0 unread messages, but for user arglebargle I am now seeing the 0 messages counter again.

<img width="999" alt="screen shot 2017-09-07 at 4 40 55 pm" src="https://user-images.githubusercontent.com/1320456/30184406-fb4c7746-93eb-11e7-8ffd-10e85c7d51e4.png">
<img width="1010" alt="screen shot 2017-09-07 a

[2017-09-07 20:55] jwzimmer commented on #1519
I think this is due to a merge + branch issue on Staging, not a genuine regression. @mewtaylor is re-deploying to fix. 👍

[2017-09-07 20:55] #1519 closed

[2017-09-08 14:33] mewtaylor commented on #1518
Fixed in https://github.com/LLK/scratch-www/commit/1dffc08445353ce28c6511ff3cf3064840e7bed2

[2017-09-08 14:33] #1518 closed

[2017-09-08 15:08] jwzimmer opened #1520 "Extra space beneath "What's Happening" feed, especially noticeable on iPad + Safari"
There is some extra space underneath the last activity in the What's Happening feed, but it is especially noticeable if you are using an iPad (Safari). This exists on both Staging & Production.

**Chrome 60, Mac OS El Capitan**
<img width="998" alt="screen shot 2017-09-08 at 11 07 04 am" src="https://user-images.githubusercontent.com/1320456/30218034-e7e7dec6-9485-11e7-9caf-29494b20a895.png">

**S

[2017-09-08 20:32] jwzimmer opened #1521 "Icon size changes when notification text wraps to multiple lines - Messages page"
Increase the size of the green people in the svg icon. Discussed with @carljbowman & @mewtaylor.
<img width="835" alt="screen shot 2017-09-08 at 4 31 24 pm" src="https://user-images.githubusercontent.com/1320456/30230177-2e20a328-94b3-11e7-8065-bbb3713c145a.png">

[2017-09-08 20:49] jwzimmer commented on #1497
**Sort-of-related issue I noticed while trying to repro**

I saw 5 notifications marked as unread and 5 in the navbar counter, but the last notification was from 20 hours ago and had definitely been read multiple times today.
@mewtaylor explained that:

After investigation it turned out that the issue was what happened when a project was added to the studio.
@mewtaylor said:

so it incremented the

[2017-09-08 21:55] jwzimmer commented on #1521
Looking at the icons with @carljbowman, it looks like for some reason the studio invite icons are ignoring the css style telling them to resize from 16 x 16 to 20 x 20.